/* // app global css in SCSS form */

.light{
    background-color: transparent;
    transition: all ease 1s;
}

.light:hover{
    background-color: rgba(255, 255, 255, 0.42);
    transition: 1s all ease;
}

.pointer{
    cursor: pointer;
}

.confirmar-btn{
    background-color: #36c1e2 !important;
    color: white !important;
    border-radius: 5rem !important;
    padding-left: 20px !important;
    padding-right: 20px;
}

.negar-btn{
    background-color: #e23636 !important;
    color: white !important;
    border-radius: 5rem !important;
    padding-left: 20px !important;
    padding-right: 20px;
}

.bg-azul-claro{
    background-color: #36c1e2 ;
}

.text-azul-claro{
    color: #36c1e2 ;
}

.bg-facebook{
    background-color: rgb(8, 8, 112);
}

.oliva{
    background-color: rgb(129, 197, 64);
}

.no-bg-purple{
    background-color: white;
    border: 1px solid #be2edd;
}

.bg-instagram{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.color-fondo-oscuro{
    background-color: rgb(46, 43, 43) !important;
    height: 100vh;
    overflow: scroll;
}

.bg-img-fondo{

    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg-light-gray{
 background-color: #ece8e8;
}

.bg-dark-gray{
    background-color: #c7bdbd;
   }

.bg-soft-blue{
    background-color: rgb(126, 142, 228);
}

.clr-soft-blue{
    color: rgb(126, 142, 228);
}

.clr-dark-gray{
    color: rgb(88, 89, 94);
}

.clr-esmeralda{
    color: #2ecc71;
}

.color-layout{
    background-color: #00b0f0 !important;
}

.clr-layout{
    color: #2d2f48 !important;
}

.color-fondo-claro{
    background-color: #b01630 !important;
    height: 100vh;
    overflow: scroll;
}

.bg-enviaxa{
    background-color: #3D6BE0;
}

.bg-gray{
    background-color: #f5f5f5;
}

.degradado{
    background: rgb(22,152,224);
background: linear-gradient(90deg, rgba(22,152,224,1) 47%, rgba(61,107,224,1) 53%);
}

.clr-enviaxa{
    color: #3D6BE0;
}

.clr-enviaxa-light{
    color: #1698e0;
}

.fondo-dark{
    background-color:  gray !important;
}

.fondo-light{
    background-color: rgb(180, 174, 174);
}

.fondo-transparente{
    background-color: rgba(0, 0, 0 , 0 ) !important;
}


/* // tamaño de las fuentes */

.text-gray{
    color: rgb(194, 186, 186)
}

.sub-text{
    text-decoration: underline;
}

.text-none{
    text-transform: none !important;
}

.font-sm{
    font-size: 12px;
}

.font-xs{
    font-size: 10px;
}

.titulos{
    font-size: 27px;
}

.nom-producto{
    font-size: 20px;
}

.font-md{
    font-size: 14px;
}

.font-lg{
    font-size: 15px;
}

.font-xl{
    font-size: 18px;
}

.bold{
    font-weight: bold;
}

/* // fin tamaño de las fuentes */

/* colores de fuentes  */

.txt-etiquetas{
    color: #ffb621;
}

.clr_pink{
    color:fuchsia
}

.clr_blue{
    color: blue;
}

.clr-red{
    color: #b01630
}

/* fin color de fuente */

/* // border */

.hover{
    background-color: #3D6BE0 ;
    transition: all ease 1s;
}

.hover:hover{
    background-color: blue;
    transition: all ease 1s;
    color: black;
}

.hide{
    display: none;
}

.border-notify{
    /* border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid  #2d2f48;
}

.border{
    border: 3px solid #be2edd;
}

.border-black{
    border: 3px solid #000000;
}

.border-login{
    border: 1px black solid;
}

.border-bottom{
    border-bottom: 3px solid #be2edd;
    transition: ease all .5s;
}

.border-top{
    border-top: 3px solid #be2edd;
    transition: ease all .5s;
}

.border-top-black{
    border-top: 1px solid #000000;
    transition: ease all .5s;
}

.border-yl{
    border-top: 1px rgb(180, 174, 174) solid ;
    border-bottom: 1px rgb(180, 174, 174) solid ;
}

/* // fin border */

/* // imagenes */

.img-bienvenido{
    object-fit: cover;
    object-position: center center;
    width: 75%;
    height: 75%;
}

.img-formulario{
    object-fit: cover;
    object-position: center center;
    width: 50%;
    height: 50%;
}

.img-wifi{
    object-fit: cover;
    object-position: center center;
    width: 30%;
    height: 30%;
}


.img-publicidad{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.img-productos{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 140px;
}

.img-detalle-producto{
   max-height: 300px;
   object-fit: cover;
   object-position: center center;
   width: 100%;
}

.img-detalle-producto-zoom{
    max-height: 500px;
    min-width: 300px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
 }

/* // fin imagenes */

/* positions */

.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.badge_footer{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 10px;
    top: 0px;
    right: 5px;
    width: 5px;
    height: 5px;
    font-size: 15px;
     border-radius: 50%;
     z-index: 99;
}

.q-dialog__inner--minimized {
    padding: 24px 10px;
}

.badge{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 10px;
    top: 10px;
    right: -10px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.absolute_settings{
    position: absolute;
    top: 0;
    right: 0;
    margin-top: 130%;
    width: 150px;
}

/* listas */

.lista-menu{
    cursor: pointer;
    list-style: none;

}

.lista-menu:hover{
    cursor: pointer;
    list-style: none;
    background-color: rgba(236, 236, 236 , 0.1 );

}

/* // botones */

.btn-border-blue{
    background-color: white;
    color: #3D6BE0;
    border: solid 1px #3D6BE0;
}

.q-btn{
    text-transform: capitalize !important;
}

.capitalize{
    text-transform: capitalize !important;
}

.cl_standar{
    background-color: #36c1e2 !important;
    color: WHITE !important;
}

.icon-no-bg{
    color: #f5a603;
}

.sm-btn-pc{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}

/* // fin botones */

/* // tamaño de las fuentes */

.label{
    font-size: 25px;
}

.elipsis{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.text-initial{
    text-align: initial;
}

/* // fin tamaño de las fuentes */

/* // text-box */

.q-pb-md{
    padding-bottom: 16px !important;
}


.q-position-engine {
   background-color: rgba(0, 0, 0 , 0 );
   box-shadow: none !important;
}

.q-virtual-scroll__content {
    background-color: white !important;
    border: 1px rgba(224, 220, 220, 0.507) solid ;
 }

 .q-field__before, .q-field__prepend {
    padding-right: 0px;
    height: 40px;
}

.q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
    min-height: 0px !important;
}

.q-field__after, .q-field__append {
    padding-left: 0px;
    height: 40px;
}

::placeholder {
    color: black !important ;
    font-size:15px;
    font-weight: 500;
  }

  .q-field__native, .q-field__prefix, .q-field__suffix, .q-field__input {
    font-weight: 400;
    line-height: 28px;
    letter-spacing: .00937em;
    text-decoration: inherit;
    text-transform: inherit;
    border: none;
    border-radius: 0;
    background: none;
    color: black;
    outline: 0;
    padding: 6px 0;
}

.input_txt{
	background:white !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
     height: 40px;
    color: white;
    box-shadow: 0 2px 20px -1px rgb(0 0 0 / 20%), 0 4px 5px rgb(0 0 0 / 14%), 0 1px 10px rgb(0 0 0 / 12%);
}

.input_txt_grow{
	background:white !important;
	border-radius: 1rem;
    padding-bottom: 0rem;
     /* height: 40px; */
    color: white;
    box-shadow: 0 2px 20px -1px rgb(0 0 0 / 20%), 0 4px 5px rgb(0 0 0 / 14%), 0 1px 10px rgb(0 0 0 / 12%);
}




.input2_txt{
	background:white !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    border: 1px solid black;
    color: white;
}

.q-field--auto-height.q-field--labeled .q-field__control-container {
    /* padding-top: 24px; */
    padding-top: 10px;
}

.input_select{
	background: rgba(105, 102, 102, 0.) !important;
	border-radius: .2rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
    border: rgb(219, 216, 216) solid 1px ;
    padding-left: 5px;
}

.select_grow{
	background:white !important;
	border-radius: 1rem;
    padding-bottom: 0rem;
    color: white;
    max-width: none;
    box-shadow: 0 2px 4px -1px rgb(0 0 0 / 20%), 0 4px 5px rgb(0 0 0 / 14%), 0 1px 10px rgb(0 0 0 / 12%);
}

.input_grow{
	background:white !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
    min-height: 40px;
    max-height: 70px;
    overflow-y: scroll;
    color: white;
}

.input-search{
	background: rgba(243, 243, 243, 0.979) !important;

	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

/* // fin text-box */

/* // componentes de quasar */

/* PADDING DEL CARRUSEL */

.q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide{
    padding-left: 15px;
    padding-right: 15px;
}

.q-carousel__slide{
    padding : 0px
}

.q-carousel__arrow .q-icon {
    font-size: 28px;
}

/* // sangria de los q-input */
.q-field__native {
    margin-left: 10px !important;
    height: 40px;
}

.q-field--auto-height .q-field__control, .q-field--auto-height .q-field__native {
    min-height: 0px !important;
    height: auto;
}
/* // fin sangria de los q-input */

/* // componentes de quasar */

/* // padding */

.p-0 {
    padding: 0px !important;
}

.pt-0{
    padding-top: 0px;
}

.pl-0{
    padding-left: 0px
}

.pr-0{
    padding-right: 0px
}

/* // fin padding */

/* // margin */

.mb-0{
    margin-bottom: 0px;
    transition: ease all .5s;
}

.m-0{
    margin: 0px;
}

.m-20{
    margin-top: 10%;
    margin-bottom: 10%;
}

.m-30{
    margin-top: 15%;
    margin-bottom: 15%;
}

.m-40{
    margin-top: 20%;
    margin-bottom: 20%;
}


.m-50{
    margin-top: 25%;
    margin-bottom: 25%;
}

.m-60{
    margin-top: 30%;
    margin-bottom: 30%;
}

.m-70{
    margin-top: 35%;
    margin-bottom: 35%;
}

.m-80{
    margin-top: 40%;
    margin-bottom: 4%;
}

.m-90{
    margin-top: 45%;
    margin-bottom: 45%;
}

.m-100{
    margin-top: 50%;
    margin-bottom: 50%;
}

.mb-0{
    margin-bottom: 0px;
}

/* // fin margin */


/* // tamaños */

.w-5{
    width: 15%;
}

.w-10{
    width: 10% !important ;
}

.w-15{
    width: 15% !important ;
}

.w-20{
	width: 20%;
}

.w-25{
	width: 25%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40% !important;
}

.w-50{
	width: 50%  ;
}

.w-60{
    width: 60%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-85{
	width: 85% !important ;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.overflow-hidden{
    overflow: hidden !important ;
}

.overflow-auto{
    overflow: auto;
}

.overflow-scroll{
    overflow: scroll !important ;
}

.overflowx-scroll{
    overflow-y: scroll !important ;
}

.min-height{
    height: min-content !important;
}

.vh5{
    height: 5vh;
}

.vh10{
    height: 10vh;
}

.vh20{
    height: 20vh !important ;
}

.vh30{
    height: 30vh;
}

.vh40{
    height: 40vh;
}

.vh50{
    height: 50vh !important ;
}

.vh60{
    height: 60vh;
}

.vh70{
    height: 70vh !important ;
}

.vh80{
    height: 80vh !important ;
}


.vh90{
    height: 90vh !important ;
}

.vh95{
    height: 95vh !important ;
}

.vh100{
    height: 100vh!important;
}

.height-mapa{
    height: 50vh!important;
}

/* // fin tamaños */

/* hovers */

.transition-bottom:hover{
  margin-bottom: 10px;
  transition: all ease .5s;
  border-bottom: 3px solid #2ecc71;
}

/* // redondeados */

.rounded{
	border-radius: .5rem !important ;
}

.rounded-1{
	border-radius: 1rem !important;
}

.rounded-5{
    border-radius: 5rem !important;
}

.soft-border{
	border-radius: .5rem;
}

.circle{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.circle-2{
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rounded-top{
    border-top-left-radius: .5rem ;
    border-top-right-radius: .5rem ;
}

.rounded-top-home{
    border-top-left-radius: 4rem ;
    border-top-right-radius: 4rem ;
}

.rounded-top-5{
    border-top-left-radius: 2rem ;
    border-top-right-radius: 2rem ;
}

.rounded-bottom{
    border-bottom-left-radius: .5rem ;
    border-bottom-right-radius: .5rem ;
}

.rounded-bottom-5{
    border-bottom-left-radius: 2rem ;
    border-bottom-right-radius: 2rem ;
}

/* // fin redondeados */

/* // clases de flex  */
.content-between{
	justify-content: space-between;
}

.content-end{
    justify-content: flex-end;
}

.content-around{
	justify-content: space-around;
}

.content-center{
    justify-content: center;
}

.item-center{
	align-items: center;

}

.item-end{
	align-items: flex-end;

}

.q-textarea .q-field__control {
    min-height: 30px;
    align-items: flex-end;
    height: auto;
}

.q-textarea .q-field__native {
    resize: vertical;
    padding-top: 17px;
    padding-bottom: 10px;
    /* min-height: 31px; */
    height: 30px !important;
}

/* barra de scroll */
::-webkit-scrollbar {
    width: 3px;
    height: 1px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(163, 162, 168);
   border-radius: 10px;
}
::-webkit-scrollbar-thumb {
   border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(144, 145, 150, 0.966);
   background-color: rgba(255, 254, 254, 0.767);
}
 /* fin clases de flex */

 /* fixed */



 @media screen and (min-width:340px){

 }

 @media screen and (max-width:330px){

     .elipsis-xs{
        display: flex;
    width: 90%;
    text-overflow: ellipsis;
    height: 10vh;
    overflow: hidden;
    align-items: center;
    justify-content: center;
     }

 }

 @media screen and (max-width:360px){

    .elipsis-xs{
       display: flex;
   width: 90%;
   text-overflow: ellipsis;
   height: 10vh;
   overflow: hidden;
   align-items: center;
   justify-content: center;
    }

    .height-mapa{
        height: 90vh!important;
    }

    .font-xl{
        font-size: 13px;
    }

}

 @media screen and (max-width:600px){

 }

 @media screen and (min-width:768px){

    .vh100-sm{
        height: 100vh !important;
    }

    .vh-chat-sm{
        height: 88vh !important;
    }

    .mt-10-sm{
        margin-top: 10% !important;
    }

    .q-mb-sxl{
        margin-bottom: 120px;
    }

    .w-20-sm{
        width: 20% !important;
    }

    .w-50-sm{
        width: 50% !important;
    }

    .flex-center-sm{
        justify-content: center;
    }

    .item-center-sm{
       align-items: center;
    }

    .hide-min-768{
        display: none;
    }

 }

 @media screen and (min-width:1024px){

    .wxl-100{
       width: 100% !important;
     }

     .wxl-90{
        width: 90%;
      }

      .wxl-80{
        width: 80%;
      }

      .wxl-70{
        width: 70% !important;
      }

      .wxl-60{
        width: 60%;
      }

      .wxl-50{
        width: 50% !important;
      }

      .wxl-40{
        width: 40% !important ;
      }

      .wxl-30{
        width: 30% !important;
      }

      .wxl-20{
        width: 20% !important;
      }

      .wxl-10{
        width: 10% !important ;
      }

      .tags-xl{
        width: 100% !important ;
        text-align: center;
      }

      .wxl-fit{
        width: fit-content !important ;
      }

      .wxl-auto{
        width: auto !important ;
      }

      .justify-start-xl{
        justify-content: flex-start !important;
      }

      .justify-end-xl{
        justify-content: flex-end !important;
      }

      .item-star-xl{
        align-items: baseline !important;
      }

      .img-xl{
        height: 170px;
      }

      .hide-xl{
        display: none;
      }

      .layout-top{
        margin-top: -20vh  !important;
      }

      .mt-top-xl{
        margin-top: 15% !important;
      }

      .mt-bottom-xl{
        margin-bottom: 3vh !important;
      }

      .border-xl{
        border: 1px solid rgb(8, 8, 112);
        border-radius: 1rem;
        padding: 20px;
      }

 }

 @media screen and (max-width:768px){

 }



 @media screen and (min-width:1024px){

 }



/* clases propias del home */

.icono-card-home{
    font-size: 100px;
}

.icono-card-proceso{
    font-size: 30px;
}

.cont_card_ml{
    margin-left: 7%;
}

.alt_card{
    height: 230px !important;
}

/* chat */

.q-message-text {
    border-radius: 5px;
}


/* tablas */

.q-table-control{
    width: 100%;
}

/* modales */

.no-max-width{
    max-width: none !important;
}

/* imagen de fondo */

@media screen and (max-width:330px) {
	.font-xl{
		font-size: 10px;
	}

	.font-m{
		font-size: 10px !important;
	}

	.font-lg{
		font-size: 10px;
	}

	.font_titulosxl{
		padding: 0px;
		font-size: 15px !important;
	}

	.q-chip{
		border-radius: 0px !important;
		background-color: blue!important;
		padding: 5px;
		color: white !important;
		border: none;
	}

	.q-chip-2{
		border: 1px solid #fb5a6a;
		background-color: white!important;
		padding: 12px;
		color: #fb5a6a!important;
		margin-bottom: 10px !important;
		border-radius: 5rem !important;
	}

	.q-btn{
		padding: 0px;
		font-size: 10px !important;
	}

	.cl_standar{
		font-size: 10px;
	}

    .swal2-title {
        position: relative;
        max-width: 100%;
        margin: 0 0 .4em;
        padding: 0;
        color: #595959;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: none;
        word-wrap: break-word;
    }

    .swal2-content {
        z-index: 1;
        justify-content: center;
        margin: 0;
        padding: 0 1.6em;
        color: #545454;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
    }

    .mt-sm-0 {
        margin-top: 0px;
     }

	.img-icon{
		width: 10px !important;
		height: 10px !important;
	}

	.img-user{
		width: 40px !important;
		height: 40px !important;
	}

	.font_titulosmd {
		font-size: 12px;
		font-weight: bold;
	}



	.q-field--dense .q-field__label {
		font-size: 10px;
		top: 10px;
	}

	.q-field__label {
		font-size: 10px;
	}

	.q-field__before, .q-field__prepend {
	 font-size: 15px;
	}

	.q-tab__label {
		font-size: 10px;
		line-height: 1.715em;
		font-weight: 500;
		text-transform: capitalize;
	}

    .q-field__native {
        margin-left: 10px !important;
        height: 40px;
        font-size: 10px;
    }
}

.modal-aviso-gps-title{
    font-size: 14px !important;
    line-height: normal !important;
}

.modal-aviso-gps{
    padding: 0 0.5px !important;
    text-align: justify !important;
    font-size: 13px !important;
}

.swal2-container.swal2-center{
    z-index: 9999;
}
