<template>
    <div class="">

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

                 <div class="col-2 flex flex-center q-mt-md ">
              <q-btn icon="keyboard_arrow_left" class="titulos q-pl-md text-white " flat ></q-btn>
            </div>

            <div @click="predios = !predios" class="col-8 q-mt-md text-white relative flex justify-center item-center">

                <p class="mb-0 font-xl " >Mis vehículos</p>
                
            </div>

            <div class="col-2 flex flex-center q-mt-md q-pr-md ">
               <q-btn icon="fab fa-whatsapp" flat class="text-white" @click="Cambiar = true" ></q-btn>
            </div>

            </div>

           

        </div>

        <div style="margin-top:-30%" class=" bg-light-gray relative vh80 vh-chat-sm overflow-auto   rounded-top-home ">
          
        <q-btn class="cl_standar" icon="add" round size="md" @click="Nuevo = true, ver = false , agendar = true" style="position:fixed;bottom:10vh;right:20px;z-index:99" ></q-btn>


            <div class="row flex  q-pb-lg ">

            <div class="col-12 w-100 flex justify-center q-mt-md ">

                <q-img src="img/logo.png" class="w-40" ></q-img>

            </div>

            <!-- <div class="col-12 q-mt-lg flex flex-center ">
                <p class="font-xl" >Próximos turnos</p>
            </div> -->

            <div v-for="n in 2" :key="n" class="col-6 col-sm-4 q-mt-md flex flex-center  ">

               <div class="bg-white rounded-top-5 q-pa-md flex flex-center w-80 q-pb-sm text-center  ">

                  <q-icon name="fas fa-truck" class="font-xl text-azul-claro q-mb-sm " ></q-icon>
                  
                  <p class="font-xl w-100 mb-0 " >123abcx</p>

               </div>

               <div class="bg-yellow vh5 rounded-bottom-5 w-80 flex flex-center relative ">

                   <q-btn style="position:absolute;bottom:-5px;" @click="Nuevo = true, ver = true , agendar = false" class="bg-azul-claro text-white " icon="visibility" round  ></q-btn>

               </div>

            </div>

            </div>
           
           
        </div>
       
       <!-- modal nuevo turno -->
        <q-dialog full-width v-model="Nuevo">
      <q-card class="rounded-1  " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div v-if="agendar" class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Agregar nuevo vehículo</p>
            </div>

            <div v-if="ver" class="col-8 text-center ">
              <p class="mb-0 font-xl  " >{{patente}}</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl  " label="X" @click="Nuevo = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 flex flex-center ">


    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Tipo de vehículo</p>
    </div>

    <div class="col-12 col-sm-6 flex flex-center ">
            
    <q-select v-model="vehiculo" :options="vehiculos"   borderless  class=" w-100 shadow-4 input_txt q-pl-md q-pr-sm "/>

    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento del registro</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="V_registro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del registro" >
       
      </q-input>
    </div>

    <div v-if="vehiculo == 'Tractor' || vehiculo == 'Semi' " class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento VTV</p>
    </div>

    <div v-if="vehiculo == 'Tractor' || vehiculo == 'Semi' " class="col-12 col-sm-6 ">
      <q-input v-model="V_VTV" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del VTV" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento del seguro</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="V_seguro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el Vencimiento del seguro" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Adjuntar imagenes del vehículo</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px !important" ></q-separator>

    <div v-if="vehiculo == 'Tractor'" class="col-12  flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >VTV Tractor</p>
    </div>

    <div v-if="vehiculo == 'Tractor'" class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="VTV_tractor || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

   
     <div v-if="vehiculo == 'Semi'" class="col-12  flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >VTV Semi</p>
    </div>

    <div v-if="vehiculo == 'Semi'" class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="VTV_semi || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

     <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Registro</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="Registro || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Seguro</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="Seguro || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Clausula de no repetición</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="Clausula || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >ART</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="ART || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn v-if="agendar" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>


            <div v-if="agendar" class="col-12">

                
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="Nuevo = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Agregar</q-btn>
              </div>
            </div>

             <!-- <div v-if="ver" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="Nuevo = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Seleccionar vehículo</q-btn>
              </div>
            </div> -->

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- ver turno -->
    <!-- <q-dialog full-width v-model="turno">
      <q-card class="rounded-1  " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl  " >turno</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl  " label="X" @click="turno = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Vehículo</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-select v-model="model" :options="options"  readonly borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Tipo de operación</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" readonly  placeholder="Ingrese el tipo de operación" v-model="operacion" borderless  class=" w-100 input2_txt"/>

            </div>

              <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Fecha</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-select v-model="fecha" :options="fechas"  readonly borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Hora</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-select v-model="hora" :options="horas" readonly  borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Transporte</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-select v-model="transporte" :options="transportes" readonly  borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Reservado por</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" readonly placeholder="Ingrese la razón de reservado" v-model="reservacion" borderless  class=" w-100 input2_txt"/>

            </div>

            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="turno = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Cancelar turno</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog> -->


    </div>
</template>

<script>

export default {

data () {
  return {
  
    patente: '123abcx',
    V_seguro: '',
    V_VTV: '',
    V_registro: '',
     VTV_tractor : null,
     VTV_semi: null,
     DNI:null,
     Registro: null,
     Seguro: null,
     Clausula: null,
     ART: null,
      vehiculo: 'Tractor',
       vehiculos: ['Tractor','Semi','Chasis','Camión','Auto'],
      reservacion: '',
       operacion: 'Seleccione el tipo de operación',
      operaciones: [
        'Crossdocking', 'Fullfilment','Pañol','Retiros o Devoluciones'
      ],
       transporte: 'Seleccione el tipo de transporte',
      transportes: [
        'Ocasa', 'Urbano','Iflow','Loginter','Webpack','Andreani','Correo Argentino','Southpost'
      ],
       model: 'Seleccione la patente a usar',
      options: [
        '123abcx', '456dfgz'
      ],
       fecha: 'Seleccione la fecha',
      fechas: [
        '17/03/2020', '12/04/2021'
      ],
       hora: 'Seleccione la hora',
      horas: [
        '08:00 AM', '08:00 PM'
      ],
      ver : false,
      agendar : false,
      turno: false,
      Nuevo: false,
     predios: false,
  }
},

created() {
 
},

watch: {
 
},

computed: {
 
},

methods: {
 
login(){
   this.$router.push('/Login')
 }

},




}</script>