<template>
    <div class="relative">

        
            <div style="bottom:0;z-index:99" class="col-12 w-100 bg-gray q-pa-sm q-pb-md absolute ">
            <q-input autogrow v-model="mensaje" borderless  class="input_grow flex item-center shadow-4 q-pl-md q-pr-md " placeholder="Mensaje">
            <template v-slot:append>
               <q-btn icon="send" @click="mensaje = ''"  class="flex item-center" flat ></q-btn>   
            </template>
            </q-input>
            </div>

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

                 <div class="col-2 flex flex-center q-mt-md ">
              <q-btn @click="atras()" icon="keyboard_arrow_left" class="titulos q-pl-md text-white " flat ></q-btn>
            </div>

            <div @click="predios = !predios" class="col-8 q-mt-md text-white relative flex justify-center item-center">

                <p class="mb-0 font-xl " >Predio</p>
               <i class="titulos material-icons " >keyboard_arrow_down</i>

               <div v-if="predios" style="margin-top:20%;z-index:99;top:0" class="absolute rounded q-pa-sm bg-gray w-60 vh40 overflow-scroll " >

                   <p v-for="n in 10" :key="n" class="q-pa-sm rounded-5 text-center bg-white text-black " >Predio #{{n}}</p>

               </div>
                
            </div>

            <div class="col-2 flex flex-center q-mt-md q-pr-md ">
               <q-btn icon="fab fa-whatsapp" flat class="text-white" @click="Cambiar = true" ></q-btn>
            </div>

            </div>

           

        </div>

        <div style="margin-top:-30%" class=" bg-light-gray vh80 vh-chat-sm overflow-auto relative   rounded-top-home ">


            <div class="row">
                 <div class="col-12 w-100 flex flex-center q-mt-md ">

                <q-img src="img/logo.png" class="w-40" ></q-img>

                <p class="mb-0 w-100 titulos text-center " >- Hoy -</p>

                </div>

            </div>

            <div class="q-pa-md row justify-center q-pb-xl q-mb-xl ">
                <div v-for="n in 8" :key="n" style="width: 100%;">
                <q-chat-message
                    name="me"
                    avatar="img/user.png"
                    :text="['Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam tempore eveniet hic at enim numquam quidem quam ducimus consequatur provident architecto nesciunt facilis mollitia voluptatibus quae placeat, a ab?']"
                    sent
                    stamp="hace 7 minutos"
                    bg-color="white"
                    class="rounded-5"
                />
                <q-chat-message
                    name="Jane"
                    avatar="img/user.png"
                    :text="[`doing fine, how r you?`]"
                    stamp="hace 4 minutos"
                    bg-color="blue-1"
                />
                </div>
            </div>
           
           
        </div>

    </div>
</template>

<script>

export default {

data () {
  return {
      predios: false,
      mensaje: '',
      paises: false,
      nombre:'Jean',
      apellido:'Viña',
      telefono: '0414-3040222',
     password: '12345',
     isPwd: true,
     ruta:'img/flag-icons/Argentina.png',
     c_area: '+54',
     codigos: [{area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},]
  }
},

created() {
 
},

watch: {
 
},

computed: {
 
},

methods: {
 
atras(){
   this.$router.go(-1)
 }

},




}</script>