<template>
<div class="bg-light-gray flex item-center vh100 q-pa-md ">
 
  <div class="row w-100 flex flex-center ">
    <div class="col-12 flex flex-center q-mb-lg ">
      <q-img class="w-80 w-50-sm " src="img/logo.png" ></q-img>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Número de teléfono</p>
    </div>

    <div  class="  col-4 col-sm-2 q-pr-sm relative ">
      <q-input @input="paises = true" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm " >
        <template class="q-pr-0" v-slot:prepend>
          <q-img :src="ruta" width="20px"></q-img>
        </template>
        <template v-slot:append>
          <q-icon
            name="fas fa-sort-down"
            class="cursor-pointer font-xl q-mb-sm q-mr-sm "
          />
        </template>
      </q-input>
      <q-btn flat class="absolute w-100" style="top:0" @click="paises = true" ></q-btn>

       <div v-if="paises" style="z-index:99;left:-20px;" class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflow-scroll rounded ">

                 <div v-for="codigo in codigos" :key="codigo" class="flex bg-white q-mt-sm q-pa-sm rounded ">

                      <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
                    <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0" >{{codigo.area}} </p>

                 </div>

       </div>

    </div>

    <div class="col-8 col-sm-4 ">
      <q-input borderless v-model="telefono" type="number" class="input_txt shadow-4 q-pl-md " placeholder="000 000000" />
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Contraseña</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="password" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :type="isPwd ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </div>

     <div class="col-12 text-center flex flex-center-sm q-mt-lg ">
       <q-btn class="cl_standar w-100 rounded-5 w-50-sm " to="/Home" label="Ingresar" ></q-btn>
     </div>

     <div @click="recuperar = true" class="col-12 text-center q-mt-md ">
       <p class="font-xl mb-0 " >¿Olvidó su contraseña?</p>
     </div>

      <div @click="registro()" class="col-12 text-center q-mt-md ">
       <p class="font-xl bold" >¿Crear cuenta?</p>
     </div>
    
  </div>

   <!-- <q-dialog v-model="paises">
      <q-card class="w-40 no-max-width rounded " >

        <q-card-section class="q-pt-none flex flex-center rounded ">

          <div v-for="codigo in codigos" :key="codigo" class="flex w-100 q-mt-sm q-ml-md rounded ">

            <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
            <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0 q-ml-sm " >{{codigo.area}} </p>

          </div>
          
        </q-card-section>

      </q-card>
    </q-dialog> -->

      <q-dialog  v-model="recuperar">
      <q-card class="w-100 w-50-sm" >

        <div class="row w-100 bg-azul-claro q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Recuperar contraseña</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="recuperar = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

           <div class="col-12 q-pl-md q-mt-md ">
              <p class="mb-0 font-xl" >Email</p>
            </div>

           <div class="col-12">

              <q-input placeholder="Ingrese su correo"  v-model="correo" type="email" borderless class="input_txt shadow-4 w-100 q-pl-sm " >
                
              </q-input>

           </div>

           <div class="col-12  q-mt-lg text-center ">
              <q-btn class="cl_standar rounded-5 w-100 " label="enviar" ></q-btn>
            </div>

         </div>
          
        </q-card-section>

      </q-card>
    </q-dialog>
  
</div>
</template>
<script>

export default {

data () {
  return {
    correo: '',
    telefono: '',
    recuperar: false,
    paises: false,
     password: '',
     isPwd: true,
     ruta:'img/flag-icons/Argentina.png',
     c_area: '+54',
     codigos: [{area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},]
  }
},

created() {
 
},

watch: {
 
},

computed: {
 
},

methods: {
 
 registro(){
   this.$router.push('/Registro')
 }

},




}</script>