<template>
    <div class="">

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

                 <div class="col-2 flex flex-center q-mt-md ">
              <q-btn icon="keyboard_arrow_left" @click="atras()" class="titulos q-pl-md text-white " flat ></q-btn>
            </div>

            <div class="col-8 q-mt-md text-white relative flex justify-center item-center">

                <p class="mb-0 font-xl " >Perfil</p>
              
            </div>

            <div class="col-2 flex flex-center q-mt-md q-pr-md ">
               <q-btn icon="lock" flat class="text-white" @click="Cambiar = true" ></q-btn>
            </div>

            </div>

           

        </div>

        <div style="margin-top:-30%" class=" bg-light-gray vh80 vh100-sm overflow-auto flex item-center-sm  rounded-top-home ">

            <div class="row w-100 q-pa-md q-mb-sxl flex flex-center ">

    <div  class="col-12 col-sm-6 q-mt-md ">
      <q-img :src="DNI || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
    </div>

    

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-sm ">
      <p class="mb-0 font-xl w-50-sm " >Número de teléfono</p>
    </div>

    <div  class="  col-4 col-sm-2 q-pr-sm relative ">
      <q-input @input="paises = true" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm " >
        <template class="q-pr-0" v-slot:prepend>
          <q-img :src="ruta" width="20px"></q-img>
        </template>
        <template v-slot:append>
          <q-icon
            name="fas fa-sort-down"
            class="cursor-pointer font-xl q-mb-sm q-mr-sm "
          />
        </template>
      </q-input>

      <q-btn class="absolute w-100 " flat style="top:0" @click="paises = true" ></q-btn>

       <div v-if="paises" style="z-index:99;left:-20px;" class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflow-scroll rounded ">

                 <div v-for="codigo in codigos" :key="codigo" class="flex bg-white q-mt-sm q-pa-sm rounded ">

                      <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
                    <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0" >{{codigo.area}} </p>

                 </div>

       </div>

    </div>

    <div class="col-8 col-sm-4 ">
      <q-input borderless v-model="telefono" type="number" class="input_txt shadow-4 q-pl-md " placeholder="000 000000" />
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Nombre</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="nombre" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el nombre" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Apellido</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="apellido" type="text" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el apellido" >
        
      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Email</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="email" type="email" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el email" >
        
      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Contraseña</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="actual" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :type="isPwd ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </div>

    
    
   
            
            <div class="col-12 text-center q-mt-lg  ">
            <q-btn class="cl_standar w-100 w-50-sm rounded-5 " label="Guardar cambios" ></q-btn>
            </div>

            
        </div>
           
           
        </div>

        <!-- cambiar contraseña -->

        <q-dialog  v-model="Cambiar">
      <q-card class="w-50-sm w-100 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Cambiar contraseña</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="Cambiar = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

          
             <div class="col-12 q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >Contraseña actual</p>
            </div>

            <div class="col-12 ">
            <q-input v-model="actual" readonly borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :type="isPwdA ? 'password' : 'text'">
                <template v-slot:append>
                <q-icon
                    :name="isPwdA ? 'fa fa-eye-slash' : 'far fa-eye'"
                    class="cursor-pointer font-xl "
                    @click="isPwdA = !isPwdA"
                />
                </template>
            </q-input>
            </div>

             <div class="col-12 q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >Nueva contraseña</p>
            </div>

            <div class="col-12 ">
            <q-input v-model="nueva" readonly borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la nueva contraseña" :type="isPwdN ? 'password' : 'text'">
                <template v-slot:append>
                <q-icon
                    :name="isPwdN ? 'fa fa-eye-slash' : 'far fa-eye'"
                    class="cursor-pointer font-xl "
                    @click="isPwdN = !isPwdN"
                />
                </template>
            </q-input>
            </div>

             <div class="col-12 q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >Confirmar contraseña</p>
            </div>

            <div class="col-12 ">
            <q-input v-model="confirmar" readonly borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Confirme la contraseña" :type="isPwdC ? 'password' : 'text'">
                <template v-slot:append>
                <q-icon
                    :name="isPwdC ? 'fa fa-eye-slash' : 'far fa-eye'"
                    class="cursor-pointer font-xl "
                    @click="isPwdC = !isPwdC"
                />
                </template>
            </q-input>
            </div>

           <div class="col-12  q-mt-lg text-center ">
              <q-btn class="cl_standar rounded-5 w-100 " label="Cambiar" ></q-btn>
            </div>

         </div>
          
        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>

export default {

data () {
  return {
      email: 'Jean123@gmail.com',
    Cambiar: false,
    paises: false,
    nombre:'Jean',
    apellido:'Viña',
    telefono: '04143040222',
    actual: '12345',
    nueva: '',
    confirmar:'',
   
     isPwdA: true,
     isPwdN: true,
     isPwdC: true,
    
     ruta:'img/flag-icons/Argentina.png',
     c_area: '+54',
     codigos: [{area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},],
     
  }
},

created() {
 
},

watch: {
 
},

computed: {
 
},

methods: {
 
atras(){
   this.$router.go(-1)
 }

},




}</script>