<template>
<div class="bg-light-gray flex item-center vh100  overflow-auto q-pa-md ">
 
  <div class="row w-100 flex-center flex ">
    <div class="col-12 flex flex-center q-mb-lg ">
      <q-img class="w-80 w-50-sm " src="img/logo.png" ></q-img>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Datos del chófer</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px" ></q-separator>

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >DNI</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="DNI || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-file borderless v-model="DNI" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-sm ">
      <p class="mb-0 font-xl w-50-sm " >Número de teléfono</p>
    </div>

    <div  class="  col-4 col-sm-2 q-pr-sm relative ">
      <q-input @input="paises = true" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm " >
        <template class="q-pr-0" v-slot:prepend>
          <q-img :src="ruta" width="20px"></q-img>
        </template>
        <template v-slot:append>
          <q-icon
            name="fas fa-sort-down"
            class="cursor-pointer font-xl q-mb-sm q-mr-sm "
          />
        </template>
      </q-input>

      <q-btn class="absolute w-100 " flat style="top:0" @click="paises = true" ></q-btn>

       <div v-if="paises" style="z-index:99;left:-20px;" class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflow-scroll rounded ">

                 <div v-for="codigo in codigos" :key="codigo" class="flex bg-white q-mt-sm q-pa-sm rounded ">

                      <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
                    <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0" >{{codigo.area}} </p>

                 </div>

       </div>

    </div>

    <div class="col-8 col-sm-4 ">
      <q-input borderless v-model="telefono" type="number" class="input_txt shadow-4 q-pl-md " placeholder="000 000000" />
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Nombre</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="nombre" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el nombre" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Apellido</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="apellido" type="text" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el apellido" >
        
      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Email</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="email" type="email" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el email" >
        
      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Contraseña</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="password" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :type="isPwd ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Confirmar contraseña</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="password2" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Confirme la contraseña" :type="isPwd2 ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd2 ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd2 = !isPwd2"
          />
        </template>
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Datos del vehículo</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px" ></q-separator>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Tipo de vehículo</p>
    </div>

    <div class="col-12 col-sm-6 flex flex-center ">
            
    <q-select v-model="vehiculo" :options="vehiculos"   borderless  class=" w-100 shadow-4 input_txt q-pl-md q-pr-sm "/>

    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Patente</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="patente" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la patente" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento del registro</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="V_registro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del registro" >
        
      </q-input>
    </div>

    <div v-if="vehiculo == 'Tractor' || vehiculo == 'Semi' " class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento VTV</p>
    </div>

    <div v-if="vehiculo == 'Tractor' || vehiculo == 'Semi' " class="col-12 col-sm-6 ">
      <q-input v-model="V_VTV" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del VTV" >
       
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Vencimiento del seguro</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="V_seguro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el Vencimiento del seguro" >
        
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Adjuntar imagenes del vehículo</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px !important" ></q-separator>

    <div v-if="vehiculo == 'Tractor'" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >VTV Tractor</p>
    </div>

    <div v-if="vehiculo == 'Tractor'" class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="VTV_tractor || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>
      
    </div>

    <!-- <div v-if="vehiculo == 'Tractor'" class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="VTV_tractor" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

     <div v-if="vehiculo == 'Semi'" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >VTV Semi</p>
    </div>

    <div v-if="vehiculo == 'Semi'" class="col-12 col-sm-6 flex flex-center  ">
      <q-img :src="VTV_semi || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <!-- <div v-if="vehiculo == 'Semi'" class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="VTV_semi" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

     <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Registro</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="Registro || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="Registro" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Seguro</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="Seguro || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      

      <q-file borderless  v-model="Seguro" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Clausula de no repetición</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center">
      <q-img :src="Clausula || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md " icon="fas fa-upload" ></q-btn>

      <q-file borderless v-model="Clausula" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >ART</p>
    </div>

    <div  class="col-12 col-sm-6 flex flex-center ">
      <q-img :src="ART || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>
      
    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md " icon="fas fa-upload" ></q-btn>

      <q-file borderless v-model="ART" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

     <div class="col-12 text-center flex flex-center-sm q-mt-lg ">
       <q-btn class="cl_standar w-100 rounded-5 w-50-sm " label="Crear cuenta" ></q-btn>
     </div>

     <div @click="login()" class="col-12 text-center q-mt-md ">
       <p class="font-xl mb-0 " >¿Ya tienes cuenta?</p>
     </div>

      <div @click="login()" class="col-12 text-center q-mt-md ">
       <p class="font-xl bold" >Iniciar sesión</p>
     </div>
    
  </div>

  <!-- <q-dialog v-model="paises">
      <q-card class="w-40 no-max-width rounded " >

        <q-card-section class="q-pt-none flex flex-center rounded ">

          <div v-for="codigo in codigos" :key="codigo" class="flex w-100 q-mt-sm q-ml-md rounded ">

            <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
            <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0 q-ml-sm " >{{codigo.area}} </p>

          </div>
          
        </q-card-section>

      </q-card>
    </q-dialog> -->

</div>
</template>
<script>

export default {

data () {
  return {
    date: '2019/03/01',
      proxyDate: '2019/03/01',
      proxyDate2: '2019/03/01',
    email: '',
     patente: '',
     V_registro:'',
     V_VTV: '',
     V_seguro:'',
      paises: false,
     password: '',
      password2: '',
      nombre:'',
      apellido:'',
      telefono:'',
     isPwd: true,
     isPwd2: true,
     VTV_tractor : null,
     VTV_semi: null,
     DNI:null,
     Registro: null,
     Seguro: null,
     Clausula: null,
     ART: null,
     ruta:'img/flag-icons/Argentina.png',
     c_area: '+54',
     codigos: [{area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},],
     vehiculo: 'Seleccione el tipo de vehículo',
       vehiculos: ['Tractor','Semi','Chasis','Camión','Auto'],
  }
},

created() {
 
},

watch: {
 
},

computed: {
 
},

methods: {

   updateProxy () {
      this.proxyDate = this.V_registro
      this.proxyDate2 = this.V_VTV
    },

    save () {
      this.V_registro = this.proxyDate
      this.V_VTV = this.proxyDate2
    },
 
login(){
   this.$router.push('/Login')
 }

},




}</script>