<template>
  <q-layout view="lHh Lpr lFf">
   <q-btn
         class="text-white absolute-top-left font-xl q-mt-sm q-ml-sm "
          dense
          round
          flat
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />

    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="fondo-dark"
      class="fondo-dark"
    >
    <div class="flex flex-center">

         <q-img
          src="img/user.png"
          style="width: 25%;"
          class="q-mt-md"
        >

        </q-img>
        <p class="mb-0 font-xl q-mt-md w-100 text-white text-center " >{{ nombre }}</p>

    </div>

      <q-list>
        <q-item-label
          header
          class="pt-0"
        >
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          class="font-xl text-white"
        />

         <div  class="flex item-center q-mt-sm " @click="Menu()" >
          <q-btn class="text-white" flat rounded  icon="local_dining" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" >Menu</p>
        </div>

        <div  class="flex item-center q-mt-sm " @click="Logs()" >
          <q-btn class="text-white" flat rounded  icon="description" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" >Logs</p>
        </div>
     
        <a href="https://www.paradorrojo.com/" class="flex item-center q-mt-sm "  >
          <q-btn class="text-white" flat rounded  icon="language" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" >Go to website</p>
        </a>

         <div class="flex item-center q-mt-sm" @click="Suggestion()" >
          <q-btn class="text-white" flat rounded  icon="textsms" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl"  >Send suggestion</p>
        </div>

        <div class="flex item-center q-mt-sm ">
          <q-btn class="text-white" flat rounded  icon="undo" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" @click="salir" >Log out</p>
        </div>

        </div>
      </q-list>



    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
<!--
     <q-footer elevated>
      <q-toolbar class="toolbar color-layout" >
        <q-toolbar-title>
          <div class="row text-center">
            <div class="col" v-for="(par,index) in paresIconoEnlace" :key="index">
              <q-btn push round class="rounded cl_standar"
                :icon="par.icono"
                :to="par.enlace"
                @click="clickFooterIcon(par, index)" />
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
     </q-footer> -->



  </q-layout>
</template>


<script>
import EssentialLink from 'components/EssentialLink.vue'
import { API_URL } from '../config'
import { openURL } from 'quasar'

const linksData = [
  {
    title: 'Home',
    // caption: 'quasar.dev',
    icon: 'home',
    link: '/Conexionestablecida'
  },
  // {
  //   title: 'Logs',
  //   // caption: 'quasar.dev',
  //   icon: 'description',
  //   link: '/Logs'
  // },
  // {
  //   title: 'Go to website',
  //   // caption: 'quasar.dev',
  //   icon: 'language',
  //   link: '/Perfil'
  // },
  //  {
  //   title: 'Send suggestion',
  //   // caption: 'quasar.dev',
  //   icon: 'textsms',
  //   link: 'https://web.whatsapp.com/'
  // },
  // {
  //   title: 'Perfil',
  //   caption: 'quasar.dev',
  //   icon: 'person',
  //   link: '/perfil'
  // }
]

export default {
name: 'MainLayout',

components: { EssentialLink },

data () {
  return{
    essentialLinks: linksData,
    leftDrawerOpen: false
  }
},


computed: {
  nombre(){
    const data = this.$store.getters['auth/data']
    if (data && data.nombre) return data.nombre
    return ''
  },
},


methods: {
  salir(){
    this.$store.dispatch('auth/salir').then(() => this.$router.push('/Formulario'))
  },
   Logs(){
    this.$router.push('/Logs');
    },
   Menu(){
     openURL('https://www.paradorrojo.com/menu');
    },
  //  Website(){
  //    window.open('https://www.paradorrojo.com/');
  //   },
     Suggestion(){
     window.open('https://www.paradorrojo.com/contact');
    },
},

}</script>
