<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>easydocking</title>
</head>
<body style="background-color: black; margin: 0;">

<!-- INICIO TABLA -->
<!-- <table style="max-width: 400px; padding: 10px; margin:0 auto; border-collapse: collapse;"> -->
<table style="width: 100%; border-collapse:collapse;" >
	<tr>
		<td style="background-color:#2d2f48;text-align: -webkit-center; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
			<img style="padding: 0; display: block" src="cid:logo" srcset="https://i.postimg.cc/nr33mhHV/logo-azul.jpg" width="40%">
		</td>
	</tr>


	<tr>
		<td style="padding: 40px 0px;background-color:white; border-left: 1px solid #2d2f48; border-right: 1px solid #2d2f48" >
			<% if(typeof ocultar_informa==='undefined'){ %>
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >
					Easydocking le informa <% if(typeof ocultar_nombre==='undefined'){%> a <%=nombre%> <%}%>
				</h2>
			</div>
			<% } %>
