<template>
  <div class="row space-inside"  @click="dayClicked">
    <vc-calendar
      class="custom-calendar max-w-full"
      :masks="masks"
      :attributes="attributes"
      disable-page-swipe
      is-expanded
    >
      <template v-slot:day-content="{ day, attributes }">
        <div class="flex flex-col h-full z-10 overflow-hidden">
          <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
          <div class="flex-grow overflow-y-auto overflow-x-auto">
            <input type="hidden" :value="day.id" class="inputs-date">
            <div
              v-for="attr in attributes"
              :key="attr.key"
              class="text-xs leading-tight label-text-info"
            >
             <span @click="go(day.id)">{{ attr.customData.title }}</span>
            </div>
          </div>
        </div>
      </template>
    </vc-calendar>
  </div>
</template>

<script>
import Vue from 'vue';
import VCalendar from "v-calendar";
Vue.use(VCalendar, {
  componentPrefix: 'vc'
});

export default {
  data() {
    return {
      Days: [],
      masks: {
        weekdays: "WWW",
      },
      attributes: [
      ],
    };
  },

  created() {
    if (this.$store.getters["auth/type"] == 'admin') {
      this.$router.push(`/Bienvenido`);
    } 
    this.getCalendar(`${new Date().getFullYear()}-${new Date().getMonth() + 1}-`);
  },

  computed: {
    id_predio() {
      return this.$store.getters['auth/datos'].id_predio;
    },
  },

  methods: {
    go(fecha) {
      this.$router.push(`/Horario-Listado/${fecha}`);
    },
    dayClicked() {
      let vm = this;
      setTimeout(() => {
        let date = "";
        let calculate = Math.round(document.querySelectorAll(".inputs-date").length / 2);
        if (document.querySelectorAll(".inputs-date")[calculate]) {
          date = document.querySelectorAll(".inputs-date")[calculate].value.substr(0,8);
          vm.getCalendar(date);
        }
      }, 500);
    },
    getCalendar(date) {
        this.$api({
          url: `/horarios/calendar/month/${date}/${this.id_predio}`,
          method: "GET",
          data: {},
        })
        .then(async (res) => {
          this.attributes = res.data;
        })
        .catch((err) => {});
    }
  }
};
</script>

<style>
  .label-text-info {
    width: 100%;
    height: 16px;
    background-color: #070e6ba6;
    cursor: pointer;
    text-align: center;
    padding: 0.1rem;
    color: #fff;
    display: inline-block;
    position: relative;
    right: -3rem;
    font-weight: bold;
    font-size: .5rem;
    border-radius: 12%;
  }
  .space-inside {
    margin: 1.5rem;
  }
  ::-webkit-scrollbar {
    width: 0px;
  }
  ::-webkit-scrollbar-track {
    display: none;
  }
  .vc-pane-container {
    border-radius: 0;
    width: 100%;
  }
  .vc-pane-container .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  .vc-pane-container .vc-weeks {
    padding: 0;
  }
  .vc-pane-container .vc-weekday {
    background-color: #f8fafc;
    border-bottom: 1px solid #eaeaea;
    border-top: 1px solid #eaeaea;
    padding: 5px 0;
  }
  
  .vc-pane-container .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: 90px;
    min-width: 90px;
    background-color: white;
  }
  .vc-pane-container .vc-day.weekday-1,
    .vc-pane-container .vc-day.weekday-7 {
      background-color: #eff8ff;
    }
   
    .vc-pane-container .vc-day.weekday-1 {
      border-bottom: 1px solid #b8c2cc;
    }
  
  .vc-pane-container .vc-day-dots {
    margin-bottom: 5px;
  }
  .vc-pane-container .vc-day .vc-highlight{
    display:none !important;
  }
</style>