<template>
  <div>
    <div class="row">
      <div class="col-12 text-center flex flex-center q-mt-lg">
        <p class="text-h4 text-weight-thin text-grey-8">Horarios</p>
        <p class="text-h4  q-ml-sm text-weight-thin text-grey-8">{{ namePredio ? "- " + namePredio : "" }}</p>
      </div>
    </div>
    <div class="q-pa-md">
      <q-list bordered class="rounded-borders">
        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horario"
          caption="registro único"
          header-class="text-blue"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm1" class="q-gutter-md">
                <div class="row flex item-center">
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Fecha</p>
                    <q-input
                      v-model="form_1.fecha"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora inicio</p>
                    <q-input
                      v-model="form_1.hora_a"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora fin</p>
                    <q-input
                      v-model="form_1.hora_b"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Frecuencia</p>
                    <q-input
                      v-model="form_1.frecuencia"
                      min="1"
                      placeholder="Frecuencia por minutos"
                      type="number"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Disponibilidad</p>
                    <q-input
                      v-model="form_1.disponibilidad"
                      min="0"
                      placeholder="Disponibilidad"
                      type="number"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div
                  class="row flex item-center"
                  v-for="(formtipo_1, index_1) of form_1.tipo"
                  :key="index_1"
                >
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Tipo de variable</p>
                    {{ formtipo_1.titulo }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">
                      Opciones
                      <span class="font-sm">(Presione enter para grabar)</span>
                    </p>
                    <q-select
                      placeholder="Ingrese un tipo a la vez"
                      v-model="formtipo_1.operaciones"
                      use-input
                      use-chips
                      multiple
                      hide-dropdown-icon
                      input-debounce="0"
                      new-value-mode="add-unique"
                      class="input_txt_grow"
                      input-class="height_txt"
                      borderless
                      :dense="true"
                    />
                  </div>
                </div>
                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    class="cl_standar rounded"
                    :disabled="botonForm1"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horarios"
          caption="registro masivo, personalizado"
          header-class="text-blue"
        >
          <q-card>
            <q-card-section>
              <div>
                <q-btn
                  label="Agregar fila"
                  type="button"
                  color="primary"
                  flat
                  class="q-ml-sm space-total"
                  @click="agregarFilaform2()"
                />
              </div>
              <q-form @submit="onSubmitForm2" class="q-gutter-md">
                <div v-for="(form, index) of form_2" :key="index">
                  <hr />
                  <div class="row flrx item-center">
                    <div class="col-12 col-sm-6 col-md-3 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Fecha</p>
                      <q-input
                        v-model="form.fecha"
                        type="date"
                        lazy-rules
                        :rules="[
                          (val) => (val && val.length > 0) || 'Requerido',
                        ]"
                        class="input_txt"
                        input-class="height_txt q-pr-sm"
                        borderless
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora inicio</p>
                      <q-input
                        v-model="form.hora_a"
                        type="time"
                        lazy-rules
                        :rules="[
                          (val) => (val && val.length > 0) || 'Requerido',
                        ]"
                        class="input_txt"
                        input-class="height_txt q-pr-sm"
                        borderless
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora fin</p>
                      <q-input
                        v-model="form.hora_b"
                        type="time"
                        lazy-rules
                        :rules="[
                          (val) => (val && val.length > 0) || 'Requerido',
                        ]"
                        class="input_txt"
                        input-class="height_txt q-pr-sm"
                        borderless
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Frecuencia</p>
                      <q-input
                        v-model="form.frecuencia"
                        min="1"
                        type="number"
                        lazy-rules
                        placeholder="Frecuencia (Minutos)"
                        :rules="[
                          (val) => (val && val.length > 0) || 'Requerido',
                        ]"
                        class="input_txt"
                        input-class="height_txt q-pr-sm"
                        borderless
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-2 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Disponibilidad</p>
                      <q-input
                        v-model="form.disponibilidad"
                        min="0"
                        type="number"
                        lazy-rules
                        placeholder="Disponibilidad"
                        :rules="[
                          (val) => (val && val.length > 0) || 'Requerido',
                        ]"
                        class="input_txt"
                        input-class="height_txt q-pr-sm"
                        borderless
                      />
                    </div>
                    <div class="col-12 col-sm-6 col-md-1 q-mb-md pl-md q-mb-md">
                      <q-btn
                        class="cl_standar right-button-form"
                        @click="eliminarFilaform2(index)"
                        round
                        size="sm"
                        icon="delete_forever"
                      >
                        <q-tooltip content-class="verde rounded hide-tool ">
                          Quitar fila
                        </q-tooltip>
                      </q-btn>
                    </div>
                  </div>
                  <div
                    class="row flex item-center"
                    v-for="(formtipo_2, index_2) of form.tipo"
                    :key="index_2"
                  >
                    <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">Tipo de variable</p>
                      {{ formtipo_2.titulo }}
                    </div>
                    <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                      <p class="mb-0 font-xl text-weight-regular text-grey-8">
                        Opciones
                        <span class="font-sm"
                          >(Presione enter para grabar)</span
                        >
                      </p>
                      <q-select
                        placeholder="Ingrese un tipo a la vez"
                        v-model="formtipo_2.operaciones"
                        use-input
                        use-chips
                        multiple
                        hide-dropdown-icon
                        input-debounce="0"
                        new-value-mode="add-unique"
                        class="input_txt_grow"
                        input-class="height_txt"
                        borderless
                        :dense="true"
                      />
                    </div>
                  </div>
                </div>
                <div v-if="form_2.length > 0">
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm2"
                    class="cl_standar rounded"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horarios por rango"
          caption="registro masivo, rango de fecha"
          header-class="text-blue"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm3" class="q-gutter-md">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Desde</p>
                    <q-input
                      v-model="form_3.fecha1"
                      borderless
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hasta</p>
                    <q-input
                      v-model="form_3.fecha2"
                      borderless
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora inicio</p>
                    <q-input
                      borderless
                      v-model="form_3.hora_a"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-2 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora fin</p>
                    <q-input
                      v-model="form_3.hora_b"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Frecuencia</p>
                    <q-input
                      v-model="form_3.frecuencia"
                      min="1"
                      borderless
                      type="number"
                      lazy-rules
                      placeholder="Frecuencia por minutos"
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Disponibilidad</p>
                    <q-input
                      v-model="form_3.disponibilidad"
                      min="0"
                      borderless
                      type="number"
                      lazy-rules
                      placeholder="Disponibilidad"
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                    />
                  </div>
                </div>
                <div
                  class="row flex item-center"
                  v-for="(formtipo_3, index_3) of form_3.tipo"
                  :key="index_3"
                >
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Tipo de variable</p>
                    {{ formtipo_3.titulo }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">
                      Opciones
                      <span class="font-sm">(Presione enter para grabar)</span>
                    </p>
                    <q-select
                      placeholder="Ingrese un tipo a la vez"
                      v-model="formtipo_3.operaciones"
                      use-input
                      use-chips
                      multiple
                      hide-dropdown-icon
                      input-debounce="0"
                      new-value-mode="add-unique"
                      class="input_txt_grow"
                      input-class="height_txt"
                      borderless
                      :dense="true"
                    />
                  </div>
                </div>
                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm3"
                    class="cl_standar rounded"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horarios por fecha y día"
          caption="registro masivo, rango de fecha y días de la semana"
          header-class="text-blue"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm6" class="q-gutter-md">
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Desde</p>
                    <q-input
                      v-model="form_6.fecha1"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hasta</p>
                    <q-input
                      v-model="form_6.fecha2"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora inicio</p>
                    <q-input
                      v-model="form_6.hora_a"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hora fin</p>
                    <q-input
                      v-model="form_6.hora_b"
                      type="time"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Frecuencia</p>
                    <q-input
                      v-model="form_6.frecuencia"
                      min="1"
                      type="number"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="Frecuencia por minutos"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Disponibilidad</p>
                    <q-input
                      v-model="form_6.disponibilidad"
                      min="0"
                      type="number"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="Disponibilidad"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div
                  class="row flex item-center"
                  v-for="(formtipo_6, index_6) of form_6.tipo"
                  :key="index_6"
                >
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl bold">Tipo de variable</p>
                    {{ formtipo_6.titulo }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">
                      Opciones
                      <span class="font-sm">(Presione enter para grabar)</span>
                    </p>
                    <q-select
                      placeholder="Ingrese un tipo a la vez"
                      v-model="formtipo_6.operaciones"
                      use-input
                      use-chips
                      multiple
                      hide-dropdown-icon
                      input-debounce="0"
                      new-value-mode="add-unique"
                      class="input_txt_grow"
                      input-class="height_txt"
                      borderless
                      :dense="true"
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col-1 space-side"></div>
                  <div class="col-9 space-total">
                    <q-range
                      v-model="rangoform6"
                      :min="0"
                      :max="6"
                      :step="0"
                      markers
                      :left-label-value="Calweekday(rangoform6.min)"
                      :right-label-value="Calweekday(rangoform6.max)"
                      label-always
                      color="blue"
                    />
                  </div>
                  <div class="col-1 space-side"></div>
                </div>
                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm6"
                    class="cl_standar rounded"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>

        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horario, no laboral"
          caption="registro único"
          header-class="text-purple"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm4" class="q-gutter-md">
                <div class="row flex item-center">
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Fecha</p>
                    <q-input
                      v-model="form_4.fecha"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Motivo</p>
                    <q-input
                      v-model="form_4.motivo"
                      min="0"
                      type="text"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="ingrese el motivo"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div
                  class="row flex item-center"
                  v-for="(formtipo_4, index_4) of form_4.tipo"
                  :key="index_4"
                >
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Tipo de variable</p>
                    {{ formtipo_4.titulo }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">
                      Opciones
                      <span class="font-sm">(Presione enter para grabar)</span>
                    </p>
                    <q-select
                      placeholder="Ingrese un tipo a la vez"
                      v-model="formtipo_4.operaciones"
                      use-input
                      use-chips
                      multiple
                      hide-dropdown-icon
                      input-debounce="0"
                      new-value-mode="add-unique"
                      class="input_txt_grow"
                      input-class="height_txt"
                      borderless
                      :dense="true"
                    />
                  </div>
                </div>
                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm4"
                    class="cl_standar rounded"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          icon="timer"
          label="Añadir horarios, no laboral"
          caption="registro masivo, por rango de fecha"
          header-class="text-purple"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm5" class="q-gutter-md">
                <div class="row flex item-center">
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Desde</p>
                    <q-input
                      v-model="form_5.fecha1"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hasta</p>
                    <q-input
                      v-model="form_5.fecha2"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Motivo</p>
                    <q-input
                      v-model="form_5.motivo"
                      min="0"
                      type="text"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="ingrese el motivo"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>
                <div
                  class="row flex item-center"
                  v-for="(formtipo_5, index_5) of form_5.tipo"
                  :key="index_5"
                >
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Tipo de variable</p>
                    {{ formtipo_5.titulo }}
                  </div>
                  <div class="col-12 col-sm-6 col-md-7 q-mb-md pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">
                      Opciones
                      <span class="font-sm">(Presione enter para grabar)</span>
                    </p>
                    <q-select
                      placeholder="Ingrese un tipo a la vez"
                      v-model="formtipo_5.operaciones"
                      use-input
                      use-chips
                      multiple
                      hide-dropdown-icon
                      input-debounce="0"
                      new-value-mode="add-unique"
                      class="input_txt_grow"
                      input-class="height_txt"
                      borderless
                      :dense="true"
                    />
                  </div>
                </div>
                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm5"
                    class="rounded cl_standar"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>
        <q-expansion-item
          expand-separator
          icon="timer"
          label="Eliminar horarios"
          caption="por fecha"
          header-class="text-purple"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm7" class="q-gutter-md">
                <div class="row flex item-center">
                  <div class="col-12 col-sm-6 col-md-3 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Fecha</p>
                    <q-input
                      v-model="form_7.fecha"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-6 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Motivo</p>
                    <q-input
                      v-model="form_7.motivo"
                      min="0"
                      type="text"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="ingrese el motivo"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>

                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm7"
                    class="cl_standar rounded"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>
                <q-expansion-item
          expand-separator
          icon="timer"
          label="Eliminar horarios"
          caption="por rango de fecha"
          header-class="text-purple"
        >
          <q-card>
            <q-card-section>
              <q-form @submit="onSubmitForm8" class="q-gutter-md">
                <div class="row flex item-center">
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Desde</p>
                    <q-input
                      v-model="form_8.fecha1"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Hasta</p>
                    <q-input
                      v-model="form_8.fecha2"
                      type="date"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                  <div class="col-12 col-sm-6 col-md-4 pl-md q-mb-md">
                    <p class="mb-0 font-xl text-weight-regular text-grey-8">Motivo</p>
                    <q-input
                      v-model="form_8.motivo"
                      min="0"
                      type="text"
                      lazy-rules
                      :rules="[(val) => (val && val.length > 0) || 'Requerido']"
                      placeholder="ingrese el motivo"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                      borderless
                    />
                  </div>
                </div>

                <div>
                  <q-btn
                    label="Guardar"
                    type="submit"
                    color="primary"
                    :disabled="botonForm8"
                    class="rounded cl_standar"
                  />
                </div>
              </q-form>
            </q-card-section>
          </q-card>
        </q-expansion-item>
      </q-list>
    </div>
  </div>
</template>

<script>
import changeHourTZ from '../../lib/changeHourTZ';
import getTimezone from '../../lib/getTimezone';
export default {
  data() {
    return {
      namePredio: "",
      Nombre_p: this.$store.getters["auth/datos"].nombre,
      variables_posibles: [],
      operaciones: [],
      form_1: {
        fecha: "",
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: [],
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm1: false,
      form_2: [],
      botonForm2: false,
      form_3: {
        fecha1: "",
        fecha2: "",
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: [],
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm3: false,
      form_4: {
        fecha: "",
        tipo: [],
        motivo: "",
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm4: false,
      form_5: {
        fecha1: "",
        fecha2: "",
        tipo: [],
        motivo: "",
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm5: false,
      form_6: {
        fecha1: "",
        fecha2: "",
        dia1: undefined,
        dia2: undefined,
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: [],
        motivo: "",
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      rangoform6: {
        min: 0,
        max: 6,
      },
      botonForm6: false,
      form_7: {
        fecha: "",
        motivo: "",
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm7: false,
      form_8: {
        fecha1: "",
        fecha2: "",
        motivo: "",
        predio: this.$store.getters["auth/datos"].id_predio,
      },
      botonForm8: false,
      zona_horaria_local: getTimezone(),
      zona_horaria_predio: null,
    };
  },


  async created() {
    if (this.$store.getters["auth/type"] == 'admin') {
      this.$router.push(`/Bienvenido`);
    }
    await this.info_predio();
  },


  computed: {
    id_predio() {
      return this.$store.getters['auth/datos'].id_predio;
    },
  },


  methods: {
    local2predio(hora) {
      // Cambiar zona horaria de local a predio
      return changeHourTZ(hora, this.zona_horaria_local, this.zona_horaria_predio, 'HH:mm');
    },
    predio2local(hora) {
      // Cambiar zona horaria de predio a local
      return changeHourTZ(hora, this.zona_horaria_predio, this.zona_horaria_local, 'HH:mm');
    },
    clone_array(array){
        let _source = JSON.parse(JSON.stringify(array))
        return _source
    },
    async info_predio() {
      await this.$api({
        url: `/predio/info-predio/${this.id_predio}`,
        method: "GET",
        data: {},
      })
        .then(async (res) => {
          let variables_posibles = [];
          if (res.data) {
            this.namePredio = res.data.nombre;
            this.zona_horaria_predio = res.data.zona_horaria;
            if (res.data.detalles) {
              for (let index = 0; index < res.data.detalles.length; index++) {
                const e = res.data.detalles[index];
                if (
                  String(e.tipo).toUpperCase() === String("SELECT") &&
                  e.segmenta
                ) {
                  variables_posibles.push({
                    titulo: e.titulo,
                    text: e.variable,
                    operaciones: e.opciones.split(","),
                  });
                }
              }
            }
          }
          this.variables_posibles = this.clone_array(variables_posibles);
          this.form_1.tipo = this.clone_array(this.variables_posibles);
          this.form_3.tipo = this.clone_array(this.variables_posibles);
          this.form_4.tipo = this.clone_array(this.variables_posibles);
          this.form_5.tipo = this.clone_array(this.variables_posibles);
          this.form_6.tipo = this.clone_array(this.variables_posibles);
        })
        .catch((err) => {
          console.log(err);
        });
    },
    filterFn(val, update, abort) {
      update(() => {
        const needle = val.toLocaleLowerCase();
        this.variables_posibles.value = this.variables_posibles.filter(
          (v) => v.text.toLocaleLowerCase().indexOf(needle) > -1
        );
      });
    },
    setModel(e, form, val) {
      form[`${val}`] = e;
    },
    setOperaciones(e, form, val) {
      if (e) {
        form[`${val}`] = e.operaciones;
      }
    },
    async onSubmitForm1() {
      this.botonForm1 = true;
      const form_1 = this.clone_array(this.form_1);
      // form_1.hora_a = this.local2predio(form_1.hora_a);
      // form_1.hora_b = this.local2predio(form_1.hora_b);
      let set = {
        list: [form_1],
        usuario: {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
        }
      };
      await this.$api
        .post("/horarios/add-one", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm1 = false;
      this.clearForm1();
    },
    clearForm1() {
      this.form_1 = {
        fecha: "",
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: this.clone_array(this.variables_posibles),
        predio: this.id_predio,
      };
    },
    async onSubmitForm2() {
      this.botonForm2 = true;
      const form_2 = this.clone_array(this.form_2);
      /*
      for (let row of form_2) {
        row.hora_a = this.local2predio(row.hora_a);
        row.hora_b = this.local2predio(row.hora_b);
      }
      */
      let set = {
        list: form_2,
        usuario: {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
        }
      };
      await this.$api
        .post("/horarios/add-list", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm2 = false;
      this.form_2 = [];
    },
    agregarFilaform2() {
      this.form_2.push({
        fecha: "",
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: this.clone_array(this.variables_posibles),
        predio: this.id_predio,
      });
    },
    eliminarFilaform2(index) {
      delete this.form_2[index];
      this.form_2.splice(index, 1);
    },
    async onSubmitForm3() {
      this.botonForm3 = true;
      let set = this.clone_array(this.form_3);
      // set.hora_a = this.local2predio(set.hora_a);
      // set.hora_b = this.local2predio(set.hora_b);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      await this.$api
        .post("/horarios/add-list-by-fechas", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm3 = false;
      this.clearForm3();
    },
    clearForm3() {
      this.form_3 = {
        fecha1: "",
        fecha2: "",
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: this.clone_array(this.variables_posibles),
        predio: this.id_predio,
      };
    },
    async onSubmitForm4() {
      this.botonForm4 = true;
      let set = this.clone_array(this.form_4);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      await this.$api
        .post("/horarios/add-one-no-laborable", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm4 = false;
      this.clearForm4();
    },
    clearForm4() {
      this.form_4 = {
        fecha: "",
        motivo: "",
        tipo: this.clone_array(this.variables_posibles),
        predio: this.id_predio,
      };
    },
    async onSubmitForm5() {
      this.botonForm5 = true;
      let set = this.clone_array(this.form_5);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      await this.$api
        .post("/horarios/add-list-no-laborable-by-fechas", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm5 = false;
      this.clearForm5();
    },
    clearForm5() {
      this.form_5 = {
        fecha1: "",
        fecha2: "",
        motivo: "",
        tipo: this.clone_array(this.variables_posibles),
        predio: this.id_predio,
      };
    },
    async onSubmitForm6() {
      this.botonForm6 = true;
      this.form_6.dia1 = Math.round(parseFloat(this.rangoform6.min));
      this.form_6.dia2 = Math.round(parseFloat(this.rangoform6.max));
      let set = this.clone_array(this.form_6);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      // Cambiar horas de zona horaria local a la del predio
      // set.hora_a = this.local2predio(set.hora_a);
      // set.hora_b = this.local2predio(set.hora_b);
      await this.$api
        .post("/horarios/add-list-by-fechas-by-daysweeks", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm6 = false;
      this.clearForm6();
    },
    clearForm6() {
      this.form_6 = {
        fecha1: "",
        fecha2: "",
        dia1: undefined,
        dia2: undefined,
        hora_a: "",
        hora_b: "",
        frecuencia: undefined,
        disponibilidad: undefined,
        tipo: this.clone_array(this.variables_posibles),
        motivo: "",
        predio: this.id_predio,
      };
    },
    async onSubmitForm7() {
      this.botonForm7 = true;
      let set = this.clone_array(this.form_7);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      await this.$api
        .post("/horarios/delete-by-fecha/", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm7 = false;
      this.clearForm7();
    },
    clearForm7() {
      this.form_7 = {
        fecha: "",
        motivo: "",
        predio: this.id_predio,
      };
    },
    async onSubmitForm8() {
      this.botonForm8 = true;
      let set = this.clone_array(this.form_8);
      set.usuario = {
          id: this.$store.getters["auth/datos"].id,
          name: this.$store.getters["auth/datos"].nombre,
          predio: this.id_predio
      };
      await this.$api
        .post("/horarios/delete-by-fechas", set)
        .then(this.axiosThen, this.axiosCatch);
      this.botonForm8 = false;
      this.clearForm8();
    },
    clearForm8() {
      this.form_8 = {
        fecha1: "",
        fecha2: "",
        motivo: "",
        predio: this.id_predio,
      };
    },
    Calweekday(day) {
      let days = [
        "Lunes",
        "Martes",
        "Miércoles",
        "Jueves",
        "Viernes",
        "Sábado",
        "Domingo",
      ];
      return days[Math.round(parseFloat(day))];
    },
    axiosThen(res) {
      if (res.data.r) {
        swal.fire("Completado", res.data.msg, "success");
      } else {
        if (res.data.msg) this.$q.notify(res.data.msg);
        else this.$q.notify("No se pudo realizar este proceso");
      }
      this.info_predio();
    },
    axiosCatch(err) {
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else this.$q.notify("Ocurrió un error");
    },
  },
};
</script>

<style>
.space-side {
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}
.space-total {
  margin: 0.7rem;
}
.right-button-form {
  float: right;
}
</style>
