<template>
  <div>
    <div class="row">
      <div class="col-12 text-center q-mt-lg">
        <p class="text-h4 bold">Horarios</p>
        <p class="text-h5 bold">{{ dateformat }}</p>
      </div>
    </div>
    <div class="q-pa-md">
      <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
          <q-list bordered padding>
            <q-item>
              <q-item-section>
                <q-item-label overline>Listado</q-item-label>
                <q-item-label caption>Filtrar</q-item-label>
              </q-item-section>
              <div class="row">
                <div  class="col-12  pl-md q-mb-md">
                    <p class="mb-0 font-xl bold" >Buscar</p>
                    <q-input
                    style="width: 15rem"
                      v-model="tipo"
                      @keyup="getHorarios()"
                      type="text"
                      placeholder="Tipo de variable, operación"
                      class="input_txt q-pr-sm"
                      input-class="height_txt"
                       borderless
                    />
                </div>
              </div>
            </q-item>

            <q-separator spaced />
            <q-item-label header>Resultados</q-item-label>

            <q-item
              v-for="(horario, index) of horarios"
              :key="index"
              :active="horario.laborable ? 'active' : ''"
              active-class="text-blue"
            >
              <q-item-section avatar>
                <q-icon color="primary" name="timer" />
              </q-item-section>

              <q-item-section>
                <q-item-label>BLOQUE: {{
                  horario.id_tanda
                }}</q-item-label>
                <q-item-label caption>{{ horario.tipo }} ({{horario.tipo_operacion}})</q-item-label>
                <q-item-label v-if="horario.laborable">{{
                  horario.hora_a
                }}</q-item-label>
                <q-item-label v-if="horario.laborable">{{
                  horario.hora_b
                }}</q-item-label>
                <q-item-label v-if="!horario.laborable" caption
                  >No disponible</q-item-label
                >

                <q-item-label v-if="horario.motivo" caption>{{
                  horario.motivo
                }}</q-item-label>
              </q-item-section>
              <q-item-section class="flex" top side>
                <div class="text-grey-8 flex flex-center item-center">

                  <div class="text-center" v-if="horario.laborable">
                    <p class="mb-0 font-xl" >Frecuencia</p>
                    <q-badge
                    title="Frecuencia"
                    :label="horario.frecuencia"
                    class="icon-badge-left"
                  />
                  </div>

                  <div class="text-center q-ml-md" v-if="horario.laborable">
                    <p class="mb-0 font-xl" >Disponibilidad</p>
                     <q-badge
                    title="Disponibilidad"
                    :label="horario.disponibilidad"
                    class="icon-badge-left"
                  />
                  </div>


                  <q-btn
                    @click="DeleteHorone(index)"
                    class="gt-xs q-ml-md q-mt-md"
                    size="12px"
                    flat
                    dense
                    round
                    icon="delete_forever"
                  >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Eliminar
                  </q-tooltip>
                   </q-btn>

                </div>
              </q-item-section>
            </q-item>
          </q-list>
        </div>
        <div class="col-2"></div>
      </div>
    </div>
        <!-- Eliminar usuario -->
    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Eliminar horario</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este horario?</p>
              <p class="mb-0 font-xl" >Nota: Los horarios se guardan en bloque, si elimina este horario eliminará todo el bloque al que pertenece.</p>
            </div>

          </div>
          <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
            <q-linear-progress query color="grey" class="q-mt-sm" />
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disable="disableButton" @click="DeleteHor()" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>
  </div>
</template>

<script>
import moment from 'moment';
import changeHourTZ from '../../lib/changeHourTZ';
import getTimezone from '../../lib/getTimezone';

export default {
  data() {
    return {
      tipo: "",
      horarios: [],
      eliminar: false,
      disableButton: false,
      id_delete: undefined,
      cargandobarra: false,
      zona_horaria_local: getTimezone(),
      zona_horaria_predio: null,
    };
  },

  created() {
    if (this.$store.getters["auth/type"] == 'admin') {
      this.$router.push(`/Bienvenido`);
    }
    this.getHorarios();
    this.zona_horaria_predio = this.$store.getters["auth/predio_seleccionado"]?.zona_horaria;
  },

  computed: {
    id_predio() {
      return this.$store.getters['auth/datos'].id_predio;
    },
    dateformat() {
      return moment(this.$route.params.fecha).format("DD/MM/YYYY")
    }
  },

  methods: {
    horarios_a_zona(horarios, from_zone, to_zone) {
      const _horarios = JSON.parse(JSON.stringify(horarios));
      for (let hor of _horarios) {
        hor.hora_a = changeHourTZ(hor.hora_a, from_zone, to_zone, 'HH:mm');
        hor.hora_b = changeHourTZ(hor.hora_b, from_zone, to_zone, 'HH:mm');
      }
      return _horarios;
    },

    async getHorarios() {
      await this.$api({
        url: `/horarios/${this.id_predio}/${this.$route.params.fecha}/${this.tipo}`,
        method: "GET",
        data: {},
      })
        .then(async (res) => {
          this.horarios = res.data;
          // this.horarios = this.horarios_a_zona(res.data, this.zona_horaria_predio, this.zona_horaria_local);
        })
        .catch((err) => {});
    },
    Deletealltanda(tanda){
      let horarios = JSON.parse(JSON.stringify(this.horarios));
      for (let index = 0; index < horarios.length; index++) {
        let element = horarios[index];
        if (String(tanda) == String(element.id_tanda)) {
          delete this.horarios[index];
          this.horarios.splice(index, 1);
        }
      }
    },
    DeleteHorone(index) {
      this.id_delete = index;
      this.eliminar = true;
    },
    async DeleteHor() {
      let id = this.horarios[this.id_delete].id;
      let id_tanda = this.horarios[this.id_delete].id_tanda;
      delete this.horarios[this.id_delete];
      this.horarios.splice(this.id_delete, 1);
      this.Deletealltanda(id_tanda);
      this.disableButton = true;
      this.cargandobarra = true;

      await this.$api
        .post(`/horarios/delete/${id}`, {usuario: {id: this.$store.getters["auth/datos"].id, name: this.$store.getters["auth/datos"].nombre, predio: this.id_predio }})
        .then(this.axiosThen, this.axiosCatch);

      this.id_delete = undefined;
      this.eliminar = false;
      this.disableButton = false;
      this.cargandobarra = false;
    },
    axiosThen(res) {
      if (res.data.r) {
        swal.fire("Completado", res.data.msg, "success");
      } else {
        if (res.data.msg) this.$q.notify(res.data.msg);
        else this.$q.notify("No se pudo realizar este proceso");
      }
    },
    axiosCatch(err) {
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else this.$q.notify("Ocurrió un error");
    },
  },
};
</script>

<style>
.icon-badge-left {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
</style>
