<template>
  <q-icon
    v-if="telefono_soporte"
    name="fab fa-whatsapp"
    @click="abrirSoporte()"
    class="text-white p-0  titulos "
  ></q-icon>

  <div v-else style="width: 27px; height: 27px;"></div>
</template>


<script>
export default {
  name: 'BtnWhatsapp',

  data() {
    return {
    };
  },

  computed: {
    telefono_soporte() {
      return this.$store.getters.telefono_soporte;
    },
  },

  methods: {
    abrirSoporte() {
      window.open('https://wa.me/' + this.telefono_soporte);
    },
  },

}
</script>
