<script>
export default {
  props: {
    value: {
      required: false,
    },
  },

  data: () => ({
    image: null,
  }),

  computed: {
    computedValue: {
      get() {
        return this.modelValue;
      },
      set(val) {
        this.$emit('input', val);
      },
    },
  },

  methods: {
    takeMobilePhoto() {
      return new Promise((resolve) => {
        this.$refs.fileInput.onchange = (e) => resolve(e.target.files[0]);
        this.$refs.fileInput.click();
      });
    },

    getFileBase64(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.onload = () => resolve(reader.result);
        reader.onerror = (error) => reject(error);
        reader.readAsDataURL(file);
      });
    },

    onInput(evt) {
      const file = evt.target?.files?.[0];
      if (file) {
        this.getFileBase64(file).then(data => {
          this.computedValue = data;
        });
      }
    },
  },

  watch: {
    image(val) {
      this.getFileBase64(val).then(b64 => this.value = b64);
    },
  },
};
</script>



<template>
  <div>
    <q-btn
      color="yellow"
      class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl"
      icon="add_a_photo"
      @click="takeMobilePhoto()"
    />

    <input
      style="display: none;"
      type="file"
      accept="image/*"
      capture="environment"
      ref="fileInput"
      v-on:change="onInput"
    />
  </div>
</template>
