<template>
  <div @click="click()" class="relative">
    <div
      v-if="$store.getters['notificacion/pendientes']"
      class="bg-red badge text-white "
    >
      {{ $store.getters['notificacion/pendientes'] }}
    </div>

    <q-icon name="notifications" class="text-white p-0  titulos q-pa-xs " ></q-icon>
  </div>
</template>


<script>
export default {

name: 'DetallesProducto',

methods: {
  click() {
    this.$router.push('/Notificaciones')
  },
},

}</script>