<template>
	<div>
				<div
					ref="mapa"
					map-type-id="terrain"
					class="col-12"
					:style="stylemap"
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

	</div>
</template>


<script>

import { LocalStorage } from 'quasar';

export default {
	name: 'GoogleMap',
	props: {
		mapConfig: {
			type: Object,
			default(){
				return {
					center: { lat: 10.336902, lon: -68.745944 },
					zoom: 8,
				}
			},
		},
		setcargar: { type: Object },
		setcargarmarkermultiple: { type: Object },
	},

	data(){
		return {
			// markers: [],
			map: null,
			stylemap: 'height: 100vh ; width:100vw',
			options: {
				center: this.mapConfig.center,
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				scaleControl: true,
				rotateControl: true,
				zoom: 14,
				gestureHandling: "greedy",
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				backgroundColor: "#fff",
				 zoomControlOptions: {
			        position: google.maps.ControlPosition.RIGHT_CENTER
			    }
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: [],
			mapStyles: [
				{ featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }] },
				{ elementType: 'labels.text.fill', stylers: [{ color: '#294dce' }] }
			],
			delayBeforeMap: 500,
			mapalisto: null,
			DIRREN: null
		};
	},
	mounted(){

	},
	methods: {

		crearMapa(options,new_zoom){
			// Regresa el mapa estilizado.
			if(new_zoom)
				this.options.zoom = new_zoom;
			options = options || {};
			const styledMap = new google.maps.StyledMapType(this.mapStyles, { name: "Styled Map" });
			const mapa_ref = this.$refs.mapa;
			const map = new google.maps.Map(mapa_ref, {...this.options, ...options});

			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			return map;
		},

		asyncDelay(ms){
			return new Promise((resolve) => {setTimeout(() => resolve(), ms)});
		},
	},
	watch: {
		async setcargar(data){
			let marcador = data.marcador;
			let click = data.click;
			let zoom = data.zoom || 16;
			if(!data) return;
			const latlng = new google.maps.LatLng(parseFloat(data.lat), parseFloat(data.lon));
			data=latlng;

			const centroMarker = data;
			await this.asyncDelay(this.delayBeforeMap);
			this.$nextTick(() => {

				const map = this.crearMapa({center: data},zoom);
				var marker = new google.maps.Marker({position: data});

				if(marcador){
					this.lat = data.lat();
					this.lon = data.lng();
					marker.setMap(map);
				}else{
					this.lat = null;//se vacian las cordenadas para que se exija la validación
					this.lon = null;//se vacian las cordenadas para que se exija la validación
				}
				const self = this;
				if(click){
					google.maps.event.addListener(map, 'click', function(event) {

						marker.setMap(null);
						marker = new google.maps.Marker({position: event.latLng});
						marker.setMap(map);

						self.lat = event.latLng.lat();
						self.lon = event.latLng.lng();
					});
				}
			});
		},
		async setcargarmarkermultiple(data){
			//console.log(data);
			let lista = data.lista;
			let zoom = data.zoom || 16;
			if(data.stilomapa)
				this.stylemap = data.stilomapa;
			if(!data) return;
			const latlng = new google.maps.LatLng(parseFloat(data.lat), parseFloat(data.lon));
			data=latlng;

			const centroMarker = data;
			const DIR_SVC = new google.maps.DirectionsService();
			const DIR_REN = new google.maps.DirectionsRenderer({suppressMarkers: true});
			await this.asyncDelay(this.delayBeforeMap);
			this.$nextTick(() => {

				const map = this.crearMapa({center: data},zoom);
				DIR_REN.setMap(map);

				const data_map = {
					origin: {lat: parseFloat(lista.lat_cho), lng: parseFloat(lista.lon_cho)},
					destination: data,
					optimizeWaypoints: true,
					travelMode: 'DRIVING'
				};
				var self = this;
				DIR_SVC.route(data_map, async (response, status) => {
					if(status !== 'OK'){
						console.log('Ocurrió un error, intente más tarde'); return;
					}

					var image = {
						url: "img/alfiler.png",
						size: new google.maps.Size(41, 41),
						origin: new google.maps.Point(0, 0),
						anchor: new google.maps.Point(18, 36),
						scaledSize: new google.maps.Size(35, 35)
					};
					var marker = new google.maps.Marker({
						position: data,
						icon: image,
						draggable: false
					});
					//var marker = new google.maps.Marker({position: data});
					marker.setMap(map);

					var marker = new google.maps.Marker({
					 	position: {lat: parseFloat(lista.lat_cho), lng: parseFloat(lista.lon_cho)}
					});

					//console.log(marker,map);
					marker.setMap(map);
					DIR_REN.setDirections(response);
				});





			});
		},
	}
};
</script>
