<template>

  <div class="col-12 col-sm-6 flex flex-center wxl-100">
    <q-img :src="src || defaultSrc" class="soft-border" ></q-img>

    <q-input @input.native="onNativeInput" @input="onInput"
      v-model="model" ref="inputImg" style="display:none;"
      type="file" accept="image/*" :name="name"
    />
      <div class="flex flex-center item-center ">
         <q-btn v-if="!readonly" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md"
      @click.native="$refs.inputImg.$el.click()" icon="fas fa-upload"></q-btn>

      <!-- <CameraBtn @input="val => $emit('input', val)" /> -->
      <q-btn v-if="!readonly" color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" @click="fotoImg(name)" icon="add_a_photo"></q-btn>
      </div>

  </div>

</template>

<script>
import CameraBtn from 'src/components/CameraBtn.vue';

export default {

components: { CameraBtn },

name: 'ImagenInput',

props: {
  name: {
    require: false,
    type: String,
  },
  src: {
    require: false,
    type: String,
  },
  readonly: {
    require: false,
    type: Boolean,
    default: false,
  },
  defaultSrc: {
    require: false,
    type: String,
    default: 'img/truck.png',
  },

},


data() {
  return {
    model: null,
  };
},


methods: {
  reset() {
    this.model = null;
  },

  click() {
    this.$refs.inputImg.$el.click();
  },

  compressBase64() {

  },

  fotoImg(val) {
    this.$emit('fotoImg',val);
  },
  onNativeInput(evt) {
    this.$emit('input.native');
  },
  onInput(evt) {
    this.$emit('input', evt);
  },
},


}</script>
