<template>

  <q-select
    emit-value
    map-options
    :option-value="optionValue"
    :option-label="optionLabel"
    v-model="selected"
    borderless
    class="w-100  input_select"
    :options="localOptions"
    :label=" selected ? '' : label "
    use-input
    @filter="filterFn"
    hide-selected
    fill-input
    ref="QSelect"
    >
    <template v-slot:prepend>
      <q-icon name="location_on" class="cursor-pointer clr-enviaxa " />
    </template>
  </q-select>

</template>

<script>
export default {

name: 'SelectAjax',

props: {
  /**
   * Ruta de la cual recuperar los datos
   * La ruta puede tener variables definidas por ´%s´
   */
  route: {
    required: false,
    type: String,
  },

  label: {
    require: false,
    type: String,
  },
  optionValue: {
    type: String,
    require: false,
    default: 'id',
  },
  optionLabel: {
    type: String,
    require: false,
    default: 'nombre',
  },

  value: {
    required: true,
  },
  options: {
    required: false,
    type: Array,
    default: () => [],
  },

  /**
   * Una funcion para validar las condiciones antes de realizar el ajax
   *
   * @return {true|false} - Si se debe continuar con el ajax
   */
  beforeAjax: {
    type: Function,
    required: false,
    default: () => true,
  },

  /**
   * Parametros para la ruta
   *
   * @param {array|int|string}
   */
  routeParams: {
    required: false,
    type: [Array, Number, String],
  },

  fetchWithoutParams: {
    required: false,
    type: Boolean,
    default: true,
  },
},


data() {
  return {
    selected: null,
    localOptions: this.options,
    _localOptions: this.options,
  };
},


mounted() {
  this._fetchData();
},


watch: {
  selected(newValue) {
    this.$emit('input', newValue);
  },

  routeParams(v) {
    this._fetchData();
    // console.log('s:params:', this.routeParams)
    // if (!this.fetchWithoutParams)
    //   this._fetchData();
  },

  value(v) {
    this.selected = v;
    // this._fetchData();
  },
},

computed: {
  _route() {
    /**
     * Parsear la ruta en caso de que tenga arguentos
     */
    if (!this.routeParams)
      return this.route;

    if (Array.isArray(this.routeParams))
      return this.parse(this.route, ...this.routeParams)

    if (this.routeParams)
      return this.parse(this.route, this.routeParams)
  },
},


methods: {

  _fetchData(ignore=false) {
    if (!this.fetchWithoutParams && !this.routeParams && !ignore)
      return;

    return new Promise((resolve, reject) => {
      this.$api.get(this._route)
        .then(resp => {
          this.localOptions = this._localOptions = resp.data;
          resolve(resp.data);
        })
        .catch(reject);
    });
  },


  filterFn (val, update, abort) {
    if (!this.beforeAjax())
      return abort();

    if (val === '') {
      return this._fetchData()
        .then(update)
        .catch(abort);
    }

    update(() => {
      const needle = val.toLowerCase()
      this.localOptions = this._localOptions.filter(val => val[this.optionLabel].toLowerCase().indexOf(needle) > -1)
    })
  },


  /**
   * Parsear y reemplazar marcadores '%s' en texto
   *
   * > parse( "Hola %s", "mundo" ) //-> "Hola mundo"
   *
   *
   * @param string - Texto con marcadores
   * @param string - Los argumentos siguientes son el reemplazo de los marcadores
   * ...
   *
   * @return string
   */
  parse(str) {
    let args = [].slice.call(arguments, 1);
    let i = 0;
    return str.replace(/%s/g, () => args[i++]);
  },


},


}</script>
