<template>

  <!-- TARJETA SELECCIONADA -->
  <div v-if="check" class=" q-pa-xs  col-12 col-sm-6 col-md-4">
    <div class=" q-pa-sm text-white bg-soft-blue min-size">

      <div class="w-100 flex item-center content-between">
        <p class="mb-0  w-50 text-initial font-md  ">{{ nombre }}</p>

        <div class="w-50 flex justify-end item-center ">

          <q-icon name="query_builder" class="titulos"></q-icon>

          <p class="mb-0">{{ tiempo }}</p>

        </div>

      </div>

      <q-separator color="white" class="q-mt-sm"></q-separator>

      <div class="w-100 flex item-center content-between">
        <q-checkbox color="blue-3" class="clr-soft-border"
          v-model="check"></q-checkbox>

        <div class="w-50  flex justify-end item-center ">

          <p class="mb-0 font-xl ">{{ monto }} </p>
          <q-icon name="fas fa-euro-sign"></q-icon>

        </div>

      </div>

      <div class="w-100 row flex item-center content-between">

        <div class="col-2 q-pl-sm flex item-center ">
          <q-icon name="query_builder" class="font-xl  "></q-icon>
        </div>

        <div class="col-10">
          <p class="mb-0">{{ descripcion }}</p>
        </div>

      </div>

    </div>
  </div>


  <!-- TARJETA NO SELECCIONADA -->
  <div v-else class=" q-pa-xs  col-12 col-sm-6 col-md-4 min-size">
    <div class=" border q-pa-sm bg-gray  min-size">

      <div class="w-100 flex item-center content-between">
        <p class="mb-0 clr-enviaxa-light w-50 text-initial font-md  ">
          {{ nombre }}</p>

        <div class="w-50 clr-enviaxa flex justify-end item-center ">

          <q-icon name="query_builder" class="titulos"></q-icon>

          <p class="mb-0">{{ tiempo }}</p>

        </div>

      </div>

      <q-separator class="q-mt-sm"></q-separator>

      <div class="w-100 flex item-center content-between">
        <q-checkbox color="gray" v-model="check"></q-checkbox>

        <div class="w-50  flex justify-end item-center ">

          <p class="mb-0 font-xl ">{{ monto }} </p>
          <q-icon name="fas fa-euro-sign"></q-icon>

        </div>

      </div>

      <div class="w-100 row flex item-center content-between">

        <div class="col-2 q-pl-sm flex item-center ">
          <q-icon name="query_builder" color="red" class="font-xl">
          </q-icon>
        </div>

        <div class="col-10">
          <p class="mb-0">{{ descripcion }}</p>
        </div>

      </div>

    </div>
  </div>

</template>

<script>
export default {

props: {
  nombre: {
    type: String,
    default: '',
  },
  descripcion: {
    type: String,
    default: '',
  },
  monto: {
    type: [Number, String],
    default: 0,
  },
  tiempo: {
    type: [Number, String],
    default: 0,
  },
  value: {
    default: false,
  },
  val: {
    default: null,
  },
  currentId: {
    default: null,
  },
},

name: 'TarjetaModalidad',

data() {
  return {
    check: false,
  };
},

watch: {
  check(newValue, oldValue) {
    if (newValue) {
      this.$emit('input', this.val);
    }
    else {
      this.$emit('unchecked', this.val);
    }
  },
  value(newValue) {
    if (newValue == this.val) {
      this.check = true;
    }
    else {
      this.check = false;
    }
  },
},


}</script>


<style>
  .min-size {
    min-width: 300px !important;
    min-height: 130px !important;
  }
</style>
