<template>
  
  <div
    class="col-6 col-sm-4 wxl-20 q-mt-md flex flex-center q-mt-lg q-mb-sm relative ">

    <!-- <p style="position:absolute;top:-15px;" class="bg-orange rounded-5 text-white q-pa-xs " >Por aprobar</p> -->
    <div
      class="bg-white rounded-top-5 q-pa-md flex flex-center w-80 q-pb-sm text-center  ">
      <q-icon name="fas fa-truck"
        class="font-xl text-azul-claro q-mb-sm "></q-icon>
      <p class="font-xl w-100 mb-0 ">{{ texto }}&nbsp;</p>
      <p :class="[statusClass, 'bold', 'mb-0']">{{ statusText }}</p>
    </div>
    <div
      class="bg-yellow vh5 rounded-bottom-5 w-80 flex flex-center relative ">
      <q-btn style="position:absolute;bottom:-5px;"
        v-if="!readonly"
        @click="clickVer"
        class="bg-azul-claro text-white " icon="visibility" round></q-btn>
    </div>
  </div>
</template>


<script>
export default {

props: {
  texto: {
    type: String,
    required: false,
  },

  aprobacion: {
    type: [String, Number],
    required: true,
    validator: v => +v===+v && [-1,0,1].includes(+v),
  },

  readonly: {
    type: Boolean,
    required: false,
    default: false,
  },

  val: {
    required: true,
  },
},

name: 'TarjetaVehiculo',

data() {
  return {
    clase_aprobacion: {
      '1': 'text-green',
      '0': 'text-orange',
      '-1': 'text-red',
    },


    texto_aprobacion: {
      '1': 'Aprobado',
      '0': 'Por aprobar',
      '-1': 'Rechazado',
    },
  };
},

computed: {
  statusClass() {
    return this.clase_aprobacion[this.aprobacion];
  },

  statusText() {
    return this.texto_aprobacion[this.aprobacion];
  },
},

methods: {
  clickVer() { this.$emit('ver', this.val) },
},

}
</script>
