/* // app global css in SCSS form */

.bg-facebook{
    background-color: rgb(8, 8, 112);
}

.azul-oscuro{
    background-color: #00b0f0;
}


.azul-claro{
    background-color: #36c1e2;
}

.verde{
    background-color: #42ae58;
}

.gris{
    background-color: #ece8e8;
}

.gris-claro{
    background-color: #f7f0f0;
}

.clr-azul-oscuro{
   color: #838383 !important ;
}

.clr-azul-claro{
  color: #36c1e2 !important ;
}

.clr-verde{
    color: #42ae58 !important ;
}

.clr-gris{
   color: #ece8e8 !important ;
}

.bg-instagram{
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.color-fondo-oscuro{
    background-color: rgb(46, 43, 43) !important;
    height: 100vh;
    overflow: scroll;
}

.bg-img-fondo{
    height: 100vh;
    background-position: center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.color-layout{
    background-color: #00b0f0 !important;
}

.color-fondo-claro{
    background-color: #b01630 !important;
    height: 100vh;
    overflow: scroll;
}

.fondo-dark{
    background-color:  #7d232d !important;
}

.fondo-light{
    background-color: #b01630 !important;
}

.fondo-transparente{
    background-color: rgba(0, 0, 0 , 0 ) !important;
}


/* // tamaño de las fuentes */

.sub-text{
    text-decoration: underline;
}

.text-initial{
    text-align: initial;
}

.font-sm{
    font-size: 10px;
}

.font-xs{
    font-size: 10px;
}

.titulos{
    font-size: 27px;
}

.nom-producto{
    font-size: 20px;
}

.font-md{
    font-size: 14px;
}

.font-lg{
    font-size: 15px;
}

.font-xl{
    font-size: 15px;
}

.bold{
    font-weight: bold;
}

/* // fin tamaño de las fuentes */

/* colores de fuentes  */

.txt-etiquetas{
    color: #ffb621;
}

.clr_pink{
    color:fuchsia
}

.clr_blue{
    color: blue;
}

.clr-red{
    color: #b01630
}

/* fin color de fuente */

/* // border */

.border{
    border: 1px black solid;
}

.border-yl{
    border-top: 1px rgb(180, 174, 174) solid ;
    border-bottom: 1px rgb(180, 174, 174) solid ;
}

.border-card{
  border: #a0a0a0 solid 2px ;
}

.limitar-titulo{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.limitar{
    overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* // fin border */

/* // imagenes */

.img-bienvenido{
    object-fit: cover;
    object-position: center center;
    width: 75%;
    height: 75%;
}

.img-formulario{
    object-fit: cover;
    object-position: center center;
    width: 40%;
    height: 40%;
}

.img-wifi{
    object-fit: cover;
    object-position: center center;
    width: 30%;
    height: 30%;
}


.img-publicidad{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 100vh;
}

.img-productos{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 140px;
}

.img-detalle-producto{
   max-height: 300px;
   object-fit: cover;
   object-position: center center;
   width: 100%;
}

.img-detalle-producto-zoom{
    max-height: 500px;
    min-width: 300px;
    object-fit: cover;
    object-position: center center;
    width: 100%;
 }

/* // fin imagenes */

/* // botones */

.q-btn{
    text-transform: capitalize !important;
}

.cl_standar{
    background-color: #00b0f0 !important;
    color: white !important;
}

.icon-no-bg{
    color: #f5a603;
}

.sm-btn-pc{
    border-radius: 50%;
    width: 50%;
    height: 100%;
}

/* // fin botones */

/* // tamaño de las fuentes */

.label{
    font-size: 25px;
}

.elipsis{
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* // fin tamaño de las fuentes */

/* // text-box */

.input_txt{
	background: white !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: #838383;
    border: #838383 solid 1px ;
}

.input_txt_grow{
	background: white !important;
	border-radius: 1.5rem;
    padding-bottom: 0rem;
    /* height: 40px; */
    color: #838383;
    border: #838383 solid 1px ;
}
.height_txt{
    height: 37px !important;
}

.select-grow{
    background: white !important;
	border-radius: 1rem;
    padding-bottom: 0rem;
    /* height: 40px; */
    color:black;
    border: black solid 1px ;
}

.input_grow{
	background: white !important;
	border-radius: 5rem;
    padding-bottom: 0rem;
    max-height: 50px;
    color: #838383;
    border: #838383 solid 1px ;
}

.input_grow2{
	background: white !important;
	border-radius: 1rem;
    padding-bottom: 0rem;
    color: #838383;
    border: #838383 solid 1px ;

}

.input-search{
	background: rgba(243, 243, 243, 0.979) !important;

	border-radius: 5rem;
    padding-bottom: 0rem;
    height: 40px;
    color: white;
}

/* // fin text-box */

/* // componentes de quasar */

/* PADDING DEL CARRUSEL */

.q-carousel--arrows-horizontal.q-carousel--with-padding .q-carousel__slide{
    padding-left: 15px;
    padding-right: 15px;
}

.q-carousel__slide{
    padding : 0px
}

.q-carousel__arrow .q-icon {
    font-size: 28px;
}

.q-textarea .q-field__native {
    resize: vertical;
    padding-top: 15px;
    min-height: 52px;
}

/* // sangria de los q-input */
.q-field__native {
    margin-left: 10px !important;
}

/* label de los q-input */

.q-field__label {
   margin-left: 5px;
}

.q-field__append {
    padding-left: 12px;
    height: 37px;
}

/* // fin sangria de los q-input */

/* // componentes de quasar */

/* // padding */

.q-dialog__inner--minimized {

}

.p-0 {
    padding: 0px !important;
}

.pt-0{
    padding-top: 0px;
}

/* // fin padding */

/* // margin */

.mb-0{
    margin-bottom: 0px;
}

.m-0{
    margin: 0px;
}

.m-20{
    margin-top: 10%;
    margin-bottom: 10%;
}

.m-30{
    margin-top: 15%;
    margin-bottom: 15%;
}

.m-40{
    margin-top: 20%;
    margin-bottom: 20%;
}


.m-50{
    margin-top: 25%;
    margin-bottom: 25%;
}

.m-60{
    margin-top: 30%;
    margin-bottom: 30%;
}

.m-70{
    margin-top: 35%;
    margin-bottom: 35%;
}

.m-80{
    margin-top: 40%;
    margin-bottom: 4%;
}

.m-90{
    margin-top: 45%;
    margin-bottom: 45%;
}

.m-100{
    margin-top: 50%;
    margin-bottom: 50%;
}

.mb-0{
    margin-bottom: 0px;
}

/* // fin margin */


/* // tamaños */

.overflow-scroll{
    overflow-x: scroll;
    overflow-y: auto;
}

.no-max-width{
    max-width: none !important ;
}

.w-5{
    width: 15%;
}

.w-20{
	width: 20%;
}

.w-30{
	width: 30%;
}

.w-40{
	width: 40% !important;
}

.w-50{
	width: 50%;
}

.w-60{
    width: 60%;
}

.w-70{
	width: 70%;
}

.w-80{
	width: 80%;
}

.w-90{
	width: 90%;
}

.w-100{
	width: 100%;
}

.vh5{
    height: 5vh !important;
}

.vh10{
    height: 10vh !important;
}

.vh20{
    height: 20vh;
}

.vh30{
    height: 30vh;
}

.vh40{
    height: 40vh;
}

.vh50{
    height: 50vh;
}

.vh60{
    height: 60vh;
}

.vh70{
    height: 70vh;
}

.vh80{
    height: 80vh;
}

.vh90{
    height: 90vh !important;
}

.vh100{
    height: 100vh !important;
}

.vh-chat{
    height: 85vh !important;
}

/* // fin tamaños */

/* cursos */

.pointer{
    cursor: pointer;
}

/* // redondeados */

.rounded{
	border-radius: 5rem;
}

.rounded-chat{
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.rounded-1{
	border-radius: 1rem !important ;
}

.soft-border{
	border-radius: .5rem;
}

.circle{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.rounded-top{
    border-top-left-radius: .5rem ;
    border-top-right-radius: .5rem ;
}

.rounded-bottom{
    border-bottom-left-radius: .5rem ;
    border-bottom-right-radius: .5rem ;
}

/* // fin redondeados */

/* Positions */

.position-p{
    position: absolute !important;
    bottom: -100px !important;
}

.relative{
    position: relative;
}

.badge_footer{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 9px;
    top: -20px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.q-dialog__inner--minimized {
    padding: 10px 24px;
}

.badge{
    display: flex;
    justify-content: center;
    position: absolute;
    align-items: center;
    padding: 9px;
    top: -10px;
    right: -5px;
    width: 5px;
    height: 5px;
    border-radius: 50%;
}

.absolute_notify{
    position: absolute;
    top: 7vh;
    right: 0;
    width: 30%;
}

.absolute_settings{
    position: absolute;
    top: 150%;
    right: 0;
    width: 170px;
}

/* // clases de flex  */
.content-between{
	justify-content: space-between;
}

.content-around{
	justify-content: space-around;
}

.item-center{
	align-items: center;

}

.item-start{
	align-items: flex-start;

}

.slide-x{
    display: flex;
    flex-wrap: nowrap;
}

.item-end{
    align-items: flex-end;
}
 /* fin clases de flex */

/* table */

.q-table--cell-separator thead tr:last-child th{

}

.q-table-control{
    width:100%;
}

.q-table th{

}

.q-table td{

}

th{
    padding: 10px;
    color: white;
    background-color: #00b0f0 !important;
}

.border-tr{
    border: 1px solid #ffb621;
}

/* barra de scroll */

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    background-color: white;
}

.overflowx-scroll{
    overflow-y: scroll !important ;

}
 /* fixed */

 .hide{
     display:none;
 }

 .hide{
     display: none;
 }

 @media screen and (min-width:992px){

    .hide-sm{
        display: none;
    }


 }

 @media screen and (min-width:600px){



    .pl-md{
        padding-left: 16px;
    }
 }

 @media screen and (max-width:768px){



    .vh-chat{
        height: 70vh;
    }

    .w-40-sm{
        width: 40% !important;
    }

    .w-50-sm{
        width: 50% !important;
    }

    .w-70-sm{
        width: 70% !important;
    }

    .w-80-sm{
        width: 80% !important;
    }

    .w-100-sm{
        width: 100% !important;
    }

    .hide-tool{
        display: none;
    }

    .absolute_notify{
        position: absolute;
        top: 7vh;
        right: 0;
        width: 50%;
    }

    .table-width-xs{
        width: max-content;
    }

 }

 @media screen and (max-width:600px){

    .vh-chat{

       height: 65vh;

    }

    .w-100-xs{
        width: 100% !important;
    }

    .table-width-xs{
        width: max-content;
    }

    .absolute_notify{
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100%;
        height: 100vh;
    }

    .column-xs{
        flex-direction: column;
        justify-content: center;
    }

    .margin-btn-chat{
        margin-top: 5px;
    }

 }







/* clases propias del home */

.cont_card_ml{
    margin-left: 7%;
}

.alt_card{
    height: 230px !important;
}

@media screen and (max-height:400px) and (max-width:300px) {
	.font-xl{
		font-size: 10px;
	}

	.font-m{
		font-size: 10px !important;
	}

	.font-lg{
		font-size: 10px;
	}

	.font_titulosxl{
		padding: 0px;
		font-size: 15px !important;
	}

	.q-chip{
		border-radius: 0px !important;
		background-color: blue!important;
		padding: 5px;
		color: white !important;
		border: none;
	}

	.q-chip-2{
		border: 1px solid #fb5a6a;
		background-color: white!important;
		padding: 12px;
		color: #fb5a6a!important;
		margin-bottom: 10px !important;
		border-radius: 5rem !important;
	}

	.q-btn{
		padding: 0px;
		font-size: 10px !important;
	}

	.cl_standar{
		font-size: 10px;
	}

	.img-icon{
		width: 15px !important;
		height: 15px !important;
	}

	.img-user{
		width: 40px !important;
		height: 40px !important;
	}

	.font_titulosmd {
		font-size: 12px;
		font-weight: bold;
	}



	.q-field--dense .q-field__label {
		font-size: 10px;
		top: 10px;
	}

	.q-field__label {
		font-size: 10px;
	}

	.q-field__before, .q-field__prepend {
	 font-size: 15px;
	}

	.q-tab__label {
		font-size: 10px;
		line-height: 1.715em;
		font-weight: 500;
		text-transform: capitalize;
	}

    .swal2-title {
        position: relative;
        max-width: 100%;
        margin: 0 0 .4em;
        padding: 0;
        color: #595959;
        font-size: 20px;
        font-weight: 600;
        text-align: center;
        text-transform: none;
        word-wrap: break-word;
    }

    .swal2-content {
        z-index: 1;
        justify-content: center;
        margin: 0;
        padding: 0 1.6em;
        color: #545454;
        font-size: 18px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        word-wrap: break-word;
    }

    .mt-sm-0 {
       margin-top: 0px;
    }
}

