<template>
  <div class="">

    <div class=" color-layout vh30 q-pb-xl ">

      <div class="row">

        <div class="col-4 justify-start-xl flex flex-center q-mt-md q-pr-lg ">
          <q-btn @click="atras()" icon="keyboard_arrow_left"
            class="titulos q-pl-md text-white " flat></q-btn>
        </div>

        <div  class="col-4 q-mt-md text-white text-center flex justify-center item-center">

          <p class="mb-0 font-xl ">Mis vehículo</p>

        </div>

         <div class="col-4 flex  content-around relative">
              <btn-whatsapp style="position:absolute;right:70px;bottom:25px" />
              <campana-notificacion style="position:absolute;right:20px;bottom:15px" class=" pointer circle-2 light" />
              <!--
               <q-icon name="fab fa-whatsapp"  class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              <div @click="notificaciones()" class="relative">
                <div v-if="$store.getters['notificacion/pendientes']" class="bg-red badge text-white ">{{ $store.getters['notificacion/pendientes'] }}</div>

                <q-icon name="notifications" class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              </div>
              -->

            </div>

      </div>


    </div>

    <div style="margin-top:-30%"
      class=" bg-light-gray relative vh80 vh-chat-sm overflow-auto  layout-top rounded-top-home ">

      <q-btn class="cl_standar" icon="add" round size="lg"
        @click="Nuevo = true, ver = false, agendar = true, fillData()"
        style="position:fixed;bottom:14vh;right:20px;z-index:99">
      </q-btn>


      <div class="row flex  q-pb-lg ">
        <div class="col-12 w-100 flex justify-center q-mt-md ">
          <q-img src="img/truck.png" class="w-40 wxl-20"></q-img>
        </div>

        <tarjeta-vehiculo v-for="veh in vehiculos" :key="veh.id" :val="veh.id"
          :aprobacion="veh.aprobacion" :texto="veh.patente" @ver="clickVerVehiculo"
        />

      </div>
    </div>

    <!-- modal nuevo turno -->
    <q-dialog  v-model="Nuevo">
      <q-card class="rounded-1 w-100 wxl-30  ">
        <q-card-section class="p-0 rounded-1 ">
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div v-if="agendar" class="col-8 text-center ">
              <p class="mb-0 font-xl  ">Agregar nuevo vehículo</p>
            </div>

            <div v-if="ver" class="col-8 text-center ">
              <p class="mb-0 font-xl  ">{{ patente }}</p>
            </div>

            <div class="col-2">
              <q-btn class="font-xl  " label="X" @click="Nuevo = false" flat>
              </q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 flex flex-center ">


            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100">Tipo de vehículo
              </p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center wxl-100">
              <q-select v-model="tipo_vehiculo" :options="tipo_vehiculos" borderless :readonly="!puedeEditar"
                map-options option-value="id" option-label="nombre"
                class=" w-100 shadow-4 input_txt q-pl-md q-pr-sm "
              >
                <template v-slot:no-option>
                  <q-item class="bg-white">
                    <q-item-section class="text-italic text-grey">
                      Sin datos
                    </q-item-section>
                  </q-item>
                </template>
              </q-select>
            </div>

            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100">Patente</p>
            </div>

            <div class="col-12 col-sm-6 wxl-100">
              <q-input v-model="patente" type="text" borderless :readonly="!puedeEditar"
                class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese la patente">
              </q-input>
            </div>

            <div v-if="patente2 || (tipo_vehiculo && tipo_vehiculo.dpatente)" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100">Segundo patente</p>
            </div>

            <div v-if="patente2 || (tipo_vehiculo && tipo_vehiculo.dpatente)" class="col-12 col-sm-6 wxl-100">
              <q-input v-model="patente2" type="text" borderless :readonly="!puedeEditar"
                class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese la patente">
              </q-input>
            </div>


            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100">Vencimiento del
                registro</p>
            </div>

            <div class="col-12 col-sm-6 wxl-100">
              <q-input v-model="V_registro" type="date" borderless :readonly="!puedeEditar"
                class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese el vencimiento del registro">

              </q-input>
            </div>

            <div v-if="mostrarVTV"
              class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100 ">Vencimiento VTV</p>
            </div>

            <div v-if="mostrarVTV"
              class="col-12 col-sm-6 wxl-100">
              <q-input v-model="V_VTV" type="date" borderless :readonly="!puedeEditar"
                class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese el vencimiento del VTV">

              </q-input>
            </div>

            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm wxl-100">Vencimiento del
                seguro</p>
            </div>

            <div class="col-12 col-sm-6 wxl-100 ">
              <q-input v-model="V_seguro" type="date" borderless :readonly="!puedeEditar"
                class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese el Vencimiento del seguro">

              </q-input>
            </div>

            <div class="col-12 flex flex-center-sm q-pl-md q-mt-xl ">
              <p class="mb-0 font-xl w-100 bold text-center tags-xl">
                Adjuntar imagenes del vehículo</p>
            </div>
            <q-separator class="bg-azul-claro" style="heigth:3px !important">
            </q-separator>

            <div v-if="mostrarVTV"
              class="col-12  flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm tags-xl">VTV</p>
            </div>

            <imagen-input v-if="mostrarVTV"  default-src="img/truck.png"
              @input.native="onImgInput" @fotoImg="onImgFoto" name="img_vtv_tractor" v-model="img_vtv_tractor" :readonly="!puedeEditar"
            />

<!--
            <div v-if="agregandoSemi"
              class="col-12  flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm ">VTV Semi</p>
            </div>
            <imagen-input v-if="agregandoSemi" :src="imagenes.img_vtv_semi" default-src="img/logo-azul.jpeg"
              @input.native="onImgInput" name="img_vtv_semi" v-model="img_vtv_semi" :readonly="!puedeEditar"
            />
 -->
            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm tags-xl">Registro</p>
            </div>
            <imagen-input :src="imagenes.img_registro" default-src="img/truck.png" :readonly="!puedeEditar"
              @input.native="onImgInput" @fotoImg="onImgFoto" name="img_registro" v-model="imagenes.img_registro"/>

            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm tags-xl">Seguro</p>
            </div>
            <imagen-input :src="imagenes.img_seguro" default-src="img/truck.png" :readonly="!puedeEditar"
              @input.native="onImgInput" @fotoImg="onImgFoto" name="img_seguro" v-model="img_seguro"/>

            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm tags-xl">Clausula de no
                repetición</p>
            </div>
            <imagen-input :src="imagenes.img_clausula" default-src="img/truck.png" :readonly="!puedeEditar"
              @input.native="onImgInput" @fotoImg="onImgFoto" name="img_clausula" v-model="img_clausula"/>


            <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
              <p class="mb-0 font-xl w-50-sm tags-xl">ART</p>
            </div>
            <imagen-input :src="imagenes.img_art" default-src="img/truck.png" :readonly="!puedeEditar"
              @input.native="onImgInput" @fotoImg="onImgFoto" name="img_art" v-model="img_clausula"/>


            <div v-if="ver" class="col-12 flex flex-center ">
              <div class=" text-center q-mt-md q-mr-sm ">
                <q-btn @click="confirm = true"
                  class="cl_standar rounded-5 q-pl-md q-pr-md ">
                  Eliminar</q-btn>
              </div>

              <div v-if="puedeReenviar" class=" text-center q-mt-md q-ml-sm ">
                <q-btn @click="clickReenviar" :disabled="disableButton"
                  class="cl_standar rounded-5 q-pl-md q-pr-md ">
                  Volver a enviar</q-btn>
              </div>

            </div>


            <div v-if="agendar" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="agregarVehiculo" :disabled="disableButton"
                  class="cl_standar rounded-5 q-pl-md q-pr-md ">
                  Agregar</q-btn>
              </div>
            </div>

            <!-- <div v-if="ver" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="Nuevo = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Seleccionar vehículo</q-btn>
              </div>
            </div> -->

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>



    <q-dialog full-width v-model="confirm" ref="confirmDialog">
      <q-card class="rounded-1  ">
        <q-card-section class="p-0 rounded-1 ">
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div  class="col-8 text-center ">
              <p class="mb-0 font-xl  ">¿Eliminar vehículo?</p>
            </div>

            <div class="col-2">
              <q-btn class="font-xl" label=" " flat disabled>
              </q-btn>
            </div>

          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="row w-100 flex flex-center ">
            <div  class="col-12 flex flex-center ">
              <div class=" text-center q-mt-md q-mr-sm ">
                <q-btn @click="confirm = false"
                  class="cl_standar rounded-5 q-pl-md q-pr-md ">
                  Cancelar</q-btn>
              </div>

              <div class=" text-center q-mt-md q-ml-sm ">
                <q-btn @click="clickEliminar" :disabled="disableButton"
                  class="cl_standar rounded-5 q-pl-md q-pr-md ">
                  Eliminar</q-btn>
              </div>
            </div>
          </div>
        </q-card-section>

      </q-card>
    </q-dialog>




  </div>
</template>
<script>
import dayjs from 'dayjs'

import TarjetaVehiculo from '../components/TarjetaVehiculo'
import ImagenInput from '../components/ImagenInput'

import comprimirImagen from '../lib/comprimirImagen'
import procesarImagen from '../lib/procesarImagen'

import BtnWhatsapp from '../components/BtnWhatsapp'
import CampanaNotificacion from '../components/CampanaNotificacion'

export default {

components: { TarjetaVehiculo, ImagenInput, BtnWhatsapp, CampanaNotificacion },

data () {
  return {
    IMG_QUALITY: 50,//%
    patente: '',
    patente2: '',
    V_seguro: '',
    V_VTV: '',
    V_registro: '',
    VTV_tractor : null,
    VTV_semi: null,

    img_vtv_tractor: null,
    img_vtv_semi: null,
    img_registro: null,
    img_seguro: null,
    img_clausula: null,
    img_art: null,

    vehiculos: [],
    aprobacion: null,

    ver_id: null,

    confirm: false,
    tipo_vehiculo: null,
    tipo_vehiculos: [],
    ver : false,
    agendar : false,
    turno: false,
    Nuevo: false,
    predios: false,
    imagenes: {},
    disableButton: null,
  }
},

created() {
  if (window.socketCo) {
    window.socketCo.disconnect();
  }
  this.cargarVehiculos();
  this.cargarTipoVehiculos();
},

watch: {

},

computed: {
  mostrarVTV() { return this.tipo_vehiculo && this.tipo_vehiculo.vtv },
  // agregandoTractor() { return this.tipo_vehiculo === 'Tractor' },
  // agregandoSemi() { return this.tipo_vehiculo === 'Semi' },
  puedeEditar() { return this.aprobacion === '-1' || !this.ver_id },
  puedeReenviar() { return this.aprobacion === '-1' },

},

methods: {
  cargarVehiculos() {
    const id_chofer = this.$store.getters['auth/id'];
    this.$api.get('/vehiculo/por-chofer/'+id_chofer)
      .then(r => {
        this.vehiculos = r.data || [];
      })
      .catch(console.log);
  },
  cargarTipoVehiculos() {
    this.$api.get('/tipo_vehiculo')
      .then(r => { this.tipo_vehiculos = r.data })
  },

  async onImgInput(evt) {
    const name = evt?.target?.name;
    const file = evt?.target?.files[0];
    // const bytes = file?.size;
    const img = new Image();
    img.src = await procesarImagen(evt);
    this.$set(this.imagenes, name, comprimirImagen(img, this.IMG_QUALITY, 1000));
  },

  onImgFoto(name){
    //console.log(name,'entre');
    navigator.camera.getPicture(
      data => { // on success
        let img = new Image()
        img.src = `data:image/jpeg;base64, ${data}`
        //this.$set(this.imagenes, name, comprimirImagen(img, this.IMG_QUALITY, 1000));
        let self = this
        img.onload = function() {
          self.$set(self.imagenes, name, comprimirImagen(img, this.IMG_QUALITY, 1000));
        }
      },
      () => { // on fail
        this.$q.notify('Error a acceder a la camara del dispositivo');
      },
      {
        // camera options
        quality: 50,
        destinationType: navigator.camera.DestinationType.DATA_URL,
        encodingType: navigator.camera.EncodingType.JPEG,
        MEDIATYPE: navigator.camera.MediaType.PICTURE,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        mediaType: navigator.camera.MediaType.PICTURE,
        cameraDirection: navigator.camera.Direction.BACK
      }
    )
  },

  formatDatetime(datetime) {
    if (!datetime) return '';
    return dayjs(datetime).format('YYYY-MM-DD');
  },

  clickReenviar() {
    this.agregarVehiculo(this.ver_id);
  },

  clickEliminar() {
    this.disableButton = true;
    this.$api.delete('vehiculo/' + this.ver_id)
      .then(r => {
        this.Nuevo = this.confirm = false;
        this.$q.notify('Vehículo eliminado');
        this.disableButton = false;
        this.cargarVehiculos();
      })
      .catch(err => {
        console.log(err);
        this.disableButton = false;
        this.$q.notify('Ocurrió un error, intente de nuevo');
      });

    this.Nuevo = false
  },

  clickVerVehiculo(id) {
    const veh = this.vehiculos.find(veh => veh.id == id) || {};
    this.fillData(veh);
    this.Nuevo = true;
    this.ver = true;
    this.agendar = false;
  },
  fillData(data={}) {
    this.tipo_vehiculo = data.tipo;
    this.V_VTV = this.formatDatetime(data.vencimiento_vtv);
    this.V_registro = this.formatDatetime(data.vencimiento_registro || data.vencimiento);
    this.V_seguro = this.formatDatetime(data.vencimiento_seguro);
    this.aprobacion = data.aprobacion;
    this.ver_id = data.id;
    this.patente = data.patente;
    this.patente2 = data.patente2;
    this.imagenes = {
      img_registro: data.img,
      img_seguro: data.img_seguro,
      img_clausula: data.img_clausula,
      img_art: data.img_art,
      img_vtv_tractor: data.img_vtv,
      img_vtv_semi: data.img_vtv,
    };
  },

  atras(){
    this.$router.go(-1)
  },

  login(){
    this.$router.push('/Login')
  },

  notificaciones(){
    this.$router.push('/Notificaciones')
  },

  agregarVehiculo(id_reenvio) {
    id_reenvio = parseInt(id_reenvio, 10);
    let err = false;

    if (!this.tipo_vehiculo)
      err = 'Seleccione el tipo de vehículo';
    else if (!this.patente)
      err = 'Ingrese la patente';
    else if (this.tipo_vehiculo.dpatente && !this.patente2)
      err = 'Ingrese la segunda patente';
    else if (!this.V_registro)
      err = 'Ingrese la fecha de vencimiento del registro';
    // else if (!this.V_VTV && (this.tipo_vehiculo == 'Tractor' || this.tipo_vehiculo == 'Semi'))
    else if (!this.V_VTV && this.tipo_vehiculo.vtv)
      err = 'Ingrese la fecha de vencimiento del VTV';
    else if (!this.V_seguro)
      err = 'Ingrese la fecha de vencimiento del seguro';

    // else if (!datos.vencimiento_seguro)
    //   err = 'Ingrese el vencimiento del seguro';

    // else if (!datos.vencimiento_vtv)
    //   err = 'Ingrese el vencimiento del VTV';
    /*
    else if (!(this.imagenes.img_vtv_tractor || this.imagenes.img_vtv_semi) && (this.tipo_vehiculo == 'Tractor' || this.tipo_vehiculo == 'Semi'))
      err = 'Ingrese la imagen del VTV';

    else if (!this.imagenes.img_registro)
      err = 'Ingrese la imagen del registro';

    else if (!this.imagenes.img_seguro)
      err = 'Ingrese la imagen del seguro';

    else if (!this.imagenes.img_clausula)
      err = 'Ingrese la imagen del cláusula';

    else if (!this.imagenes.img_art)
      err = 'Ingrese la imagen del ART';
    */


    if (err)
      return this.$q.notify(err);

    const data = {
      id_chofer: this.$store.getters['auth/id'],
      patente: this.patente,
      patente2: this.patente2,
      tipo: parseInt(this.tipo_vehiculo,10) ? this.tipo_vehiculo : this.tipo_vehiculo.id,
      vencimiento_registro: this.V_registro,
      vencimiento_vtv: this.V_VTV,
      vencimiento_seguro: this.V_seguro,
      img_vtv: this.imagenes.img_vtv_tractor || this.imagenes.img_vtv_semi,
      img_registro: this.imagenes.img_registro,
      img_seguro: this.imagenes.img_seguro,
      img_clausula: this.imagenes.img_clausula,
      img_art: this.imagenes.img_art,
    };

    const formData = new FormData();
    for (let [key,val] of Object.entries(data))
    {
      if (!val) continue;
      formData.set(key,val);
    }
    const ruta = id_reenvio ? ('/vehiculo/reenviar/'+id_reenvio) : '/vehiculo';
    const method = id_reenvio ? 'PUT' : 'POST';
    this.disableButton = true;
    this.$api({
      url: ruta,
      method: method,
      data: formData,
    })
    // this.$api[method](ruta, formData)
      .then(r => {
        this.$q.notify('Vehículo registrado');
        this.disableButton = false;
        this.cargarVehiculos();
        this.Nuevo = false;
      })
      .catch(err => {
        this.disableButton = false;
        if (err.response && err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      });

    // this.Nuevo = false;
  },

},




}</script>
