<template>
    <div class="relative">


            <div  v-if="roomChat" style="bottom:0;z-index:99" class="col-12 w-100 bg-gray q-pa-sm q-pb-md absolute row flex flex-center item-center flex flex-center mt-bottom-xl">
              <div class="col-10 wxl-50">

                 <q-input autogrow v-model="mensaje" borderless  class="input_grow flex item-center shadow-4 q-pl-md q-pr-md " placeholder="Mensaje">
              <template v-slot:append>
                <q-btn icon="send" v-if="mensaje.trim()!=''" :disabled="disabled" @click="__send()"  class="flex item-center" flat ></q-btn>
              </template>
              </q-input>

              </div>

              <div class="col-2 text-center ">
                <q-input @input.native="procesarImagen" ref="inputImg1" style="display:none;" type="file" accept="image/*" name="SHARE" />
                <q-btn icon="add" class="cl_standar relative " @click="opciones = !opciones, opciones_2 = true" round >
                  <div v-if="opciones_2" style="bottom:0;margin-bottom:100%" :class="opciones ? 'animate__backInUp' : 'animate__backOutDown' " class="absolute animate__animated animate__backInUp ">
                     <q-btn icon="image" class="cl_standar q-mb-md " round @click.native="$refs.inputImg1.$el.click()"/>
                      <q-btn icon="add_a_photo" class="cl_standar q-mb-md " round @click="captureImage()"/>
                  </div>
                </q-btn>
              </div>

            </div>

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

                 <div class="col-4 justify-start-xl flex flex-center q-mt-md q-pr-lg ">
              <q-btn @click="atras()" icon="keyboard_arrow_left" class="titulos q-pl-md text-white " flat ></q-btn>
            </div>

            <div @click="predios = !predios" class="col-4 q-mt-md text-white relative flex justify-center item-center">

                <p class="mb-0 font-xl elipsis-xs flex item-center flex-center  " >{{predio_sel.nombre}} <i class="titulos material-icons " >keyboard_arrow_down</i> </p>


               <div v-if="predios" style="margin-top:35%;z-index:99;top:0;width:200%" class="absolute rounded wxl-100 q-pa-sm bg-gray w-60 vh40 overflowx-scroll mt-top-xl " >

                   <p v-for="n in listapredios" :key="n.id_predio" class="q-pa-sm rounded-5 text-center bg-white text-black " @click="seleccionarpredio(n)">
                   <span v-if="!buscarPending(n.id_predio)">{{n.nombre}}</span>
                   <b v-else>{{n.nombre}}</b>
                   </p>

               </div>

            </div>

             <div class="col-4 flex  content-around relative ">
               <btn-whatsapp style="position:absolute;right:70px;bottom:25px" />
               <campana-notificacion style="position:absolute;right:20px;bottom:15px" class=" pointer circle-2 light" />
<!--
               <q-icon name="fab fa-whatsapp"  class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              <div @click="notificaciones()" class="relative">
                <div v-if="$store.getters['notificacion/pendientes']" class="bg-red badge text-white ">{{ $store.getters['notificacion/pendientes'] }}</div>
                 <q-icon name="notifications" class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              </div>
-->

            </div>

            </div>



        </div>

        <div id="scrollChat" style="margin-top:-30%" class=" bg-light-gray vh80 vh-chat-sm overflow-auto relative layout-top  rounded-top-home ">


            <div class="row">
                 <div class="col-12 w-100 flex flex-center q-mt-md ">

                <q-img src="img/truck.png" class="w-40 wxl-20" ></q-img>

                <p class="mb-0 w-100 titulos text-center " ></p>


                </div>

            </div>

            <div class="q-pa-md row justify-center q-pb-xl q-mb-xl">
                <div @click="mostrarMas()" class="mensajes_anteriores" v-if="anteriores && Mensajes.length > 0">
                  {{ texto }}
                </div>
                <div :class="!fila.hidden ? 'tocado':''" v-for="(fila, index) of Mensajes" :key="index" style="width: 100%;" @click="seleccionar(index)">

                <!-- OPTIONS -->
                <i v-if="fila.tipo_usuario == 'chofer' && fila.id_usuario == user.id" aria-hidden="true" role="img" @click="Borrar(index)" class="material-icons q-icon notranslate bt-delete" :class="fila.hidden ? 'hidden':''">delete</i>
                <!-- FIN OPTIONS -->

                <q-chat-message
                    v-if="fila.tipo_usuario == 'chofer' && fila.id_usuario == user.id && fila.tipo_msj == 1"
                    :name="fila.nombre"
                    avatar="img/user.png"
                    :text="[fila.mensaje]"
                    sent
                    text-sanitize
                    :stamp="fecha_chat(fila.fec_reg_mensaje)"
                    bg-color="white"
                    class="rounded-5"
                />
                <q-chat-message
                    v-if="fila.tipo_usuario == 'predio' && fila.tipo_msj == 1"
                    :name="fila.nombre"
                    avatar="img/user.png"
                    :text="[fila.mensaje]"
                    :stamp="fecha_chat(fila.fec_reg_mensaje)"
                    bg-color="blue-1"
                    text-sanitize
                />
                <!-- ObtenerImg -->
                <div class="content-chat-img" :class="fila.tipo_usuario == 'chofer' && fila.id_usuario == user.id ? 'right-img':'left-img'" v-if="fila.tipo_msj == 2">
                  <div class="row">
                   <div class="col-12 w-100">
                    <span class="left-img">{{ fila.nombre }}</span>
                   </div>
                   <div class="col-12 w-100 content-img-bottom">
                      <img v-if="fila.url_img" :src="fila.url_img" class="soft-border" @click="openImg(fila.mensaje)">

                      <q-btn :disabled="fila.button_toggle" v-else color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-download" @click="ObtenerImg(fila.mensaje, index)"></q-btn>

                      <div class="content-chat-text" v-if="!fila.url_img">
                        Archivo de imagen
                      </div>
                    </div>
                   <div class="col-12 w-100">
                    <span class="left-img color-hour">{{ fecha_chat(fila.fec_reg_mensaje) }}</span>
                   </div>
                  </div>
                </div>
                </div>
            </div>


        </div>

    </div>
</template>
<style>
.q-page-container{
  overflow: hidden;
}
.content-img-bottom {
  margin-bottom: 0.6rem;
  overflow-y: hidden;
  max-height: 120px;
}
.color-hour {
  color:#a3a3a3;
}
.content-chat-text {
    display: inline-block;
    position: relative;
    top: 0.7rem;
    font-size: 1.2rem;
    color: #2d2f48;
}
.left-img {
  float: left;
}
.right-img {
  float: right;
}
.content-chat-img {
    width: 80%;
    height: max-content;
    min-height: 72px;
    border: 1px solid #2d2f4833;
    border-radius: 2%;
    margin: 6px;
    text-align: center;
    padding: 0.5rem;
    background: #fff;
}
.content-chat-img img{
  max-width: 100%;
  max-height: auto;
}
.mensajes_anteriores{
  color: #2d2f48;
  background: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 1rem;
}
.bt-delete {
  position: absolute;
  font-size: 30px;
  color: #2d2f48;
  z-index: 1;
  background: #36305626;
  border-radius: 10%;
}
.tocado {
  background: #ddd;
}
</style>
<script>

import config from '../config'
import procesarImagenCargada from '../lib/procesarImagen'
import IO from 'socket.io-client';
import BtnWhatsapp from '../components/BtnWhatsapp'
import CampanaNotificacion from '../components/CampanaNotificacion'
import moment from "moment";
import momentz from "moment-timezone";
import TimeAgo from "javascript-time-ago";
const locale = require("javascript-time-ago/locale/es");
TimeAgo.addLocale(locale);
const timeAgo = new TimeAgo("es-ES");
window.timeAgo = timeAgo;
moment.locale("es");
var resolvedOptions = Intl.DateTimeFormat().resolvedOptions();
console.log('ZONA HORARIA: ', resolvedOptions.timeZone);
window.TIMEZONE = resolvedOptions.timeZone;
export default {

components: { BtnWhatsapp, CampanaNotificacion },

data () {
  return {
      opciones: false,
      opciones_2: false,
      listapredios: [],
      predio_sel: {
        nombre: "Seleccion predio"
      },
      predios: false,
      mensaje: '',
      audio: new Audio("song/audio.ogg"),
      user: {
        id: undefined
      },
      Mensajes: [],
      number_page: 1,
      items_por_pagina: 30,
      disabled: false,
      socket: undefined,
      anteriores: false,
      texto: "Mostrar mensajes anteriores...",
      roomChat: undefined,
      prediosPending: []
    }
},

async created() {
  this.listapredios = this.$store.getters['auth/datos'].predios;
  this.predio_sel = this.$store.getters['auth/predio'];
	this.user = {nombre: `${this.$store.getters['auth/datos'].nombre} ${this.$store.getters['auth/datos'].apellido}`, id: this.$store.getters['auth/datos'].id, tipo_usuario: "chofer"};
  await this.getRoom();
	this.conectarSo();
  this.obtenerMensajes();
  await this.actualizarVistos();
  this.CargarnoVistos();
},

watch: {

},

computed: {

},

methods: {
  buscarPending(predio) {
    for (let index = 0; index < this.prediosPending.length; index++) {
      const element = this.prediosPending[index];
      if (String(element.id) === String(predio)) {
        return true;
      }
    }
    return false;
  },
  CargarnoVistos() {
    this.$api({
      url: `/rooms/obtener/no-vistos/${this.$store.getters['auth/datos'].id}/chofer`,
      method: "GET",
      data: {},
    })
    .then(async res=>{
      this.prediosPending = res.data.otros;
    })
    .catch(err=>{

    });
  },
  openImg(name) {
    window.open(`${config.API_URL}rooms/file/${name}`, "_blank");
  },
  async ObtenerImg(name, index) {
    this.Mensajes[index].button_toggle = true;
    this.Mensajes[index].url_img = `${config.API_URL}rooms/file/${name}`;
    /* let base64, buffer, blob;
    base64 = await this.$api({
        url: `rooms/file/${name}`,
        method: "POST",
        data: {},
    })
    .catch(err => {
        console.log(err);
    });
    if (base64.data) {
        let extension = base64.data.split("data:")[1]; extension = extension.split(";")[0];
        // buffer = Uint8Array.from(atob(base64.data), c => c.charCodeAt(0));
        // blob = new Blob([buffer], { type: extension });
        this.Mensajes[index].url_img = base64.data;
    } */
  },
  captureImage () {
    navigator.camera.getPicture(
      data => { // on success
        let img = new Image()
        img.src = `data:image/jpeg;base64, ${data}`
        let self = this
        img.onload = function() {
          let datas = self.compress(img, 0.2)
          self.__sendImg(datas);
        }
      },
      () => { // on fail
        this.$q.notify('Error a acceder a la camara del dispositivo');
      },
      {
        // camera options
        quality: 50,
        destinationType: navigator.camera.DestinationType.DATA_URL,
        encodingType: navigator.camera.EncodingType.JPEG,
        MEDIATYPE: navigator.camera.MediaType.PICTURE,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        mediaType: navigator.camera.MediaType.PICTURE,
        cameraDirection: navigator.camera.Direction.BACK
      }
    )
  },
  async procesarImagen(evt){
    let data = await procesarImagenCargada(evt);
    if(!data.length){
      this.$q.notify('La imagen es muy grande!');
      return;
    }
    let img = new Image()
    img.src = data
    let self = this
    evt.target.value = "";
    img.onload = function() {
    let datas = self.compress(img, 0.2)
     self.__sendImg(datas);
    }
  },
  compress(img, size) {
    let canvas = document.createElement('canvas')
    let ctx = canvas.getContext('2d')
    let initSize = img.src.length
    let width = img.width
    let height = img.height
    canvas.width = width
    canvas.height = height
    ctx.fillStyle = '#fff'
    ctx.fillRect(0, 0, canvas.width, canvas.height)
    ctx.drawImage(img, 0, 0, width, height)
    let ndata = canvas.toDataURL('image/jpeg', size)
    return ndata
  },
  fecha_chat(fecha) {
      let f = "";
      if (fecha) {
          let Fser = this.ConverTimezone(fecha, true);
          if (Fser > moment(new Date()).format("YYYY-MM-DD HH:mm:ss")) {
            f = moment(this.ConverTimezone(fecha, true)).format("hh:mm a");
          } else {
            f = timeAgo.format(new Date(Fser));
          }
      }
      return f;
  },
  ConverTimezone(f, op) {
    let f1 = "";
    if (op && f) {
        // f1 = new Date(f + " -0500");
        f1 = new Date(f);
        f1 = momentz.tz(f1, `${TIMEZONE}`).format("YYYY-MM-DD HH:mm:ss");
        return f1;
    } else {
        return new Date();
    }
  },
  async getRoom() {

    await this.$api({
        url: `/rooms/get-room/${this.user.id}/${this.predio_sel.id_predio}`,
        method: "GET",
        data: {},
      })
			.then(async res =>{
				 this.roomChat = res.data.room;
			})
			.catch(err=>{

			});
  },
  seleccionar(index) {
    return false;
    if (this.Mensajes[index].tipo_usuario == 'chofer' && this.Mensajes[index].id_usuario == this.user.id) {
      this.Mensajes[index].hidden = !this.Mensajes[index].hidden;
    }
  },
  resetChat() {
    this.Mensajes = [];
    this.number_page = 1;
    this.items_por_pagina = 30,
    this.disabled = false;
    this.anteriores = false;
  },
  async seleccionarpredio(datos) {
    this.$store.dispatch('auth/_actualizar_predio', datos)
      .then(async () => {
        this.resetChat();
        this.predio_sel = datos;
        await this.getRoom();
	      this.conectarSo();
        this.obtenerMensajes();
        await this.actualizarVistos();
        this.CargarnoVistos();
      });
  },
  atras(){
    this.$router.go(-1)
  },

  notificaciones(){
    this.$router.push('/Notificaciones')
  },
  Aggmsj(data, op) {
    let push = true;
    for (let index = 0; index < this.Mensajes.length; index++) {
      const element = this.Mensajes[index];
      if (element.id == data.id) {
        push = false;
        break;
      }
    }
    if (push) {
      if (op) {
  			this.Mensajes.unshift(data);
      } else {
        if (data.tipo_usuario != "chofer") {
          this.audio.play();
        }
  			this.Mensajes.push(data);
        setTimeout(() => {
          let boxContentChat = document.querySelector(`#scrollChat`);
          if (boxContentChat) {
            boxContentChat.scrollTop = boxContentChat.scrollHeight;
          }
        }, 200);
      }
    }
  },
  mostrarMas() {
    this.texto = "Cargando...";
    this.obtenerMensajes();
  },
  async actualizarVistos() {
    	await this.$api({
        url: `/rooms/marcar-vistos/${this.user.id}/chofer/${this.roomChat}`,
        method: "PUT",
        data: {},
      })
			.then(async res=>{

			})
			.catch(err=>{

			});
  },
  obtenerMensajes() {
    this.$api({
      url: `/rooms/${this.number_page}/${this.items_por_pagina}/${this.roomChat}`,
      method: "GET",
      data: {},
    })
    .then(trae => {
      this.anteriores = false;
      for (let i = 0; i < trae.data.data.length; i++) {
	      this.Aggmsj(trae.data.data[i], true);
	    }
      if (this.number_page == 1) {
        setTimeout(() => {
            let boxContentChat = document.querySelector(`#scrollChat`);
            if (boxContentChat) {
              boxContentChat.scrollTop = boxContentChat.scrollHeight;
            }
        }, 300);
      }
      if (trae.data.totalPages > 1) {
        this.anteriores = true;
        this.texto = "Mostrar mensajes anteriores...";
        if (trae.data.totalPages == this.number_page) {
          this.anteriores = false;
        }
        this.number_page = (this.number_page + 1);
      }
    })
    .catch(err=>{

    });
  },
  BorrarAll() {
    this.resetChat();
  },
  BorrarMes(id){
    for (let index = 0; index < this.Mensajes.length; index++) {
      const element = this.Mensajes[index];
      if (String(element.id) == String(id)) {
        this.Mensajes[index].hidden = false;
        let vm = this;
        setTimeout(() => {
          delete vm.Mensajes[index];
          vm.Mensajes.splice(index, 1);
        }, 300);
        break;
      }
    }
  },
  Borrar(index) {
    let id = this.Mensajes[index].id;
    this.Mensajes[index].hidden = false;
    let vm = this;
    setTimeout(() => {
      delete vm.Mensajes[index];
      vm.Mensajes.splice(index, 1);
    }, 300);


			this.$api({
        url: `/rooms/delete/${id}/${this.roomChat}`,
        method: "DELETE",
        data: {},
      })
			.then(async res=>{

			})
			.catch(err=>{

			});
  },
  __sendImg(img){
			let data = {
				 id_room: this.roomChat,
         id_usuario: this.user.id,
         tipo_usuario: "chofer",
         mensaje: img,
         fec_reg_mensaje: moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
      }
			this.$api({
        url: `/rooms/add-img`,
        method: "POST",
        data: data,
      })
			.then(async res=>{
				if (res.data.id) {
					this.Aggmsj(res.data);
				}
			})
			.catch(err=>{
				console.log(err)
			});
	},
  __send(){
			let data = {
				 id_room: this.roomChat,
         id_usuario: this.user.id,
         tipo_usuario: "chofer",
         mensaje: this.mensaje,
         fec_reg_mensaje: moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
      }
			this.disabled = true;
			this.mensaje = "";
			this.$api({
        url: `/rooms/add`,
        method: "POST",
        data: data,
      })
			.then(async res=>{
				this.disabled = false;
				if (res.data.id) {
					this.Aggmsj(res.data);
				}
			})
			.catch(err=>{
				this.disabled = false;
				console.log(err)
			});
	},
  conectarSo(){
			if (this.$store.getters['auth/datos']) {

				let vm = this;
        if (!window.socketCo) {
          vm.socket = IO(this.$store.$api.defaults.baseURL);
          window.socketCo = vm.socket;
        } else {
          window.socketCo.disconnect();
	        window.socketCo.close();
          vm.socket = IO(this.$store.$api.defaults.baseURL);
          window.socketCo = vm.socket;
        }
          vm.socket.on('connect', function() {
            vm.user.roomChat = vm.roomChat;
            vm.socket.emit("conectar", vm.user);

            vm.socket.on('conectadosOnline', function(obj) {
                console.log(obj);
            });

            vm.socket.on(`recibir-mensaje-${vm.roomChat}`, function(obj) {
              vm.Aggmsj(obj);
            });
            vm.socket.on(`mensaje-eliminado-${vm.roomChat}`, function(id) {
              vm.BorrarMes(id);
            });
            vm.socket.on(`mensajes-eliminados-${vm.roomChat}`, function(obj) {
              vm.BorrarAll();
            });
          });
			}
		},
},
}
</script>
