<template>
    <div class="">

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

                 <div class="col-4 justify-start-xl flex flex-center q-mt-md q-pr-lg ">
              <q-btn @click="atras()" icon="keyboard_arrow_left" class="titulos q-pl-md text-white " flat ></q-btn>
            </div>

            <div @click="predios = !predios" class="col-4 q-mt-md text-white relative flex justify-center item-center">

                <p class="mb-0 font-xl  elipsis-xs flex item-center flex-center  " >{{predio_sel.nombre}} <i class="titulos material-icons " >keyboard_arrow_down</i> </p>


               <div v-if="predios" style="margin-top:20%;z-index:99;top:0;width:200%" class="absolute rounded q-pa-sm bg-gray vh40 mt-10-sm wxl-100 overflowx-scroll " >

                   <p v-for="n in listapredios" :key="n.id_predio" class="q-pa-sm rounded-5 text-center bg-white text-black " @click="seleccionarpredio(n)">{{n.nombre}}</p>

               </div>

            </div>

              <div class="col-4 flex  content-around relative ">
              <btn-whatsapp style="position:absolute;right:70px;bottom:25px" />
              <campana-notificacion  style="position:absolute;right:20px;bottom:15px" class=" pointer circle-2 light" />
<!--
               <q-icon name="fab fa-whatsapp"  class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              <div @click="notificaciones()" class="relative">
                <div v-if="$store.getters['notificacion/pendientes']" class="bg-red badge text-white ">{{ $store.getters['notificacion/pendientes'] }}</div>
                 <q-icon name="notifications" class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              </div>
 -->

            </div>

            </div>



        </div>

        <div style="margin-top:-30%" class=" bg-light-gray relative vh80 vh-chat-sm overflow-auto layout-top rounded-top-home ">

            <div class="row flex  ">

              <div class="col-12 w-100 flex justify-center q-mt-md ">

                  <q-img src="img/truck.png" class="w-40 wxl-20" ></q-img>

              </div>

              <div class="col-12 q-mt-lg flex flex-center ">
                  <p class="font-xl" >Historial</p>
              </div>
            </div>
            <q-infinite-scroll v-if="!mostrar" class="q-pb-lg" @load="onLoad" :offset="200" style="margin:auto;" ref="ScrollInfinito">
              <div class="row flex content-around ">
              <div v-for="p in turnos" :key="p.id" class="col-6 col-sm-4 wxl-20 q-mt-lg q-mb-sm relative flex flex-center  ">

                  <!-- <p style="position:absolute;top:-15px;" class="bg-red rounded-5 text-white q-pa-xs " >No presentado</p> -->

                 <div class="bg-white rounded-top-5 w-80 q-pb-sm text-center  ">

                     <p class="mb-0 bold q-pt-md " >{{p.predio}}</p>

                     <p class="mb-0" >{{p.fecha_turno}}</p>

                     <p class="mb-0" >{{p.hora_turno}}</p>

                     <p class="mb-0 bold"><q-icon name="fas fa-truck" class="font-xl text-azul-claro q-mb-sm " style="margin-right: 5px;"></q-icon> {{(p.vehiculo && p.vehiculo.patente) || 'N/A'}}</p>

                    <p class="mb-0 text-red bold" v-if="p.estatus=='3'">Vencido</p>
                    <p class="mb-0 text-red bold" v-if="p.estatus=='-1'">Cancelado</p>
                    <p class="mb-0 text-green bold" v-if="p.estatus=='1'">Aprobado</p>
                    <p class="mb-0 text-green bold" v-if="p.estatus=='2'">Ingresado</p>
                    <p class="mb-0 text-red bold" v-if="p.estatus=='-2'">Cancelado por predio</p>
                 </div>

                 <div class="bg-yellow vh5 rounded-bottom-5 w-80 flex flex-center relative ">

                     <q-btn style="position:absolute;bottom:-5px;" @click="modal_ver_turno(p)" class="bg-azul-claro text-white " icon="visibility" round  ></q-btn>

                 </div>

              </div>
              </div>
              <template v-slot:loading v-if="turnos.length>0">
                <div class="row justify-center q-my-md text-center">
                  <q-spinner-dots color="primary" size="40px" />
                </div>
              </template>
            </q-infinite-scroll>



        </div>

    <!-- ver turno -->
    <q-dialog  v-model="turno">
      <q-card class="rounded-1 w-100 wxl-30 " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Turno</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl  " label="X" @click="turno = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="row w-100 ">
              <div class=" col-12 flex flex-center q-mt-sm" >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100" >Nombre del chofer</p>
              </div>

              <div class="col-12 col-sm-6 flex flex-center wxl-100">

                <q-input v-model="Nombre" type="text" readonly borderless  class=" w-100 input_txt q-pr-sm "/>

              </div>
          </div>
          <div class="row w-100 " v-for="d in detalles_predio" :key="d.id">
              <div class=" col-12 flex flex-center q-mt-sm" >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">{{d.titulo}}</p>
              </div>

              <div class="col-12 col-sm-6 flex flex-center wxl-100">

                <q-input v-model="d.respuesta" type="text" readonly borderless  class=" w-100 input_txt q-pr-sm "/>

              </div>
            </div>
          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Vehículo</p>
            </div>

            <div class="col-12 flex flex-center ">
              <q-input v-model="vehiculo" type="text" readonly borderless  class=" w-100 input_txt q-pr-sm "/>
            </div>

            <!-- <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Tipo de operación</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" readonly  placeholder="Ingrese el tipo de operación" v-model="operacion" borderless  class=" w-100 input_txt"/>

            </div>-->

              <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Fecha</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-select v-model="fecha" :options="fechas"  readonly borderless  class=" w-100 input_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Hora</p>
            </div>

            <div class="col-12 flex flex-center ">

              <q-select v-model="hora" :options="horas" readonly  borderless  class=" w-100 input_txt shadow-4 q-pr-sm "/>

            </div>

            <!--<div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Transporte</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" placeholder="Ingrese Transporte" readonly v-model="transporte" borderless  class=" w-100 shadow-4 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Reservado por</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" readonly placeholder="Ingrese la razón de reservado" v-model="reservacion" borderless  class=" w-100 shadow-4 input_txt"/>

            </div>-->

            <div class="col-12">


              <!-- <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="turno = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Cancelar turno</q-btn>
              </div> -->
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>


    </div>
</template>

<script>
import BtnWhatsapp from '../components/BtnWhatsapp'
import CampanaNotificacion from '../components/CampanaNotificacion'
const moment = require('moment');
export default {

components: { BtnWhatsapp, CampanaNotificacion },

data () {
  return {
      Nombre: '',
      operacion: '',
      transporte: '',
      reservacion: '',
       model: 'Seleccione la patente a usar',
      options: [
        '123abcx', '456dfgz'
      ],
       fecha: 'Seleccione la fecha',
      fechas: [
        '17/03/2020', '12/04/2021'
      ],
       hora: 'Seleccione la hora',
      horas: [
        '08:00 AM', '08:00 PM'
      ],
      turno: false,
      Nuevo: false,
     predios: false,
     listapredios: [],
     predio_sel: {},
     turnos: [],
     detalles_predio:[],
     vehiculo: '',
     mostrar: false,
     cargo: false,
  }
},

created() {
  if (window.socketCo) {
    window.socketCo.disconnect();
  }
  this.listapredios = this.$store.getters['auth/datos'].predios;
  this.predio_sel = this.$store.getters['auth/predio'];
  //this.cargarTurnos();
},

watch: {

},

computed: {

},

methods: {
  seleccionarpredio(datos) {
    this.$store.dispatch('auth/_actualizar_predio', datos)
      .then(() => {
        this.predio_sel=datos
        this.cargarTurnos();
      });
  },
  onLoad (index, done) {
    this.mostrar = false
    const params = {
      page: index-1
    };
    const id_chofer = this.$store.getters['auth/id'];
    this.$api
      .get('/predio/turnos-historial/?id_chofer='+id_chofer+'&id_predio='+this.predio_sel.id_predio, {params})
          .then((r) => {
            //console.log(r);
            const datos = r.data.results || r.data || [];
            this.cargo = true;
            if (index != 1){
              this.turnos = this.turnos.concat(datos);
            }
            else {
              this.turnos = datos || [];
            }

            done(!datos.length);
        });
  },
  cargarTurnos() {
    this.cargo = false;
    this.$refs.ScrollInfinito.stop();
    this.$refs.ScrollInfinito.reset();
    this.turnos = [];
    this.$refs.ScrollInfinito.resume();
    this.$refs.ScrollInfinito.poll();
    /*const id_chofer = this.$store.getters['auth/id'];
    this.$api.get('/predio/turnos-historial/?id_chofer='+id_chofer+'&id_predio='+this.predio_sel.id_predio)
      .then(r => {
        //console.log(r)
        this.turnos = r.data || [];
      })
      .catch(console.log);*/
  },
  modal_ver_turno(datos){
    this.detalles_predio = datos.detalles;
    if(datos.vehiculo)
      this.vehiculo = datos.vehiculo.patente;
    else
      this.vehiculo = 'N/A';
    this.fecha = moment(datos.fecha_comp_turno).format('YYYY-MM-DD');
    this.hora = moment(datos.fecha_comp_turno).format('HH:mm');
    this.Nombre = datos.nombre_chofer;
    this.turno = true;
  },
  atras(){
   this.$router.go(-1)
 },

login(){
   this.$router.push('/Login')
 },

 notificaciones(){
    this.$router.push('/Notificaciones')
  },

},




}</script>
