<template>
    <div class="">

        <div class=" color-layout vh30 q-pb-xl ">

            <div class="row">

            <div class="col-8 flex flex-center q-mt-md q-pr-lg relative row">

              <div style="position:absolute;left:20px;bottom:0px" class="col-12 row item-center ">


                <q-icon name="gps_off" class="text-white font-xl" ></q-icon>


                 <q-toggle @input="activar_switch()" color="white" v-model="toggle" ></q-toggle>



                <q-icon name="my_location" class="text-white font-xl" ></q-icon>


              </div>


            </div>


            <div class="col-4 flex  content-around relative ">

              <btn-whatsapp style="position:absolute;right:70px;bottom:-30px" />
              <campana-notificacion style="position:absolute;right:20px;bottom:-40px" class=" pointer circle-2 light" />

<!--
               <q-icon name="fab fa-whatsapp" @click="abrirSoporte()" class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              <div @click="notificaciones()" class="relative q-mt-sm">
                <div v-if="$store.getters['notificacion/numero']" class="bg-red badge text-white ">{{ $store.getters['notificacion/numero'] }}</div>
                 <q-icon name="notifications" class="text-white p-0 q-mt-md titulos q-pa-md " ></q-icon>
              </div>
 -->

            </div>

            </div>



        </div>

        <div style="margin-top:-20vh" class=" bg-light-gray relative vh90 vh-chat-sm overflow-auto   rounded-top-home ">
          <q-btn class="cl_standar" icon="fas fa-cloud-download-alt" round size="lg" @click="modal_turno_i" style="position:fixed;bottom:23vh;right:20px;z-index:99" ></q-btn>

        <q-btn class="cl_standar" icon="add" round size="lg" @click="modal_turno_0" style="position:fixed;bottom:12vh;right:20px;z-index:99" ></q-btn>

        <!--<q-btn @click="vermapa" icon="pin_drop" size="lg" color="yellow" class="clr-layout rounded-5  " style="position:fixed;bottom:13vh;right:20px;z-index:99" round ></q-btn>-->

            <div class="row flex  q-pb-lg ">

            <div class="col-12 w-100 flex justify-center q-mt-md ">

                <q-img src="img/truck.png" class="w-40 wxl-20" ></q-img>

            </div>

            <div class="col-12 q-mt-lg flex flex-center ">
                <p class="font-xl text-weight-thin " >Próximos turnos</p>
            </div>

            <div v-for="p in turnos" :key="p.id" class="col-6 col-sm-4 wxl-20 q-mt-md flex flex-center  ">

               <div class="bg-white rounded-top-5 w-80 q-pb-sm text-center  ">

                   <p class="mb-0 bold q-pt-md " >{{p.predio}}</p>

                   <p class="mb-0" >{{p.fecha_turno}}</p>

                   <p class="mb-0" >{{p.hora_turno}}</p>

                   <p class="mb-0 bold"><q-icon name="fas fa-truck" class="font-xl text-azul-claro q-mb-sm " style="margin-right: 5px;"></q-icon> {{(p.vehiculo && p.vehiculo.patente) || 'N/A'}}</p>
               </div>

               <div class="bg-yellow vh5 rounded-bottom-5 w-80 flex flex-center relative ">

                   <q-btn style="position:absolute;bottom:-5px;" @click="modal_ver_turno(p)" class="bg-azul-claro text-white " icon="visibility" round  ></q-btn>

               </div>

            </div>

            </div>


        </div>

       <!-- modal nuevo turno -->
        <q-dialog v-model="Nuevo">
      <q-card class="rounded-1 w-100 wxl-30 " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div v-if="ver" class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Turno</p>
            </div>

            <div v-if="agendar" class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Agendar nuevo turno</p>
            </div>

            <div class="col-2 justify-end flex">
               <q-btn class="font-xl  " label="X" @click="Nuevo = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="">
              <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">Predio</p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center ">

            <q-select v-if="!ver" v-model="predio_t" :options="listapredios" :readonly="ver"  borderless  class=" w-100 input_txt q-pr-sm " option-value="id_predio" option-label="nombre" @input="modal_turno()"/>
            <q-input v-if="ver" type="text" readonly borderless class=" w-100 input_txt q-pr-sm " v-model="txt_ver_predio"/>
            </div>

          </div>

          <div v-if="parte2" class="">

             <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">Nombre del chofer</p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center ">

            <q-input v-model="Nombre" type="text" borderless  class=" w-100 input_txt q-pr-sm "/>

            </div>

            <div class="row w-100 flex flex-center" v-for="(d, index) in detalles_predio" :key="d.id">



              <div v-if="d.tipo=='Texto' || !d.tipo" class=" col-12 flex flex-center q-mt-lg" >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm capitalize wxl-100"  style="">{{d.titulo}}</p>
              </div>

              <div v-if="d.tipo=='Texto' || (!d.tipo && !d.esimagen)" class="col-12 col-sm-6 flex flex-center wxl-100 ">

                <q-input v-model="d.respuesta" type="text" borderless  class=" w-100 input_txt q-pr-sm" :minlength="d.min" :maxlength="d.max"/>

              </div>

              <div v-if="!d.tipo && d.esimagen" class="col-12 col-sm-6 flex flex-center wxl-100">

                <q-img :src="d.respuesta || 'img/truck.png'" class="soft-border" ></q-img>

              </div>



              <div v-if="d.tipo=='Select'" class=" col-12 flex flex-center q-mt-lg " >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm capitalize wxl-100"  style="">{{d.titulo}}</p>
              </div>

              <div v-if="d.tipo=='Select'" class="col-12 col-sm-6 flex flex-center  wxl-100">

                <q-select v-model="d.respuesta" :options="cargaropciones(d.opciones)" borderless  class=" w-100 input_txt q-pr-sm " @input="essegmenta(d)"/>

              </div>

              <div v-if="d.tipo=='Fecha'" class=" col-12 flex flex-center q-mt-lg " >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm capitalize wxl-100"  style="">{{d.titulo}}</p>
              </div>

              <div v-if="d.tipo=='Fecha'" class="col-12 col-sm-6 flex flex-center wxl-100">

              <q-input v-model="d.respuesta" type="date" borderless  class=" w-100 input_txt q-pr-sm "/>

              </div>

              <!--<div @click="recuperar = true" class=" col-12 flex flex-center q-mt-lg" >
                 <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm q-mb-sm "  style="">Titulo de la imagen</p>
              </div>-->
              <div v-if="d.tipo=='Imagen'" class=" col-12 flex flex-center q-mt-lg" >
                <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm capitalize wxl-100 "  style="">{{d.titulo}}</p>
              </div>
              <div v-if="d.tipo=='Imagen'" class="col-12 col-sm-6 flex flex-center q-mt-md wxl-100">

                  <q-img :src="d.respuesta || 'img/truck.png'" class="soft-border" ></q-img>
                  <q-input @input.native="procesarImagen" :ref="'img'+d.id" style="display:none;" type="file" accept="image/*" :name="'i_img'+index"  />
                  <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" @click="$refs['img'+d.id][0].$el.click()"></q-btn>
                  <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage(index)"></q-btn>
              </div>
            </div>
          <div class="row w-100 flex flex-center ">



            <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">Vehículo</p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center wxl-100">

            <q-select v-model="vehiculo" :options="vehiculos"  borderless  class=" w-100 input_txt q-pr-sm " option-value="id" option-label="patente" emit-value map-options/>

            </div>

            <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">Fecha</p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center wxl-100">

            <q-input v-model="fecha" :min="fechaactual" :max="fechamaxima" type="date"  borderless  class=" w-100 input_txt q-pr-sm " @input="buscarsegmenta"/>

            </div>

            <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">
                Hora<span v-if="zona_horaria_predio">&nbsp;({{ zona_horaria_predio.split('/').slice(-2).join('/') }})</span>
              </p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center wxl-100">

              <q-input v-model="hora_local" v-if="!segmenta && ver_hora" type="time" borderless  class=" w-100 input_txt q-pr-sm "/>
              <q-select v-model="hora_local" v-if="segmenta && ver_hora" :options="tiempos_seg"  borderless  class=" w-100 input_txt q-pr-sm " option-value="valor" option-label="txt" />
              <q-input v-if="!ver_hora" type="text" disable borderless class=" w-100 input_txt q-pr-sm " v-model="txt_ver_hora"/>
            </div>

            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>

            <div v-if="agendar" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="guardarturno" :disable="disableButton" class="cl_standar rounded-5 q-pl-md q-pr-md ">Solicitar</q-btn>
              </div>
            </div>

             <!-- <div v-if="ver" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="vermapa" icon="pin_drop" color="yellow" class="clr-layout rounded-5  " round ></q-btn>
              </div>
            </div> -->

            <div v-if="ver" class="col-12">
              <div class="w-100 text-center q-mt-md  row">

                <div class="col-12 flex flex-center " >
                    <q-btn @click="actualizarturno" class="cl_standar rounded-5 q-pl-md q-pr-md q-mb-sm ">Actualizar turno</q-btn>
                </div>

                <div class="col-12 flex flex flex-center">
                     <q-btn @click="cancelarturno" class="text-white bg-red rounded-5 q-pl-md q-pr-md ">Cancelar turno</q-btn>
                     <q-btn @click="vermapa" icon="pin_drop" size="lg" color="yellow" class="clr-layout rounded-5  " style="margin-left:15px;" round ></q-btn>
                </div>


              </div>

            </div>

          </div>

          </div>



        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Modal importar y exportar -->

    <q-dialog v-model="importar">
      <q-card class="rounded-1 w-100 wxl-30 " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>


            <div class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Formato</p>
            </div>

            <div class="col-2 justify-end flex">
               <q-btn class="font-xl  " label="X" @click="importar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row">
              <div class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm w-50-sm wxl-100"  style="">Predio</p>
            </div>

            <div class="col-12 col-sm-6 flex flex-center ">

            <q-select v-model="predio_t" :options="listapredios"  borderless  class=" w-100 input_txt q-pr-sm " option-value="id_predio" option-label="nombre" @input="modal_turno_imp_exp()"/>

            </div>
            <!--accept=".xlsx"-->
            <div class="col-6 flex flex-center q-mt-md" v-if="btn_imp_exp">
              <q-input @input.native="procesarImportacion" ref="inputimportar"  type="file"  name="inputimportar" style="display:none;" />

              <q-btn class="cl_standar rounded-5" @click="$refs.inputimportar.$el.click()" icon="fas fa-download" label="Importar" ></q-btn>

            </div>

            <div class="col-6 flex flex-center q-mt-md" v-if="btn_imp_exp">
              <!--
              <q-btn href class="cl_standar rounded-5"  icon="fas fa-upload" label="Exportar" @click="generarexportar()" ></q-btn>-->
              <q-btn type="a" target="__blank" class="cl_standar rounded-5"  icon="fas fa-upload" label="Exportar" :href="urlprueba" ></q-btn>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Vista previa -->

    <q-dialog v-model="preview">
      <q-card class="rounded-1 w-100 wxl-30 " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>


            <div class="col-8 text-center ">
              <p class="mb-0 font-xl  " >Datos importados</p>
            </div>

            <div class="col-2 justify-end flex">
               <q-btn class="font-xl  " label="X" @click="preview = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row">

              <div v-for="(n, index) in respuestas_exp" :key="index" class="col-12 bg-gray q-pa-sm rounded-1 q-mt-md relative row">

                <div class="col-12 " v-for="(r, index) in preguntas_exp">
                   <p class="mb-0" > <b>{{r}}:</b>  {{n[index]}}</p>
                </div>

                <!--<div class="col-12 ">
                   <p class="mb-0" > <b>Edad:</b> 19</p>
                </div>

                <div class="col-12 border-top-black row">

                  <div class="col-6">
                  <p class="mb-0" > <b>Fecha:</b>  12/12/12</p>
                </div>

                <div class="col-6">
                  <p class="mb-0" > <b>Hora:</b>  06:00 pm</p>
                </div>

                </div>-->





                <div style="top:-10px;right:-10px" class="absolute">
                  <q-btn class="cl_standar" round size="sm" icon="delete" @click="quitarImpor(n)" ></q-btn>
                </div>
              </div>
              <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
                <q-linear-progress query color="grey" class="q-mt-sm" />
              </div>
              <div class="col-12 text-center q-mt-lg">
                <q-btn class="cl_standar rounded-5 " :disable="disableButton" size="md" icon="done" label="Guardar" @click="saveimportar()" ></q-btn>
              </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- ver turno -->
    <!-- <q-dialog full-width v-model="turno">
      <q-card class="rounded-1  " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row bg-azul-claro text-white flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl  " >turno</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl  " label="X" @click="turno = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Vehículo</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-select v-model="model" :options="options"  readonly borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Tipo de operación</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" readonly  placeholder="Ingrese el tipo de operación" v-model="operacion" borderless  class=" w-100 input2_txt"/>

            </div>

              <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Fecha</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-select v-model="fecha" :options="fechas"  readonly borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Hora</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-select v-model="hora" :options="horas" readonly  borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Transporte</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-select v-model="transporte" :options="transportes" readonly  borderless  class=" w-100 input2_txt q-pr-sm "/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Reservado por</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" readonly placeholder="Ingrese la razón de reservado" v-model="reservacion" borderless  class=" w-100 input2_txt"/>

            </div>

            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn @click="turno = false" class="cl_standar rounded-5 q-pl-md q-pr-md ">Cancelar turno</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog> -->

    <!-- modal ver mapa -->

     <q-dialog  v-model="mapa">
      <q-card class="w-50-sm w-100 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >


          <div class="col-10 flex flex-center ">
            <p class="mb-0 text-white font-xl q-pr-sm " >Mi ubicación  <q-img src="img/placeholder.png" height="20px" width="20px" ></q-img> </p>
            <p class="mb-0 text-white font-xl q-pl-sm " >Predio  <q-icon name="pin_drop" class="text-white titulos " ></q-icon> </p>
          </div>

          <div class="col-2 flex justify-end">
             <q-btn flat label="X" class="text-white" @click="mapa = false" ></q-btn>
          </div>

        </div>

        <q-card-section style="padding: 0px" class="q-pt-none relative flex flex-center rounded  ">

          <div class="row w-100 ">
            <google-map style="width:100%!important" :setcargarmarkermultiple="ubicacion_gps">
            </google-map>
          </div>

           <q-btn @click="clicknavegar" icon="fas fa-location-arrow" label="Iniciar navegación" size="md" color="yellow" class="clr-layout q-pl-sm q-pr-sm bold rounded-5  " style="position:absolute;bottom: 40px;left:10px;z-index:99" round ></q-btn>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- modal confirmar otro turno -->

    <q-dialog  v-model="confirmar_otro_turno" persistent>
      <q-card class="w-50-sm w-100 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Confirmar solicitar turno</p>
          </div>

          <div class="col-2">

          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

             <div class="col-12 text-center q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >Usted ya tiene un turno para este predio <br>¿Desea continuar?</p>
            </div>


           <div class="col-12 flex flex-center q-mt-lg text-center ">



              <q-btn class="cl_standar rounded-5 q-mr-sm q-pl-sm q-pr-sm" @click="confirmar_otro_turno = false; verificar_horario= true" label="No" ></q-btn>

                <q-btn class="bg-red text-white rounded-5 q-ml-sm q-pl-sm q-pr-sm " @click="continuarsolicitud" label="Si" ></q-btn>

            </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- modal salir -->

    <q-dialog  v-model="salir">
      <q-card class="w-50-sm w-100 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Salir</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="salir = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

             <div class="col-12 text-center q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >¿Está seguro que desea <br> cerrar sesión?</p>
            </div>


           <div class="col-12 flex flex-center q-mt-lg text-center ">

              <q-btn class="bg-red text-white rounded-5 q-mr-sm q-pl-sm q-pr-sm " @click="cerrar_sesion" label="Si" ></q-btn>

              <q-btn class="cl_standar rounded-5 q-ml-sm q-pl-sm q-pr-sm" @click="salir = false" label="No" ></q-btn>

            </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>


    </div>
</template>

<script>
import config from '../config'
import { LocalStorage } from 'quasar'
import BtnWhatsapp from '../components/BtnWhatsapp'
import CampanaNotificacion from '../components/CampanaNotificacion'
import procesarImagenCargada from '../lib/procesarImagen'
import GoogleMap from 'components/GoogleMap';
import { EventBus } from '../router/index';
import cordovaPlugins from "../plugins/cordovaPlugins";
import XLSX from "xlsx";
import changeHourTZ from '../lib/changeHourTZ';
import getTimezone from '../lib/getTimezone';
const moment = require('moment');

export default {

components: { BtnWhatsapp , GoogleMap, CampanaNotificacion },

data () {
  return {
    toggle: null,
    urlprueba: '',
    preguntas_exp:[],
    respuestas_exp:[],
    defaultIndex: 0,
    wb: null,
    btn_imp_exp: false,
    importar:false,
    preview: false,
    vaciar_hora: true,
    confirmar_otro_turno: false,
    parte2: false,
    predio_v: '',
    predio_t:'',
    predios_t: ['plade','Plade_2'],
    segmenta: false,
    ver_hora: false,
    solo_hora: false,
    txt_ver_hora: "Completa todos los datos",
    Nombre: '',
    tiempos_seg: [],
    mapa: false,
    id_turno: null,
    id_predio_modal: null,
    info_turno: null,
    ubicacion_gps: {},
    cargandobarra: false,
    disableButton: false,
    detalles_predio:[],
    turnos: [],
    listapredios: [],
    imagenes: 0,
    salir: false,
      reservacion: '',
      operacion: 'Seleccione el tipo de operación',
      operaciones: [
        'Crossdocking', 'Fullfilment','Pañol','Retiros o Devoluciones'
      ],
      transporte: 'Seleccione el tipo de transporte',
      transportes: [
        'Ocasa', 'Urbano','Iflow','Loginter','Webpack','Andreani','Correo Argentino','Southpost'
      ],
      vehiculo: '',
      vehiculos: [],
      fecha: '',
      fechas: [
        '17/03/2020', '12/04/2021'
      ],
      // hora: '',
      hora_local: '',
      horas: [
        '08:00 AM', '08:00 PM'
      ],
      ver : false,
      agendar : false,
      turno: false,
      Nuevo: false,
     predios: false,
     temporal: '',
     predio_sel: {},
     fechaactual: moment().format('YYYY-MM-DD'),
     fechamaxima: moment().add(10, 'days').format('YYYY-MM-DD'),
     verificar_horario: true,
     fechaEdit: '',
     horaEdit: '',
     zona_horaria_local: getTimezone(),
     zona_horaria_predio: null,
  }
},



created() {
  if (window.socketCo) {
    window.socketCo.disconnect();
  }
  this.listapredios = this.$store.getters['auth/datos'].predios;
  this.predio_sel = this.$store.getters['auth/predio'];
  this.cargarTurnos();
  this.cargarVehiculos();
  //console.log(this.predio_sel);
  this.$store.dispatch('auth/actualizarPredios');
  this.CargarnoVistos();
  // this.CordovaP(this.$store.getters['auth/datos'].id);
},

watch: {

},

computed: {
  hora: {
    get() {
      return this.hora_local;
      /*
      if (!this.hora_local) {
        return this.hora_local;
      }
      if (typeof this.hora_local === 'string') {
        return changeHourTZ(this.hora_local, this.zona_horaria_local, this.zona_horaria_predio);
      }

      const hora = {...this.hora_local};
      hora.txt = changeHourTZ(this.hora_local.valor, this.zona_horaria_local, this.zona_horaria_predio, 'HH:mm a');
      hora.valor = changeHourTZ(this.hora_local.valor, this.zona_horaria_local, this.zona_horaria_predio);
      return hora;
      */
    },
    set(v) { this.hora_local = v; },
  },
},

mounted(){
  // this.CordovaP(this.$store.getters['auth/datos'].id);
  this.solicitarUbicacion();
},

methods: {

  activar_switch(){
    const datos = {
      iden: this.$store.getters['auth/datos'].id,
      sts: this.toggle
    };
    this.$api.put('/chofer/cambiar_sts_ubicacion/', datos)
      .then(async res => {
        if(res.data.r){
          this.$store.dispatch('auth/fetch');
          if(this.toggle == true){
          	//await cordovaPlugins.cerrarUbicacionSegundoPlano();
          	await this.solicitarUbicacionBack();
            this.$q.notify('Activada ubicación en segundo plano');
          }else if(this.toggle == false){
          	//await cordovaPlugins.cerrarUbicacionSegundoPlano();
          	await this.solicitarUbicacionFore();
            this.$q.notify('Se activará dos horas antes de su próximo turno');
            this.$q.notify('Desactivada ubicación en segundo plano');
          }
          //this.solicitarUbicacion();
        }else{
          if(res.data.msg)
            this.$q.notify(res.data.msg);
          else
            this.$q.notify('No se pudo actualizar');
        }

      }).catch(err => {
        this.$q.notify('Ocurrió un error')
      });
  },

  modalUbicacionPrimerPlano() {
    return new Promise((resolve, reject) => {
      swal.fire({
        title: '¿Quieres permitir que Easy Docking acceda a la ubicación de este dispositivo?',
        html: "<br>Esta aplicación lee la ubicación del dispositivo para habilitar altas, bajas y cambios de estado automático en los predios que usan EasyDocking, y trackeo de choferes con turno, inclusive cuando la aplicación está sin uso o en segundo plano.<br><br> This app collects location data to enable automatic driver registration, changes of stage and removal from EasyDocking’s YMS guest list based on location, and location tracking of drivers with appointments even when the app is closed or not in use.",
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'No acepto',
        cancelButtonText: 'Acepto',
        customClass: {
          confirmButton: 'negar-btn',
           cancelButton: 'confirmar-btn',
          title: 'modal-aviso-gps-title',
          content: 'modal-aviso-gps'
        }
      })
      .then(resolve);
    });
  },

  modalUbicacionSegundoPlano() {
    return new Promise((resolve, reject) => {
      swal.fire({
        title: '¿Quieres permitir que Easy Docking acceda a la ubicación de este dispositivo en segundo plano?',
        html: "<br>Esta aplicación lee la ubicación del dispositivo para habilitar altas, bajas y cambios de estado automático en los predios que usan EasyDocking, y trackeo de choferes con turno, inclusive cuando la aplicación está sin uso o en segundo plano.<br><br> This app collects location data to enable automatic driver registration, changes of stage and removal from EasyDocking’s YMS guest list based on location, and location tracking of drivers with appointments even when the app is closed or not in use.",
        icon: 'info',
        showCancelButton: true,
        confirmButtonText: 'No acepto',
        cancelButtonText: 'Permitir acceso a ubicación en segundo plano',
        // cancelButtonText: 'Acepto',
        customClass: {
          confirmButton: 'negar-btn',
           cancelButton: 'confirmar-btn',
          title: 'modal-aviso-gps-title',
          content: 'modal-aviso-gps'
        }
      })
      .then(resolve);
    });
  },

  async solicitarUbicacionFore() {
    let ubifore = this.$q.localStorage.getItem('ubifore');
    let ubi1 = {isConfirmed:true};

    if (!this.$q.localStorage.has('ubifore')) {
      ubi1 = await this.modalUbicacionPrimerPlano();
    }
    else if (ubifore == -1) {
      return; // Salir si ya se rechazo el permiso
    }
    // Botones invertidos.
    if (!ubi1.isConfirmed) {
      //await cordovaPlugins.cerrarUbicacionSegundoPlano();
      await cordovaPlugins.ubicacionPrimerPlano(config, true)
        .then(status => {
          if (status == 1) {
            //- OK
            this.$q.localStorage.set('ubifore',1);
          }
          else if (status == -1) {
            //- Permiso rechazado
            this.$q.localStorage.set('ubifore',-1);
          }
          else if(status == -2) {
            //- Tiene permiso, pero no se activo el gps
            // this.$q.localStorage.remove('ubifore');
            this.$q.localStorage.set('ubifore',1);
            //this.solicitarUbicacionFore2();
          }
        })
        .catch(err => console.error('error permiso'));
       this.solicitarUbicacionFore2();//obtener ubicacion a primer plano
    }else if(ubifore==1){
      //await cordovaPlugins.cerrarUbicacionSegundoPlano();
      	this.solicitarUbicacionFore2();//obtener ubicacion a primer plano
    }else {}
  },

  async solicitarUbicacionFore2() {
    //await cordovaPlugins.cerrarUbicacionSegundoPlano();
    LocalStorage.set('OPGEO', '1')
    await cordovaPlugins.ubicacionSegundoPlano(config)
        .then()
        .catch(err => {});
  	/*await cordovaPlugins.SolicitarubicacionPrimerPlano(config)
        .then()
        .catch(err => {});*/
  },

  async solicitarUbicacionBack() {
    let ubiback = this.$q.localStorage.getItem('ubiback');
    let ubi2 = {isConfirmed:true};

    if (!this.$q.localStorage.has('ubiback')) {
      ubi2 = await this.modalUbicacionSegundoPlano();
    }
    else if (ubiback == -1) {
      return; // Salir si ya se rechazo el permiso
    }


    // const ubi2 = await this.modalUbicacionSegundoPlano();

    // Botones invertidos.
    if (!ubi2.isConfirmed || ubiback==1) {
      this.$q.localStorage.set('ubiback', 1);
      LocalStorage.set('OPGEO', '2')
      await cordovaPlugins.ubicacionSegundoPlano(config)
        .then()
        .catch(err => {});
    }
  },

  async solicitarUbicacion() {
  	await this.verificar_sts_cordenadas();
    await this.solicitarUbicacionFore();
    //await this.solicitarUbicacionBack();
    if(this.$store.getters['auth/datos'].estatus_coordenada==1){
    	//await cordovaPlugins.cerrarUbicacionSegundoPlano();
      	await this.solicitarUbicacionBack();
    }else
      	await this.comprobar_coordenadas_sp();
  },
  verificar_sts_cordenadas(){
    if(this.$store.getters['auth/datos'].estatus_coordenada)
      this.toggle = true;
    else
      this.toggle = false;
  },
  async comprobar_coordenadas_sp(){
    await this.$api.get('/predio/proximo-turno/',{params:{id_chofer:this.$store.getters['auth/datos'].id}})
      .then(async r => {
        if(r.data.length>0){
        	//await cordovaPlugins.cerrarUbicacionSegundoPlano();
          	await this.solicitarUbicacionBack();
        }
      }).catch(console.log);
  },
  CargarnoVistos() {
      this.$api({
        url: `/rooms/obtener/no-vistos/${this.$store.getters['auth/datos'].id}/chofer`,
        method: "GET",
        data: {},
      })
      .then(async res=>{
        EventBus.$emit('emit_de_no_vistos',  res.data.no_vistos);
      })
      .catch(err=>{

      });
  },
  CordovaP: function(id_usuario) {
    document.addEventListener("deviceready", function() {
      cordovaPlugins.Firebase(id_usuario, config);
      cordovaPlugins.Permissens(config);
    });
  },
  obtenerTokenAPI_EASY(){
    /*var datos = {
      url: 'https://easydocking.ar/srv_01/',
      datos: {
       "fecha":"2021-05-21",
       "variables":[
          {"name":"tipo_vehiculo","value":"chasis"}
        ]
      }
    };*/
  },
  cargaropciones(op){
    return op.split(',');
  },
  modal_ver_turno(datos){
    //console.log(datos);
    this.vaciar_hora = false;
    this.Nuevo = true;
    this.ver = true;
    this.agendar = false;
    this.info_turno=datos;
    this.id_turno=datos.id;
    this.id_predio_modal=datos.id_predio;

    this.vehiculo = datos.id_vehiculo;
    this.fecha = moment(datos.fecha_comp_turno).format('YYYY-MM-DD');
    this.fechaEdit = moment(datos.fecha_comp_turno).format('YYYY-MM-DD');
    //this.ver_hora = true;
    this.Nombre = datos.nombre_chofer;
    this.segmenta = false;
    this.hora = moment(datos.fecha_comp_turno).format('HH:mm');
    if(datos.id_tanda){
      var rango_turno = {txt:moment(datos.fecha_comp_turno).format('hh:mm A'),valor: moment(datos.fecha_comp_turno).format('HH:mm:ss'), idhor:datos.id_tanda};
      this.hora = rango_turno;
    }
    this.tiempos_seg = [];
    this.tiempos_seg.push(rango_turno);
    this.horaEdit = moment(datos.fecha_comp_turno).format('HH:mm:ss');

    this.txt_ver_predio = datos.predio;
    this.predio_t = '';
    //this.detalles_predio = datos.detalles;
    this.detalles_predio = [];
    this.txt_ver_hora = "Obteniendo hora";
    this.$api.get(config.API_URL+'predio/detalles/'+this.id_predio_modal)
      .then(res => {
        if(res.data){
          var detalles_predio = res.data;
          for (var i = 0; i < detalles_predio.length; i++) {
            var respuestas_ = datos.detalles.filter(p => p.titulo == detalles_predio[i].titulo);
            if(respuestas_[0]){
              detalles_predio[i].id_dt = respuestas_[0].id;
              detalles_predio[i].respuesta = respuestas_[0].respuesta;
            }

          }
          this.detalles_predio = detalles_predio;
          var respuestas = detalles_predio.filter(p => p.segmenta == 1);

          if(respuestas.length==0){
            this.buscarhorarionosegmenta();
          }else{
            this.buscarsegmenta();
            this.ver_hora = false;
          }

          this.segmenta = false;
          this.txt_ver_hora = "Obteniendo hora";


        }
      });

    this.parte2 = true;
  },
  modal_turno_0(){
    this.predio_t = '';
    this.ver = false;
    this.agendar = true;
    this.parte2 = false;
    this.Nuevo = true;
  },
  modal_turno_i(){
    this.predio_t = '';
    this.btn_imp_exp=false;
    this.importar = true;
  },

  modal_turno(){
      const datos_chofer = this.$store.getters['auth/datos'];
      this.id_predio_modal = null;
      this.vaciar_hora = true;
      this.Nombre = datos_chofer.nombre+' '+datos_chofer.apellido;
      this.fecha = '';
      this.hora = '';
      this.vehiculo='';
      this.detalles_predio = [];
      this.fechamaxima = false;
      this.$api.get(config.API_URL+'predio/detalles/'+this.predio_t.id_predio)
      .then(res => {
        if(res.data){
          if(res.data[0]){
            if(res.data[0].dias_maximo>0){
              this.fechamaxima = moment().add(res.data[0].dias_maximo, 'days').format('YYYY-MM-DD');
            }
            this.zona_horaria_predio = res.data[0].zona_horaria;
          }
          this.detalles_predio = res.data;
          var respuestas = this.detalles_predio.filter(p => p.segmenta == 1);
          if(respuestas.length==0){
            this.buscarhorarionosegmenta();
            //this.ver_hora = true;
          }else{
            this.ver_hora = false;
          }
          this.segmenta = false;
          this.txt_ver_hora = "Completa todos los datos";
          this.tiempos_seg = [];
          //console.log(res);
        }
      });
      this.parte2 = true;
      //this.Nuevo = true;
  },
  modal_turno_imp_exp(){
    if(this.predio_t.id_predio){
      this.urlprueba = config.API_URL+'predio/exportar/excel/'+this.predio_t.id_predio;

      this.btn_imp_exp=true;
    }
    else
      this.btn_imp_exp=false;
  },
  seleccionarpredio(datos) {
    this.$store.dispatch('auth/_actualizar_predio', datos)
      .then(() => {
        this.predio_sel=datos
        this.cargarTurnos();
      });
  },
  cargarTurnos() {
    const id_chofer = this.$store.getters['auth/id'];
    //'&id_predio='+this.predio_sel.id_predio
    this.$api.get('/predio/turnos/?id_chofer='+id_chofer)
      .then(r => {
        //console.log(r)
        this.turnos = r.data || [];

        this.ver_hora = false;
        this.txt_ver_hora = "Completa todos los datos";
        this.tiempos_seg = [];
      })
      .catch(console.log);
  },
  cargarVehiculos() {
    const id_chofer = this.$store.getters['auth/id'];
    this.$api.get('/vehiculo/por-chofer-activos/'+id_chofer)
      .then(r => {
        this.vehiculos = r.data || [];
      })
      .catch(console.log);
  },
  continuarsolicitud(){
    this.verificar_horario = false;
    this.confirmar_otro_turno = false;
    this.guardarturno();
  },
  guardarturno(){
    const id_chofer = this.$store.getters['auth/id'];
    const datos = {
      nombre: this.Nombre,
      chofer: id_chofer,
      vehiculo: this.vehiculo,
      //predio: this.predio_sel.id_predio,
      predio:  this.predio_t.id_predio,
      url_predio: this.predio_t.url,
      fecha: this.fecha,
      //hora: this.hora.valor,
      id_horario: this.hora.idhor,
      turnos: this.detalles_predio,
      estatus_predio: this.predio_t.estatus,
      verificar_horario: this.verificar_horario
    };
    if(this.hora.valor)
      datos.hora = this.hora.valor;
    else
      datos.hora = this.hora;
    this.disableButton = true;
    this.cargandobarra = true;
    this.$api.post('/predio/turno', datos)
      .then(res => {
        //console.log(res);
        if(res.data.r){
          this.cargarTurnos();
          swal.fire('Completado',res.data.msg,'success');
          this.vehiculo='';
          this.fecha='';
          this.hora='';
          this.verificar_horario = true;
          this.Nuevo = false;
        }else{
          if(res.data.confirmar){
            this.confirmar_otro_turno = true;
          }else{
            if(res.data.msg)
              this.$q.notify(res.data.msg);
            else
              this.$q.notify('No se pudo solicitar el turno');
          }
        }
        this.disableButton = false;
        this.cargandobarra = false;
      }).catch(err => {
        this.disableButton = false;
        this.cargandobarra = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error')
      });
  },
  actualizarturno(){
    const datos = {
      id_turno: this.id_turno,
      predio:  this.id_predio_modal,
      nombre: this.Nombre,
      vehiculo: this.vehiculo,
      fecha: this.fecha,
      id_horario: this.hora.idhor,
      turnos: this.detalles_predio,
      verificar_horario: this.verificar_horario
    };
    if(this.hora.valor)
      datos.hora = this.hora.valor;
    else
      datos.hora = this.hora;

    if(datos.hora!=this.horaEdit || this.fecha!=this.fechaEdit)
      datos.edito_fecha = true;
    this.disableButton = true;
    this.cargandobarra = true;
    this.$api.put('/predio/turno_editar', datos)
      .then(res => {
        //console.log(res);
        if(res.data.r){
          this.cargarTurnos();
          swal.fire('Completado',res.data.msg,'success');
          this.vehiculo='';
          this.fecha='';
          this.hora='';
          this.Nuevo = false;
        }else{
          if(res.data.msg)
            this.$q.notify(res.data.msg);
          else
            this.$q.notify('No se pudo solicitar el turno');
        }
        this.disableButton = false;
        this.cargandobarra = false;
      }).catch(err => {
        this.disableButton = false;
        this.cargandobarra = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error')
      });
  },
  cancelarturno(){
    this.disableButton = true;
    this.cargandobarra = true;
    this.$api.put('/predio/turno/cancelar/'+this.id_turno, [])
      .then(res => {
        if(res.data.r){
          this.cargarTurnos();
          swal.fire('Completado',res.data.msg,'success');
          this.Nuevo = false;
        }else{
          if(res.data.msg)
            this.$q.notify(res.data.msg);
          else
            this.$q.notify('No se pudo cancelar el turno');
        }
        this.disableButton = false;
        this.cargandobarra = false;
      }).catch(err => {
        this.disableButton = false;
        this.cargandobarra = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error')
      });
  },
  async clicknavegar(){
    const id_chofer = this.$store.getters['auth/id'];
    const id_predio = this.id_predio_modal;
    this.$api.get('/predio/ruta-predio-chofer/'+id_predio+'/'+id_chofer)
      .then(r => {
        var datos = r.data;
        if(datos.chofer && datos.predio){
          var latLon = "daddr="+datos.predio.lat+","+datos.predio.lon+"&saddr="+datos.chofer.lat_cho+","+datos.chofer.lon_cho+""; // string
          this.abrir_mapa_nativo(latLon)
        }else{
          this.$q.notify('Error al cargar coordenadas de chofer')
        }
      })
      .catch(console.log);
  },
  abrir_mapa_nativo(datalat) {
    window.open("http://maps.google.com/?" + datalat, "_system");
  },
  vermapa(){
    const id_chofer = this.$store.getters['auth/id'];
    const id_predio = this.id_predio_modal;
    this.$api.get('/predio/ruta-predio-chofer/'+id_predio+'/'+id_chofer)
      .then(r => {
        var datos = r.data;
        if(datos.chofer && datos.predio){
          self = this;
          this.mapa = true;
          setTimeout(async function(){
            var cordenadas = {};
            cordenadas.lat = datos.predio.lat;
            cordenadas.lon = datos.predio.lon;
            cordenadas.zoom = 16;
            cordenadas.lista = datos.chofer;
            cordenadas.stilomapa = 'height: 80vh ; width:94vw';
            self.ubicacion_gps=cordenadas;
          }, 1000);
        }else{
          this.$q.notify('Error al cargar mapa')
        }
      })
      .catch(console.log);
    //
  },
  essegmenta(row){
    if(row.segmenta){
      this.tiempos_seg = [];
      this.buscarsegmenta();
    }
  },
  buscarsegmenta(){
    //return;
    var respuestas = this.detalles_predio.filter(p => p.segmenta == 1 && p.respuesta);
    if(!this.fecha || respuestas.length<1){
      //console.log(this.solo_hora);
      if(!this.solo_hora)
        this.buscarhorarionosegmenta2();
      return;
    }
    if(this.vaciar_hora){
      this.hora = '';
      this.tiempos_seg=[];
    }else
      this.vaciar_hora = true;
    //const id_predio = this.predio_sel.id_predio;
    const id_predio = this.predio_t.id_predio || this.id_predio_modal;
    this.ver_hora = false;
    this.txt_ver_hora = 'Buscando Horario. . .';
    this.$api.get('/predio/segmenta-predio/'+id_predio,{params:{fecha:this.fecha,respuesta:JSON.stringify(respuestas)}})
      .then(async r => {
        var datos = r.data;
        //console.log(datos);
        if(datos.length>0){
          /*var existen_horario = datos.filter(p => p.horario);
          console.log(datos.length,datos,existen_horario.length,existen_horario);
          if(datos.length>existen_horario.length){
            this.txt_ver_hora = 'No hay turnos disponibles';
            this.ver_hora = false;
            return;
          }*/
          for (var i = 0; i < datos.length; i++) {
            var dat_tur = datos[i];
            var existen_horario_igual = datos.filter(p => p.horario && p.id!=dat_tur.id);
            var fec_actual = dat_tur.fecha_actual;
            if(dat_tur.horario){
              for (var h = 0; h < dat_tur.horario.length; h++) {
                var hor_api = dat_tur.horario[h];
                var si_existe = true;
                var horarios_similares = [];
                for (var e = 0; e < existen_horario_igual.length; e++) {
                  if(existen_horario_igual[e].horario){
                    var verificar_existencia = existen_horario_igual[e].horario.filter(p => p.id_tanda==hor_api.id_tanda);
                    if(verificar_existencia.length==0){
                      si_existe = false;
                      e = existen_horario_igual.length;
                    }else{
                      horarios_similares.push(verificar_existencia[0]);
                    }
                  }else{
                    si_existe = false;
                    e = existen_horario_igual.length;
                  }
                };
                //console.log(hor_api,horarios_similares);
                if(si_existe){
                  let fec_act = moment(this.fecha).format('YYYY-MM-DD');
                  let rangos = await this.obtenerrango(fec_act+' '+hor_api.hora_a,fec_act+' '+hor_api.hora_b, hor_api.frecuencia,'minutes',hor_api,horarios_similares,fec_actual);
                  //console.log(hor_api,rangos)
                  for (var j = 0; j < rangos.length; j++) {
                    this.tiempos_seg.push(rangos[j]);

                  }
                }
              }
            }
          }
          if(this.tiempos_seg.length<1){
            this.$q.notify('No hay turnos disponibles');
            this.txt_ver_hora = 'No hay turnos disponibles';
            this.ver_hora = false;
          }else{
            this.ver_hora = true;
            this.tiempos_seg.sort(function (a, b) {
              if (a.valor > b.valor) {
                return 1;
              }
              if (a.valor < b.valor) {
                return -1;
              }
              return 0;
            });
          }
          this.segmenta=true;

        }else{
          this.$q.notify('No hay turnos disponibles');
          this.txt_ver_hora = 'No hay turnos disponibles';
          this.ver_hora = false;
          //this.segmenta=false;
          //this.tiempos_seg=[];
          //this.ver_hora = true;
        }

      })
      .catch(console.log);
    //
  },
  buscarhorarionosegmenta(){
    var respuestas = this.detalles_predio.filter(p => p.segmenta == 1);
    if(respuestas.length>0){
      return;
    }
    //const id_predio = this.predio_sel.id_predio;
    const id_predio = this.predio_t.id_predio || this.id_predio_modal;
    this.$api.get('/predio/horarios-sin-segmenta-predio/'+id_predio,{params:{fecha:moment().format('YYYY-MM-DD')}})
      .then(async r => {
        var datos = r.data;
        if(datos.total==0){
          this.solo_hora = true;
          this.ver_hora = true;
        }else{
          if(this.id_predio_modal)
            this.buscarhorarionosegmenta2();
          this.ver_hora = false;
          this.solo_hora = false;
        }
      })
      .catch(console.log);
  },
  buscarhorarionosegmenta2(){
    var respuestas = this.detalles_predio.filter(p => p.segmenta == 1);
    if(respuestas.length>0)
      return;
    if(this.vaciar_hora){
      this.hora = '';
      this.tiempos_seg=[];
    }else
      this.vaciar_hora = true;
    //this.hora = '';

    if(!this.fecha)
      return;
    //this.tiempos_seg=[];
    //const id_predio = this.predio_sel.id_predio;
    const id_predio = this.predio_t.id_predio || this.id_predio_modal;
    this.ver_hora = false;
    this.txt_ver_hora = 'Buscando Horario. . .';
    this.$api.get('/predio/sin-segmenta-predio/'+id_predio,{params:{fecha:this.fecha}})
      .then(async r => {
        var datos = r.data;
        //console.log(datos);
        if(datos.length>0){
          for (var i = 0; i < datos.length; i++) {
            var hor_api = datos[i];
            var fec_actual = hor_api.fecha_actual;
            //console.log(hor_api);
            let fec_act = moment(this.fecha).format('YYYY-MM-DD');
            let rangos = await this.obtenerrango(fec_act+' '+hor_api.hora_a,fec_act+' '+hor_api.hora_b, hor_api.frecuencia,'minutes',hor_api,[],fec_actual);
            for (var j = 0; j < rangos.length; j++) {
              // this.tiempos_seg.push({
              //   idhor: rangos[j].idhor,
              //   txt: changeHourTZ(rangos[j].valor, this.zona_horaria_predio, this.zona_horaria_local, 'HH:mm a'),
              //   valor: changeHourTZ(rangos[j].valor, this.zona_horaria_predio, this.zona_horaria_local),
              // });
              this.tiempos_seg.push(rangos[j]);
            }

          }
          if(this.tiempos_seg.length<1){
            this.$q.notify('No hay turnos disponibles');
            this.txt_ver_hora = 'No hay turnos disponibles';
            this.ver_hora = false;
          }else{
            this.ver_hora = true;
            this.tiempos_seg.sort(function (a, b) {
              if (a.valor > b.valor) {
                return 1;
              }
              if (a.valor < b.valor) {
                return -1;
              }
              return 0;
            });
          }

          this.segmenta=true;

        }else{
          this.$q.notify('No hay turnos disponibles');
          this.txt_ver_hora = 'No hay turnos disponibles';
          this.ver_hora = false;
        }

      })
      .catch(console.log);
    //
  },
  async obtenerrango(fec_ini, fec_fin, fre, tipo, horario, similares, fec_actual) {
    let ini = moment(fec_ini)
    let fin = moment(fec_fin)
    let dif = fin.diff(ini, tipo)
    dif = dif/fre;
    //console.log(horario);
    //similares.push(horario);
    let rango = []
    for (let i = 0; i < dif; i++) {
      let min = i*fre;
      let fec_ran = moment(fec_ini).add(min, tipo).format('HH:mm:ss');

      let fec_act_v = moment(fec_ini).format('YYYY-MM-DD');
      let fec_ini_r = moment(fec_act_v+' '+fec_ran);
      let fec_act_r = moment(fec_actual);
      var horas_add =0;
      //if(this.predio_t.horas_maxima)
      //  horas_add = this.predio_t.horas_maxima;
      if(horario.horas_maxima)
        horas_add = horario.horas_maxima;
      let fec_pre_r = moment(fec_actual).add(horas_add,'h');
      let diferencia_ran = fec_ini_r.diff(fec_act_r);
      let diferencia_ran2 = fec_ini_r.diff(fec_pre_r);
      if(diferencia_ran>0 && diferencia_ran2>0){
        var rango_existe = this.tiempos_seg.filter(p => p.valor == fec_ran);
        if(rango_existe.length==0){
          //const id_predio = this.predio_sel.id_predio;
          const id_predio = this.predio_t.id_predio || this.id_predio_modal;
          await this.$api.get('/predio/horarios-turno/'+id_predio,{params:{fecha:this.fecha,hora:fec_ran,id_horario:horario.id_tanda,id_turno:this.id_turno}})
            .then(r => {
              if(r.data.turnos<horario.disponibilidad){
                rango.push({txt:moment(fec_ini).add(min, tipo).format('hh:mm A'),valor: fec_ran, idhor:horario.id_tanda})

              }
            }).catch(console.log);

        }

      }
    }
    return rango;
  },
  generarexportar(){
    const id_predio = this.predio_t.id_predio;
    this.$api.get('/predio/exportar/excel/'+id_predio,{responseType: 'blob'})
      .then(async r => {
        const blob = new Blob([r.data], { type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64," });
        var a = document.createElement("a");
        a.href = URL.createObjectURL(blob);
        a.download = 'Formato turno '+this.predio_t.nombre;
        a.click();
      });
  },
  procesarImportacion(ev){

    // console.log('file: ', ev.target.files[0]);
      let f = ev.target.files[0],
      reader = new FileReader();
      //reader.readAsBinaryString(f);
      reader.onload = e => {
        let data = e.target.result;
        //console.log("data: ", data);
        this.wb = XLSX.read(data, { type: "array" });
        //console.log("wb: ", this.wb);
        // let wbbase64 = XLSX.read(data, { type: "base64" });
        // console.log("wb: ", wbbase64);
        // let wbbinary = XLSX.read(data, { type: "binary" });
        // console.log("wb: ", wbbinary);
        // let wbstring = XLSX.read(data, { type: "string" });
        // console.log("wb: ", wbstring);
        // let wbbuffer = XLSX.read(data, { type: "buffer" });
        // console.log("wb: ", wbbuffer);

        // this.$refs.demo.innerHTML = JSON.stringify(
        //   XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]])
        // );
        // let jsonData = XLSX.utils.sheet_to_json(wb.Sheets[wb.SheetNames[0]]);
        // console.log("jsonData: ", jsonData);
        var sheetNames = this.wb.SheetNames; // colección de nombres de hojas de trabajo
        //this.makeButtons(sheetNames);
        var worksheet = this.wb.Sheets[sheetNames[this.defaultIndex]]; // Aquí solo leemos la primera hoja
        var csv = XLSX.utils.sheet_to_csv(worksheet);
        csv = csv.split('\n');
        if(csv[0]){
          this.preguntas_exp = this.splitCsv(csv[0]);
          for (var i = 0; i < this.preguntas_exp.length; i++) {
            this.preguntas_exp[i] = this.preguntas_exp[i].replace('"','').replace(')"',')');
          }
        }
        if(csv.length==1 || csv.length==2){
          this.$q.notify('No hay datos para cargar');
          return;
        }
        this.respuestas_exp = [];
        for (var i = 1; i < csv.length; i++) {
          if(csv[i]!=''){
            var columnas = csv[i].split(',');
            for (var c = 0; c < columnas.length; c++) {
              //VALIDACIONES PARA SABER SI SON FECHAS
              var validar_fecha_2 = true;
              //PRIMERA VALIDACION DE FECHA
              if(moment(columnas[c], 'M-D-YY', true).isValid() && c==2){
                  var fec_1 = moment();
                  var fec_2 = moment(moment(columnas[c], 'M-D-YY', true).format('YYYY-MM-DD'))
                  if(fec_2.diff(fec_1, 'days')>=0){
                    validar_fecha_2 = false;
                    columnas[c] = moment(columnas[c], 'M-D-YY', true).format('YYYY-MM-DD');
                  }
              }
              if(moment(columnas[c], 'D-M-YY', true).isValid() && c==2){
                  var fec_1 = moment();
                  var fec_2 = moment(moment(columnas[c], 'D-M-YY', true).format('YYYY-MM-DD'))
                  if(fec_2.diff(fec_1, 'days')>=0){
                    validar_fecha_2 = false;
                    columnas[c] = moment(columnas[c], 'D-M-YY', true).format('YYYY-MM-DD');
                  }
              }
              if(moment(columnas[c], 'M/D/YY', true).isValid() && c==2){
                  var fec_1 = moment();
                  var fec_2 = moment(moment(columnas[c], 'M/D/YY', true).format('YYYY-MM-DD'))
                  if(fec_2.diff(fec_1, 'days')>=0){
                    validar_fecha_2 = false;
                    columnas[c] = moment(columnas[c], 'M/D/YY', true).format('YYYY-MM-DD');
                  }
              }
              if(moment(columnas[c], 'D/M/YY', true).isValid() && c==2){
                  var fec_1 = moment();
                  var fec_2 = moment(moment(columnas[c], 'D/M/YY', true).format('YYYY-MM-DD'))
                  if(fec_2.diff(fec_1, 'days')>=0){
                    validar_fecha_2 = false;
                    columnas[c] = moment(columnas[c], 'D/M/YY', true).format('YYYY-MM-DD');
                  }
              }
              //SEGUNDA VALIDACION GENERAL DE FECHA
              if(moment(columnas[c], 'YYYY-MM-DD', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'YYYY-MM-DD', true).format('YYYY-MM-DD');
              if(moment(columnas[c], 'DD-MM-YYYY', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'DD-MM-YYYY', true).format('YYYY-MM-DD');
              if(moment(columnas[c], 'M-D-YY', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'M-D-YY', true).format('YYYY-MM-DD');
              if(moment(columnas[c], 'YYYY/MM/DD', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'YYYY/MM/DD', true).format('YYYY-MM-DD');
              if(moment(columnas[c], 'DD/MM/YYYY', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'DD/MM/YYYY', true).format('YYYY-MM-DD');
              if(moment(columnas[c], 'M/D/YY', true).isValid() && validar_fecha_2)
                columnas[c] = moment(columnas[c], 'M/D/YY', true).format('YYYY-MM-DD');
              //console.log(columnas[c]);
            }
            //columnas['columnaexcel'] = i;
            this.respuestas_exp.push(columnas);
            //console.log(columnas);
          }
        }
        this.preview = true;
        //console.log("csv: ", csv,this.preguntas_exp,this.respuestas_exp);
        // document.getElementById("result").innerHTML = this.csv2table(csv);
        /*var txt = XLSX.utils.sheet_to_txt(worksheet);
        console.log("txt: ", txt);
        var html123 = XLSX.utils.sheet_to_html(worksheet);
        console.log("html123: ", html123);
        var json = XLSX.utils.sheet_to_json(worksheet);
        console.log("json: ", json);
        var rowObj =XLSX.utils.sheet_to_row_object_array(worksheet);
        console.log("rowObj: ", rowObj);*/
        //document.getElementById("result").innerHTML = html123;
        //this.$refs.input_importar.value = '';

      };
      reader.readAsArrayBuffer(f);

  },
  splitCsv(str) {
   var separador = ',';
     return str.split(separador).reduce((accum,curr)=>{
       if(accum.isConcatting) {
         accum.soFar[accum.soFar.length-1] += ','+curr
       } else {
         accum.soFar.push(curr)
       }
       if(curr.split('"').length % 2 == 0) {
         accum.isConcatting= !accum.isConcatting
       }
       return accum;
     },{soFar:[],isConcatting:false}).soFar
  },
  quitarImpor(datos){
    //var bus = this.respuestas_exp.indexOf( datos );
    //if(bus!==-1)
    //  this.respuestas_exp.splice( bus, 1 );
    for (var re = 0; re < this.respuestas_exp.length; re++) {
      var dif = 0;
      for (var re2 = 0; re2 < this.respuestas_exp[re].length; re2++) {
        if(this.respuestas_exp[re][re2]!=datos[re2])
          dif++;
      };
      if(dif==0)
        this.respuestas_exp.splice( re, 1 );
    };
    if(this.respuestas_exp.length==0)
      this.preview = false;
  },
  saveimportar(){
    const id_chofer = this.$store.getters['auth/id'];
    const datos = {
      chofer: id_chofer,
      predio:  this.predio_t.id_predio,
      estatus_predio: this.predio_t.estatus,
      titulos: this.preguntas_exp,
      respuestas: this.respuestas_exp
    };

    this.disableButton = true;
    this.cargandobarra = true;
    this.$api.post('/predio/turno/importar/excel/', datos)
      .then(async res => {
        //console.log(res);
        var no_registro = 0;
        var registro = 0;
        if(res.data.turnos){
          for (var i = 0; i < res.data.turnos.length; i++) {
            if(res.data.turnos[i].id_tanda){
              registro++;
              var eliminar_opc = res.data.turnos[i].respuestas;
              await this.quitarImpor(eliminar_opc);
            }else
              no_registro++;
          }
        }
        if(res.data.r){
          this.cargarTurnos();
          if(registro>0 && no_registro==0)
            swal.fire('Completado','Turnos registrados correctamente','success');
          else if(registro>0 && no_registro>0 && res.data.msj)
            swal.fire('Completado','Turnos registrados correctamente ('+registro+').<br> Turnos no registrados ('+no_registro+'): '+res.data.msj,'success');
          else if(registro>0 && no_registro>0)
            swal.fire('Completado','Turnos registrados correctamente ('+registro+').<br> Turnos no registrados ('+no_registro+')','success');
          else if(registro==0 && no_registro==1 && res.data.msj)
            swal.fire('Error',res.data.msj,'error');
          else if(registro==0 && no_registro>0 && res.data.msj)
            swal.fire('Error','No se pudo registrar ningún turno: '+res.data.msj,'error');
          else if(registro==0 && no_registro>0)
            swal.fire('Error','No se pudo registrar ningun turno','error');
          else
            this.$q.notify(res.data.msg);
        }else{
          if(res.data.msg)
            this.$q.notify(res.data.msg);
          else
            this.$q.notify('No se pudo solicitar turnos');
        }
        this.disableButton = false;
        this.cargandobarra = false;
      }).catch(err => {
        this.disableButton = false;
        this.cargandobarra = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error')
      });
  },
  async procesarImagen(evt){
      let name = evt.target.name;
      name = name.replace('i_img', '');
      let data = await procesarImagenCargada(evt);
      if(!data.length){
        this.$q.notify('La imagen es muy grande!');
        return;
      }
      let img = new Image()
      img.src = data
      let self = this
      img.onload = function() {
        let datas = self.compress(img, 0.2)
        self.detalles_predio[name].respuesta = datas;
        let arra = self.detalles_predio;
        self.detalles_predio=[];
        self.detalles_predio=arra;
      }
  },
  compress(img, size) {
        let canvas = document.createElement('canvas')
        let ctx = canvas.getContext('2d')
        let initSize = img.src.length
        let width = img.width
        let height = img.height
        canvas.width = width
        canvas.height = height
        ctx.fillStyle = '#fff'
        ctx.fillRect(0, 0, canvas.width, canvas.height)
        ctx.drawImage(img, 0, 0, width, height)
        let ndata = canvas.toDataURL('image/jpeg', size)
        return ndata
  },
  captureImage(name) {
    navigator.camera.getPicture(
      data => { // on success
        let img = new Image()
        img.src = `data:image/jpeg;base64, ${data}`
        let self = this
        img.onload = function() {
          let datas = self.compress(img, 0.2)
          self.detalles_predio[name].respuesta = datas;
          let arra = self.detalles_predio;
          self.detalles_predio=[];
          self.detalles_predio=arra;
        }
      },
      () => { // on fail
        this.$q.notify('Error a acceder a la camara del dispositivo');
      },
      {
        // camera options
        quality: 50,
        destinationType: navigator.camera.DestinationType.DATA_URL,
        encodingType: navigator.camera.EncodingType.JPEG,
        MEDIATYPE: navigator.camera.MediaType.PICTURE,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        mediaType: navigator.camera.MediaType.PICTURE,
        cameraDirection: navigator.camera.Direction.BACK
      }
    )
  },
  cerrar_sesion() {
    this.$store.dispatch('auth/salir')
      .then(() => this.$router.push('/Login'))
  },
  login(){
    this.$router.push('/Login')
  },
  notificaciones(){
    this.$router.push('/Notificaciones')
  },

  time2utc(time) {
    const [hora, minutos] = time.split(':');

    const date = new Date();
    date.setHours(0,0,0,0);
    date.setHours(hora, minutos);
    return `${date.getUTCHours()}:${date.getUTCMinutes()}`;
  },

},




}</script>
