<template>
<div class="bg-light-gray flex flex-center item-center vh100 q-pa-md ">

  <div class="row w-100 wxl-50 flex flex-center ">
    <div class="col-12 flex flex-center q-mb-lg ">
      <q-img v-touch-hold:1000.mouse="handleHold" class="w-80 w-50-sm  " src="img/truck.png" ></q-img>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Número de teléfono</p>
    </div>

    <div  class="  col-4 col-sm-2 q-pr-sm relative ">
      <q-input @input="paises = !paises" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm " >
        <template class="q-pr-0" v-slot:prepend>
          <q-img :src="ruta" class="img-icon" width="20px"></q-img>
        </template>
        <template v-slot:append>
          <q-icon
            name="fas fa-sort-down"
            class="cursor-pointer font-xl q-mb-sm q-mr-sm "
          />
        </template>
      </q-input>
      <q-btn flat class="absolute w-100 rounded-5 " style="top:0" @click="paises = !paises" ></q-btn>

       <div v-if="paises" style="z-index:99;left:-20px;" class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflowx-scroll pointer rounded ">

                 <div v-for="codigo in codigos" :key="codigo.id" class="flex bg-white q-mt-sm q-pa-sm rounded ">

                      <q-img :src="codigo.bandera" class="img-icon" width="25px" @click="ruta = codigo.bandera, c_area = codigo.cod, paises = false, id_c_area = codigo.id" ></q-img>
                    <p @click="ruta = codigo.bandera, c_area = codigo.cod, paises = false, id_c_area = codigo.id"  class="mb-0" >{{codigo.cod}} </p>

                 </div>

       </div>

    </div>

    <div class="col-8 col-sm-4 ">
      <q-input borderless v-model="telefono" class="input_txt shadow-4 q-pl-md " type="text" mask="### #########" placeholder="000 000000" :rules="[ val => val && val.length >9 && val.length <=13 || 'El teléfono debe tener de 9 a 12 caracteres']" />
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >Contraseña</p>
    </div>

    <div class="col-12 col-sm-6 ">
      <q-input v-model="password" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :type="isPwd ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </div>
    <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
      <q-linear-progress query color="grey" class="q-mt-sm" />
    </div>
     <div class="col-12 text-center flex flex-center-sm q-mt-lg ">
       <q-btn class="cl_standar w-100 rounded-5 w-50-sm " :disabled="disableButton" @click="Ingresar" label="Ingresar" ></q-btn>
     </div>

     <div @click="dialogRecuperar = true" class="col-12 text-center pointer q-mt-md ">
       <p class="font-xl mb-0 " >¿Olvidó su contraseña?</p>
     </div>

      <div @click="registro()" class="col-12 text-center pointer q-mt-md ">
       <p class="font-xl bold" >¿Crear cuenta?</p>
     </div>

  </div>

   <!-- <q-dialog v-model="paises">
      <q-card class="w-40 no-max-width rounded " >

        <q-card-section class="q-pt-none flex flex-center rounded ">

          <div v-for="codigo in codigos" :key="codigo" class="flex w-100 q-mt-sm q-ml-md rounded ">

            <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
            <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0 q-ml-sm " >{{codigo.area}} </p>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog> -->

      <q-dialog  v-model="dialogRecuperar">
      <q-card class="w-100 w-50-sm" >

        <div class="row w-100 bg-azul-claro q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Recuperar contraseña</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="dialogRecuperar = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

           <div class="col-12 q-pl-md q-mt-md ">
              <p class="mb-0 font-xl" >Email</p>
            </div>

           <div class="col-12">

              <q-input placeholder="Ingrese su correo"  v-model="correo" type="email" borderless class="input_txt shadow-4 w-100 q-pl-sm " >

              </q-input>

           </div>

           <div class="col-12  q-mt-lg text-center ">
              <q-btn class="cl_standar rounded-5 w-100 " :disabled="disableButton" @click="recuperar" label="enviar" ></q-btn>
            </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Mensaje de alerta -->

    <q-dialog  v-model="informacion">
      <q-card class="w-90 w-50-sm" >

        <div class="row w-100 color-layout q-pa-sm " >



          <div class="col-12 q-px-md text-center ">
            <p class="mb-0 text-white font-md " >¿Permitir el uso de tu  ubicación en segundo plano?</p>
          </div>



        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

           <div class="col-12  q-mt-md flex flex-center ">
               <q-icon name="info" style="font-size:90px;color:#36c1e2" ></q-icon>
            </div>


          <div class="col-12 q-py-md">
            <p class="font-sm  text-justify " >EasyDocking usa la ubicación del dispositivo, incluso cuando la aplicación está apagada o en segundo plano, para dar conocimiento al predio de la ubicación de los choferes con turno y poder gestionar el flujo de vehiculos de forma eficiente. No usaremos tu ubicación si no tenes turno y no la compartiremos con nadie más.</p>

            <p class="font-sm  text-justify " >EasyDocking uses the phone location, even when the app is closed or in the background, to optimize the vehicle flow in the client's site. We only use the location when there is an appointment made at the site, and we will never share it with anyone else.</p>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar rounded-5" label="Aceptar" @click="informacion = false" ></q-btn>
          </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>

</div>
</template>
<script>
import config from '../config'
import checkEmail from '../lib/checkEmail'
import cordovaPlugins from "../plugins/cordovaPlugins"
export default {

data () {
  return {
    informacion: false,
    correo: '',
    telefono: '',
    dialogRecuperar: false,
    paises: false,
    password: '',
    isPwd: true,
    ruta:'',
    c_area: '',
    id_c_area: '',
    codigos: [],
    cargandobarra: false,
    disableButton: false
  }
},

created() {
  if(this.$store.getters['auth/logueado']){
    this.$router.push('/Home');
  }
  this.cargarCodPaises();

  // if(this.$q.localStorage.getItem('_dialog_ubicacion') != 1) {
  //   this.informacion = true;
  //   this.$q.localStorage.set('_dialog_ubicacion', 1);
  // }
/*
  swal.fire({
    title: '¿Quieres permitir que Easy Docking acceda a la ubicación de este dispositivo?',
    html: "<br>Esta aplicación lee la ubicación del dispositivo para habilitar altas, bajas y cambios de estado automático en los predios que usan EasyDocking, y trackeo de choferes con turno, inclusive cuando la aplicación está sin uso o en segundo plano.<br><br> This app collects location data to enable automatic driver registration, changes of stage and removal from EasyDocking’s YMS guest list based on location, and location tracking of drivers with appointments even when the app is closed or not in use.",
    icon: 'info',
    showCancelButton: true,
    confirmButtonText: 'No acepto',
    cancelButtonText: 'Acepto',
    customClass: {
      confirmButton: 'negar-btn',
       cancelButton: ' confirmar-btn',
      title: 'modal-aviso-gps-title',
      content: 'modal-aviso-gps'
    }
  })
  .then(result => {
    if (result.isConfirmed) {
      alert('confirmed')
      cordovaPlugins.Permissens(config);
    }
    else {}
  })
  */
  //this.informacion = true
},

watch: {

},

computed: {

},

methods: {


 cargarCodPaises(){
      // this.$axios.get(config.API_URL+'cod_telefono/')
      this.$api.get('cod_telefono/')
        .then(res => {
          this.codigos = res.data;
          if(res.data[0]){
            this.ruta= res.data[0].bandera;
            this.c_area= res.data[0].cod;
            this.id_c_area= res.data[0].id;
          }
        });
  },
 registro(){
   this.$router.push('/Registro')
 },
 Ingresar(){
    const datos = {
      cod: this.id_c_area,
      tlf: this.telefono.replace(' ',''),
      pass: this.password,
    };

    if(!this.id_c_area){
      this.$q.notify('Selecciona codigo de pais');
      return;
    }
    if(!this.telefono){
      this.$q.notify('Ingresa el teléfono');
      return;
    }
    if(this.telefono.length<=9){
      this.$q.notify('El numero de teléfono debe ser mayor a 8 caracteres');
      return;
    }
    if(!this.password){
      this.$q.notify('Ingresa la contraseña');
      return;
    }
    if(this.password.length<=4){
      this.$q.notify('La contraseña debe tener mas de 4 caracteres');
      return;
    }

    this.disableButton = true;
    this.cargandobarra = true;

    this.$store.dispatch('auth/login', datos)
      .then(resp => {
        // this.permisoUbicacion();
        // sustituido por el nuevo plugin de GeoBackAndFore
        // this.$store.dispatch('iniciarsetinterval').catch(e => {console.error('err iniciarsetinterval'); });
        this.$router.push('/Home');
        this.$store.dispatch('actualizarSoporte');
      })
      .catch(err => {
        //console.log(err.response);
        this.cargandobarra = false;
        this.disableButton = false;
        if (err.response && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        else if (err.response && err.response.status == 401)
          this.$q.notify('Datos incorrectos');
        else
          this.$q.notify('Ocurrió un error');
      });
  },


  recuperar() {
    if (!checkEmail(this.correo))
      return this.$q.notify('Correo inválido');

    const data = {
      correo: this.correo,
    };

    this.$api
      .post('/auth/pass_recuperar', data)
      .then(res => {
        this.disableButton = this.dialogRecuperar = false;
        this.$q.notify('Se ha enviado un correo de recuperacion');
      })
      .catch(err => {
        this.disableButton = false;
        console.error(err);

        if (err?.response?.data?.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      })
  },


  handleHold(evt) {
    if (!config.dev) return;

    this.$q.dialog({
      title: 'API URL',
      message: '',
      prompt: {
        model: '',
        type: 'text' // optional
      },
      cancel: true,
    })
    .onOk((data) => {
      if (!data)
        this.$q.localStorage.remove('devapiurl');
      else
        this.$q.localStorage.set('devapiurl', data);
      this.$router.go(0);
    })
    .onCancel(()=>{})
    .onDissmiss(()=>{});
  },

},




}</script>
