<template>
  <div class="">

    <div class="color-layout vh30 q-pb-xl ">
      <div class="row">
        <div class="col-4 justify-start-xl flex flex-center q-mt-md q-pr-lg ">
          <q-btn @click="atras()" icon="keyboard_arrow_left" class="titulos q-pl-md text-white " flat></q-btn>
        </div>
        <div @click="predios = !predios"
          class="col-4 q-mt-md text-white relative flex justify-center item-center">
          <p class="mb-0 font-xl ">Notificaciónes</p>
        </div>
        <div class="col-4 flex justify-end-xl content-center relative ">
         <btn-whatsapp class="q-mt-md" />
        </div>
      </div>
    </div>

    <div style="margin-top:-30%"
      class="bg-light-gray relative vh80 vh-chat-sm overflow-auto q-pl-md q-pr-md layout-top rounded-top-home ">

      <div class="row flex  q-pb-lg ">
        <div class="col-12 w-100 flex justify-center q-mt-md ">
          <q-img src="img/truck.png" class="w-40 wxl-20"></q-img>
        </div>
      </div>

      <div  class="row q-mt-sm q-pa-md soft-border  ">
        <div v-for="noti in notificaciones" :key="noti.id" class="col-12 row wxl-30 border-xl q-mb-md q-mx-md ">

          <div class="col-4">
          <q-img src="img/truck.png" class="circle"></q-img>
        </div>
        <div class="col-8">
          <p class="mb-0 font-lg bold">{{ noti.contenido }}</p>
        </div>
        <div class="col-12 text-right ">
          <p class="mb-0"> {{ haceCuanto(noti.fecha) }} </p>
        </div>

        </div>

      </div>


      <div v-if="nohay" class="q-mt-xl">
        <br />
        <center><b><i>Sin notificaciones</i></b></center>
      </div>

    </div>

  </div>
</template>


<script>
import moment from 'moment'
import BtnWhatsapp from '../components/BtnWhatsapp'
moment.locale('es');

export default {
components: { BtnWhatsapp},
data () {
  return {
    notificaciones: [],
    nohay: false,
  }
},

created() {
  this.$api
    .get('/notificacion')
    .then(res => {
      this.notificaciones = res.data;
      if (this.notificaciones) {
        this.actualizarLeido()
          .then(() => { this.$store.dispatch('notificacion/actualizar') });
      }
      else {
        this.nohay = true;
      }
    })
    .catch(console.log);
},

methods: {
  atras() {
    this.$router.go(-1)
  },

  actualizarLeido() {
    return new Promise((resolve, reject) => {
      this.$api
        .put('/notificacion/estatus')
        .then(resolve)
        .catch(console.log);
    });
  },

  haceCuanto(datetime) {
    return moment(datetime).fromNow();
  },

},




}</script>
