<template>
  <div class="">

    <div class=" color-layout vh30 q-pb-xl ">
      <div class="row">
        <div class="col-2 justify-start-xl flex flex-center q-mt-md ">
          <q-btn icon="keyboard_arrow_left" @click="atras()" class="titulos q-pl-md text-white " flat></q-btn>
        </div>
        <div class="col-8 q-mt-md text-white relative flex justify-center item-center">
          <p class="mb-0 font-xl ">Perfil</p>
        </div>
        <div class="col-2 flex flex-center q-mt-md q-pr-md justify-end-xl ">
          <q-btn icon="lock" flat class="text-white q-mb-md" @click="Cambiar = true"></q-btn>
        </div>
      </div>
    </div>

    <div style="margin-top:-30%" class=" bg-light-gray vh80 vh100-sm overflow-auto flex flex-center item-center-sm layout-top rounded-top-home ">
      <div class="row w-100 q-pa-md q-mb-sxl flex flex-center wxl-50 ">

        <div class="col-12 flex flex-center-sm flex-center q-pl-md q-mt-sm ">
          <p class="mb-0 font-xl W-100 text-center ">DNI</p>
        </div>
        <div class="col-12 col-sm-6 q-mt-md ">
          
          <q-img :src="DNI || 'img/truck.png' " class="soft-border"></q-img>
          <q-input @input.native="procesarImagen" ref="inputImg1" style="display:none;" type="file" accept="image/*" name="DNI" />
          <div class="flex flex-center item-center ">
          <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg1.$el.click()"></q-btn>
          <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('DNI')"></q-btn>
          </div>
        </div>
        <div class="col-12 flex flex-center-sm q-pl-md q-mt-sm ">
          <p class="mb-0 font-xl w-50-sm ">Número de teléfono</p>
        </div>
        <div class="  col-4 col-sm-2 q-pr-sm relative ">
          <q-input @input="paises = true" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm ">
            <template class="q-pr-0" v-slot:prepend>
              <q-img :src="ruta" class="img-icon" width="20px"></q-img>
            </template>
            <template v-slot:append>
              <q-icon name="fas fa-sort-down" class="cursor-pointer font-xl q-mb-sm q-mr-sm " />
            </template>
          </q-input>
          <q-btn class="absolute w-100 " flat style="top:0" @click="paises = true"></q-btn>
          <div v-if="paises" style="z-index:99;left:-20px;"
            class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflowx-scroll rounded pointer ">
            <div v-for="codigo in codigos" :key="codigo.id" class="flex bg-white q-mt-sm q-pa-sm rounded ">
              <q-img :src="codigo.bandera" class="" width="25px"
                @click="ruta=codigo.bandera, id_c_area=codigo.id, c_area=codigo.cod, paises = false"></q-img>
              <p @click="ruta=codigo.bandera, id_c_area=codigo.id, c_area=codigo.cod, paises = false" class="mb-0">
                &nbsp;{{ codigo.cod }}
              </p>
            </div>
          </div>
        </div>
        <div class="col-8 col-sm-4 ">
          <q-input borderless v-model="telefono" type="number" class="input_txt shadow-4 q-pl-md "
            placeholder="000 000000" />
        </div>

        <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
          <p class="mb-0 font-xl w-50-sm ">Nombre</p>
        </div>
        <div class="col-12 col-sm-6 ">
          <q-input v-model="nombre" type="text" borderless class="input_txt shadow-4 q-pl-md q-pr-md "
            placeholder="Ingrese el nombre">
          </q-input>
        </div>

        <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
          <p class="mb-0 font-xl w-50-sm ">Apellido</p>
        </div>

        <div class="col-12 col-sm-6 ">
          <q-input v-model="apellido" type="text" borderless class="input_txt shadow-4 q-pl-md q-pr-md "
            placeholder="Ingrese el apellido">
          </q-input>
        </div>

        <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
          <p class="mb-0 font-xl w-50-sm ">Email</p>
        </div>
        <div class="col-12 col-sm-6 ">
          <q-input v-model="email" type="email" borderless class="input_txt shadow-4 q-pl-md q-pr-md "
            placeholder="Ingrese el email">
          </q-input>
        </div>

        <div v-if="mostrarPredios" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
          <p class="mb-0 font-xl w-50-sm ">Solicitar Predios</p>
        </div>

        <div v-if="mostrarPredios" class="col-12 col-sm-6 ">
         <q-select borderless multiple v-model="predio_t" :options="predios_t" map-options emit-value option-value="id" option-label="nombre" class="input_txt_grow shadow-4 q-pl-md q-pr-md w-100 "  />
        </div>


        <!--
        <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
          <p class="mb-0 font-xl w-50-sm ">Contraseña</p>
        </div>
        <div class="col-12 col-sm-6 ">
          <q-input v-model="actual" borderless class="input_txt shadow-4 q-pl-md q-pr-md "
            placeholder="Ingrese la contraseña" :type="isPwd ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'" class="cursor-pointer font-xl "
                @click="isPwd = !isPwd" />
            </template>
          </q-input>
        </div>

        <div class="col-12 text-center q-mt-lg  ">
          <q-btn class="cl_standar w-100 w-50-sm rounded-5 " label="Cambiar contraseña" @click="Cambiar=true"></q-btn>
        </div>
        -->

        <div class="col-12 text-center q-mt-xl  ">
          <q-btn :disabled="desactivarBoton" @click="guardarPerfil" class="cl_standar w-100 w-50-sm rounded-5 " label="Guardar cambios"></q-btn>
        </div>

         <div class="col-12  q-mt-lg text-center ">
              <q-btn @click="salir = true" class="bg-red text-white rounded-5 w-50-sm w-100 " label="Cerrar sesión"></q-btn>
            </div>

      </div>
    </div>

    <!-- cambiar contraseña -->
    <q-dialog v-model="Cambiar">
      <q-card class="w-50-sm w-100 wxl-30 no-max-width">
        <div class="row w-100 color-layout q-pa-sm ">
          <div class="col-2">
          </div>
          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl ">Cambiar contraseña</p>
          </div>
          <div class="col-2">
            <q-btn flat label="X" class="text-white" @click="Cambiar = false"></q-btn>
          </div>
        </div>
        <q-card-section class="q-pt-none flex flex-center rounded ">
          <div class="row w-100 ">
            <div class="col-12 q-pl-md q-mt-md ">
              <p class="mb-0 font-xl">Contraseña actual</p>
            </div>
            <div class="col-12 ">
              <q-input v-model="pass_actual"  borderless class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese la contraseña" :type="isPwdA ? 'password' : 'text'">
                <template v-slot:append>
                  <q-icon :name="isPwdA ? 'fa fa-eye-slash' : 'far fa-eye'" class="cursor-pointer font-xl "
                    @click="isPwdA = !isPwdA" />
                </template>
              </q-input>
            </div>
            <div class="col-12 q-pl-md q-mt-md ">
              <p class="mb-0 font-xl">Nueva contraseña</p>
            </div>
            <div class="col-12 ">
              <q-input v-model="pass_nueva"  borderless class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Ingrese la nueva contraseña" :rules="[v=>v.length>7 || 'La contraseña debe tener mínimo 8 caracteres']" :type="isPwdN ? 'password' : 'text'">
                <template v-slot:append>
                  <q-icon :name="isPwdN ? 'fa fa-eye-slash' : 'far fa-eye'" class="cursor-pointer font-xl "
                    @click="isPwdN = !isPwdN" />
                </template>
              </q-input>
            </div>
            <div class="col-12 q-pl-md q-mt-md ">
              <p class="mb-0 font-xl">Confirmar contraseña</p>
            </div>
            <div class="col-12 ">
              <q-input v-model="pass_confirmar" :rules="[v=>v===pass_nueva||'Las contraseñas no coinciden']" borderless class="input_txt shadow-4 q-pl-md q-pr-md "
                placeholder="Confirme la contraseña" :type="isPwdC ? 'password' : 'text'">
                <template v-slot:append>
                  <q-icon :name="isPwdC ? 'fa fa-eye-slash' : 'far fa-eye'" class="cursor-pointer font-xl "
                    @click="isPwdC = !isPwdC" />
                </template>
              </q-input>
            </div>

            <div class="col-12  q-mt-lg text-center ">
              <q-btn :disabled="desactivarBoton" @click="cambiarPass" class="cl_standar rounded-5 w-100 " label="Cambiar"></q-btn>
            </div>



          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
   <!-- Modal salir -->
    <q-dialog  v-model="salir">
      <q-card class="w-50-sm w-100 wxl-30 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Salir</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="salir = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

             <div class="col-12 text-center q-pl-md q-mt-md ">
            <p class="mb-0 font-xl" >¿Está seguro que desea <br> cerrar sesión?</p>
            </div>


           <div class="col-12 flex flex-center q-mt-lg text-center ">

              <q-btn class="cl_standar rounded-5 q-mr-sm q-pl-sm q-pr-sm " @click="cerrar_sesion" label="Si" ></q-btn>

              <q-btn class="cl_standar rounded-5 q-ml-sm q-pl-sm q-pr-sm" @click="salir = false" label="No" ></q-btn>

            </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>
  </div>
</template>


<script>
import checkEmail from '../lib/checkEmail'
import procesarImagenCargada from '../lib/procesarImagen'
export default {

data () {
  return {
    predio_t:[],
    predios_t: [],
    salir:false,
    chofer: {},
    DNI: null,
    dni_nueva: null,
    email: '',
    Cambiar: false,
    paises: false,
    nombre:'',
    apellido:'',
    telefono: '',
    pass_actual: '',
    pass_nueva: '',
    pass_confirmar:'',

    isPwd: true,
    isPwdA: true,
    isPwdN: true,
    isPwdC: true,

    ruta:'img/flag-icons/Argentina.png',
    c_area: '+54',
    id_c_area: null,
    codigos: [],
    desactivarBoton: false,

  }
},


created() {
  if (window.socketCo) {
    window.socketCo.disconnect();
  }
  this.cargarCodPaises();
  this.cargarChofer();
  this.cargarPrediosNoAsignados();
},

computed: {
  mostrarPredios() {
    return this.predios_t?.length > 0;
  },
},

methods: {
  cerrar_sesion() {
    if (typeof BackgroundGeolocation !== 'undefined') {
      BackgroundGeolocation.removeAllListeners();
      BackgroundGeolocation.configure({
        startForeground: false
      });
      BackgroundGeolocation.stop();
    }
    this.$store.dispatch('auth/salir')
      .then(() => this.$router.push('/Login'))
  },

  cargarPrediosNoAsignados() {
    this.$api
      .get('/predio?naac=' + this.$store.getters['auth/id'])
      .then(res => {
        this.predios_t = res.data;
      })
  },

  cargarChofer() {
    this.$api
      .get('/chofer/' + this.$store.getters['auth/id'])
      .then(res => {
        const chofer = res.data;

        this.DNI = chofer.dni;
        this.email = chofer.correo;
        this.nombre = chofer.nombre;
        this.apellido = chofer.apellido;
        this.telefono = chofer.telefono;
      })
  },

  cargarCodPaises() {
    this.$api
      .get('/cod_telefono')
      .then(res => {
        this.codigos = res.data;
        if(res.data[0]){
          this.ruta= res.data[0].bandera;
          this.c_area= res.data[0].cod;
          this.id_c_area= res.data[0].id;
        }
    });
  },

  atras() {
    this.$router.go(-1)
  },

  cambiarPass() {
    let err;

    if (!this.pass_actual)
      err = 'Ingrese la contraseña actual';

    else if (!this.pass_nueva)
      err = 'Ingrese la contraseña nueva';

    else if (this.pass_actual === this.pass_nueva)
      err = 'La contraseña nueva no debe ser igual a la anterior';

    else if (!this.pass_confirmar)
      err = 'Confirme la contraseña';

    if (err)
      return this.$q.notify(err);

    const data = {
      new_pass: this.pass_nueva,
      old_pass: this.pass_actual,
    };

    this.desactivarBoton = true;
    this.$api
      .put('/auth/pass_chofer', data)
      .then(() => {
        this.desactivarBoton = false;
        this.Cambiar = false;
        this.$q.notify('Datos actualizados')
      })
      .catch(err => {
        this.desactivarBoton = false;

        if (err?.response.status)
          this.$q.notify('Contraseña actual incorrecta');
        else if (err?.response?.data)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      })


  },

  guardarPerfil() {
    let err;

    if (!this.nombre)
      err = 'Ingrese el nombre';

    else if (!this.apellido)
      err = 'Ingrese el apellido';

    else if (!this.id_c_area)
      err = 'Seleccione el código de área';

    else if (!this.telefono)
      err = 'Ingrese el número telefónico';

    else if (!checkEmail(this.email))
      err = 'Ingrese un correo válido';

    if (err)
      return this.$q.notify(err);

    /*const datos = {
      nombre: this.nombre,
      apellido: this.apellido,
      telefono: this.telefono,
      id_cod_telefono: this.id_c_area,
      correo: this.email,
      predios_solicitados: this.predio_t,
    };*/
    let formData = new FormData();
    formData.set('nombre', this.nombre);
    formData.set('apellido', this.apellido);
    formData.set('telefono', this.telefono);
    formData.set('id_cod_telefono', this.id_c_area);
    formData.set('correo', this.email);
    formData.set('predios_solicitados', this.predio_t);
    if(this.dni_nueva)
      formData.set('dni', this.dni_nueva);

    this.desactivarBoton = true;
    this.$api
      .put('/chofer/'+this.$store.getters['auth/id'], formData)
      .then(res => {
        this.$q.notify('Datos actualizados');
        this.$store.dispatch('auth/fetch');
        this.desactivarBoton = false;
        this.predio_t = [];
        this.dni_nueva = null;
        this.cargarPrediosNoAsignados();
      })
      .catch(err => {
        this.desactivarBoton = false;

        if (err?.response?.data)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      })
  },
  async procesarImagen(evt){
      let name = evt.target.name;
      let data = await procesarImagenCargada(evt);
      //console.log('******** Tamaño de imagen antes de la compresión ********')
      //console.log(data.length / 1024)
      if(!data.length){
        this.$q.notify('La imagen es muy grande!');
        return;
      }
      let img = new Image()
      img.src = data
      let self = this
      img.onload = function() {
        let datas = self.compress(img, 0.2)
        self[name] = datas;
        self['dni_nueva'] = datas;
      }
  },
  compress(img, size) {
        let canvas = document.createElement('canvas')
        let ctx = canvas.getContext('2d')
        let initSize = img.src.length
        let width = img.width
        let height = img.height
        canvas.width = width
        canvas.height = height
        // Pavimenta el color de fondo
        ctx.fillStyle = '#fff'
        ctx.fillRect(0, 0, canvas.width, canvas.height)
        ctx.drawImage(img, 0, 0, width, height)
        // Realizar compresión mínima
        let ndata = canvas.toDataURL('image/jpeg', size)
        return ndata
  },
  captureImage (name) {
    navigator.camera.getPicture(
      data => { // on success
        let img = new Image()
        img.src = `data:image/jpeg;base64, ${data}`
        let self = this
        img.onload = function() {
          let datas = self.compress(img, 0.2)
          self[name] = datas;
          self['dni_nueva'] = datas;
        }
      },
      () => { // on fail
        this.$q.notify('Error a acceder a la camara del dispositivo');
      },
      {
        // camera options
        quality: 50,
        destinationType: navigator.camera.DestinationType.DATA_URL,
        encodingType: navigator.camera.EncodingType.JPEG,
        MEDIATYPE: navigator.camera.MediaType.PICTURE,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        mediaType: navigator.camera.MediaType.PICTURE,
        cameraDirection: navigator.camera.Direction.BACK
      }
    )
  },
},




}</script>
