<template>
<div class="bg-light-gray flex flex-center item-center vh100 row overflow-auto item-star-xl q-pa-md ">

   <div class="col-12 flex flex-center q-mb-lg ">
      <q-img class="w-80 w-50-sm wxl-20 " src="img/logo.png" ></q-img>
    </div>

  <div class="row w-100 wxl-50 flex-center flex ">
   

    <div class="col-12 wxl-50 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Datos del chófer</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px" ></q-separator>



    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-file borderless v-model="DNI" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <div class="col-12 flex  flex-center-sm q-pl-md q-mt-sm ">
      <p class="mb-0 font-xl w-50-sm wxl-70 " >Número de teléfono</p>
    </div>

    <div  class="  col-4 col-sm-2 q-pr-sm relative ">
      <q-input @input="paises = true" v-model="c_area" borderless class="input_txt shadow-4 q-pl-sm " >

        <template class="q-pr-0" v-slot:prepend>
          <q-img :src="ruta" class="img-icon" width="20px"></q-img>
        </template>

        <template v-slot:append >
          <q-icon
            name="fas fa-sort-down"
            class="cursor-pointer font-xl q-mb-sm q-mr-sm "

          />
        </template>
      </q-input>

      <q-btn class="absolute w-100 rounded-5 " flat style="top:0" @click="paises = !paises" ></q-btn>

       <div v-if="paises" style="z-index:99;left:-20px;" class="absolute bg-gray q-pa-sm w-100 q-mt-sm q-ml-md vh30 overflowx-scroll pointer rounded ">

                 <div v-for="codigo in codigos" :key="codigo.id" class="flex bg-white q-mt-sm q-pa-sm rounded ">

                      <q-img :src="codigo.bandera" class="img-icon" width="25px" @click="ruta = codigo.bandera, c_area = codigo.cod, paises = false, id_c_area = codigo.id" ></q-img>
                    <p @click="ruta = codigo.bandera, c_area = codigo.cod, paises = false, id_c_area = codigo.id"  class="mb-0" >{{codigo.cod}} </p>

                 </div>

       </div>

    </div>

    <div class="col-8 col-sm-4 wxl-50 ">
      <q-input borderless v-model="telefono" class="input_txt shadow-4 q-pl-md " type="text" mask="### #########" placeholder="000 000000" :rules="[ val => val && val.length >9 && val.length <=13 || 'El teléfono debe tener de 9 a 12 caracteres']" />
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Nombre</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="nombre" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el nombre" >

      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Apellido</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="apellido" type="text" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el apellido" >

      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Email</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="email" type="email" :rules="[ correoValido ]" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el email" >

      </q-input>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Predios</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
    <q-select borderless multiple autogrow v-model="predio" :options="predios"  class="w-100 select_grow q-pr-sm q-pl-md " option-value="id" option-label="nombre" emit-value map-options/>
    </div>

     <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Contraseña</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="password" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la contraseña" :rules="[ val => val && val.length >4 || 'Debe ser mayor a 4 caracteres']" :type="isPwd ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd = !isPwd"
          />
        </template>
      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Confirmar contraseña</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="password2" borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Confirme la contraseña" :rules="[ val => val && val.length >4 || 'Debe ser mayor a 4 caracteres']" :type="isPwd2 ? 'password' : 'text'">
        <template v-slot:append>
          <q-icon
            :name="isPwd2 ? 'fa fa-eye-slash' : 'far fa-eye'"
            class="cursor-pointer font-xl "
            @click="isPwd2 = !isPwd2"
          />
        </template>
      </q-input>
    </div>

    </div>

    <div class="row wxl-50 flex-center flex ">

      <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Datos del vehículo</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px" ></q-separator>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Tipo de vehículo</p>
    </div>

    <div class="col-12 col-sm-6 flex flex-center wxl-70 ">

    <q-select v-model="vehiculo" :options="vehiculos"   borderless  class=" w-100 shadow-4 input_txt q-pl-md q-pr-sm"  option-value="id" option-label="nombre" />

    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Patente</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="patente" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la patente" >

      </q-input>
    </div>

    <div v-if="vehiculo.dpatente == 1" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Segundo patente</p>
    </div>

    <div v-if="vehiculo.dpatente == 1" class="col-12 col-sm-6 wxl-70">
      <q-input v-model="patente2" type="text"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese la segunda patente" >

      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Vencimiento del registro</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="V_registro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del registro" >

      </q-input>
    </div>

    <div v-if="vehiculo.vtv == 1" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Vencimiento VTV</p>
    </div>

    <div v-if="vehiculo.vtv == 1" class="col-12 col-sm-6 wxl-70">
      <q-input v-model="V_VTV" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el vencimiento del VTV" >

      </q-input>
    </div>

    <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm wxl-70" >Vencimiento del seguro</p>
    </div>

    <div class="col-12 col-sm-6 wxl-70">
      <q-input v-model="V_seguro" type="date"  borderless class="input_txt shadow-4 q-pl-md q-pr-md " placeholder="Ingrese el Vencimiento del seguro" >

      </q-input>
    </div>

    </div>

    <div class="row flex flex-center">

       <div class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-100 bold text-center " >Adjuntar imagenes</p>
    </div>
    <q-separator class="bg-azul-claro" style="heigth:3px !important" ></q-separator>

   

      <div  class="col-12 col-sm-6 wxl-30 flex flex-center row ">

       <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >DNI</p>
    </div>

      <q-img :src="DNI || 'img/logo-azul.jpeg' " class="soft-border wxl-90 img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg1" style="display:none;" type="file" accept="image/*" name="DNI" />
      <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg1.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('DNI')"></q-btn>
      </div>

    </div>

   

    <div v-if="vehiculo.vtv == 1" class="col-12 col-sm-6 wxl-30 flex flex-center row">
       <div v-if="vehiculo.vtv == 1" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >VTV {{vehiculo.nombre}}</p>
    </div>
      <q-img :src="VTV_tractor || 'img/logo-azul.jpeg' " class="soft-border img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg2" style="display:none;" type="file" accept="image/*" name="VTV_tractor" />
       <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg2.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('VTV_tractor')"></q-btn>
      </div>
      <!-- <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md" @click.native="$refs.inputImg2.$el.click()" icon="fas fa-upload" ></q-btn> -->

    </div>

    <!-- <div v-if="vehiculo == 'Tractor'" class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="VTV_tractor" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    <!--<div v-if="vehiculo == 'Semi'" class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm " >VTV Semi</p>
    </div>

    <div v-if="vehiculo == 'Semi'" class="col-12 col-sm-6 flex flex-center  ">
      <q-img :src="VTV_semi || 'img/logo-azul.jpeg' " class="soft-border" ></q-img>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" ></q-btn>

    </div>-->

    <!-- <div v-if="vehiculo == 'Semi'" class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="VTV_semi" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

    

    <div  class="col-12 col-sm-6 wxl-30 flex flex-center row">
       <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >Registro</p>
    </div>
      <q-img :src="Registro || 'img/logo-azul.jpeg' " class="soft-border wxl-90 img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg3" style="display:none;" type="file" accept="image/*" name="Registro" />
       <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg3.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('Registro')"></q-btn>
      </div>
      <!-- <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" @click.native="$refs.inputImg3.$el.click()"></q-btn> -->

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">

      <q-file borderless v-model="Registro" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

   

    <div  class="col-12 col-sm-6 wxl-30 flex flex-center row">
       <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >Seguro</p>
    </div>
      <q-img :src="Seguro || 'img/logo-azul.jpeg' " class="soft-border wxl-90 img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg4" style="display:none;" type="file" accept="image/*" name="Seguro" />
       <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg4.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('Seguro')"></q-btn>
      </div>
      <!-- <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" @click.native="$refs.inputImg4.$el.click()"></q-btn> -->

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">


      <q-file borderless  v-model="Seguro" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

   

    <div  class="col-12 col-sm-6 wxl-30 flex flex-center row">
       <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >Cláusula de no repetición</p>
    </div>
      <q-img :src="Clausula || 'img/logo-azul.jpeg' " class="soft-border wxl-90 img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg5" style="display:none;" type="file" accept="image/*" name="Clausula" />
       <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg5.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('Clausula')"></q-btn>
      </div>
      <!-- <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" @click.native="$refs.inputImg5.$el.click()"></q-btn> -->

    </div>

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md " icon="fas fa-upload" ></q-btn>

      <q-file borderless v-model="Clausula" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->

   

    <div  class="col-12 col-sm-6 wxl-30 flex flex-center row">
       <div  class="col-12 flex flex-center-sm q-pl-md q-mt-md ">
      <p class="mb-0 font-xl w-50-sm tags-xl" >ART</p>
    </div>
      <q-img :src="ART || 'img/logo-azul.jpeg' " class="soft-border wxl-90 img-xl" ></q-img>
      <q-input @input.native="procesarImagen" ref="inputImg6" style="display:none;" type="file" accept="image/*" name="ART" />
       <div class="flex flex-center item-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-upload" @click.native="$refs.inputImg6.$el.click()"></q-btn>
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md q-ml-sm hide-xl" icon="add_a_photo" @click="captureImage('ART')"></q-btn>
      </div>
      <!-- <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md q-mt-md " icon="fas fa-upload" @click.native="$refs.inputImg6.$el.click()"></q-btn> -->

    </div>

    </div>

   

    <!-- <div  class="col-12 col-sm-6 q-mt-md text-center ">
      <q-btn color="yellow" class="clr-layout rounded-5 q-pl-md q-pr-md " icon="fas fa-upload" ></q-btn>

      <q-file borderless v-model="ART" class="input_txt shadow-4 q-pl-md q-pr-md " label="Adjuntar imagen" placeholder="Ingrese el Vencimiento del seguro"  />
    </div> -->
      <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
        <q-linear-progress query color="grey" class="q-mt-sm" />
      </div>
     <div class="col-12 text-center flex flex-center-sm q-mt-lg ">
        <q-btn @click="Terminos = true" class="cl_standar w-100 rounded-5 w-50-sm wxl-20" label="Crear cuenta" ></q-btn>
     </div>

     <div @click="login()" class="col-12 text-center pointer q-mt-md ">
       <p class="font-xl mb-0 " >¿Ya tienes cuenta?</p>
     </div>

      <div @click="login()" class="col-12 text-center pointer q-mt-md ">
       <p class="font-xl bold" >Iniciar sesión</p>
     </div>

  

  <!-- <q-dialog v-model="paises">
      <q-card class="w-40 no-max-width rounded " >

        <q-card-section class="q-pt-none flex flex-center rounded ">

          <div v-for="codigo in codigos" :key="codigo" class="flex w-100 q-mt-sm q-ml-md rounded ">

            <q-img :src="codigo.icon" class="" width="25px" @click="ruta = codigo.icon, c_area = codigo.area, paises = false" ></q-img>
            <p @click="ruta = codigo.icon, c_area = codigo.area, paises = false"  class="mb-0 q-ml-sm " >{{codigo.area}} </p>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog> -->

    <!-- Terminos y condiciones -->

    <q-dialog  v-model="Terminos">
      <q-card class="w-50-sm w-100 wxl-30 no-max-width" >

        <div class="row w-100 color-layout q-pa-sm " >

          <div class="col-2">

          </div>

          <div class="col-8 flex flex-center ">
            <p class="mb-0 text-white font-xl " >Términos y condiciones</p>
          </div>

          <div class="col-2">
             <q-btn flat label="X" class="text-white" @click="Terminos = false" ></q-btn>
          </div>

        </div>

        <q-card-section class="q-pt-none flex flex-center rounded ">

         <div class="row w-100 ">

             <div class="col-12 text-center q-pl-md q-mt-md ">
            <p class="mb-0 font-xl text-justify" > 
              
                <b>POLÍTICA DE PRIVACIDAD PARA APLICACIÓN MÓVIL EASYDOCKING</b> 

                <br><br>

                Nuestra política de privacidad se aplica al uso de la App móvil “EasyDocking” para dispositivos móviles Android. <br><br>

                Nuestra política de privacidad incluye las condiciones de uso de las aplicaciones. La utilización de estas implica su aceptación y sin reservas a todas y cada una de las disposiciones incluidas en estas. En caso de no aceptar a dichas disposiciones no debe utilizar la aplicación mencionada. <br><br>

                

                Nos reservamos el derecho a modificar, total o parcialmente esta Política de Privacidad. Se aconseja que consulte esta Política de Privacidad periódicamente para cualquier cambio, ya que el uso continuado será considerado como la aprobación de todos los cambios. <br><br>

                

                Información que se obtiene de la App y su utilización <br><br>

                

               <b>Información proporcionada por el usuario </b> <br><br>

                

                La aplicación obtiene la información que usted proporciona cuando se descarga y se  registra en la aplicación. <br><br>

                

                Cuando se registre con nosotros y utilice la aplicación, por lo general, deberá proporcionar <br><br>

                (a) Su nombre, numero de identidad, correo electrónico, contraseña y otra información de registro, (b) la información relacionada con la transacción, por ejemplo, patente del vehículo que usted utiliza, día y hora de su turno en el predio, (c) la información que usted nos proporciona cuando se comunica con nosotros en  busca de ayuda, y (d) la información que introduce en nuestro sistema al utilizar la aplicación, tales como información de contacto. <br><br>


                

               <b>Protección de datos personales </b> <br><br>

                

                Cómo principio general, estas aplicaciones no comparten ni revelan información obtenida, excepto cuando haya sido autorizada por usted, o en los siguientes casos: <br><br>

                a) Cuando le sea requerido por una autoridad competente y previo el cumplimiento del trámite legal correspondiente y b) Cuando a juicio de esta aplicación sea necesario para hacer cumplir las condiciones de uso y demás términos de la aplicación, o para salvaguardar la integridad de los demás usuarios o de la aplicación. <br><br>

                Deberá estar consciente de que si usted voluntariamente revela información personal en línea en un área pública, esa información puede ser recogida y usada por otros. Nosotros no controlamos las acciones de nuestros visitantes y usuarios. <br><br>

                

                También podemos utilizar la información que nos ha facilitado para que nos comuniquemos con usted de vez en cuando para ofrecerle información importante y/o noticias. <br><br>

                

               <b>Información recopilada automáticamente</b>  <br><br>

                

                Además, la aplicación puede recopilar cierta información automáticamente, incluyendo, la dirección IP de su dispositivo móvil, el sistema operativo móvil, el tipo de móvil navegadores de Internet que utiliza, y la información    sobre el modo de usar la aplicación. <br><br>

                

                La aplicación obtiene información sobre su ubicación en tiempo real <br><br>

                

                Se utiliza la aplicación en segundo plano para permitir el seguimiento de los transportistas dentro de la planta o centro de distribución. Siempre y cuando se dé permiso de acceder a ubicación  cuando se abre la aplicación. <br><br>

                


                ¿Los terceros pueden ver y/o tener acceso a la información obtenida por la aplicación? <br><br>

                

                Sí. Vamos a compartir su información con terceros sólo en las formas que se describen en  esta declaración de privacidad y que por lo tanto hayan sido autorizadas por los usuarios. <br><br>

                Podemos revelar información que los usuarios proveen y se recaudan automáticamente por la aplicación: <br><br>

                ·Cuando creemos de buena fe que dicha divulgación es necesaria para proteger nuestros derechos, la protección de su seguridad o la seguridad de otros, investigar el fraude, o para responder a una solicitud del gobierno. <br><br>

                ·Con nuestros clientes cuando soliciten informes históricos. <br><br>

                ·Si EasyDocking está involucrada en una fusión, adquisición o venta de la totalidad o una parte de sus activos, se le notificará por SMS y/o WhatsApp y/o un aviso destacado en nuestro sitio Web https://easydockinglatam.com/ de cualquier cambio en la propiedad o la utilización de esta información, así como las opciones que usted puede tener con respecto a esta información. <br><br>


               <b>Política de retención de datos</b>  <br><br>

                

                Vamos a conservar datos de cada usuario proporcionada por el tiempo que se utiliza la aplicación. <br><br>

                

               <b>Seguridad</b>  <br><br>

                

                Estamos preocupados por salvaguardar la confidencialidad de su información. Proveemos salvaguardas físicas, electrónicas y de procedimiento para proteger la información que procesamos y mantener. Por ejemplo, limitamos el acceso a esta información a los empleados que necesitan conocer dicha información para operar, desarrollar o mejorar nuestra aplicación. <br><br>

                

               <b>Su consentimiento</b>  <br><br>

                

                Mediante el uso de la aplicación, usted acepta nuestro procesamiento de sus datos en los términos de esta Política de Privacidad de vez en cuando modificado por nosotros. <br><br>

                

               <b>Contáctenos</b>  <br><br>

                

                Si usted tiene alguna pregunta respecto a la privacidad durante el uso de la aplicación, o si tiene preguntas sobre nuestras prácticas, por favor póngase en contacto con nosotros por correo electrónico a admin@easydockinglatam.com <br><br> </p>
            </div>


           <div class="col-12 flex flex-center q-mt-lg text-center ">

              <q-btn class="cl_standar rounded-5 q-mr-sm q-pl-sm q-pr-sm" @click="Terminos = false" label="Cancelar" ></q-btn>

              <q-btn class="cl_standar rounded-5 q-ml-sm q-pl-sm q-pr-sm " @click="Registrar() , Terminos = false " :disabled="disableButton" label="Aceptar" ></q-btn>

            </div>

         </div>

        </q-card-section>

      </q-card>
    </q-dialog>

</div>
</template>
<script>
import config from '../config'
import checkEmail from '../lib/checkEmail';
import procesarImagenCargada from '../lib/procesarImagen'
export default {

data () {
  return {
    Terminos: false,
    predio: [],
    predios: [],
    //predios: ['Cauchera','Polleria','Cambios','Panaderia','Ferreteria reigo','Enviaxa','Farma asistencia','TBT grill','Snarpy','Nombre largo para pruebas'],
    cargandobarra: false,
    date: '2019/03/01',
    proxyDate: '2019/03/01',
    proxyDate2: '2019/03/01',
    email: '',
    patente: '',
    patente2: '',
    V_registro:'',
    V_VTV: '',
    V_seguro:'',
    paises: false,
    password: '',
    password2: '',
    nombre:'',
    apellido:'',
    telefono:'',
    isPwd: true,
    isPwd2: true,
    VTV_tractor : null,
    VTV_semi: null,
    DNI:null,
    Registro: null,
    Seguro: null,
    Clausula: null,
    ART: null,
    ruta:'',
    c_area: '',
    id_c_area: '',
    codigos: [/*{area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},*/],
    vehiculo: '',
    //vehiculos: ['Tractor','Semi','Chasis','Camión','Auto'],
    vehiculos: [],
    disableButton: false
  }
},

created() {
  this.cargarCodPaises();
  this.cargarPredios();
  this.cargarTipoVehiculos();
},

watch: {

},

computed: {

},

methods: {
  cargarCodPaises(){
      this.$axios.get(config.API_URL+'cod_telefono/')
        .then(res => {
          this.codigos = res.data;
          if(res.data[0]){
            this.ruta= res.data[0].bandera;
            this.c_area= res.data[0].cod;
            this.id_c_area= res.data[0].id;
          }
        });
  },
  cargarPredios(){
      this.$axios.get(config.API_URL+'predio/')
        .then(res => {
          this.predios = res.data;
        });
  },
  cargarTipoVehiculos(){
      this.$axios.get(config.API_URL+'tipo_vehiculo/')
        .then(res => {
          this.vehiculos = res.data;
        });
  },
   updateProxy () {
      this.proxyDate = this.V_registro
      this.proxyDate2 = this.V_VTV
    },

    save () {
      this.V_registro = this.proxyDate
      this.V_VTV = this.proxyDate2
    },

    login(){
       this.$router.push('/Login')
    },

    async procesarImagen(evt){
      let name = evt.target.name;
      let data = await procesarImagenCargada(evt);
      //console.log('******** Tamaño de imagen antes de la compresión ********')
      //console.log(data.length / 1024)
      if(!data.length){
        this.$q.notify('La imagen es muy grande!');
        return;
      }
      let img = new Image()
      img.src = data
      let self = this
      img.onload = function() {
        let datas = self.compress(img, 0.2)
        self[name] = datas;
      }
    },
    compress(img, size) {
        let canvas = document.createElement('canvas')
        let ctx = canvas.getContext('2d')
        let initSize = img.src.length
        let width = img.width
        let height = img.height
        canvas.width = width
        canvas.height = height
        // Pavimenta el color de fondo
        ctx.fillStyle = '#fff'
        ctx.fillRect(0, 0, canvas.width, canvas.height)
        ctx.drawImage(img, 0, 0, width, height)
        // Realizar compresión mínima
        let ndata = canvas.toDataURL('image/jpeg', size)
        //console.log('******* Tamaño de imagen después de la compresión *******')
        // console.log(ndata)
        //console.log(ndata.length / 1024)
        return ndata
      },
  Registrar(){
    let formData = new FormData();
    formData.set('nombre', this.nombre);
    formData.set('apellido', this.apellido);
    formData.set('correo', this.email);
    formData.set('cod_ped', this.id_c_area);
    formData.set('telefono', this.telefono.replace(' ',''));
    formData.set('pass', this.password);
    formData.set('pass_c', this.password2);
    formData.set('tipo', this.vehiculo.id);
    formData.set('tipo_vtv', this.vehiculo.vtv);
    formData.set('patente', this.patente);
    formData.set('patente2', this.patente2);
    formData.set('vencimiento', this.V_registro);
    formData.set('vencimiento_vtv', this.V_VTV);
    formData.set('vencimiento_seguro', this.V_seguro);
    if(this.vehiculo)
      formData.set('requerido_patente2', this.vehiculo.dpatente);
    if(this.DNI)
      formData.set('dni', this.DNI);
    if(this.Registro)
      formData.set('imgv1', this.Registro);
    if(this.VTV_tractor)
      formData.set('imgv2', this.VTV_tractor);
    if(this.Seguro)
      formData.set('imgv3', this.Seguro);
    if(this.Clausula)
      formData.set('imgv4', this.Clausula);
    if(this.ART)
      formData.set('imgv5', this.ART);
    if(this.predio)
      formData.set('predios', this.predio);


    this.disableButton = true;
    this.cargandobarra = true;
    this.$api.post('/chofer', formData)
      .then(resp => {
        this.cargandobarra = false;
        if(resp.data.r){
          swal.fire('Completado','Se registró correctamente, pendiente por aprobación','success');
          this.$router.push('/Login')
        }
        else{
          swal.fire('Oops..',resp.data.msj || resp.data.msg,'error');
          this.disableButton = false;
        }

        //console.log(resp);
      })
      .catch(err => {
        this.cargandobarra = false;
        this.disableButton = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        //console.log(err,err.response);
      });
  },
  captureImage (name) {
    navigator.camera.getPicture(
      data => { // on success
        let img = new Image()
        img.src = `data:image/jpeg;base64, ${data}`
        let self = this
        img.onload = function() {
          let datas = self.compress(img, 0.2)
          self[name] = datas;
        }
      },
      () => { // on fail
        this.$q.notify('Error a acceder a la camara del dispositivo');
      },
      {
        // camera options
        quality: 50,
        destinationType: navigator.camera.DestinationType.DATA_URL,
        encodingType: navigator.camera.EncodingType.JPEG,
        MEDIATYPE: navigator.camera.MediaType.PICTURE,
        sourceType: navigator.camera.PictureSourceType.CAMERA,
        mediaType: navigator.camera.MediaType.PICTURE,
        cameraDirection: navigator.camera.Direction.BACK
      }
    )
  },
  correoValido(correo) {
    const sts_email = checkEmail(correo);
    if(sts_email)
      this.disableButton = false;
    else
      this.disableButton = true;
    return sts_email
  },
},




}</script>