<template>
  <div id="q-app" style="z-index: 99999999999999999999999">
    <router-view :key="$route.fullPath" />
  </div>
</template>

<script>
import cordovaPlugins from "./plugins/cordovaPlugins";
import GoogleMapsApiLoader from "google-maps-api-loader";
import { EventBus } from "./router/index";
import geo from "./lib/geo";
import config from "./config";

export default {
  name: "App",
  created() {
    window.socketCo = undefined;
    // this.$store.dispatch('carrito/fetch');
    // this.CordovaP(this.$store.getters["auth/id"]);
    this.$store.dispatch("notificacion/actualizar");
    if (this.$store.getters["auth/logueado"]) this.CargarnoVistos();
  },
  async beforeMount() {
    const Swal = require("sweetalert2");
    if (this.$store.getters["auth/logueado"]) {
      this.$router.push("/Home");
    }

    window.swal = Swal;
    const googleMapApi = await GoogleMapsApiLoader({
      libraries: ["places"],
      apiKey: "AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY",
    });
    window.google = googleMapApi;
  },
  mounted() {
    // this.$router.push('/Formulario');
    // this.$store.dispatch('auth/fetch');
    this.CordovaP(this.$store.getters["auth/id"]);
    if (this.$store.getters["auth/datos"]) {
      // sustituido por el nuevo plugin de GeoBackAndFore
      // this.$store.dispatch("iniciarsetinterval").catch((e) => {
      //   console.error("err iniciarsetinterval");
      // });
    }

    if (this.$store.getters["auth/logueado"]) {
      this.$store.dispatch("actualizarSoporte");
    }

    const idusu = this.$store.getters["auth/id"];
    this.$socket.removeAllListeners("chofer");
    this.$socket.removeAllListeners("chofer" + idusu);
    this.$socket.on("chofer", this.onSocketEvent);
    this.$socket.on("chofer" + idusu, this.onSocketEvent);
  },
  methods: {
    onSocketEvent(evt) {
      this.$store.dispatch("notificacion/actualizar");
    },

    CargarnoVistos() {
      this.$api({
        url: `/rooms/obtener/no-vistos/${this.$store.getters["auth/datos"].id}/chofer`,
        method: "GET",
        data: {},
      })
        .then(async (res) => {
          EventBus.$emit("emit_de_no_vistos", res.data.no_vistos);
        })
        .catch((err) => {});
    },
    CordovaP: function (id_usuario) {
      document.addEventListener("deviceready", function () {
        cordovaPlugins.Firebase(id_usuario, config);
      });
    },
  },
};
</script>
