<template>
  <div @click="verMas(producto.cod_inv)" v-if="producto.pre_ven_inv > 0">
    <div class="text-center ">
      <p class="m-0 cl_standar rounded-top " > {{ producto.cod_inv }} </p>
      <img class="img-productos  rounded-bottom fondo-dark" :src="producto.img_inv||'img/product.jpg'"  alt="" onerror="this.src='img/product.jpg';"/>
    </div>
    <div class="q-pl-lg q-pr-md  ">
      <p class="m-0 font-sm elipsis " > {{producto.nom_inv}}</p>
    </div>
    <div class="text-center q-mt-xs q-mb-xs ">
      <p class="m-0 font-md  txt-etiquetas " > {{ precio(producto) }}</p>
    </div>
  </div>
</template>

<script>
import {DESCUENT} from '../config'
export default {
  name: 'Producto',
  props: ['producto'],
  methods: {
    verMas(i) {
      this.$router.push(`/producto/${i}`);
    },
    precio(producto){
      let precio = 0
      precio = producto.pre_ven_inv * producto.dolar
      precio = precio + (( precio * producto.porcentaje)/100)

      let descuento = precio * DESCUENT
      precio = precio - descuento
      
      return this.$utils.precio(precio, 'Bs ')
    }
  }
}
</script>
