<template>
  <div style="display: contents;">

    <tarjeta-modalidad
      v-for="moda in modalidades"
      :key="moda.id"
      :nombre="moda.nombre"
      :descripcion="moda.descripcion"
      :monto="moda.monto"
      :tiempo="moda.horas"
      :val="moda.id"
      v-model="selected"
      @unchecked="onUnchecked"
      />

  </div>
</template>

<script>
import TarjetaModalidad from './TarjetaModalidad';
export default {

name: 'TarjetaModalidadLista',

components: { TarjetaModalidad },

props: {
  value: {
    default: null,
  },
  modalidades: {
    type: Array,
  },
},


data() {
  return {
    selected: null,
  };
},


watch: {
  value(newValue) {
    this.selected = newValue;
  },
  selected(newValue) {
    this.$emit('input', this.selected);
  },

},

methods: {
  onUnchecked(val) {
    if (val == this.selected)
      this.$emit('input', null);
  },
},


}</script>
