<template>
  <div id="q-app" style="z-index:99999999999999999999999;" @mouseover="toogleFunc()">
    <!-- <router-view :key="$route.fullPath" /> -->
    <router-view />
  </div>
</template>

<script>
import { LocalStorage } from 'quasar'

import Swal from 'sweetalert2';
import GoogleMapsApiLoader from "google-maps-api-loader";
export default {
data () {
    return{
      TOOGLE_login: null
    }
},
name: 'App',
watch: {
  
},
computed: {
    
},
created() {
  window.socketCoPA = undefined;
  if (this.$store.getters['auth/logueado']) {
    this.$store.dispatch('auth/fetch_telefono_soporte');
    this.$store.dispatch('notificacion/actualizar');
  }

  const idusu = this.$store.getters['auth/id'];
  this.$socket.removeAllListeners('admin');
  this.$socket.removeAllListeners('admin'+idusu);
  this.$socket.on('admin', this.onSocketEvent);
  this.$socket.on('admin'+idusu, this.onSocketEvent);

  this.$store.dispatch('TZ/update');
},


async beforeMount() {
  const Swal = require('sweetalert2');
  window.swal = Swal;
  const googleMapApi = await GoogleMapsApiLoader({
    libraries: ['places'],
    apiKey: "AIzaSyBUPAHemQKCzVuIBCYTJ9AvsEtZDkfOOjY"
  });
  window.google = googleMapApi;
},


methods: {
  onSocketEvent(r) {
    this.$store.dispatch('notificacion/actualizar');
  },
  toogleFunc() {

  }
},


}</script>
