<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 text-weight-light text-grey-7 " >Administradores</p>
            </div>
        </div>

        <div class="q-pa-md">
    <!--<q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
           <q-td key="Opciones" :props="props">
            <div class="flex flex-center table-width-xs ">
               <q-btn class="cl_standar q-mr-sm  " @click="crud = true" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar q-mr-sm " @click="crud = true" round size="sm" icon="edit" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Editar
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar  " @click="eliminar = true" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn>
            </div>
          </q-td>
          <q-td key="ID" :props="props">
            {{ props.row.ID }}
          </q-td>
          <q-td key="Nombre" :props="props">

              {{ props.row.name }}

          </q-td>
          <q-td key="Usuario" :props="props">

              {{ props.row.Usuario }}

          </q-td>
          <q-td key="Correo" :props="props">

              {{ props.row.Correo }}

          </q-td>
        </q-tr>
      </template>

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-6 col-md-8 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        <div class="col-6 col-md-4 text-center ">
           <q-btn class="cl_standar rounded q-pl-sm q-pr-sm " @click="crud = true" label="Agregar" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Agregar nuevo administrador
               </q-tooltip>
           </q-btn>
        </div>

        </div>
      </template>

    </q-table>-->
    <data-tables
        ref="tabla"
        :columns="columns2"
        :config="configDataTable"
        :mostrar-agregar="true"
        :mostrar-ver="true"
        :mostrar-editar="true"
        :mostrar-eliminar="true"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @eliminar="clickEliminar"
        @editar="clickEditar"
        loading-label="Cargando..."
        />
  </div>

  <!-- modal crud -->

  <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >{{txt_tit}} administrador</p>
            </div>

            <div class="col-2 text-right " >
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer  w-100 font-xl q-pl-sm text-grey-7 text-weight-regular "  style="">Nombre</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" placeholder="Ingrese el nombre" input-class="height_txt" v-model="nombre" borderless :readonly="inputdisabled" class=" w-100 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer  w-100 font-xl q-pl-sm text-grey-7 text-weight-regular "  style="">Usuario</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="text" placeholder="Ingrese el usuario" input-class="height_txt"   v-model="usu" borderless :readonly="inputdisabled" class=" w-100 input_txt" :rules="[ val => val && val.length >4 || 'Debe ser mayor a 4 caracteres']"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer w-100 font-xl q-pl-sm text-grey-7 text-weight-regular"  style="">Contraseña</p>
            </div>

            <div class="col-12 flex flex-center ">

             <q-input class=" q-pr-md w-100 input_txt" placeholder="Ingrese la contraseña" input-class="height_txt" v-model="password" :readonly="inputdisabled" borderless :type="isPwd ? 'password' : 'text'" :rules="[ val => !val || val && val.length >4 || 'Debe ser mayor a 4 caracteres']">
                <template v-slot:append>
                <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                />
                </template>
            </q-input>

            </div>

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer  w-100 font-xl q-pl-sm text-grey-7 text-weight-regular" style="">Email</p>
            </div>

            <div class="col-12 flex flex-center ">

            <q-input name="usuario" type="email" placeholder="Ingrese el Email" input-class="height_txt" v-model="email" borderless :readonly="inputdisabled" :rules="[ correoValido ]" class=" w-100 input_txt"/>

            </div>
            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>
            <div class="col-12 q-mt-md ">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md " :disable="disableButton" @click="clickGuardar" v-if="!inputdisabled">Guardar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >administrador # {{id_val}}</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl text-grey-7 text-weight-regular " >¿Está seguro que desea eliminar este administrador?</p>
            </div>

          </div>
          <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
            <q-linear-progress query color="grey" class="q-mt-sm" />
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disable="disableButton" @click="eliminar_veh" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
import config from '../config'
import checkEmail from '../lib/checkEmail'
import DataTables from 'components/DataTables'
export default {
  components: { DataTables },
  data () {
    return {
        cargandobarra: false,
        disableButton: false,
        inputdisabled: false,
        txt_tit: '',
        id_val: null,
        nombre :'',
        Usuario: '',
        usu: '',
        password: '',
        email:'',
         filter: '',
        eliminar: false,
        crud: false,
        password: null,
       isPwd: true,
      columns2: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', required: true, label: 'ID', align: 'center', field: row => row.id },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre, sortable: true},
        { name: 'Usuario', align: 'center', label: 'Usuario' , align: 'center' , field: row => row.usuario, sortable: true },
        { name: 'Correo', label: 'Email', field: row => row.correo , align: 'center' , sortable: true, style: 'width: 10px' },
      ],
      configDataTable: {
        ajax: '/admin',
        tooltip_agregar: '',
      },
    }
  },
  methods: {
    clickVer(row){
      this.txt_tit = 'Ver';
      this.id_val = row.id;
      this.nombre = row.nombre;
      this.usu = row.usuario;
      this.email = row.correo;
      this.password = null;
      this.inputdisabled = true;
      this.crud = true;
    },
    clickAgregar(row){
      this.txt_tit = 'Agregar';
      this.id_val = null;
      this.nombre = null;
      this.usu = null;
      this.email = null;
      this.password = null;
      this.inputdisabled = false;
      this.crud = true;
    },
    clickEditar(row){
      this.txt_tit = 'Editar';
      this.id_val = row.id;
      this.nombre = row.nombre;
      this.usu = row.usuario;
      this.email = row.correo;
      this.password = null;
      this.inputdisabled = false;
      this.crud = true;
    },
    clickGuardar(){
      if (this.id_val)
        this.editar();
      else
        this.crear();
    },
    crear(){

      const datos = {
        nombre: this.nombre,
        usuario:this.usu,
        pass:this.password,
        email: this.email
      };

      if (!datos.nombre)
        return this.$q.notify('Complete el nombre');
      if (!datos.usuario || datos.usuario.length<=4)
        return this.$q.notify('Complete el usuario');
      if (!datos.pass || datos.pass.length<=4)
        return this.$q.notify('Complete la contraseña');
      if (!this.correoValido(datos.email))
        return this.$q.notify('Ingresa un email valido');
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.post('/admin', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    editar(){

      const datos = {
        nombre: this.nombre,
        usuario:this.usu,
        pass:this.password,
        email: this.email,
        ide: this.id_val
      };

      if (!datos.nombre)
        return this.$q.notify('Complete el nombre');
      if (!datos.usuario || datos.usuario.length<=4)
        return this.$q.notify('Complete el usuario');
      if (datos.pass && datos.pass.length>0 && datos.pass.length<=4)
        return this.$q.notify('Complete la contraseña');
      if (!this.correoValido(datos.email))
        return this.$q.notify('Ingresa un email valido');
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.put('/admin/editar', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    clickEliminar(row){
      this.id_val = row.id;
      this.eliminar = true;
    },
    eliminar_veh(){
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.delete('/admin/'+this.id_val)
        .then(this.axiosThen, this.axiosCatch);
    },
    axiosThen(res) {
      this.disableButton = false;
      this.cargandobarra = false;
      if(res.data.r){
        swal.fire('Completado',res.data.msg,'success');
        this.$refs.tabla.fetch();
      }else{
        if(res.data.msg)
          this.$q.notify(res.data.msg);
        else
          this.$q.notify('No se pudo realizar este proceso');
      }
      this.$refs.tabla.fetch();
      this.crud = false;
      this.eliminar = false;
    },
    axiosCatch(err) {
      this.disableButton = false;
      this.cargandobarra = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },
    correoValido(correo) {
      const sts_email = checkEmail(correo);
      return sts_email
    },
  }
}
</script>
