<template>
  <div style="background-image: url(img/docking.jpg);overflow: auto;" class=" bg-img-fondo  ">
    <div class="row vh90 flex item-center ">

      <div class="col-12 row flex  text-center item-center flex flex-center ">

        <div class="col-2"></div>

        <div v-if="Type()" @click="Predios()" class="col-12 col-md-4 pointer  flex flex-center soft-border q-pa-sm ">

          <div class="gris w-100  soft-border ">


            <q-icon style="font-size:100px" class="w-100 clr-azul-oscuro " name="info"></q-icon>

            <p class="titulos">Predios</p>

          </div>

        </div>



        <div v-if="Type()" @click="choferes()" class="col-12 col-md-4 pointer  flex flex-center soft-border q-pa-sm ">

          <div class="gris w-100  soft-border ">

            <q-icon style="font-size:100px" class="w-100 clr-azul-oscuro " name="person"></q-icon>

            <p class="titulos">Choferes</p>

          </div>

        </div>



        <div v-if="!Type()" @click="Horarios()" class="col-12 col-md-4 pointer  flex flex-center soft-border q-pa-sm ">

          <div class="gris w-100  soft-border ">

            <q-icon style="font-size:100px" class="w-100 clr-azul-oscuro " name="timer"></q-icon>

            <p class="titulos">Horarios</p>

          </div>

        </div>

        <div v-if="!Type()" @click="Calendario()" class="col-12 col-md-4 pointer  flex flex-center soft-border q-pa-sm ">

          <div class="gris w-100  soft-border ">


            <q-icon style="font-size:100px" class="w-100 clr-azul-oscuro " name="schedule"></q-icon>

            <p class="titulos">Calendario</p>

          </div>

        </div>


        <div class="col-2"></div>

      </div>


    </div>

  </div>
</template>
<script>
export default {

data () {
  return {
    modal: false,
    EstadoM : false,
    EstadoF : false,
    model: null,
    id: '',
    nombre: '',
    telefono: null,
  }
},


methods:{
  Type() {
    return this.$store.getters["auth/type"] == 'admin' ? true : false
  },
  Predios(){
    this.$router.push('/Predios')
  },
  choferes(){
    this.$router.push('/Choferes')
  },
  Calendario(){
    this.$router.push('/Calendario')
  },
  Horarios(){
    this.$router.push('/Horarios')
  },
},



}</script>
