<template>
    <div class="flex flex-center">

         <div class="row azul-oscuro w-50 w-100-sm w-100-md ">

        <div class="row col-12 vh5 flex item-center  ">

             <div class="col-2">

           </div>

           <div class="col-8">

           </div>

           <div class="col-2 text-right ">
              <q-btn flat class="text-white" to="/Predios" label="x" ></q-btn>
           </div>
           <div style="position: relative;top: -2.8rem;" class="col-3">

           </div>
           <div style="position: relative;top: -2.8rem;cursor:pointer;" @click="usuarios = !usuarios" class="col-6 q-mt-md text-white relative flex justify-center item-center">

              <p class="mb-0 font-xl " >{{usuario_sel.nombre}}</p>
              <i class="titulos material-icons " >keyboard_arrow_down</i>

              <div v-if="usuarios" style="margin-top:12%;z-index:99;top:0;background-color: #f5f5f5;border-radius: 0.5rem;" class="absolute rounded q-pa-sm bg-gray w-100 vh40 overflow-scroll " >

                  <p v-for="n in listausuarios" :key="n.id" style="cursor:pointer;" class="q-pa-sm rounded-5 text-center bg-white text-black " @click="seleccionarusuario(n)">
                  <span v-if="!buscarPending(n.id)">{{n.nombre}} {{n.apellido}} ({{n.cod}} {{n.telefono}})</span>
                   <b v-else>{{n.nombre}} {{n.apellido}} ({{n.cod}} {{n.telefono}})</b>
                  </p>

              </div>

            </div>
            <div style="position: relative;top: -2.8rem;" class="col-3">

           </div>
        </div>




            <div id="scrollChat"  class="col-12 gris-claro vh-chat overflow-scroll relative   rounded-top-home ">


            <div class="row">
                 <div class="col-12 w-100 flex flex-center q-mt-md ">

                <q-img src="img/truck.png" class="w-20" ></q-img>

                <p class="mb-0 w-100 titulos text-center " ></p>
                <!-- <div v-if="Mensajes.length > 0" @click="BorrarTodo()" class="bt-delete-all">
                  Limpiar todo el chat <i aria-hidden="true" role="img" class="material-icons q-icon notranslate">delete</i>
                </div> -->
                </div>

            </div>

            <div class="q-pa-md row justify-center  ">
               <div @click="mostrarMas()" class="mensajes_anteriores" v-if="anteriores && Mensajes.length > 0">
                  {{ texto }}
                </div>
                <div :class="!fila.hidden ? 'tocado':''" v-for="(fila, index) of Mensajes" :key="index" style="width: 100%;" @click="seleccionar(index)">

                <!-- OPTIONS -->
                <i v-if="fila.tipo_usuario == 'predio' && fila.id_usuario == user.id" aria-hidden="true" role="img" @click="Borrar(index)" class="material-icons q-icon notranslate bt-delete" :class="fila.hidden ? 'hidden':''">delete</i>
                <i v-else aria-hidden="true" role="img" @click="Borrar(index)" class="material-icons q-icon notranslate bt-delete-r" :class="fila.hidden ? 'hidden':''">delete</i>
                <!-- FIN OPTIONS -->

                <q-chat-message
                    v-if="fila.tipo_usuario == 'predio' && fila.id_usuario == user.id && fila.tipo_msj == 1"
                    :name="fila.nombre"
                    avatar="img/user.png"
                    :text="[fila.mensaje]"
                    sent
                    text-sanitize
                    :stamp="fecha_chat(fila.fec_reg_mensaje)"
                    bg-color="white"
                    class="rounded-5"
                />
                <q-chat-message
                    v-if="fila.tipo_usuario == 'chofer' && fila.tipo_msj == 1"
                    :name="fila.nombre"
                    avatar="img/user.png"
                    :text="[fila.mensaje]"
                    :stamp="fecha_chat(fila.fec_reg_mensaje)"
                    bg-color="blue-1"
                    text-sanitize
                />
                <!-- ObtenerImg -->
                <div class="content-chat-img" :class="fila.tipo_usuario == 'predio' && fila.id_usuario == user.id ? 'right-img':'left-img'" v-if="fila.tipo_msj == 2">
                  <div class="row">
                   <div class="col-12 w-100">
                    <span class="left-img">{{ fila.nombre }}</span>
                   </div>
                   <div class="col-12 w-100 content-img-bottom">
                      <img v-if="fila.url_img" :src="fila.url_img" class="soft-border" @click="openImg(fila.mensaje)">

                      <q-btn :disabled="fila.button_toggle" v-else color="yellow" size="md" class="q-mb-sm clr-azul-oscuro rounded q-pl-md q-pr-md q-mt-md q-mr-sm " icon="fas fa-download" @click="ObtenerImg(fila.mensaje, index)"></q-btn>

                      <div class="content-chat-text " v-if="!fila.url_img">
                        Archivo de imagen
                      </div>
                    </div>
                   <div class="col-12 w-100">
                    <span class="left-img color-hour">{{ fecha_chat(fila.fec_reg_mensaje) }}</span>
                   </div>
                  </div>
                </div>
                </div>
            </div>


        </div>

        <div v-if="roomChat" class="col-12 w-100 vh10 q-pa-sm flex item-center flex flex-center item-center row ">

          <div class="col-10">

             <q-input autogrow v-model="mensaje" borderless  class="input_grow flex item-center shadow-4 q-pl-md q-pr-md w-100 " placeholder="Mensaje">
            <template v-slot:append>
               <q-btn icon="send" v-if="mensaje.trim()!=''" :disabled="disabled" @click="__send()"  class="flex item-center" flat ></q-btn>
            </template>
            </q-input>

          </div>

             <div class="col-2 text-center ">
                <q-input @input.native="procesarImagen" ref="inputImg1" style="display:none;" type="file" accept="image/*" name="SHARE" />
                <q-btn icon="add" class="cl_standar relative " @click="opciones = !opciones, opciones_2 = true" round >
                  <div v-if="opciones_2" style="bottom:0;margin-bottom:100%" :class="opciones ? 'animate__backInUp' : 'animate__backOutDown' " class="absolute animate__animated animate__backInUp ">
                      <q-btn icon="image" class="cl_standar q-mb-md " round  @click.native="$refs.inputImg1.$el.click()"/>
                     <!-- <q-btn icon="add_a_photo" class="cl_standar q-mb-md " round /> -->
                  </div>
                </q-btn>
              </div>

            </div>



         </div>

    </div>
</template>
<style>
.q-page-container{
  overflow: hidden;
}
.content-img-bottom {
  cursor: pointer;
  margin-bottom: 0.6rem;
  overflow-y: hidden;
  max-height: 120px;
}
.color-hour {
  color:#a3a3a3;
}
.content-chat-text {
    display: inline-block;
    position: relative;
    top: 0.7rem;
    font-size: 1.2rem;
    color: #2d2f48;
}
.left-img {
  float: left;
}
.right-img {
  float: right;
}
.content-chat-img {
    width: 80%;
    height: max-content;
    min-height: 72px;
    border: 1px solid #2d2f4833;
    border-radius: 2%;
    margin: 6px;
    text-align: center;
    padding: 0.5rem;
    background: #fff;
}
.content-chat-img img{
  max-width: 100%;
  max-height: auto;
}
.bt-delete-all {
    position: relative;
    background: #2d2f486b;
    border-radius: 3%;
    padding: 0.4rem;
    color: #fff;
    cursor: pointer;
}
.mensajes_anteriores{
  cursor:pointer;
  color: #2d2f48;
  background: #fff;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 2%;
  margin-bottom: 1rem;
}
.bt-delete {
  cursor:pointer;
  position: absolute;
  font-size: 30px;
  color: #2d2f48;
  z-index: 1;
  background: #36305626;
  border-radius: 10%;
}
.bt-delete-r {
  cursor:pointer;
  position: relative;
  float:right;
  font-size: 30px;
  color: #2d2f48;
  z-index: 1;
  background: #36305626;
  border-radius: 10%;
}
.tocado {
  background: #ddd;
}
</style>
<script>
import config from '../config'
import procesarImagenCargada from '../lib/procesarImagen'
import IO from 'socket.io-client';
import moment from "moment";
import momentz from "moment-timezone";
import TimeAgo from "javascript-time-ago";
const locale = require("javascript-time-ago/locale/es");
TimeAgo.addLocale(locale);
const timeAgo = new TimeAgo("es-ES");
window.timeAgo = timeAgo;
moment.locale("es");
var resolvedOptions = Intl.DateTimeFormat().resolvedOptions();
console.log('ZONA HORARIA: ', resolvedOptions.timeZone);
window.TIMEZONE = resolvedOptions.timeZone;
export default {

data () {
  return {
     opciones: false,
    opciones_2: false,
    listausuarios: [],
    predio_sel: {
      nombre: ""
    },
    usuarios: false,
    mensaje: '',
		audio: new Audio("song/audio.ogg"),
    user: {
      id: undefined
    },
    Mensajes: [],
    number_page: 1,
    items_por_pagina: 30,
    disabled: false,
    socket: undefined,
    anteriores: false,
    texto: "Mostrar mensajes anteriores...",
    usuario_sel: {
      id: "",
      nombre: "Seleccione chofer"
    },
    roomChat: undefined,
    choferPending: []
  }
},

async created() {
  if (this.$route.params.token) {
    await this.$store.dispatch('auth/_process_self_token', this.$route.params.token)
    .then(() => {}).catch(() => {});
  }
	await this.getPredio();
    this.$api({
      url: `/predio/choferes-en-predios/${this.$route.params.predio}`,
      method: "GET",
      data: {},
    })
    .then(async res =>{
        this.listausuarios = res.data || [];
        if (this.$route.params.chofer) {
          for (let index = 0; index < this.listausuarios.length; index++) {
              if (String(this.listausuarios[index].id) === String(this.$route.params.chofer)) {
                this.seleccionarusuario(this.listausuarios[index]);
                break;
              }
          }
        } else {
          this.CargarnoVistos();
        }
    })
    .catch(err=>{

    });
},

watch: {

},

computed: {

},

methods: {
  openImg(name) {
    window.open(`${config.API_URL}rooms/file/${name}`, "_blank");
  },
  async ObtenerImg(name, index) {
    this.Mensajes[index].button_toggle = true;
    this.Mensajes[index].url_img = `${config.API_URL}rooms/file/${name}`;
  },
  async procesarImagen(evt){
    let data = await procesarImagenCargada(evt);
    if(!data.length){
      this.$q.notify('La imagen es muy grande!');
      return;
    }
    let img = new Image()
    img.src = data
    let self = this
    evt.target.value = "";
    img.onload = function() {
    let datas = self.compress(img, 0.2)
     self.__sendImg(datas);
    }
  },
  compress(img, size) {
    let canvas = document.createElement('canvas')
    let ctx = canvas.getContext('2d')
    let width = img.width
    let height = img.height
    canvas.width = width
    canvas.height = height
    ctx.fillStyle = '#fff'
    ctx.fillRect(0, 0, canvas.width, canvas.height)
    ctx.drawImage(img, 0, 0, width, height)
    let ndata = canvas.toDataURL('image/jpeg', size)
    return ndata
  },
  fecha_chat(fecha) {
      let f = "";
      if (fecha) {
          let Fser = this.ConverTimezone(fecha, true);
          if (Fser > moment(new Date()).format("YYYY-MM-DD HH:mm:ss")) {
            f = moment(this.ConverTimezone(fecha, true)).format("hh:mm a");
          } else {
            f = timeAgo.format(new Date(Fser));
          }
      }
      return f;
  },
  ConverTimezone(f, op) {
    let f1 = "";
    if (op && f) {
        f1 = new Date(f);
        f1 = momentz.tz(f1, `${TIMEZONE}`).format("YYYY-MM-DD HH:mm:ss");
        return f1;
    } else {
        return new Date();
    }
  },
  async seleccionarusuario(datos) {
    this.resetChat();
    this.usuario_sel = {
      id: datos.id,
      nombre: `${datos.nombre} ${datos.apellido} (${datos.cod} ${datos.telefono})`
    };
    await this.getRoom();
    this.conectarSo();
    this.obtenerMensajes();
    await this.actualizarVistos();
    this.CargarnoVistos();
  },
  async getRoom() {
    await this.$api({
        url: `/rooms/get-room-from-predio/${this.usuario_sel.id}/${this.$route.params.predio}`,
        method: "GET",
        data: {},
      })
			.then(async res =>{
				 this.roomChat = res.data.room;
			})
			.catch(err=>{

			});
  },
  async getPredio() {
      await this.$api({
            url: `/predio/info-predio/${this.$route.params.predio}`,
            method: "GET",
            data: {},
          })
          .then(trae => {
            this.predio_sel = trae.data;
            this.user = {nombre: `${this.predio_sel.nombre}`, id: this.predio_sel.id, tipo_usuario: "predio"};
          })
          .catch(err=>{

          });
  },
  seleccionar(index) {
    return false;
    // if (this.Mensajes[index].tipo_usuario == 'predio' && this.Mensajes[index].id_usuario == this.user.id) {
      this.Mensajes[index].hidden = !this.Mensajes[index].hidden;
    // }
  },
  resetChat() {
    this.Mensajes = [];
    this.number_page = 1;
    this.items_por_pagina = 30,
    this.disabled = false;
    this.anteriores = false;
  },
  atras(){
    this.$router.go(-1)
  },

  notificaciones(){
    this.$router.push('/Notificaciones')
  },
  Aggmsj(data, op) {
    let push = true;
    for (let index = 0; index < this.Mensajes.length; index++) {
      const element = this.Mensajes[index];
      if (element.id == data.id) {
        push = false;
        break;
      }
    }
    if (push) {
      if (op) {
  			this.Mensajes.unshift(data);
      } else {
      if (data.tipo_usuario != "predio") {
        this.audio.play();
      }
  		this.Mensajes.push(data);
        setTimeout(() => {
          let boxContentChat = document.querySelector(`#scrollChat`);
          if (boxContentChat) {
            boxContentChat.scrollTop = boxContentChat.scrollHeight;
          }
        }, 200);
      }
    }
  },
  mostrarMas() {
    this.texto = "Cargando...";
    this.obtenerMensajes();
  },
  obtenerMensajes() {
    this.$api({
      url: `/rooms/getone-from-predio/${this.number_page}/${this.items_por_pagina}/${this.roomChat}`,
      method: "GET",
      data: {},
    })
    .then(trae => {
      this.anteriores = false;
      for (let i = 0; i < trae.data.data.length; i++) {
	      this.Aggmsj(trae.data.data[i], true);
	    }
      if (this.number_page == 1) {
        setTimeout(() => {
            let boxContentChat = document.querySelector(`#scrollChat`);
            if (boxContentChat) {
              boxContentChat.scrollTop = boxContentChat.scrollHeight;
            }
        }, 300);
      }
      if (trae.data.totalPages > 1) {
        this.anteriores = true;
        this.texto = "Mostrar mensajes anteriores...";
        if (trae.data.totalPages == this.number_page) {
          this.anteriores = false;
        }
        this.number_page = (this.number_page + 1);
      }
    })
    .catch(err=>{

    });
  },
  BorrarAll() {
    this.resetChat();
  },
  BorrarMes(id){
    for (let index = 0; index < this.Mensajes.length; index++) {
      const element = this.Mensajes[index];
      if (String(element.id) == String(id)) {
        this.Mensajes[index].hidden = false;
        let vm = this;
        setTimeout(() => {
          delete vm.Mensajes[index];
          vm.Mensajes.splice(index, 1);
        }, 300);
        break;
      }
    }
  },
  BorrarTodo() {
    this.resetChat();
    this.$api({
        url: `/rooms/delete-all-from-predio/room/${this.roomChat}`,
        method: "DELETE",
        data: {},
    })
    .then(async res=>{

    })
    .catch(err=>{

    });
  },
  Borrar(index) {
    let id = this.Mensajes[index].id;
    this.Mensajes[index].hidden = false;
    let vm = this;
    setTimeout(() => {
      delete vm.Mensajes[index];
      vm.Mensajes.splice(index, 1);
    }, 300);

		this.$api({
            url: `/rooms/delete-from-predio/${id}/${this.roomChat}`,
            method: "DELETE",
            data: {},
        })
        .then(async res=>{

        })
        .catch(err=>{

        });
  },
  buscarPending(chofer) {
    for (let index = 0; index < this.choferPending.length; index++) {
      const element = this.choferPending[index];
      if (String(element.id) === String(chofer)) {
        return true;
      }
    }
    return false;
  },
  CargarnoVistos() {
    this.$api({
      url: `/rooms/obtener-from-predio/no-vistos/${this.user.id}/predio`,
      method: "GET",
      data: {},
    })
    .then(async res=>{
      this.choferPending = res.data.otros;
    })
    .catch(err=>{

    });
  },
  async actualizarVistos() {
    	await this.$api({
        url: `/rooms/marcar-vistos-from-predio/${this.user.id}/predio/${this.roomChat}`,
        method: "PUT",
        data: {},
      })
			.then(async res=>{

			})
			.catch(err=>{

			});
  },
  __sendImg(img){
			let data = {
				 id_room: this.roomChat,
         id_usuario: this.user.id,
         id_recibe: this.usuario_sel.id,
         tipo_usuario: "predio",
         mensaje: img,
         fec_reg_mensaje: moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
      }
			this.$api({
        url: `/rooms/add-img-from-predio`,
        method: "POST",
        data: data,
      })
			.then(async res=>{
				if (res.data.id) {
					this.Aggmsj(res.data);
				}
			})
			.catch(err=>{
				console.log(err)
			});
	},
  __send(){
			let data = {
          id_room: this.roomChat,
          id_usuario: this.user.id,
          id_recibe: this.usuario_sel.id,
          tipo_usuario: "predio",
          mensaje: this.mensaje,
          fec_reg_mensaje: moment(new Date()).format("YYYY-MM-DD HH:mm:ss")
      }
      this.disabled = true;
      this.mensaje = "";
      this.$api({
          url: `/rooms/add-from-predio`,
          method: "POST",
          data: data,
      })
			.then(async res=>{
				this.disabled = false;
				if (res.data.id) {
					this.Aggmsj(res.data);
				}
			})
			.catch(err=>{
				this.disabled = false;
				console.log(err)
			});
	},
  conectarSo(){
      // console.log(this.$store);
			if (this.$store.getters['auth/datos']) {
				let vm = this;
				if (!window.socketCoPA) {
          vm.socket = IO(this.$store.$api.defaults.baseURL);
          window.socketCoPA = vm.socket;
        } else {
          window.socketCoPA.disconnect();
	        window.socketCoPA.close();
          vm.socket = IO(this.$store.$api.defaults.baseURL);
          window.socketCoPA = vm.socket;
        }
        vm.socket.on('connect', function() {
          vm.user.roomChat = vm.roomChat;
					vm.socket.emit("conectar", vm.user);

					vm.socket.on('conectadosOnline', function(obj) {
							console.log(obj);
					});

					vm.socket.on(`recibir-mensaje-${vm.roomChat}`, function(obj) {
              vm.Aggmsj(obj);
          });
          vm.socket.on(`mensaje-eliminado-${vm.roomChat}`, function(id) {
              vm.BorrarMes(id);
          });
          vm.socket.on(`mensajes-eliminados-${vm.roomChat}`, function(obj) {
              vm.BorrarAll();
					});
				});
			}
		},
},
}
</script>
