<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 bold" >Choferes</p>
            </div>
        </div>

        <div class="q-pa-md">
    <!--<q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
           <q-td key="Opciones" :props="props">
            <div class="flex flex-center table-width-xs ">
               <q-btn class="cl_standar q-mr-sm  " @click="crud = true" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
                </q-btn>

                <q-btn class="cl_standar q-mr-sm  " @click="aprobar = true" round size="sm" icon="done" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Aprobar
               </q-tooltip>
                </q-btn>

            <q-btn class="cl_standar  " @click="eliminar = true" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn>
            </div>
          </q-td>
          <q-td key="ID" :props="props">
            {{ props.row.ID }}
          </q-td>
          <q-td key="Nombre" :props="props">

              {{ props.row.name }}

          </q-td>
          <q-td key="Numero_V" :props="props">

              {{ props.row.N_V }}

          </q-td>
        </q-tr>
      </template>

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-12 col-md-6 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        </div>
      </template>

    </q-table>-->

    <data-tables
        ref="tabla"
        :columns="columns2"
        :config="configDataTable"
        :mostrar-ver-cliente="true"
        :mostrar-aprobar="true"
        :mostrar-eliminar-cliente="true"
        no-results-label="No hay coincidencias"
        @ver="clickVer"
        @eliminar="clickEliminar"
        @aprobar="clickAprobar"
        @aprobar_predios="clickAprobarPredios"
        @check="clickCheck"
        loading-label="Cargando..."
        />
  </div>

  <!-- modal crud -->

  <q-dialog maximized v-model="crud">
      <q-card class="rounded-1   no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Chófer {{id_chofer}} </p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 q-mt-md ">
              <p class="mb-0 font-xl bold q-pl-md ">Datos del chófer</p>
            </div>

            <q-separator color="yellow" class="" ></q-separator>



            <div class="col-12 col-sm-12 col-md-12 row flex flex-center q-pr-sm q-mt-md q-pa-sm ">

              <div class="col-12 col-sm-6 col-md-4 q-pa-sm ">

                <p class="m-0  bold w-100 text-center font-xl q-pl-sm "  style="">DNI</p>


              <q-img :src="DNI || 'img/truck.png'" class="soft-border" ></q-img>

              </div>

              <div class=" flex item-center col-md-4 col-12 col-sm-6 ">

            <div class=" ">

             <div class="flex item-centen ">
             <p class="m-0  bold  font-xl "  style="">Nombre: </p>
             <p class="m-0  bold  font-xl q-pl-sm "  style="">{{nombre}}</p>
             </div>

            <div class="flex item-center q-mt-md ">

            <p class="m-0  bold  font-xl  "  style="">Apellido: </p>
            <p class="m-0  bold  font-xl q-pl-sm "  style="">{{apellido}}</p>


            </div>

            <div class=" flex q-mt-md ">

               <p class="m-0  bold font-xl  "  style="">Número móvil: </p>

              <div class="flex item-center">

                <q-img :src="ruta" class="q-ml-sm img-icon" width="25px" height="25px" ></q-img>
                <p   class="mb-0  q-ml-sm font-xl" > {{c_area}} </p>
                <p   class="mb-0  q-ml-sm font-xl" > {{telefono}} </p>

              </div>

            </div>

             <!-- <div class="flex item-center q-mt-md ">
            <p @click="actualizar = true" class="m-0  bold  font-xl mb-0  pointer clr-azul-claro sub-text "  style="">Predios</p>
            </div> -->

            </div>

            </div>

            <div class="col-md-4 col-12 col-sm-6 ">

               <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Predios</p>
            </div>

            <div class="col-12 flex flex-center ">
             <q-select borderless multiple v-model="predio" :options="predios"  class="w-100 select-grow q-pr-sm " option-value="id" option-label="nombre" emit-value map-options />
            </div>

             <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md" :disabled="disabledbotonactualizar" @click="actualizarPredios">Actualizar</q-btn>
              </div>

            </div>

            </div>

             <div class="col-12 q-mt-md ">
              <p class="mb-0 font-xl bold q-pl-md ">Localización por GPS</p>
            </div>

            <q-separator color="yellow" class="" ></q-separator>


            <div class="row w-100 q-mt-md ">
              <div class="col-12">
                <google-map style="width:100%!important" :setcargarmarkermultiple="ubicacion_gps">
                </google-map>
                  <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15761.107280002756!2d-69.76127598022461!3d9.038493700000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1618926703811!5m2!1ses!2sve" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
              </div>
            </div>



            <div v-if="datos_vehiculo && datos_vehiculo.length" class="col-12 q-mt-md ">
              <p class="mb-0 font-xl bold q-pl-md ">Vehículos</p>
            </div>

            <q-separator color="yellow" class="" ></q-separator>





    <div  v-for="veh in datos_vehiculo" :key="veh.id" class="col-12 col-sm-6 col-md-3 row  soft-border q-mt-md q-pa-sm ">

    <div class="col-12 azul-oscuro rounded-top text-center text-white q-pa-sm relative ">

      <q-btn style="position:absolute;right:-20px;top:-10px;" @click="clickAprobacionVehiculo(veh.id, true)"
        class="cl_standar q-mr-sm"  round size="sm" icon="done" v-if="veh.aprobacion==0" >
        <q-tooltip content-class="verde rounded hide-tool" >
          Aprobar vehículo
        </q-tooltip>
      </q-btn>

      <q-btn style="position:absolute;right:20px;top:-10px;" @click="clickAprobacionVehiculo(veh.id, false)"
        class="cl_standar q-mr-sm"  round size="sm" icon="close" v-if="veh.aprobacion==0" >
        <q-tooltip content-class="verde rounded hide-tool" >
          Rechazar vehículo
        </q-tooltip>
      </q-btn>

     <p class="mb-0 font-xl " v-if="!veh.patente2">{{veh.tipo_vehiculo}} {{veh.patente}}</p>
     <p class="mb-0 font-xl " v-if="veh.patente2">{{veh.tipo_vehiculo}} {{veh.patente}} / {{veh.patente2}}</p>


    </div>

    <div class="col-12 border row rounded-bottom  ">
      <div class="col-8 q-mt-sm ">

        <p class="mb-0 clr-azul-oscuro bold q-pl-sm font-xl" >Vencimiento del registro:</p>

      </div>

      <div class="col-4 text-right q-mt-sm ">

        <p class="mb-0  bold q-pr-sm font-xl" >{{fecha_imp(veh.vencimiento)}}</p>

      </div>

       <div class="col-8 q-mt-sm " v-if="veh.img_vtv">

        <p class="mb-0 clr-azul-oscuro bold q-pl-sm font-xl" >Vencimiento del VTV:</p>

      </div>

      <div class="col-4 text-right q-mt-sm " v-if="veh.img_vtv">

        <p class="mb-0  bold q-pr-sm font-xl" >{{fecha_imp(veh.vencimiento_vtv)}}</p>

      </div>

       <div class="col-8 q-mt-sm ">

        <p class="mb-0 clr-azul-oscuro bold q-pl-sm font-xl" >Vencimiento del seguro:</p>

      </div>

      <div class="col-4 text-right q-mt-sm ">

        <p class="mb-0  bold q-pr-sm font-xl" >{{fecha_imp(veh.vencimiento_seguro)}}</p>

      </div>

      <q-separator color="blue" class="q-mt-sm" ></q-separator>

      <div class="col-3 text-center q-mt-sm " v-if="veh.img_vtv">

        <p class="mb-0 clr-azul-oscuro bold font-xl pointer clr-azul-claro sub-text q-pa-md " @click="verfotoind(veh.img_vtv)"  >VTV</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div v-bind:class="{'col-3 text-center q-mt-sm':veh.img_vtv,'col-4 text-center q-mt-sm':!veh.img_vtv}">

        <p @click="verfotoind(veh.img)" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >Registro</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div v-bind:class="{'col-3 text-center q-mt-sm':veh.img_vtv,'col-4 text-center q-mt-sm':!veh.img_vtv}">

        <p @click="verfotoind(veh.img_seguro)" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >Seguro</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div  v-bind:class="{'col-3 text-center q-mt-sm':veh.img_vtv,'col-4 text-center q-mt-sm':!veh.img_vtv}">

        <!-- <p class="mb-0 clr-azul-claro bold" >Ver</p> -->
        <p @click="verfotoind(veh.img_art)" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >ART</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

       <div class="col-12 text-center q-mt-md q-mb-md ">

        <p @click="verfotoind(veh.img_clausula)" class=" font-xl relative pointer mb-0 bold clr-azul-claro sub-text q-mb-sm " >Cláusula de no repetición

        </p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

    </div>

    </div>

    <div class="col-12 text-center ">
      <q-btn class="cl_standar q-pl-sm q-pr-sm  rounded" label="Cerrar" @click="crud = false" ></q-btn>
    </div>



    </div>



        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Aprobar predios y chofer -->

    <q-dialog v-model="aprobar">
      <q-card class="rounded-1 w-100-xs w-60 w-80-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Aprobar nuevo chófer</p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="aprobar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 col-sm-12 col-md-12 row flex flex-center q-pr-sm q-mt-md q-pa-sm ">

              <div class="col-12 col-sm-6 col-md-6 q-pa-sm ">

                <p class="m-0  bold w-100 text-center font-xl q-pl-sm "  style="">DNI</p>


              <q-img :src="DNI || 'img/truck.png'" class="soft-border" ></q-img>

              </div>

              <div class=" flex item-center w-100-xs col-md-6 ">

            <div class=" ">

             <div class="flex item-centen ">
             <p class="m-0  bold  font-xl "  style="">Nombre: </p>
             <p class="m-0  bold  font-xl q-pl-sm "  style="">{{nombre}}</p>
             </div>

            <div class="flex item-center q-mt-md ">

            <p class="m-0  bold  font-xl  "  style="">Apellido: </p>
            <p class="m-0  bold  font-xl q-pl-sm "  style="">{{apellido}}</p>


            </div>

            <div class=" flex q-mt-md ">

               <p class="m-0  bold font-xl  "  style="">Número móvil: </p>

              <div class="flex item-center">

                <q-img :src="ruta" class="q-ml-sm img-icon" width="25px" height="25px" ></q-img>
                <p   class="mb-0  q-ml-sm font-xl" > {{c_area}} </p>
                <p   class="mb-0  q-ml-sm font-xl" > {{telefono}} </p>

              </div>

            </div>

            </div>

            </div>

            </div>

            <div  class="col-12 col-sm-6 col-md-6 row  soft-border q-mt-md q-pa-sm ">

    <div class="col-12 azul-oscuro rounded-top text-center text-white q-pa-sm relative ">

      <!-- <q-btn style="position:absolute;right:-20px;top:-10px;" class="cl_standar q-mr-sm  "  round size="sm" icon="done" >
          <q-tooltip content-class="verde rounded hide-tool " >
              Aprobar vehículo
          </q-tooltip>
        </q-btn> -->

     <p class="mb-0 font-xl " >{{vehiculo_aprobar}}</p>



    </div>

    <div class="col-12 border row rounded-bottom  ">
      <div class="col-8 q-mt-sm ">

        <p class="mb-0 clr-azul-oscuro bold font-xl q-pl-sm" >Vencimiento del registro:</p>

      </div>

      <div class="col-4 text-right q-mt-sm ">

        <p class="mb-0  bold q-pr-sm font-xl" >{{vencimiento}}</p>

      </div>

      <div class="col-8 q-mt-sm " v-if="mostrarvtv">

        <p class="mb-0 clr-azul-oscuro bold q-pl-sm font-xl" >Vencimiento del VTV:</p>

      </div>

      <div class="col-4 text-right q-mt-sm " v-if="mostrarvtv">

        <p class="mb-0  bold q-pr-sm font-xl" >{{vencimiento3}}</p>

      </div>

       <div class="col-8 q-mt-sm ">

        <p class="mb-0 clr-azul-oscuro bold q-pl-sm font-xl" >Vencimiento del seguro:</p>

      </div>

      <div class="col-4 text-right q-mt-sm ">

        <p class="mb-0  bold q-pr-sm font-xl" >{{vencimiento2}}</p>

      </div>

      <q-separator color="blue" class="q-mt-sm" ></q-separator>

      <div class="col-3 text-center q-mt-sm  " v-if="mostrarvtv">

        <p class="mb-0 clr-azul-oscuro bold font-xl pointer clr-azul-claro sub-text q-pa-md " @click="verfoto('img_vtv')"  >VTV</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div v-bind:class="{'col-3 text-center q-mt-sm':mostrarvtv,'col-4 text-center q-mt-sm':!mostrarvtv}">

        <p @click="verfoto('img')" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >Registro</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div v-bind:class="{'col-3 text-center q-mt-sm':mostrarvtv,'col-4 text-center q-mt-sm':!mostrarvtv}">

        <p @click="verfoto('img_seguro')" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >Seguro</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

      <div  v-bind:class="{'col-3 text-center q-mt-sm':mostrarvtv,'col-4 text-center q-mt-sm':!mostrarvtv}">

        <!-- <p class="mb-0 clr-azul-claro bold" >Ver</p> -->
        <p @click="verfoto('img_art')" class="mb-0 font-xl pointer clr-azul-oscuro bold clr-azul-claro sub-text q-pa-md " >ART</p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

       <div class="col-12 text-center q-mt-md q-mb-md ">

        <p @click="verfoto('img_clausula')" class=" relative font-xl pointer mb-0 bold clr-azul-claro sub-text q-mb-sm " >Cláusula de no repetición

        </p>

        <!-- <q-btn icon="visibility" class="cl_standar" @click="foto = true" round size="sm" ></q-btn> -->

      </div>

    </div>

    </div>

    <div class="col-12 col-sm-6 col-md-6 row flex item-center soft-border q-mt-md q-pa-sm ">

      <div class="col-12">
      <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Predios solicitados</p>
        <q-select borderless multiple v-model="predio" :options="predios"  class="w-100 select-grow q-pr-sm " option-value="id" option-label="nombre" emit-value map-options />
      </div>

    </div>


            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>
            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md " :disabled="disabledbotonaprobar" @click="aprobarchofer">Aprobar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Aprobar predios y chofer -->
    <q-dialog v-model="agregar_predios">
      <q-card class="rounded-1 w-100-xs w-60 w-80-sm no-max-width ">

        <q-card-section class="p-0 rounded-1 ">
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">
            </div>
            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white ">Aprobar predios</p>
            </div>
            <div class="col-2 text-right ">
              <q-btn class="font-xl text-white " label="X" @click="agregar_predios = false" flat></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">
          <div class="row w-100 ">
            <div class="col-12 col-sm-12 col-md-12 row flex flex-center q-pr-sm q-mt-md q-pa-sm ">
              <div class="col-12 col-sm-6 col-md-6 q-pa-sm ">
                <p class="m-0  bold w-100 text-center font-xl q-pl-sm " style="">DNI</p>
                <q-img :src="DNI || 'img/truck.png'" class="soft-border"></q-img>
              </div>
              <div class=" flex item-center w-100-xs col-md-6 ">
                <div class=" ">
                  <div class="flex item-centen ">
                    <p class="m-0  bold  font-xl " style="">Nombre: </p>
                    <p class="m-0  bold  font-xl q-pl-sm " style="">{{nombre}}</p>
                  </div>
                  <div class="flex item-center q-mt-md ">
                    <p class="m-0  bold  font-xl  " style="">Apellido: </p>
                    <p class="m-0  bold  font-xl q-pl-sm " style="">{{apellido}}</p>
                  </div>
                  <div class=" flex q-mt-md ">
                    <p class="m-0  bold font-xl  " style="">Número móvil: </p>
                    <div class="flex item-center">
                      <q-img :src="ruta" class="q-ml-sm img-icon" width="25px" height="25px"></q-img>
                      <p class="mb-0  q-ml-sm font-xl"> {{c_area}} </p>
                      <p class="mb-0  q-ml-sm font-xl"> {{telefono}} </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 text-center">
              <p class="titulos bold"> Predios solicitados por el chofer</p>
            </div>

            <div class="col-12 text-center">
              <p v-if="mostrar_cargando_predios" class="bold">Cargando...</p>
            </div>

            <div v-for="pre in predios_pendientes" :key="pre.id"
              class="col-12 col-sm-6 col-md-6 row flex item-center soft-border q-mt-md q-pa-sm row ">
              <div class="col-12 flex item-center row ">
                <div class="col-8">
                  <p class="font-xl bold mb-0  q-pl-sm ">{{ pre.nombre }}</p>
                </div>
                <div class="col-4">
                  <q-radio v-model="pre.aprobacion" val="1" label="Aprobado" />
                  <q-radio v-model="pre.aprobacion" val="-1" label="No aprobado" />
                </div>
              </div>
              <div v-if="+pre.aprobacion === -1" class=" col-12  q-mb-md  ">
                <q-input name="url_alt" type="text" autogrow placeholder="Ingrese el motivo del rechazo"
                  input-class="height_txt" v-model="pre.motivo" borderless class=" w-100 input_grow" />
              </div>
            </div>

            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>

            <div class="col-12">
              <div class="w-100 text-center q-mt-md flex flex-center ">
                <!-- <q-btn class="cl_standar rounded q-pl-md q-pr-md  q-mr-sm" :disabled="disabledbotonaprobar">Rechazar</q-btn> -->
                <!-- <q-btn class="cl_standar rounded q-pl-md q-pr-md  q-ml-sm" :disabled="disabledbotonaprobar">Aprobar</q-btn> -->
                <q-btn v-if="predios_pendientes.length" class="cl_standar rounded q-pl-md q-pr-md  q-ml-sm" @click="aprobarPredios" :disabled="disabledbotonaprobar">Guardar</q-btn>
              </div>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- foto documento -->

    <q-dialog  v-model="foto">
      <q-card class="w-100" >


        <q-card-section class="relative w-100 ">

          <q-btn style="position:absolute;top:0;right:0;z-index:99" round @click="foto = false" icon="close" class="cl_standar" size="sm" ></q-btn>

         <q-img :src="imgfoto || 'img/truck.png'" ></q-img>
        </q-card-section>


      </q-card>
    </q-dialog>

    <!-- rechazar auto -->

    <q-dialog v-model="rechazar_auto">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Rechazar vehículo </p>
            </div>

            <div class="col-2 text-right" >
               <q-btn class="font-xl text-white " label="X" @click="rechazar_auto = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100  q-mt-md ">

            <div class=" col-12  q-mb-md  " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Motivo del rechazo</p>
            <q-input name="url_alt" type="text" autogrow placeholder="Ingrese el motivo del rechazo" input-class="height_txt"  v-model="rechazo" borderless  class=" w-100 input_grow" />
            </div>



            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md" :disabled="disableButton" @click="aprobacionVehiculo(id_veh, veh_aprobado)">Rechazar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>


    <!-- Eliminar -->
    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Chófer # 1</p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este Chófer?</p>
            </div>

             <div class=" col-12  q-mb-md  " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Motivo del rechazo</p>
            <q-input name="url_alt" type="text" autogrow placeholder="Ingrese el motivo del rechazo" input-class="height_txt"  v-model="rechazo" borderless  class=" w-100 input_grow" />
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm rounded " @click="eliminar = false" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm rounded " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
import config from '../config'
import DataTables from 'components/DataTables'
import GoogleMap from 'components/GoogleMap';
const moment = require('moment');
export default {
  components: { DataTables , GoogleMap },
  data () {
    return {
      shape: ('line'),
      agregar_predios: false,
      motivo_re: null,
      rechazar_auto: false,
      actualizar: false,
      rechazo: null,
      predio: [],
      predios: [],
      aprobar : false,
      foto: false,
      paises: false,
       ruta:'img/flag-icons/Argentina.png',
     c_area: '+54',
     codigos: [
     {area : '+54', icon : 'img/flag-icons/Argentina.png'},
     {area : '+56', icon : 'img/flag-icons/Chile.png'},
     {area : '+57', icon : 'img/flag-icons/Colombia.png'},
     {area : '+593', icon : 'img/flag-icons/Ecuador.png'},
     {area : '+58', icon : 'img/flag-icons/Venezuela.png'},],
      DNI: null,
        nombre: 'Jean',
        apellido: 'Viña',
        telefono: 4245102 ,
        patente: '312bcd0',
        vencimiento: '17/03/2022',
        vencimiento_VTV: 17032022,
        seguro: '17032022',
         filter: '',
        eliminar: false,
        crud: false,
        password: null,
       isPwd: true,
       vehiculo: 'Tractor',
       vehiculos: ['Tractor','Semi','Chasis','Camión','Auto'],
        columns: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', align: 'center', label: '#' , align: 'center' , field: 'ID', sortable: true },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.name, format: val => `${val}`, sortable: true },
        { name: 'Numero_V', align: 'center', label: 'Numero de vehículos' , align: 'center' , field: 'N_V', sortable: true },
      ],
      data: [
        {
          Opciones : null,
          ID: 1,
          name: 'Jean viña',
          N_V: 1,
        },
        {
          Opciones : null,
          ID: 2,
          name: 'Gabriela huzzi',
          N_V: 3,
        },

      ],
      Carros: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', align: 'center', label: '#' , align: 'center' , field: 'ID', sortable: true },
        { name: 'Tipo', align: 'center', label: 'Tipo de vehículo' , align: 'center' , field: 'Tipo_V', sortable: true },
        { name: 'Patente', align: 'center', label: 'Patente' , align: 'center' , field: 'Patente', sortable: true },
        { name: 'Vencimiento_registro', required: true, label: 'Vencimiento del registro', align: 'center', field:'V_registro'},
        { name: 'Vencimiento_VTV', align: 'center', label: 'Vencimiento VTV' , align: 'center' , field: 'V_VTV', sortable: true },
        { name: 'Vencimiento_seguro', label: 'Vencimiento del seguro', field: 'V_seguro' , align: 'center' , sortable: true, style: 'width: 10px' },
        { name: 'VTV', align: 'center', label: 'VTV' , align: 'center' , field: 'VTV', sortable: true },
        { name: 'Registro', align: 'center', label: 'Registro' , align: 'center' , field: 'Registro', sortable: true },
        { name: 'Seguro', required: true, label: 'Seguro', align: 'center', field:'Seguro'},
        { name: 'Clausula', align: 'center', label: 'Clausula de no repetición' , align: 'center' , field: 'Clausula', sortable: true },
        { name: 'ART', label: 'ART', field: 'ART' , align: 'center' , sortable: true, style: 'width: 10px' },
      ],
      Carro: [
        {
          Opciones : null,
          ID: 1,
          Tipo_V: 'Tractor',
          patente: '123bdcx',
          V_registro: '17/03/2020',
          V_VTV: '17/03/2020',
          V_seguro: '17/03/2020',
          VTV: null,
          Registro: null,
          Seguro: null,
          Clausula: null,
          ART: null,
        },
      ],
      columns2: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', required: true, label: 'ID', align: 'center', field: row => row.id },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre+' '+row.apellido, sortable: true},
        { name: 'Numero_V', align: 'center', label: 'Numero de vehículos' , align: 'center' , field: row => row.vehiculos.length, sortable: true },
      ],
      configDataTable: {
        ajax: '/chofer',
        tooltip_agregar: '',
      },
      mostrarvtv: false,
      vencimiento: '',
      vencimiento2: '',
      vencimiento3: '',
      datos_vehiculo_aprobar: [],
      datos_vehiculo: [],
      vehiculo_aprobar: '',
      imgfoto: null,
      cargandobarra: false,
      disabledbotonaprobar: false,
      disabledbotonactualizar: false,
      id_chofer: null,
      id_veh: null,
      veh_aprobado: null,
      disableButton: false,
      predios_pendientes: [],
      mostrar_cargando_predios: false,
      ubicacion_gps: {},
    }
  },

  created() {
    this.cargarPredios();
    if (this.$q.localStorage.has('accion_chofer')) {
      const ac = this.$q.localStorage.getItem('accion_chofer');
      this.accionChofer(ac.id, ac.accion);
      this.$q.localStorage.remove('accion_chofer');
    }
  },

  methods: {
    accionChofer(id_chofer, accion) {
      this.$api
        .get('/chofer/'+id_chofer)
        .then(res => {

          switch (accion) {
            case 'ver': this.clickVer(res.data); break;
            case 'aprobar': this.clickAprobar(res.data); break;
            case 'aprobar_predios': this.clickAprobarPredios(res.data); break;
          }
        })
    },

    cargarPredios(){
      this.$axios.get(config.API_URL+'predio/')
        .then(res => {
          this.predios = res.data;
        });
    },
    clickVer(row){
      this.id_chofer = row.id;
      this.DNI = row.dni;
      this.nombre = row.nombre;
      this.apellido = row.apellido;
      this.telefono = row.telefono;
      this.c_area = row.codtelefono[0].cod;
      this.ruta = row.codtelefono[0].bandera;
      this.predio = [];
      if(row.predios){
        for (var i = 0; i < row.predios.length; i++) {
          this.predio.push(row.predios[i].id_predio);
        }
      }
      this.datos_vehiculo = row.vehiculos;
      this.crud = true;

      if(row.lat_cho && row.lon_cho){
        self = this;
        setTimeout(async function(){
          var cordenadas = {};
          cordenadas.lat = row.lat_cho;
          cordenadas.lon = row.lon_cho;
          cordenadas.zoom = 16;
          cordenadas.lista = [];
          cordenadas.icono = true;
          cordenadas.stilomapa = 'height: 40vh ; width:auto';
          self.ubicacion_gps=cordenadas;
        }, 1000);
      }
    },
    clickAprobar(row){
      this.id_chofer = row.id;
      this.datos_vehiculo_aprobar = [];
      this.DNI = row.dni;
      this.nombre = row.nombre;
      this.apellido = row.apellido;
      this.telefono = row.telefono;
      this.c_area = row.codtelefono[0].cod;
      this.ruta = row.codtelefono[0].bandera;
      this.mostrarvtv = false;
      this.vehiculo_aprobar = '';
      if(row.vehiculos[0]){
        this.datos_vehiculo_aprobar = row.vehiculos[0];
        this.vehiculo_aprobar = row.vehiculos[0].tipo_vehiculo+' '+row.vehiculos[0].patente;
        if(row.vehiculos[0].patente2)
          this.vehiculo_aprobar = this.vehiculo_aprobar + ' / '+row.vehiculos[0].patente2;
        if(row.vehiculos[0].img_vtv)
          this.mostrarvtv = true;
        this.vencimiento=moment(row.vehiculos[0].vencimiento).format('DD/MM/YYYY');
        this.vencimiento2=moment(row.vehiculos[0].Vencimiento_seguro).format('DD/MM/YYYY');
        this.vencimiento3=moment(row.vehiculos[0].vencimiento_vtv).format('DD/MM/YYYY');
      }
      this.predio = [];
      if(row.predios){
        for (var i = 0; i < row.predios.length; i++) {
          this.predio.push(row.predios[i].id_predio);
        }
      }
      this.cargandobarra = false;
      this.disabledbotonaprobar = false;
      this.aprobar = true;
    },
    clickCheck(row) {
      const idch = row.id;
      const aprobacion = row.estatus ? '' : '1';
      this.$api
        .put('/chofer/'+idch+'/aprobacion', {estatus: aprobacion, aprobacion: aprobacion})
        .then(res => { row.estatus = !row.estatus })
        .catch(console.warn);
    },
    aprobarchofer(){
      let formData = new FormData();
      formData.set('idc', this.id_chofer);
      if(this.predio)
        formData.set('predios', this.predio);
      this.disabledbotonaprobar = true;
      this.cargandobarra = true;
      this.$api.put('/chofer/aprobar', formData)
      .then(resp => {
        this.cargandobarra = false;
        if(resp.data.r){
          this.aprobar = false;
          swal.fire('Completado','El chofer se aprobó satisfactoriamente','success');
          this.$refs.tabla.fetch();
        }
        else{
          swal.fire('Oops..','No se pudo aprobar.','error');
          this.disabledbotonaprobar = false;
        }

        //console.log(resp);
      })
      .catch(err => {
        this.cargandobarra = false;
        this.disabledbotonaprobar = false;
        if (err.response.data && err.response.data.msg)
          this.$q.notify(err.response.data.msg);
        //console.log(err,err.response);
      });
    },
    aprobarPredios() {
      const datos = {
        id_chofer: this.id_chofer,
        predios: this.predios_pendientes,
      };

      this.disabledbotonaprobar = true;
      this.$api
        .put(`/chofer/${datos.id_chofer}/aprobacion_predios`, datos)
        .then(res => {
          this.disabledbotonaprobar = this.agregar_predios = this.mostrar_cargando_predios = false;
          this.predios_pendientes = [];
          this.$refs.tabla.fetch();
        })
        .catch(err => {
          this.disabledbotonaprobar = false;

          if (err?.response?.data?.msg)
            this.$q.notify(err.response.data.msg);
          else
            this.$q.notify('Ocurrió un error');
        });
    },
    clickAprobacionVehiculo(id_veh, aprobado) {
      if (!aprobado) {
        this.id_veh = id_veh;
        this.veh_aprobado = aprobado;
        this.rechazar_auto = true;
      }
      else {
        this.aprobacionVehiculo(id_veh, aprobado);
      }
    },

    clickAprobarPredios(row) {
      console.log('vm'); window.vm = this;
      this.id_chofer = row.id;
      this.DNI = row.dni;
      this.nombre = row.nombre;
      this.apellido = row.apellido;
      this.telefono = row.telefono;
      this.c_area = row.codtelefono[0].cod;
      this.ruta = row.codtelefono[0].bandera;

      this.predios_pendientes = [];
      this.mostrar_cargando_predios = true;
      this.$api
        .get(`/chofer/${row.id}/predios_pendientes`)
        .then(res => {
          this.mostrar_cargando_predios = false;
          for (let pre of res.data) {
            pre.aprobacion_pendiente = !!pre.aprobacion_pendiente;
          }
          this.predios_pendientes = res.data;
        })
      this.agregar_predios = true;
    },

    aprobacionVehiculo(id_veh, aprobado) {
      // id_veh = this.id_veh || id_veh;
      // aprobado = this.veh_aprobado || aprobado;

      const estatus = aprobado ? '1' : '-1';

      this.disableButton = true;
      this.$api.put(`/vehiculo/${id_veh}/aprobacion`, {estatus, motivo:this.rechazo})
        .then(r => {
          this.disableButton = this.rechazar_auto = false;
          const i = this.datos_vehiculo.findIndex(v => v.id == id_veh);
          if (i > -1) {
            this.datos_vehiculo.splice(i, 1, r.data);
          }
        })
        .catch(err => {
          console.log(err);
          this.disableButton = false;
        });
    },
    fecha_imp(fecha){
      return moment(fecha).format('DD/MM/YYYY');
    },
    verfoto(obj){
      this.imgfoto = this.datos_vehiculo_aprobar[obj];
      this.foto = true;
    },
    verfotoind(obj){
      this.imgfoto = obj;
      this.foto = true;
    },
    clickEliminar(row){
      this.eliminar = true;
    },
    actualizarPredios() {
      const datos = {
        id_chofer: this.id_chofer,
        id_predios: this.predio,
      };

      this.disabledbotonactualizar = true;
      this.$api
        .put('/chofer/actualizar-predios', datos)
        .then(r => {
          this.disabledbotonactualizar = false;
          this.actualizar = false;
          this.$refs.tabla.fetch();
        })
        .catch(err => {
          console.log(err);
          this.disabledbotonactualizar = false;
        });
    },
  }
}
</script>
