<template>
  <div  class=" bg-img-fondo vh100 flex flex-center item-start overflow-scroll">
    <div class="col-12 text-center w-100 q-mt-lg ">
      <p class="text-h4 text-weight-thin text-grey-8 " >Emails</p>
    </div>

    <div  class="col-12  row q-pb-lg ">
      <div v-for="email in emails" :key="email.id" class="col-12 col-sm-6 col-md-4  row flex-center">
        <div   class=" col-10 row border-card rounded-1 q-mx-sm q-mt-md bg-white relative">
          <div class="col-12">
            <img src="img/truck.png " class="w-100 rounded-top" />
          </div>

          <div class="col-12 q-px-md q-pb-sm">
            <p style="font-size:20px" class="mb-0 titulos  limitar-titulo text-weight-regular text-grey-7">{{ email.encabezado }}</p>
          </div>

          <div class="col-12 q-px-md q-pb-sm">
            <p class="mb-0 font-xl limitar text-grey-7">{{ email.cuerpo }}</p>
          </div>

          <div class="col-12 azul-oscuro q-py-md rounded-bottom q-px-sm text-center ">
            <p class="mb-0 font-xl text-white" >Transformá tu centro de distribución en
              un aeropuerto para camiones
            </p>
          </div>

          <div style="right:-10px;bottom:-10px" class="absolute">
            <q-btn @click="verEmail(email)" round class="cl_standar" icon="edit" ></q-btn>
          </div>
        </div>
      </div>
    </div>


    <!-- EDITAR CORREOS -->
    <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-40 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center relative">
            <div style="right:0px;top:0px" class="absolute">
              <q-btn round flat @click="crud = false" class="text-white" >X</q-btn>
            </div>
            <div class="col-12 flex flex-center">
              <img src="img/truck.png" class="w-60" alt="">
            </div>
          </div>
        </q-card-section>
        <q-card-section class="q-pa-none">
          <div class="row w-100 q-my-lg flex flex-center q-pl-md q-pr-md">
            <div class="col-12 col-sm-12 col-md-9  q-mb-md">
              <p class="m-0 pointer  w-100 font-xl q-pl-sm text-weight-regular text-grey-8" style="">Variables:</p>

              <q-list dense class="">
                <q-item v-for="(v,idx) in variables" :key="v[0]">
                  <q-item-section>
                    <p class="q-mb-sm"><b>{{ v[0] }}:</b> {{ v[1] }}</p>
                  </q-item-section>
                </q-item>
              </q-list>

            </div>
            <div class="col-12 col-sm-12 col-md-9  q-mb-md">
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm" style="">Tipo de correo: {{ tipo }}</p>
            </div>
            <div class="col-12 col-sm-12 col-md-9  ">
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Encabezado</p>
              <q-input name="usuario" type="text" placeholder="Ingrese el encabezado del correo" input-class="height_txt" v-model="titulo" borderless  class=" w-100 input_txt"/>
            </div>
            <div  class=" col-12 col-sm-12 col-md-9  q-mt-md " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Cuerpo</p>
              <q-input name="obs" autogrow type="text" placeholder="Ingrese el cuerpo del correo" v-model="cuerpo" borderless input-class="" class=" w-100 input_grow2" :readonly="inputdisabled"/>
            </div>
            <div class="col-12 flex flex-center q-mt-lg ">
              <q-btn class="cl_standar q-px-sm rounded" :disabled="desactivar_boton" @click="guardarEmail">Guardar</q-btn>
            </div>
          </div>
          <div class="row">
            <div class="col-12 azul-oscuro q-py-md rounded-bottom q-px-sm text-center ">
              <p class="mb-0 font-xl text-white" >Transformá tu centro de distribución en
                un aeropuerto para camiones
              </p>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>
  </div>
</template>


<script>
export default {

data () {
  return {
    crud: false,
    id: null,
    tipo: '',
    titulo: '',
    cuerpo: '',
    inputdisabled: false,
    emails: [],
    desactivar_boton: false,
    variables: {},
  }
},


mounted() {
  this.cargarVariables();
  this.cargarEmails();
},


methods: {
  cargarVariables() {
    this.$api
      .get('/emails/variables')
      .then(res => {
        this.variables = res.data;
      })
      .catch(err => {});
  },

  cargarEmails() {
    return new Promise((resolve, reject) => {
      const params = {
        render: 1,
      };
      // if (render) params.render=1;

      this.$api
        .get('/emails', {params})
        .then(res => {
          this.emails = res.data;
          resolve(res.data);
        })
        .catch(reject)
    });
  },

  verEmail(email) {
    this.$api.get('/emails/'+email.id)
      .then(res => {
        this.titulo = res.data.encabezado;
        this.cuerpo = res.data.cuerpo;
        this.id = email.id;
        this.tipo = email.tipo_correo;
        this.crud = true;
      })
      .catch(err => {
        this.$q.notify('Ocurrió un error');
      });
  },

  guardarEmail() {
    let err = false;
    if (!this.titulo)
      err = 'Ingrese el encabezado del email';
    else if (!this.cuerpo)
      err = 'Ingrese el cuerpo del email';

    if (err)
      return this.$q.notify(err);

    const datos = {
      encabezado: this.titulo,
      cuerpo: this.cuerpo,
    };

    this.desactivar_boton = true;
    this.$api
      .put('/emails/'+this.id, datos)
      .then(res => {
        this.desactivar_boton = this.crud = false;
        this.cargarEmails();
      })
      .catch(err => {
        this.$q.notify('Ocurrió un error');
        this.desactivar_boton = false;
        console.error(err);
      });
  },

  Type() {
    return this.$store.getters["auth/type"] == 'admin' ? true : false
  },
  Predios(){
    this.$router.push('/Predios')
  },
  choferes(){
    this.$router.push('/Choferes')
  },
  Calendario(){
    this.$router.push('/Calendario')
  },
  Horarios(){
    this.$router.push('/Horarios')
  },
},



}</script>
