<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 bold" >Ingresos</p>
            </div>
        </div>

        <div class="q-pa-md">
    <q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="Arribo" :props="props">

            {{ props.row.Arribo }}

          </q-td>
          <q-td key="Chofer" :props="props">
            
              {{ props.row.Chofer }}
            
          </q-td>
          <q-td key="Patente" :props="props">
            
              {{ props.row.Patente }}
            
          </q-td>
          <q-td key="Estacionamiento" :props="props">
            
              {{ props.row.Estacionamiento }}
            
          </q-td>
          <q-td key="Numero_movil" :props="props">
            
              {{ props.row.Numero_movil }}
            
          </q-td>
           <q-td key="Operacion" :props="props">
            
              {{ props.row.Operacion }}
            
          </q-td>
          <q-td key="Vehiculo" :props="props">
            
              {{ props.row.Vehiculo }}
            
          </q-td>
          <q-td key="Citacion" :props="props">
            
              {{ props.row.Citacion }}
            
          </q-td>
           <q-td key="Transporte" :props="props">
            
              {{ props.row.Transporte }}
            
          </q-td>
           <q-td key="Estado" class="text-blue" :props="props">
            
              {{ props.row.Estado }}
            
          </q-td>
        </q-tr>
      </template>

      <!-- <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template> -->

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-12 col-md-6 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        </div>
      </template>


      

      

    </q-table>

       <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 bold" >Ingresos programados</p>
            </div>
        </div>

     <q-table
      title="Treats"
      :data="ingreso"
      :columns="programado"
      row-key="name"
      :filter="filtro"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="Chofer" :props="props">
            
              {{ props.row.Chofer }}
            
          </q-td>
          <q-td key="Patente" :props="props">
            
              {{ props.row.Patente }}
            
          </q-td>
           <q-td key="Operacion" :props="props">
            
              {{ props.row.Operacion }}
            
          </q-td>
          <q-td key="FechayHora" :props="props">
            
              {{ props.row.FechayHora }}
            
          </q-td>
           <q-td key="Transporte" :props="props">
            
              {{ props.row.Transporte }}
            
          </q-td>
           <q-td key="Reservado"  :props="props">
            
              {{ props.row.Reservado }}
            
          </q-td>
        </q-tr>
      </template>

    

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-12 col-md-6 ">

        <q-input borderless dense v-model="filtro" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        </div>
      </template>


     

    </q-table>
  </div>

  <!-- modal crud -->

  <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Nuevo administrador</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Nombre</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el nombre" v-model="usuario" borderless  class=" w-100 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Usuario</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el usuario" v-model="usuario" borderless  class=" w-100 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Contraseña</p>
            </div>

            <div class="col-12 flex flex-center ">
            
             <q-input class=" q-pr-md w-100 input_txt" placeholder="Ingrese la contraseña" v-model="password"  borderless :type="isPwd ? 'password' : 'text'" >
                <template v-slot:append>
                <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                />
                </template>
            </q-input>

            </div>

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Email</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el Emal" v-model="usuario" borderless  class=" w-100 input_txt"/>

            </div>

            <div class="col-12">

                
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md ">Agregar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >administrador # 1</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este administrador?</p>
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " @click="eliminar = false" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
export default {
  data () {
    return {
         filter: '',
         filtro: '',
        eliminar: false,
        crud: false,
        password: null,
       isPwd: true,
      columns: [
        { name: 'Arribo', align: 'center', label: 'Arribo' , align: 'center' , field: 'Arribo', sortable: true },
        { name: 'Chofer', align: 'center', label: 'Chófer' , align: 'center' , field: 'Chofer', sortable: true },
        { name: 'Patente', required: true, label: 'Patente', align: 'center', field: 'Patente' },
        { name: 'Estacionamiento', align: 'center', label: 'Estacionamiento' , align: 'center' , field: 'Usuario', sortable: true },
        { name: 'Numero_movil', label: 'Número móvil', field: 'Numero_movil' , align: 'center' , sortable: true, style: 'width: 10px' },
        { name: 'Operacion', align: 'center', label: 'Tipo de operación' , align: 'center' , field: 'Operacion', sortable: true },
        { name: 'Vehiculo', align: 'center', label: 'Tipo de vehículo' , align: 'center' , field: 'Vehiculo', sortable: true },
        { name: 'Citacion', required: true, label: 'Citación', align: 'center', field: 'Citacion' },
        { name: 'Transporte', align: 'center', label: 'Transporte' , align: 'center' , field: 'Transporte', sortable: true },
        { name: 'Estado', label: 'Estado', field: 'Estado' , align: 'center' , sortable: true, style: 'width: 10px' },
      ],
      data: [
        {
          Arribo :'29/03/21 a las 12:15',
          Chofer: 'Jean viña',
          Patente: '123abcx',
          Estacionamiento: 'B-2A',
          Numero_movil: '04145023456',
          Operacion: '',
          Vehiculo: 'tractor',
          Citacion: '',
          Transporte: 'Urbano',
          Estado: 'Esperando en playa'
        },
        {
          Arribo :'29/03/21 a las 12:15',
          Chofer: 'Jose Perez',
          Patente: '123abcx',
          Estacionamiento: 'B-2A',
          Numero_movil: '04145023456',
          Operacion: '',
          Vehiculo: 'Semi',
          Citacion: '',
          Transporte: 'Urbano',
          Estado: 'Esperando en playa'
        },
      ],

       programado: [
        { name: 'Chofer', align: 'center', label: 'Chófer' , align: 'center' ,  sortable: true },
        { name: 'Patente', required: true, label: 'Patente', align: 'center',  },
        { name: 'Operacion', align: 'center', label: 'Tipo de operación' , align: 'center' ,sortable: true },
        { name: 'FechayHora', align: 'center', label: 'Fecha y hora de la reserva' , align: 'center' , sortable: true },
        { name: 'Transporte', align: 'center', label: 'Transporte' , align: 'center' ,  sortable: true },
        { name: 'Reservado', label: 'Reservado por', align: 'center' , sortable: true, style: 'width: 10px' },
      ],
      ingreso: [
        {
          Chofer: 'Jean viña',
          Patente: '123abcx',
          Operacion: 'Crossdocking',
          FechayHora:'2021-02-25 12:00:00',
          Transporte: 'Urbano',
          Reservado: 'Turnos'
        },
         {
          Chofer: 'Jean viña',
          Patente: '123abcx',
          Operacion: 'Crossdocking',
          FechayHora:'2021-02-25 12:00:00',
          Transporte: 'Urbano',
          Reservado: 'Turnos'
        },
      ]
    }
  }
}
</script>