<template>

  <div class="gris">

    <div class="row vh100 flex flex-center item-center ">
      <div class="col-11 col-sm-6 col-md-3 q-pt-lg bg-white shadow-4 flex flex-center row rounded-1 ">

        <div class="col-12 flex flex-center ">
          <q-img src="img/truck.png" class="img-bienvenido q-mb-md "></q-img>
        </div>

        <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md">
          <p class="m-0 pointer  w-80 font-xl q-pl-xs text-grey-7 text-weight-regular " style="">Correo</p>
        </div>

        <div class="col-12 flex  flex-center  ">
          <q-input v-on:keyup.enter="login" name="usuario" type="text" placeholder="Ingrese su correo" v-model="usuario" borderless  input-class="height_txt" class="  w-80 input_txt" />
        </div>

        <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm">
          <p class="m-0 pointer bold w-80 font-xl q-pl-xs text-grey-7 text-weight-regular " style="">Contraseña</p>
        </div>

        <div class="col-12 flex flex-center  ">
          <q-input v-on:keyup.enter="login" class=" q-pr-md w-80 input_txt" placeholder="Ingrese su contraseña" input-class="height_txt" v-model="password" borderless :type="isPwd ? 'password' : 'text'">
            <template v-slot:append>
              <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
            </template>
          </q-input>

        </div>

        <div class="flex flex-center q-mt-md q-mb-md text-red" v-if="msjError">
          <p class="m-0" style="">{{ msjError }} &nbsp;</p>
        </div>

        <div class="w-100 text-center q-mt-md  ">
          <q-btn class="cl_standar rounded q-pl-md q-pr-md " @click="login" :disabled="disableButton">Ingresar</q-btn>
        </div>

        <div @click="dialogRecuperar = true" class="flex flex-center q-mt-md q-mb-md text-blue">
          <p class="m-0 pointer " style="">¿Olvidó su contraseña?</p>
        </div>

      </div>

    </div>

    <!-- modal recuperar contraseña -->

    <q-dialog v-model="dialogRecuperar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width ">
        <q-card-section class="p-0 rounded-1 ">
          <div class="row azul-claro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white ">Recuperar contraseña</p>
            </div>

            <div class="col-2 text-right ">
              <q-btn class="font-xl text-white " label="X" @click="dialogRecuperar = false" flat></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="dialogRecuperar = true" class=" col-12 flex flex-center q-mt-sm">
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm " style="">Email</p>
            </div>

            <div class="col-12 flex flex-center ">

              <q-input v-on:keyup.enter="recuperar" type="text" input-class="height_txt" placeholder="Ingrese su email" v-model="correo" borderless class=" w-100 input_txt" />

            </div>

            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md" @click="recuperar" :disabled="disableButton">Enviar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <img src="img/docking.jpg" style="display: none;">

  </div>
</template>
<script>
import { LocalStorage } from 'quasar'
import checkEmail from '../lib/checkEmail'

export default {

data () {
  return {
    dialogRecuperar: false,
    usuario: null,
    password: null,
    isPwd: true,
    msjError: null,
    disableButton: false,
    correo: null,
  }
},
created(){
  LocalStorage.set('TYPE', "admin");
},
mounted() {
  const error_sesion = this.$q.localStorage.getItem('error_sesion');

  if (error_sesion == 1) {
    this.$q.localStorage.remove('error_sesion');
    this.$q.notify('Error de sesión');
  }
},


methods: {
  login() {
    this.msjError = null;
    if(!this.usuario) this.msjError = 'Enter your username';
    if(!this.password) this.msjError = 'Enter your password';

    this.disableButton = true;
    this.$store.dispatch('auth/login', { correo:this.usuario, pass: this.password })
      .then(() => {
        this.$router.push('/Bienvenido');
        this.$store.dispatch('notificacion/actualizar');
      })
      .catch(err => {
        this.disableButton = false;
        if (err.response && err.response.status == 401)
          this.msjError = 'Datos incorrectos';
        else
          this.msjError = 'Ocurrió un error';
          LocalStorage.set('TYPE', "admin");
      });
  },

  recuperar() {
    this.msjError = null;
    if (!checkEmail(this.correo))
      return this.$q.notify('Ingrese un correo válido');

    this.disableButton = true;
    this.$api
      .post('/auth/pass_recuperar', {correo: this.correo})
      .then(res => {
        this.disableButton = this.dialogRecuperar = false;
        this.$q.notify('Se ha enviado un correo de recuperacion');
      })
      .catch(err => {
        this.disableButton = false;

        if (err?.response?.data?.msg)
          this.$q.notify(err.response.data.msg);
        else
          this.$q.notify('Ocurrió un error');
      })
  },

},


}</script>
