<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 bold" >Notificaciones</p>
            </div>
        </div>

        <div class="q-pa-md">
    <q-table
      title="Treats"
      :data="notificaciones"
      :columns="columns"
      row-key="name"
      :filter="filter"
      no-data-label="No hay notificaciones"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
          <q-td key="ID" :props="props">
            {{ props.row.id }}
          </q-td>
          <q-td key="Nombre" :props="props">
              {{ props.row.contenido }}
          </q-td>
          <q-td key="Link" :props="props" v-if="notif_tiene_link(props.row)">
            <q-btn @click="notif_ir(props.row)" size="sm" class="cl_standar" round icon="visibility"></q-btn>
          </q-td>
        </q-tr>
      </template>

      <!-- <template v-slot:header="props">
        <q-tr :props="props">
          <q-th auto-width />
          <q-th
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.label }}
          </q-th>
        </q-tr>
      </template> -->

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-12 col-md-6 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

       

        </div>
      </template>


      <!-- <template v-slot:body="props">
        <q-tr :props="props">
          <q-td auto-width>
            <q-btn size="sm" class="cl_standar" round dense @click="props.expand = !props.expand" :icon="props.expand ? 'remove' : 'add'" > 
               <q-tooltip content-class="verde rounded " >
                   Opciones
               </q-tooltip>
            </q-btn>
           </q-td>
          <q-td
            v-for="col in props.cols"
            :key="col.name"
            :props="props"
          >
            {{ col.value }}
          </q-td>
        </q-tr>
        <q-tr v-show="props.expand" :props="props">
          <q-td colspan="100%">

             <q-btn class="cl_standar q-mr-sm " @click="crud = true" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded " >
                   Ver
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar q-mr-sm " @click="crud = true" round size="sm" icon="edit" >
               <q-tooltip content-class="verde rounded " >
                   Editar
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar  " @click="eliminar = true" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded " >
                   Eliminar
               </q-tooltip>
           </q-btn>

          </q-td>
        </q-tr>
      </template> -->

    </q-table>
  </div>

  <!-- modal crud -->

  <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Nuevo administrador</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Nombre</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el nombre" v-model="nombre" borderless  class=" w-100 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Usuario</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el usuario" v-model="usuario" borderless  class=" w-100 input_txt"/>

            </div>

             <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Contraseña</p>
            </div>

            <div class="col-12 flex flex-center ">
            
             <q-input class=" q-pr-md w-100 input_txt" placeholder="Ingrese la contraseña" v-model="password"  borderless :type="isPwd ? 'password' : 'text'" >
                <template v-slot:append>
                <q-icon
                    :name="isPwd ? 'visibility_off' : 'visibility'"
                    class="cursor-pointer"
                    @click="isPwd = !isPwd"
                />
                </template>
            </q-input>

            </div>

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Email</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="email" placeholder="Ingrese el Email" v-model="email" borderless  class=" w-100 input_txt"/>

            </div>

            <div class="col-12">

                
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md ">Agregar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >administrador # 1  </p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este administrador?</p>
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " @click="eliminar = false" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
import link_notif from '../lib/link_notif';
export default {


data () {
  return {
    usuario: null,
    nombre:'',
    Usuario: '',
    password: '',
    email:'',
    filter: '',
    eliminar: false,
    crud: false,
    password: null,
    isPwd: true,
    columns: [
      { name: 'ID', align: 'center', label: '#' , align: 'center' , field: 'id', sortable: true },
      { name: 'Nombre', required: true, label: 'Información', align: 'center', field: 'contenido', format: val => `${val}`, sortable: true },
      { name: 'Link', label: '', align:'center', field: row => row.contenido },
    ],
    data: [
      {
        ID: 1,
        name: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam asperiores alias vitae!',
      },
       {
        ID: 2,
        name: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam asperiores alias vitae!',
      },
       {
        ID: 3,
        name: 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam asperiores alias vitae!',
      },
    ]
  }
},


mounted() {
  this.$store.dispatch('notificacion/marcar_leidas').then();
},

beforeRouteLeave (to, from, next) {
  this.$store.dispatch('notificacion/actualizar');
  next();
},

computed: {
  notificaciones() {
    return this.$store.getters['notificacion/notificaciones'];
  },
},


methods: {
  ...link_notif,

  // ir(row) {
  //   const path = this.get_path(row, true);
  //   if (path) {
  //     this.$router.push({ path: path });
  //   }
  // },

  // mostrarbtn(row) {
  //   return Boolean(this.get_path(row));
  //   // if (this.get_path(row)) {
  //   //   return true;
  //   // }
  //   // return false;
  // },


  // get_path(row, guardar_accion=false) {
  //   let path, accion;

  //   if (row.contenido.includes('vehículo') && row.contenido.includes('registrado')) {
  //     accion = { id:row.id_emisor, accion:'ver' };
  //     path = '/Choferes'
  //   }

  //   if (row.contenido.includes('chofer') && row.contenido.includes('pendiente') && row.contenido.includes('aprobar')) {
  //     accion = { id: row.id_usable, accion: 'aprobar' };
  //     path = '/Choferes'
  //   }

  //   if (guardar_accion)
  //     this.$q.localStorage.set('accion_chofer', accion);

  //   return path;
  // },


},


}</script>