<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 bold" >Tipos de operaciones</p>
            </div>
        </div>

        <div class="q-pa-md">
    <q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
           <q-td key="Opciones" :props="props">
            <div class="flex flex-center table-width-xs ">
               <q-btn class="cl_standar q-mr-sm  " @click="crud = true" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar q-mr-sm " @click="crud = true" round size="sm" icon="edit" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Editar
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar  " @click="eliminar = true" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn>
            </div>
          </q-td>
          <q-td key="ID" :props="props">
            {{ props.row.ID }}
          </q-td>
          <q-td key="Nombre" :props="props">
            
              {{ props.row.name }}
            
          </q-td>
        </q-tr>
      </template>

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-6 col-md-8 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        <div class="col-6 col-md-4 text-center ">
           <q-btn class="cl_standar rounded q-pl-sm q-pr-sm " @click="crud = true" label="Agregar" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Agregar nuevo tipo de operación
               </q-tooltip>
           </q-btn>
        </div>

        </div>
      </template>

    </q-table>
  </div>

  <!-- modal crud -->

  <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Nuevo tipo de operación</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-sm" >
              <p class="m-0 pointer bold w-100 font-xl q-pl-sm "  style="">Nombre</p>
            </div>

            <div class="col-12 flex flex-center ">
            
            <q-input name="usuario" type="text" placeholder="Ingrese el nombre" v-model="nombre" borderless  class=" w-100 input_txt"/>

            </div>

             

            <div class="col-12">

                
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md ">Agregar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Tipo de operación # 1</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este tipo de operación?</p>
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " @click="eliminar = false" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
export default {
  data () {
    return {
        nombre :'',
        Usuario: '',
        password: '',
        email:'',
         filter: '',
        eliminar: false,
        crud: false,
        password: null,
       isPwd: true,
      columns: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', align: 'center', label: '#' , align: 'center' , field: 'ID', sortable: true },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.name, format: val => `${val}`, sortable: true },
       
      ],
      data: [
        {
          Opciones : null,
          ID: 1,
          name: 'Tipo1',
         
        },
         {
          ID: 2,
          name: 'Tipo2',
         
        },
         {
          ID: 3,
          name: 'Tipo3',
         
        },
      ]
    }
  }
}
</script>