<template>
  <div class="">

    <div class="row">
      <div class="col-12 text-center q-mt-lg ">
        <p class="text-h4 text-grey-7 text-weight-thin">Países</p>
      </div>
    </div>

    <div class="q-pa-md">
      <q-table title="Treats" :data="data" :columns="columns" row-key="name"
        :filter="filter">
        <template v-slot:body="props">
          <q-tr :props="props">

            <q-td key="Opciones" :props="props">
              <div class="flex flex-center table-width-xs ">
                <q-btn class="cl_standar q-mr-sm  " @click="clickVer(props.row)"
                  round size="sm" icon="visibility">
                  <q-tooltip content-class="verde rounded hide-tool ">
                    Ver
                  </q-tooltip>
                </q-btn>

                <q-btn class="cl_standar q-mr-sm " @click="clickEditar(props.row)" round
                  size="sm" icon="edit">
                  <q-tooltip content-class="verde rounded hide-tool ">
                    Editar
                  </q-tooltip>
                </q-btn>

                <q-btn class="cl_standar  " @click="clickEliminar(props.row)" round
                  size="sm" icon="delete_forever">
                  <q-tooltip content-class="verde rounded hide-tool ">
                    Eliminar
                  </q-tooltip>
                </q-btn>
              </div>
            </q-td>

            <q-td key="ID" :props="props">
              {{ props.row.id }}
            </q-td>

            <q-td key="Codigo" :props="props">
              {{ props.row.cod }}
            </q-td>

            <q-td key="Bandera" :props="props">
              <q-img width="40px" height="30px" :src="props.row.bandera">
              </q-img>
            </q-td>

            <q-td key="Nombre" :props="props">
              {{ props.row.nombre }}
            </q-td>

            <q-td key="Estatus" :props="props">
              <div class="flex item-center flex-center ">

                <p class="mb-0 q-pl-xs q-pr-xs ">Inactivo</p>

                <q-toggle v-model="props.row.Estatus" size="40px" />

                <p class="mb-0 q-pl-xs q-pr-xs ">Activo</p>

              </div>

            </q-td>
          </q-tr>
        </template>

        <template class="w-100" v-slot:top-left>
          <div class="row">

            <div class="col-6 col-md-8 ">

              <q-input borderless dense v-model="filter" placeholder="Buscar"
                class="input_txt q-pr-md ">
                <template v-slot:append>
                  <q-icon name="search" />
                </template>
              </q-input>

            </div>

            <div class="col-6 col-md-4 text-center ">
              <q-btn class="cl_standar rounded q-pl-sm q-pr-sm "
                @click="clickAgregar" label="Agregar">
                <q-tooltip content-class="verde rounded hide-tool ">
                  Agregar nuevo país
                </q-tooltip>
              </q-btn>
            </div>

          </div>
        </template>

      </q-table>
    </div>

    <!-- modal crud -->

    <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-50 w-70-sm no-max-width ">
        <q-card-section class="p-0 rounded-1 ">
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white ">
                {{ nombre_pais || "Nuevo país"}}
              </p>
            </div>

            <div class="col-2 text-right ">
              <q-btn class="font-xl text-white " label="X" @click="crud = false"
                flat></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 q-pb-md q-pt-md ">

            <div
              class="col-12 col-sm-8 col-md-8 flex flex-center q-pr-sm q-mt-md ">

              <p class="m-0 pointer w-100 font-xl q-pl-sm text-weight-regular text-grey-8" style="">Nombre
              </p>

              <q-input name="usuario" type="text" :disabled="desactivar_campos" input-class="height_txt" :readonly="desactivar_campos"
                placeholder="Ingrese el nombre del país" v-model="nombre"
                borderless class=" w-100 input_txt" />

            </div>

            <div class="  col-6 col-sm-2 col-md-2 q-pr-sm relative  q-mt-md ">
              <p class="m-0 pointer w-100 font-xl q-pl-sm text-weight-regular text-grey-8" style="">
                Bandera</p>

              <q-input @input="paises = true" input-class="height_txt" v-model="c_area" borderless :disabled="desactivar_campos"
                class="input_txt shadow-4 " style="padding-left:10px" :readonly="desactivar_campos">
                <template class="q-pr-0" v-slot:prepend>
                  <q-img :src="flagPath" width="40px" class="q-ml-xs"></q-img>
                </template>
                <template v-slot:append>
                  <!-- <q-icon
                        name="fas fa-sort-down"
                        class="cursor-pointer font-xl q-mb-sm q-pr-lg "
                    /> -->
                </template>
              </q-input>

              <q-btn flat class="absolute w-80 rounded " :disabled="desactivar_campos" style="top:45%"
                @click="paises = !paises"></q-btn>

            </div>

            <div
              class="col-6 col-sm-2 col-md-2 flex flex-center q-pl-sm q-mt-md ">

              <p class="m-0 pointer  w-100 font-xl q-pl-sm text-weight-regular text-grey-8" style="">Código
              </p>

              <q-input name="usuario" input-class="height_txt" type="text" placeholder="+54" :disabled="desactivar_campos"
                v-model="codigo" borderless class=" w-100 input_txt" :readonly="desactivar_campos"/>

            </div>

            <div v-if="agregando" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md"
                  @click="agregarPais" :disabled="disableButton">Agregar</q-btn>
              </div>
            </div>


            <div v-if="editando" class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md"
                  @click="editarPais" :disabled="disableButton">Guardar</q-btn>
              </div>
            </div>


          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- modal ver vanderas -->

    <q-dialog full-width v-model="paises">
      <q-card>

        <q-card-section class="q-pt-none">
          <div style="flex-wrap: nowrap;"
            class=" bg-gray q-pa-sm w-100 q-mt-sm   overflow-scroll flex item-center ">

            <div v-for="n in 196" :key="n"
              class="flex bg-white q-mt-sm q-pa-sm  flex flex-center ">

              <q-img :src="'img/flag-icons-numero/'+n+'.png'"
                @click="numero = n, paises = false" class="pointer"
                width="100px"></q-img>

            </div>

          </div>
        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width ">
        <q-card-section class="p-0 rounded-1 ">
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white ">{{ nombre_pais }}</p>
            </div>

            <div class="col-2">
              <q-btn class="font-xl text-white " label="X"
                @click="eliminar = false" flat></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold ">¿Está seguro que desea eliminar este
                país?</p>
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disabled="disableButton" @click="eliminarPais"
              label="Si"></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false"
              label="No"></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

  </div>
</template>

<script>
export default {

data () {
  return {
    id: null,
    nombre:'',
    codigo: '',
    bandera: '',

    desactivar_campos: true,
    nombre_pais: '',
    numero: null,
    filter: null,
    paises: null,
    eliminar: false,
    crud: false,
    c_area: null,
    agregando: false,
    editando: false,
    disableButton: false,
    columns: [
      { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
      { name: 'ID', align: 'center', label: '#' , align: 'center' , field: 'ID', sortable: true },
      { name: 'Codigo', label: 'Código', field: 'codigo' , align: 'center' , sortable: true, },
      { name: 'Bandera', label: 'Bandera', field: 'bandera' , align: 'center' , sortable: true, },
      { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: 'nombre', sortable: true },
    ],
    data: [
      // {
      //   Opciones: null,
      //   ID: 1,
      //   codigo: '+58',
      //   bandera: 'img/flag-icons/Venezuela.png',
      //   nombre: 'Venezuela',
      // },
      // {
      //   Opciones: null,
      //   ID: 2,
      //   codigo: '+54',
      //   bandera: 'img/flag-icons/Argentina.png',
      //   nombre: 'Argentina',
      // },
      // {
      //   Opciones: null,
      //   ID: 3,
      //   codigo: '+56',
      //   bandera: 'img/flag-icons/Panama.png',
      //   nombre: 'Panama',
      // },
      // {
      //   Opciones: null,
      //   ID: 4,
      //   codigo: '+57',
      //   bandera: 'img/flag-icons/Colombia.png',
      //   nombre: 'Colombia',

      // },
      // {
      //   Opciones: null,
      //   ID: 5,
      //   codigo: '+593',
      //   bandera: 'img/flag-icons/Ecuador.png',
      //   nombre: 'Ecuador',
      // },

    ]
  }
},


mounted() {
  this.recuperarPaises();
},


computed: {
  flagPath() {
    if (this.bandera) {
      return this.bandera;
    }
    return this.numero ? `img/flag-icons-numero/${this.numero}.png` : '';
  },
},


methods: {
  recuperarPaises() {
    this.$api
      .get('/cod_telefono')
      .then(r => { this.data = r.data })
  },

  clickAgregar() {
    this.llenarCampos();
    this.numero = null;
    this.desactivar_campos = this.editando = false;
    this.crud = this.agregando = true;
  },

  clickVer(row) {
    this.llenarCampos(row);
    this.editando = this.agregando = false;
    this.desactivar_campos = this.crud = true;
  },

  clickEditar(row) {
    this.llenarCampos(row);
    this.desactivar_campos = this.agregando = false;
    this.editando = this.crud = true;
  },

  clickEliminar(row) {
    this.llenarCampos(row);
    this.eliminar = true;
  },

  agregarPais() {
    const data = {
      nombre: this.nombre,
      bandera: this.flagPath,
      codigo: this.codigo,
    };

    if (!data.nombre)
      return this.$q.notify('Ingrese el nombre');
    else if (!data.bandera)
      return this.$q.notify('Seleccione la bandera');
    else if (!data.codigo)
      return this.$q.notify('Ingrese el código');

    this.disableButton = true;
    this.$api
      .post('/cod_telefono', data)
      .then(res => {
        this.disableButton = this.crud = false;
        swal.fire('Completado',res.data.msg,'success');
        this.recuperarPaises();
      })
      .catch(this.axiosCatch);
  },

  editarPais() {
    const data = {
      nombre: this.nombre,
      bandera: this.flagPath,
      codigo: this.codigo,
    };

    if (!data.nombre)
      return this.$q.notify('Ingrese el nombre');
    else if (!data.bandera)
      return this.$q.notify('Seleccione la bandera');
    else if (!data.codigo)
      return this.$q.notify('Ingrese el código');

    this.disableButton = true;
    this.$api
      .put('/cod_telefono/'+this.id, data)
      .then(res => {
        this.disableButton = this.crud = false;
        swal.fire('Completado',res.data.msg,'success');
        this.recuperarPaises();
      })
      .catch(this.axiosCatch)
  },

  eliminarPais() {
    this.disableButton = true;
    this.$api
      .delete('/cod_telefono/' + this.id)
      .then(res => {
        this.disableButton = this.crud = this.eliminar = false;
        swal.fire('Completado', res.data && res.data.msg, 'success');
        this.recuperarPaises();
      })
      .catch(this.axiosCatch)
  },

  llenarCampos(row={}) {
    this.id = row.id;
    this.nombre = this.nombre_pais = row.nombre;
    this.codigo = row.cod;
    this.bandera = row.bandera;
  },


  axiosCatch(err) {
    this.disableButton = false;
    if (err.response && err.response.data.msg)
      this.$q.notify(err.response.data.msg);
    else
      this.$q.notify('Ocurrió un error')
    console.log(err)
  },
},


}</script>
