<template>
    <div class="">

      <div class="row">
        <div class="col-12 text-center q-mt-lg ">
          <p class="text-h4  text-grey-7 text-weight-thin" >Predios</p>
        </div>
      </div>
      <div class="q-pa-md">
        <data-tables
        ref="tabla"
        :columns="columns"
        :config="configDataTable"
        :mostrar-agregar="true"
        :mostrar-ver="true"
        :mostrar-editar="true"
        :mostrar-eliminar="true"
        :mostrar-chat="true"
        :mostrar-gps="true"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @eliminar="clickEliminar"
        @editar="clickEditar"
        @gps="clickGps"
        @bitacora_click="onClickBita"
        loading-label="Cargando..."
        />
      </div>

  <!-- modal crud -->

  <q-dialog maximized v-model="crud">
      <q-card class=" " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center flex flex-center item-center ">
              <p class="mb-0  text-white text-h6 text-weight-regular " >{{txt_tit}} predio</p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 flex item-center ">

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular  "  style="">Nombre de la empresa</p>
            <q-input name="nombre" type="text" placeholder="Ingrese el nombre de la empresa" input-class="height_txt"  v-model="nombre" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>

            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  w-100 font-xl q-pl-sm text-grey-8 text-weight-regular"  style="">Teléfono de la empresa</p>
            <q-input name="telefono" type="text" placeholder="Ingrese el Teléfono de la empresa" input-class="height_txt" v-model="telefono" borderless  class=" w-100 input_txt" mask="### #########" :rules="[ val => val && val.length >9 && val.length <=13 || 'El teléfono debe tener de 9 a 12 caracteres']" :readonly="inputdisabled"/>
            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-6  col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular"  style="">URL de la instancia</p>
            <q-input name="url" autogrow type="text" placeholder="Ingrese la URL de la empresa" input-class="height_txt" v-model="urli" borderless  class=" w-100 input_grow" :readonly="inputdisabled"/>

            </div>


            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  w-100 font-xl q-pl-sm  text-grey-8 text-weight-regular"  style="">URL alternativa</p>
            <q-input name="url_alt" type="text" autogrow placeholder="Ingrese la URL alternativa" input-class="height_txt"  v-model="urla" borderless  class=" w-100 input_grow" :readonly="inputdisabled"/>
            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Encargado de la empresa</p>
            <q-input name="encargado" type="text" placeholder="Ingrese el nombre del encargado " input-class="height_txt"  v-model="encargado" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>

            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Teléfono del encargado</p>
            <q-input name="telefono_enc" type="text" placeholder="Ingrese el Teléfono del encargado de la empresa" input-class="height_txt" v-model="tlfi" borderless  class=" w-100 input_txt" mask="### #########" :rules="[ val => val && val.length >9 && val.length <=13 || 'El teléfono debe tener de 9 a 12 caracteres']" :readonly="inputdisabled"/>
            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Observación</p>
            <q-input name="obs" autogrow type="text" placeholder="Ingrese alguna observación" v-model="obs" borderless input-class="height_txt" class=" w-100 input_grow" :readonly="inputdisabled"/>

            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">País</p>
            <q-select borderless v-model="pais" :options="paises" :dense="true" label="Seleccione el país" class=" q-pr-sm w-100 input_txt" option-value="id"  option-label="nombre" emit-value map-options :readonly="inputdisabled" />
            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-2 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Estatus para el turno</p>
            <q-select borderless v-model="estatu" :options="estatus" :dense="true" label="Seleccione el estatus" class=" q-pr-sm w-100 input_txt" option-value="id"  option-label="label" emit-value map-options :readonly="inputdisabled" />
            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-2 flex  q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Seguimiento GPS</p>
               <q-toggle
                  v-model="first"
                  icon="pin_drop"
                  size="60px"
                  :disable="inputdisabled"
                />
            </div>
            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular  "  style="">Horas previas para el turno</p>
              <q-input name="horas" mask="##" min="0" max="99" placeholder="Ingrese las horas previas para el turno " input-class="height_txt"  v-model="horas" maxlength="2" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-4 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular  "  style="">Días limites para el turno</p>
              <q-input name="dias" mask="###" min="0" max="999" placeholder="Ingrese los días limites para el turno " input-class="height_txt"  v-model="dias" maxlength="3" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-2 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-7 text-weight-regular  "  style="">Correo electrónico</p>
            <q-select borderless v-model="correo_estatu" :options="correo_estatus" :dense="true" label="Seleccione el estatus" class=" q-pr-sm w-100 input_txt" option-value="id"  option-label="label" emit-value map-options :readonly="inputdisabled" />
            </div>

            <div @click="recuperar = true" class=" col-12 col-sm-6 col-md-2 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular  "  style="">Zona horaria del predio</p>
            <q-select borderless v-model="zona_horaria" :options="filter_zona" :dense="true" label="Seleccione el estatus" class=" q-pr-sm w-100 input_txt" :readonly="inputdisabled" use-input @filter="filterTZ" input-debounce="20" />
            </div>

             <div @click="recuperar = true" class=" col-12 col-sm-12 col-md-12 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular  "  style="">Ubicación de la  empresa</p>
              <google-map :setcargar="ubicacion">
                <slot :lat="lat" :lon="lon" slot-scope="{ lat, lon }">
                  <input name="lat_ubi" id="lat_ubi" ref="lat_ubi" v-model="lat" type="hidden" />
                  <input name="lon_ubi" id="lon_ubi" ref="lon_ubi" v-model="lon" type="hidden" />
                </slot>
              </google-map>
              <!--<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15761.107280002756!2d-69.76127598022461!3d9.038493700000016!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2sve!4v1618926703811!5m2!1ses!2sve" width="100%" height="200" style="border:0;" allowfullscreen="" loading="lazy"></iframe>-->
            </div>

            <div class="col-12 text-center q-mt-md ">
              <p class="mb-0 titulos text-weight-regular text-grey-7 " >Campos para el turno

                <q-btn class="cl_standar rounded q-ml-sm q-mr-sm " @click="agregardetalle" size="sm" round icon="add" v-if="!inputdisabled" >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Agregar campo para el turno
                  </q-tooltip>
                </q-btn>
              </p>
              <q-separator color="cyan" ></q-separator>
            </div>

            <div v-for="n in detalles" :key="n.id" class="col-12 row q-mt-md flex item-center ">

            <div v-if="detalles.length > 1 && !inputdisabled" class=" col-12 col-sm-1 col-md-1 flex flex-center q-mt-md q-pl-sm item-end q-mb-sm " >
              <q-btn  class="cl_standar rounded q-ml-sm q-mr-sm " @click="quitardetalle(n)" size="sm" round icon="remove" >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Eliminar campos
                  </q-tooltip>
                </q-btn>
            </div>

            <div @click="recuperar = true" :class=" detalles.lenght = 1 ? 'col-md-3' : 'col-md-2' " class=" col-12 col-sm-5  flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  w-100 font-xl q-pl-sm  text-grey-8 text-weight-regular"  style="">Tipo de campo</p>
            <q-select borderless v-model="n.tipo" :options="tipos" label="Seleccione un tipo de campo" :dense="true" class=" w-100 input_txt" :readonly="inputdisabled" />
            </div>

            <div  class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular "  style="">Titulo del campo</p>
              <q-input name="usuario" type="text" placeholder="Ingrese el titulo del campo" input-class="height_txt"  v-model="n.titulo" borderless  class=" w-100 input_txt" :readonly="inputdisabled">
                <template v-slot:append>
                  <div class="row">
                    <div class="col-12 flex flex-center">
                      <p class="mb-0 font-sm" >Obligatorio</p>
                       <q-checkbox v-model="n.obligatorio" :disable="inputdisabled || n.segmenta"></q-checkbox>
                    </div>
                  </div>
                </template>
              </q-input>
            </div>

            <div v-if="n.tipo == 'Select'" class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Opciones </p>
            <q-input name="usuario" type="text" autogrow placeholder="Separe las opciones por una coma ',' " input-class="height_txt"  v-model="n.opciones" borderless  class=" w-100 input_grow" :readonly="inputdisabled"/>
            </div>

            <div v-if="n.tipo == 'Select'" :class="detalles.length > 1 ? 'col-md-2' : 'col-md-1' " class=" col-12 col-sm-1  flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  bold w-100 text-center font-xl q-pl-sm "  style="">¿Segmenta?</p>
              <q-checkbox color="cyan" @input="essegmenta(n)" v-model="n.segmenta" :disable="inputdisabled"></q-checkbox>
            </div>

             <div v-if="n.tipo == 'Texto' " class=" col-12 col-sm-4 col-md-2 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm  text-grey-8 text-weight-regular "  style="">Caracteres mínimos</p>
              <q-input name="usuario" type="number" placeholder="1" input-class="height_txt"  v-model="n.min" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
            </div>

            <div v-if="n.tipo == 'Texto' " class=" col-12 col-sm-4 col-md-2 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0   w-100 font-xl q-pl-sm  text-grey-8 text-weight-regular"  style="">Caracteres máximos</p>
              <q-input name="usuario" type="number" placeholder="100" input-class="height_txt"  v-model="n.max" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
            </div>

            <div :class="detalles.length > 1 ? '' : 'hide' " class="col-1 hide-tool ">

            </div>

            <div v-if="n.tipo == 'Select' && n.segmenta" class=" col-12 col-sm-4 col-md-3 flex flex-center q-mt-md q-pl-sm " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Variable</p>
              <q-input name="usuario" type="text" placeholder="Ingrese la variable del campo" input-class="height_txt"  v-model="n.variable" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
            </div>



            </div>

            <div v-if="!inputdisabled" class="col-12 text-center q-mt-md ">
              <p class="mb-0 titulos text-grey-8 text-weight-regular " >Usuarios
                <!--
                <q-btn class="cl_standar rounded q-ml-sm q-mr-sm " @click="usuarios.push({nombre:'', correo:'', pass:'', asignar:true})" size="sm" round icon="add" v-if="!inputdisabled" >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Agregar campo para el turno
                  </q-tooltip>
                </q-btn>
                -->

                <q-btn class="cl_standar rounded q-ml-sm q-mr-sm " @click="dialogUsuarios=true" size="sm" round icon="edit" v-if="!inputdisabled" >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Editar usuarios
                  </q-tooltip>
                </q-btn>

              </p>
              <q-separator color="cyan" ></q-separator>
            </div>
<!--
            <div v-for="(usu,index) in usuarios" :key="index" class="col-12 row q-mt-md flex item-center ">
              <div v-if="usuarios.length && !inputdisabled" class=" col-12 col-sm-1 col-md-1 flex flex-center q-mt-md q-pl-sm item-end q-mb-sm " >
                <q-btn  class="cl_standar rounded q-ml-sm q-mr-sm " @click="usuarios.splice(index, 1)" size="sm" round icon="remove" >
                    <q-tooltip content-class="verde rounded hide-tool " >
                      Eliminar campos
                    </q-tooltip>
                  </q-btn>
              </div>

              <div  class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Nombre</p>
                <q-input name="usuario" type="text" placeholder="Ingrese el titulo del campo" input-class="height_txt"  v-model="usu.nombre" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
              </div>

              <div  class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Correo</p>
                <q-input name="usuario" type="text" placeholder="Ingrese el titulo del campo" input-class="height_txt"  v-model="usu.correo" borderless  class=" w-100 input_txt" :readonly="inputdisabled" :rules="[checkEmail]"/>
              </div>

               <div v-if="!inputdisabled" class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Contraseña</p>
                 <q-input v-on:keyup.enter="login" class=" q-pr-md  w-100 input_txt" placeholder="Ingrese su contraseña" input-class="height_txt" v-model="usu.pass" borderless :type="isPwd ? 'password' : 'text'" :rules="[checkPass]">
                    <template v-slot:append>
                      <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
                    </template>
                  </q-input>
              </div>

              <div  class=" flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Asignar a predio</p>
                <q-checkbox color="cyan" v-model="usu.asignar" :disable="inputdisabled"></q-checkbox>
              </div>
            </div>
 -->
            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>
            <div class="col-12">
              <div class="w-100 flex flex-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-sm q-pr-sm q-ml-sm q-mr-sm " :disable="disableButton" @click="clickGuardar" v-if="!inputdisabled" >Guardar</q-btn>
                <q-btn @click="crud = false" class="cl_standar rounded q-pl-sm q-pr-sm q-ml-sm q-mr-sm ">Cerrar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->
    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Predio # {{id_predio}}</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl text-grey-7 text-weight-regular " >¿Está seguro que desea eliminar este predio?</p>
            </div>

          </div>
          <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
            <q-linear-progress query color="grey" class="q-mt-sm" />
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disable="disableButton" @click="eliminar_reg" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- usuarios -->
    <q-dialog v-model="dialogUsuarios">
      <q-card class="rounded-1 w-100-xs w-80 w-100-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Usuarios</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="dialogUsuarios = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

            <div class="col-12 text-center q-mt-md ">
              <p class="mb-0 titulos text-grey-9 text-weight-thin " >Usuarios

                <q-btn class="cl_standar rounded q-ml-sm q-mr-sm " @click="usuarios.unshift({nombre:'', correo:'', pass:'', asignar:true})" size="sm" round icon="add" v-if="!inputdisabled" >
                  <q-tooltip content-class="verde rounded hide-tool " >
                    Agregar usuario
                  </q-tooltip>
                </q-btn>
              </p>
              <q-separator color="cyan" ></q-separator>
            </div>

            <div v-for="(usu,index) in usuarios" :key="index" class="col-12 row q-mt-md flex item-center ">

              <div v-if="usuarios.length && !inputdisabled" class=" col-12 col-sm-1 col-md-1 flex flex-center q-mt-md q-pl-sm item-end q-mb-sm " >
                <q-btn  class="cl_standar rounded q-ml-sm q-mr-sm " @click="clickQuitarUsuario(index)" size="sm" round icon="remove" >
                    <q-tooltip content-class="verde rounded hide-tool " >
                      Eliminar campos
                    </q-tooltip>
                  </q-btn>
              </div>

              <div  class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular"  style="">Nombre</p>
                <q-input name="usuario" type="text" placeholder="Ingrese el titulo del campo" input-class="height_txt"  v-model="usu.nombre" borderless  class=" w-100 input_txt" :readonly="inputdisabled"/>
              </div>

              <div  class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular"  style="">Correo</p>
                <q-input name="usuario" type="text" placeholder="Ingrese el titulo del campo" input-class="height_txt"  v-model="usu.correo" borderless  class=" w-100 input_txt" :readonly="inputdisabled" :rules="[checkEmail]"/>
              </div>

               <div v-if="!inputdisabled" class=" col-12 col-sm-5 col-md-3 flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0   w-100 font-xl q-pl-sm text-grey-8 text-weight-regular"  style="">Contraseña</p>
                 <q-input v-on:keyup.enter="login" class=" q-pr-md  w-100 input_txt" placeholder="Ingrese su contraseña" input-class="height_txt" v-model="usu.pass" borderless :type="isPwd ? 'password' : 'text'" :rules="[checkPass]">
                    <template v-slot:append>
                      <q-icon :name="isPwd ? 'visibility_off' : 'visibility'" class="cursor-pointer" @click="isPwd = !isPwd" />
                    </template>
                  </q-input>
              </div>

              <div  class=" flex flex-center q-mt-md q-pl-sm " >
                <p class="m-0   w-100 font-xl q-pl-sm text-weight-regular text-grey-8 "  style="">Asignar</p>
                <q-checkbox color="cyan" v-model="usu.asignar" :disable="inputdisabled"></q-checkbox>
              </div>

            </div>


        </q-card-section>

      </q-card>
    </q-dialog>



    <!-- Eliminar usuario -->
    <q-dialog v-model="eliminarUsuario">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Usuario: {{del_usu.nombre}}</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminarUsuario = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea eliminar este usuario?</p>
            </div>

          </div>
          <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
            <q-linear-progress query color="grey" class="q-mt-sm" />
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disable="disableButton" @click="eliminar_usu" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminarUsuario = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>




    <!-- GPS Chofer -->
    <q-dialog v-model="gps_chofer">
      <q-card class="rounded-1 w-100-xs w-80 w-80-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Predio # {{id_predio}}</p>
            </div>

            <div class="col-2 text-right">
               <q-btn class="font-xl text-white " label="X" @click="gps_chofer = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">
            <div @click="recuperar = true" class=" col-12 col-sm-12 col-md-12  q-mt-md q-pl-sm relative " v-if="mostrar_gps">

              <div style="position:absolute;top:10px;left:10px;z-index:99" class="w-100 flex flex-center">

                <p class="m-0  bold  font-xl q-pl-sm q-pr-sm q-pl-sm "  style="">Seguimiento a choferes:</p>

              <div class="flex flex-center item-center">

                <div class="flex flex-center item-center q-pr-xs ">
                  <p class="font-lg bold mb-0" >Mi ubicacion</p>
                  <q-img src="img/placeholder.png" width="30px" height="30px" ></q-img>

                </div>

                <div class="flex flex-center item-center q-pl-xs ">
                  <p class="font-lg bold mb-0" >Chófer</p>
                  <q-img src="img/alfiler.png" width="30px" height="30px" ></q-img>

                </div>

              </div>

              </div>


              <google-map style="width:100%!important" :setcargarmarkermultiple="ubicacion_gps">
              </google-map>
            </div>
            <div @click="recuperar = true" class=" col-12 col-sm-12 col-md-12 flex flex-center q-mt-md q-pl-sm " v-if="!mostrar_gps">
              <p class="m-0  bold w-100 font-xl q-pl-sm text-center"  style="">Actualmente este predio no tiene choferes para seguimiento</p>
            </div>
          </div>
        </q-card-section>
      </q-card>
    </q-dialog>

    <!-- Bitacora -->

   <q-dialog v-model="bitacora">
      <q-card class="rounded-1 w-100-xs w-70 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Bitácora del predio</p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="bitacora = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <!-- <p class="mb-0 font-xl bold " >EL usuario Jean creó un nuevo horario no laborable para el dia: (2021-08-05) de 00:00 a 23:59, variable: (TODOS), Operaciones: TODOS, Frecuencia: 0, Disponibilidad: 0 </p> -->
            </div>

            <div class="col-12">
               <data-tables
              ref="tabla"
              :columns="bitacoracolumns"
              :config="configDataTableB"
              no-results-label="No hay coincidencias"
              loading-label="Cargando..."
              />
            </div>

          </div>


        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
  import config from '../config'
  import geo from '../lib/geo'
  import getTimezone from '../lib/getTimezone'
  import checkEmail from '../lib/checkEmail'
  import GoogleMap from 'components/GoogleMap';
  import DataTables from 'components/DataTables'
export default {
  components: { DataTables, GoogleMap},
  data () {
    return {
      zona_horaria: null,
      zonas_horaria: null,
      filter_zona: null,
      obligatorio: false,
      bitacora:false,
      eliminarUsuario: false,
      del_usu: {},
      usuarios_check: {},
      dialogUsuarios: false,
      isPwd: true,
      minimo:1,
      maximo:100,
      mostrar_gps: false,
      gps_chofer: false,
      chat : true,
      cargandobarra: false,
      disableButton: false,
      inputdisabled: false,
      txt_tit: '',
      id_predio: null,
      ubicacion: {},
      ubicacion_gps: {},
      campos : 1,
      segmenta: false,
      first: true,
      tipo: 'Seleccione un tipo de campo',
      estatu: '',
      estatus: [{
        id: 0,
        label: 'En espera'
      },{
        id: 1,
        label: 'Aprobado'
      }],
      tipos: [
        'Texto', 'Imagen', 'Select', 'Fecha'
      ],
      correo_estatu: 1,
      correo_estatus: [
        {id:0, label:'No'},
        {id:1, label:'Si'}
      ],
      pais: '',
      paises: [],
      nombre:'',
      telefono:'',
      urli:'',
      urla: '',
      encargado:'',
      tlfi:'',
      obs: '',
      filter: '',
      horas: '',
      dias: '',
      eliminar: false,
      crud: false,
      password: null,
      isPwd: true,
      titulo: '',
      lat_pre: null,
      lon_pre: null,
      // tabla bitacora
      bitacoracolumns: [
        { name: 'Accion', required: true, label: 'Acción', align: 'left', field: 'accion'},
        { name: 'Fecha', required: true, label: 'Fecha', align: 'center', field: 'fecha'}
      ],
    //  fin tabla bitacora
      columns: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', required: true, label: 'ID', align: 'center', field: row => row.id },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre, sortable: true},
        { name: 'telefono', required: true, label: 'Teléfono de la empresa', align: 'center', field: 'telefono' },
        { name: 'encargado', align: 'center', label: 'Encargado de la empresa' , align: 'center' , field: 'encargado', sortable: true },
        { name: 'telefono_enc', label: 'Teléfono del encargado', field: 'telefono_enc' , align: 'center' , sortable: true, style: 'width: 10px' }
      ],
      configDataTable: {
        ajax: '/predio',
        tooltip_agregar: '',
      },
      configDataTableB: {
        ajax: '/predio/bitacora-list/0',
        tooltip_agregar: '',
      },
      detalles: [
        {
          id: null,
          tipo: '',
          titulo: '',
          opciones: '',
          segmenta: false,
          obligatorio: false,
          variable: ''
        },
      ],
      inputdisabled: false,

      usuarios: [],
      usuarios_predio: [],
    }
  },
  mounted(){
    this.cargarPaises();
    this.cargarUsuarios();

    const tz = getTimezone();
    if (tz) {
      this.zona_horaria = tz;
    }
  },
  methods: {
    essegmenta(n){
      if(n.segmenta)
        n.obligatorio = true;
      else
        n.obligatorio = false;
    },
    onClickBita(row) {
      this.bitacora = true;
      this.configDataTableB.ajax = `/predio/bitacora-list/${row.id}`;
    },
    checkEmail: checkEmail,
    checkPass: v => v&&v.length>7,

    cargarUsuarios() {
      this.$api
        .get('/predio/usuarios')
        .then(res => {
          res.data.forEach(u => {
            delete u.pass;
            u.predios = u.predios.map(p=>p.id);
            this.$set(u, 'asignar', u.predios.includes(this.id_predio));
          });

          this.usuarios = res.data;
        })
    },

    cargarPaises(){
      this.$axios.get(config.API_URL+'cod_telefono/')
        .then(res => {
          this.paises = res.data;
        });
    },
    clickAgregar(row){
      this.limpiarcampos();
      this.zona_horaria = getTimezone();
      this.txt_tit = 'Agregar';
      this.crud = true;
      this.inputdisabled = false;
      let self = this;
      setTimeout(async function(){

        //var cordenadas = await geo();
        await geo()
        .then(cordenadas => {
          cordenadas.marcador = false;
          cordenadas.click = true;
          cordenadas.zoom = 16;

          self.ubicacion=cordenadas;
        })
        .catch(err => {
          var cordenadas = {};
          cordenadas.lat = -38.416097;
          cordenadas.lon = -63.616672;
          cordenadas.marcador = false;
          cordenadas.click = true;
          cordenadas.zoom = 5;

          self.ubicacion=cordenadas;
          //console.log(err,err.response);
        });

      }, 1000);
    },
    clickVer(row){
      this.llenarcampos(row);
      this.txt_tit = 'Ver';
      this.inputdisabled = true;
      this.crud = true;
      let self = this;
      setTimeout(async function(){
        var cordenadas = {};
        cordenadas.lat = row.lat;
        cordenadas.lon = row.lon;
        cordenadas.marcador = true;
        cordenadas.click = false;
        cordenadas.zoom = 17;
        self.ubicacion=cordenadas;
      }, 1000);
    },
    clickEditar(row){
      //console.log(row);
      // if (row.usuarios) {
      //   row.usuarios.forEach((usu) => {
      //     usu.asignar = true;
      //     delete usu.pass;
      //   });
      // }
      this.llenarcampos(row);
      this.txt_tit = 'Editar';
      this.inputdisabled = false;
      this.crud = true;
      let self = this;
      setTimeout(async function(){
        var cordenadas = {};
        cordenadas.lat = row.lat;
        cordenadas.lon = row.lon;
        cordenadas.marcador = true;
        cordenadas.click = true;
        cordenadas.zoom = 17;
        self.ubicacion=cordenadas;
      }, 1000);
    },
    clickGuardar(){
      const datos = {
        id_v: this.id_predio,
        nombre: this.nombre,
        telefono: this.telefono.replace(' ',''),
        url: this.urli,
        url_alt: this.urla,
        encargado: this.encargado,
        telefono_enc: this.tlfi.replace(' ',''),
        id_pais: this.pais,
        obs: this.obs,
        detalles: this.detalles,
        seguimiento: this.first,
        lat: this.$refs.lat_ubi.value,
        lon: this.$refs.lon_ubi.value,
        estatus: this.estatu,
        usar_correo: this.correo_estatu,
        horas: this.horas,
        dias: this.dias,
        usuarios: this.usuarios.filter(usu => usu.check),
        usuarios_editados: this.usuarios.filter(usu => usu.id),
        usuarios_nuevos: this.usuarios.filter(usu => !usu.id),
        zona_horaria: this.zona_horaria,
      };
      if (this.id_predio)
        this.editar(datos);
      else
        this.crear(datos);
    },
    crear(datos){
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.post('/predio', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    editar(datos){
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.put('/predio/editar', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    clickEliminar(row){
      this.id_predio = row.id;
      this.eliminar = true;
    },
    agregardetalle(){
      this.detalles.push( {
        id: null,
        tipo: '',
        titulo: '',
        opciones: '',
        segmenta: false,
        obligatorio: false,
        variable: ''
      } );
    },
    quitardetalle(datos){
      var det = this.detalles.indexOf( datos );
      this.detalles.splice( det, 1 );
    },
    clickEliminar(row){
      this.id_predio = row.id;
      this.eliminar = true;
    },
    eliminar_reg(){
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.delete('/predio/'+this.id_predio)
        .then(this.axiosThen, this.axiosCatch);
    },
    limpiarcampos(){
      this.id_predio=null;
      this.nombre='';
      this.telefono='';
      this.urli='';
      this.urla='';
      this.encargado='';
      this.tlfi='';
      this.pais='';
      this.obs='';
      this.estatu='';
      this.correo_estatu=1;
      this.horas='';
      this.dias='';
      this.detalles=[
        {
          id: null,
          tipo: '',
          titulo: '',
          opciones: '',
          segmenta: false,
          obligatorio: false,
          variable: ''
        },
      ];
      // this.usuarios = [{nombre:'', correo:'', pass:''}];
      this.usuarios = [];
      this.cargarUsuarios();
      this.first=true;
    },
    llenarcampos(row){
      //console.log(row);
      this.id_predio=row.id;
      this.nombre=row.nombre;
      this.telefono=row.telefono;
      this.urli=row.url;
      this.urla=row.url_alternativa;
      this.encargado=row.encargado;
      this.tlfi=row.telefono_enc;
      this.pais=row.id_cod_telefono;
      this.obs=row.observacion;
      this.detalles=row.detalles;
      this.estatu=parseFloat(row.estatus);
      this.correo_estatu=row.usar_correo==1 ? 1 : 0;
      this.horas=row.horas_maxima;
      this.dias=row.dias_maximo;
      this.zona_horaria = row.zona_horaria;
      // this.usuarios = JSON.parse(JSON.stringify(row.usuarios));
      this.usuarios.forEach(u => {
        this.$set(u, 'asignar', u.predios.includes(row.id));
      });
      if(row.seguimiento)
        this.first=true;
      else
        this.first=false;
    },
    clickGps(row){
      //console.log(row);
      this.id_predio = row.id;
      this.mostrar_gps = true;
      this.gps_chofer = true;
      this.$api.get('predio/choferes-seguimiento/'+row.id)
        .then(res => {
          //console.log(res.data);
          if(res.data.length>0){
            this.mostrar_gps = true;
            var cordenadas = {};
            cordenadas.lat = row.lat;
            cordenadas.lon = row.lon;
            cordenadas.zoom = 16;
            cordenadas.lista = res.data;
            this.ubicacion_gps=cordenadas;
          }else{
            this.mostrar_gps = false;
          }
        });
    },
    clickQuitarUsuario(index) {
      const usu = this.usuarios[index];
      if (usu.id) {
        this.del_usu = usu;
        this.eliminarUsuario = true;
      }
      else {
        this.usuarios.splice(index, 1);
      }
    },
    eliminar_usu() {
      this.disableButton = true;
      this.$api
        .delete('/predio/usuario/'+this.del_usu.id)
        .then(() => {
          this.cargarUsuarios();
          this.eliminarUsuario = false;
        })
        .catch(err => {
          this.$q.notify('Error al eliminar usuario');
        })
        .finally(() => { this.disableButton = false })
    },
    axiosThen(res) {
      this.disableButton = false;
      this.cargandobarra = false;
      if(res.data.r){
        swal.fire('Completado',res.data.msg,'success');
        this.limpiarcampos();
        this.$refs.tabla.fetch();
      }else{
        if(res.data.msg)
          this.$q.notify(res.data.msg);
        else
          this.$q.notify('No se pudo realizar este proceso');
      }
      this.$refs.tabla.fetch();
      this.crud = false;
      this.eliminar = false;
    },
    axiosCatch(err) {
      this.disableButton = false;
      this.cargandobarra = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },

    filterTZ (val, update) {
      if (val === '') {
        update(() => {
          this.filter_zona = this.zonas_horarias;

          // here you have access to "ref" which
          // is the Vue reference of the QSelect
        })
        return
      }

      update(() => {
        const needle = val.toLowerCase()
        this.filter_zona = this.zonas_horarias.filter(v => v.toLowerCase().indexOf(needle) > -1)
      })
    },

  },

  computed: {
    zonas_horarias() { return this.$store.getters['TZ/zonas'] },
  },


}
</script>
