<template>
    <div class="">

      <div class="row">
        <div class="col-12 text-center q-mt-lg ">
          <p class="text-h4 bold" >Predio {{id_predio}}</p>
        </div>
      </div>
      <div class="row w-100 ">
        <div class=" col-12 col-sm-12 col-md-12  q-mt-md q-pl-sm relative " v-if="mostrar_gps">
          <div style="position:absolute;top:10px;left:10px;z-index:99" class="w-100 flex flex-center">

            <p class="m-0  bold  font-xl q-pl-sm q-pr-sm q-pl-sm "  style="">Seguimiento a choferes:</p>

            <div class="flex flex-center item-center">

              <div class="flex flex-center item-center q-pr-xs " v-if="conpredio">
                <p class="font-lg bold mb-0" >Mi ubicacion</p>
                <q-img src="img/placeholder.png" width="30px" height="30px" ></q-img>
              </div>

              <div class="flex flex-center item-center q-pl-xs ">
                <p class="font-lg bold mb-0" >Chófer {{nombre_chofer}}</p>
                <q-img src="img/alfiler.png" width="30px" height="30px" ></q-img>
              </div>

            </div>
          </div>
          <google-map style="width:100%!important" :setcargarmarkermultiple="ubicacion_gps" :setcargarmarkermultiple2="ubicacion_gps_2">
          </google-map>
        </div>
        <div class=" col-12 col-sm-12 col-md-12 flex flex-center q-mt-md q-pl-sm " v-if="!mostrar_gps">
          <p class="m-0  bold w-100 font-xl q-pl-sm text-center"  style="">{{txt_tit}}</p>
        </div>
      </div>
    </div>
</template>

<script>
  import GoogleMap from 'components/GoogleMap';
  import config from '../config';

  export default {
    components: { GoogleMap },
    data () {
      return {
        txt_tit: 'Obteniendo información...',
        id_predio: null,
        ubicacion_gps: {},
        ubicacion_gps_2: {},
        mostrar_gps: false,
        gps_chofer: false,
        id_predio: null,
        token: null,
        chofer: null,
        conpredio: true,
        nombre_chofer: ''
      }
    },
    mounted(){
      this.id_predio = this.$route.params.predio;
      this.token = this.$route.params.token;
      if(this.$route.params.chofer){
        this.conpredio = false;
        this.chofer = this.$route.params.chofer;
      }
      this.cargarinformacion(1);
      self = this;
      setInterval(async function(){
        self.cargarinformacion(2);
      }, 10000);
    },
    methods: {
      cargarinformacion(op){
        this.$axios.get(config.API_URL+'predio/info-predio/'+this.id_predio,{ 'headers': { 'token': this.token } })
          .then(res => {
            if(res.data.id){
              this.clickGps(res.data,op);
            }else{
              this.txt_tit = 'No existe un predio con esa ID';
              this.mostrar_gps = false;
            }
          },this.axiosCatch);
      },
      clickGps(row,op){
        //console.log(row);
        this.$axios.get(config.API_URL+'predio/choferes-seguimiento/'+row.id,{ 'headers': { 'token': this.token } })
          .then(res => {
            //console.log(res.data);
            if(res.data.length>0){
              this.mostrar_gps = true;
              self = this;
              var choferes = res.data;
              if(this.chofer)
                choferes = choferes.filter(v => v.id_chofer == this.chofer);
              if(choferes.length>0){
                setTimeout(async function(){
                  var cordenadas = {};
                  if(self.chofer){
                    self.nombre_chofer = ' ('+choferes[0].nombre+' '+choferes[0].apellido+' - Patente: '+choferes[0].vehiculo.patente+')';
                    cordenadas.lat = choferes[0].lat_cho;
                    cordenadas.lon = choferes[0].lon_cho;
                    cordenadas.zoom = 16;
                    cordenadas.lista = [];
                    cordenadas.icono = true;
                    cordenadas.stilomapa = 'height: 85vh ; width:100vw';
                  }else{
                    cordenadas.lat = row.lat;
                    cordenadas.lon = row.lon;
                    cordenadas.zoom = 16;
                    cordenadas.lista = choferes;
                    cordenadas.stilomapa = 'height: 85vh ; width:100vw';
                  }
                  if(op==1)
                    self.ubicacion_gps=cordenadas;
                  else
                    self.ubicacion_gps_2=cordenadas;
                }, 1000);
              }else{
                this.txt_tit = 'Actualmente este chofer no tiene turno para el seguimiento en este predio';
                this.mostrar_gps = false;
              }
            }else{
              this.txt_tit = 'Actualmente este predio no tiene choferes para seguimiento';
              this.mostrar_gps = false;
            }
          },this.axiosCatch);
      },
      axiosCatch(err) {
        if (err.response.status==401){
          this.txt_tit = 'No tienes acceso';
          this.mostrar_gps = false;
        }
      }
    }
  }
</script>