<template>
  <div class="color-fondo-claro">
    <div class="flex flex-center">


      <h3 class="txt-etiquetas" >Registered users</h3>

      <q-table
         :separator="separator"
        class="fondo-dark w-90 txt-etiquetas"
        :data="data"
        :columns="columns"
        row-key="name"
      />

    </div>

  </div>
</template>

<script>
export default {

data () {
  return {
    conectado: true,
    desconectado: false,
     separator: 'vertical',
     columns: [
      { name: 'name', align: 'center', label: 'Name', field: 'nombre',  },
      { name: 'email',  align: 'center', label: 'Email', field: 'correo', },
      { name: 'gender',  align: 'center', label: 'Gender', field: 'sexo' },
    ],
    data: []
  }
},


created() {
  this.$api.get('/usuarios').then(resp => {
    if(resp.data)
      this.data = resp.data;
  })
},


methods:{
    Conectar(){
         this.conectado = !this.conectado
         this.desconectado = !this.desconectado
      },
    Desconectar(){
         this.conectado = !this.conectado
         this.desconectado = !this.desconectado
      },
}


}</script>
