<template>
    <div class="">

        <div class="row">
            <div class="col-12 text-center q-mt-lg ">
                <p class="text-h4 text-grey-7 text-weight-thin" >Vehículos</p>
            </div>
        </div>

        <div class="q-pa-md">
    <!--<q-table
      title="Treats"
      :data="data"
      :columns="columns"
      row-key="name"
      :filter="filter"
    >
     <template v-slot:body="props">
        <q-tr :props="props">
           <q-td key="Opciones" :props="props">
            <div class="flex flex-center table-width-xs ">
               <q-btn class="cl_standar q-mr-sm  " @click="crud = true" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar q-mr-sm " @click="crud = true" round size="sm" icon="edit" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Editar
               </q-tooltip>
           </q-btn>

            <q-btn class="cl_standar  " @click="eliminar = true" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn>
            </div>
          </q-td>
          <q-td key="ID" :props="props">
            {{ props.row.ID }}
          </q-td>
          <q-td key="Nombre" :props="props">

              {{ props.row.name }}

          </q-td>
        </q-tr>
      </template>

      <template class="w-100" v-slot:top-left>
        <div class="row">

        <div class="col-6 col-md-8 ">

        <q-input borderless dense v-model="filter" placeholder="Buscar" class="input_txt q-pr-md " >
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>

        </div>

        <div class="col-6 col-md-4 text-center ">
           <q-btn class="cl_standar rounded q-pl-sm q-pr-sm " @click="crud = true" label="Agregar" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Agregar nuevo vehículo
               </q-tooltip>
           </q-btn>
        </div>

        </div>
      </template>

    </q-table>-->
    <data-tables
        ref="tabla"
        :columns="columns2"
        :config="configDataTable"
        :mostrar-agregar="true"
        :mostrar-ver="true"
        :mostrar-editar="true"
        :mostrar-eliminar="true"
        no-results-label="No hay coincidencias"
        @agregar="clickAgregar"
        @ver="clickVer"
        @eliminar="clickEliminar"
        @editar="clickEditar"
        loading-label="Cargando..."
        />
  </div>

  <!-- modal crud -->

  <q-dialog v-model="crud">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >{{txt_tit}} vehículo</p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="crud = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 q-mt-md ">

            <div class="col-12 flex flex-center ">
            <p class="m-0 pointer  w-100 font-xl q-pl-sm text-grey-7 text-weight-regular"  style="">Nombre</p>
            <q-input name="usuario" type="text" :readonly="inputdisabled" placeholder="Ingrese el nombre" input-class="height_txt" v-model="nombre" borderless  class=" w-100 input_txt"/>

            </div>

            <div class="col-6 flex flex-center q-mt-md ">

            <p class="m-0 pointer  w-100 font-xl q-pl-sm flex flex-center text-grey-7 text-weight-regular "  style="">VTV</p>
            <q-checkbox color="cyan" v-model="VTV" :disable="inputdisabled"></q-checkbox>

            </div>

            <div class="col-6 flex flex-center q-mt-md ">

            <p class="m-0 pointer  w-100 font-xl q-pl-sm flex flex-center text-grey-7 text-weight-regular"  style="">Doble patente</p>
            <q-checkbox color="cyan" v-model="DPA" :disable="inputdisabled"></q-checkbox>

            </div>


            <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
              <q-linear-progress query color="grey" class="q-mt-sm" />
            </div>
            <div class="col-12">
              <div class="w-100 text-center q-mt-md  ">
                <q-btn class="cl_standar rounded q-pl-md q-pr-md" :disable="disableButton" @click="clickGuardar" v-if="!inputdisabled">Guardar</q-btn>
              </div>
            </div>

          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    <!-- Eliminar -->

    <q-dialog v-model="eliminar">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " >Vehiculo # {{id_veh}}</p>
            </div>

            <div class="col-2">
               <q-btn class="font-xl text-white " label="X" @click="eliminar = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl text-grey-7 text-weight-regular " >¿Está seguro que desea eliminar este vehículo?</p>
            </div>

          </div>
          <div class="col-12 text-center flex flex-center-sm q-mt-lg" v-if="cargandobarra">
            <q-linear-progress query color="grey" class="q-mt-sm" />
          </div>
          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm " :disable="disableButton" @click="eliminar_veh" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm " @click="eliminar = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

    </div>
</template>

<script>
import config from '../config'
import DataTables from 'components/DataTables'
export default {
  components: { DataTables },
  data () {
    return {
      cargandobarra: false,
      disableButton: false,
      inputdisabled: false,
      txt_tit: '',
      id_veh: null,
      VTV: false,
      DPA: false,
      nombre :'',
      Usuario: '',
      password: '',
      email:'',
      filter: '',
      eliminar: false,
      crud: false,
      password: null,
      isPwd: true,
      columns2: [
        { name: 'Opciones', align: 'center', label: 'Opciones' , align: 'center' , field: 'Opciones', sortable: true },
        { name: 'ID', required: true, label: 'ID', align: 'center', field: row => row.id },
        { name: 'Nombre', required: true, label: 'Nombre', align: 'center', field: row => row.nombre, sortable: true}
      ],
      configDataTable: {
        ajax: '/tipo_vehiculo',
        tooltip_agregar: '',
      },
    }
  },
  methods: {
    clickVer(row){
      this.txt_tit = 'Ver';
      this.id_veh = row.id;
      this.nombre = row.nombre;
      if(row.vtv)
        this.VTV = true;
      else
        this.VTV = false;
      if(row.dpatente)
        this.DPA = true;
      else
        this.DPA = false;
      this.inputdisabled = true;
      this.crud = true;
    },
    clickAgregar(row){
      this.txt_tit = 'Agregar';
      this.id_veh = null;
      this.nombre = null;
      this.VTV = false;
      this.DPA = false;
      this.inputdisabled = false;
      this.crud = true;
    },
    clickEditar(row){
      this.txt_tit = 'Editar';
      this.id_veh = row.id;
      this.nombre = row.nombre;
      if(row.vtv)
        this.VTV = true;
      else
        this.VTV = false;
      if(row.dpatente)
        this.DPA = true;
      else
        this.DPA = false;
      this.inputdisabled = false;
      this.crud = true;
    },
    clickGuardar(){
      if (this.id_veh)
        this.editar();
      else
        this.crear();
    },
    crear(){

      const datos = {
        nombre: this.nombre,
        vtv: this.VTV,
        dpatente: this.DPA
      };

      if (!datos.nombre)
        return this.$q.notify('Complete el nombre');

      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.post('/tipo_vehiculo', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    editar(){

      const datos = {
        nombre: this.nombre,
        vtv: this.VTV,
        dpatente: this.DPA,
        ide: this.id_veh
      };

      if (!datos.nombre)
        return this.$q.notify('Complete el nombre');
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.put('/tipo_vehiculo/editar', datos)
        .then(this.axiosThen, this.axiosCatch);
    },
    clickEliminar(row){
      this.id_veh = row.id;
      this.eliminar = true;
    },
    eliminar_veh(){
      this.disableButton = true;
      this.cargandobarra = true;
      this.$api.delete('/tipo_vehiculo/'+this.id_veh)
        .then(this.axiosThen, this.axiosCatch);
    },
    axiosThen(res) {
      this.disableButton = false;
      this.cargandobarra = false;
      if(res.data.r){
        swal.fire('Completado',res.data.msg,'success');
        this.$refs.tabla.fetch();
      }else{
        if(res.data.msg)
          this.$q.notify(res.data.msg);
        else
          this.$q.notify('No se pudo realizar este proceso');
      }
      this.$refs.tabla.fetch();
      this.crud = false;
      this.eliminar = false;
    },
    axiosCatch(err) {
      this.disableButton = false;
      this.cargandobarra = false;
      if (err.response.data && err.response.data.msg)
        this.$q.notify(err.response.data.msg);
      else
        this.$q.notify('Ocurrió un error')
    },
  }
}
</script>
