<template>
<div>


  <q-table
    ref="QTable"
    :title="title"
    :data="table_data"
    :columns="columns"
    :row-key="rowKey"
    :filter="filter"
    :expanded="expanded"
    :loading="loading"
    :pagination.sync="pagination"
    :loading-label="loadingLabel"
    @request="onRequest"

    :rows-per-page-label="rowsPerPageLabel"
    :no-results-label="noResultsLabel"
    :no-data-label="noDataLabel"
  >

    <template class="w-100" v-slot:top-left>
      <div class="row">


        <div  class="col-6 col-sm-9 col-md-9 ">
          <q-input  borderless dense debounce="300" v-model="filter" class="input_txt q-pr-sm " placeholder="Buscar">
          <template v-slot:append>
            <q-icon name="search" />
          </template>
        </q-input>
        </div>

        <div class="col-6 col-sm-3 col-md-3  flex item-center flex-center ">
        <q-btn v-if="MostrarAgregar" icon="add" label="Agregar" @click="onClickAdd"  size="md" class="cl_standar rounded " >
          <q-tooltip content-class="hide-sm bg-grey " >
              {{ config.tooltip_agregar || 'Agregar' }}
            </q-tooltip>
        </q-btn>
      </div>

      </div>




    </template>

    <template v-slot:header="props">
      <q-tr :props="props">
        <q-th
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          {{ col.label }}
        </q-th>
      </q-tr>
    </template>


    <template v-slot:body="props">
      <q-tr :props="props">
        <!--<q-td auto-width>
          <q-btn size="sm" class="cl_standar" color="accent" round dense @click="toggleExpanded(props.row.id)" :icon="props.expand ? 'remove' : 'add'" >
            <q-tooltip content-class="hide-sm bg-grey " >
              Opciones
            </q-tooltip>
          </q-btn>
        </q-td>-->
        <q-td
          v-for="col in props.cols"
          :key="col.name"
          :props="props"
        >
          <div v-if="col.name!='Opciones'">
            {{ col.value }}
          </div>
          <div style="width: max-content;" v-if="col.name=='Opciones' && (MostrarEditar || MostrarVer || MostrarEliminar || MostrarAprobar || MostrarAgregar || MostrarVerCliente || MostrarEliminarCliente)" class="flex flex-center table-width-xs ">

            <q-btn v-if="MostrarVer" class="cl_standar q-mr-sm  " @click="onClickSee(props.row)" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
            </q-btn>

            <q-btn v-if="MostrarVerCliente && props.row.estatus" class="cl_standar q-mr-sm  " @click="onClickSee(props.row)" round size="sm" icon="visibility" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Ver
               </q-tooltip>
            </q-btn>

            <div v-if="MostrarVerCliente && props.row.estatus" class="flex item-center column-xs q-ml-md ">
              <p :class=" value ? '' : ['text-grey','bold'] " class="mb-0" >Inactivo</p>
              <q-toggle v-model="alwaysTrue" @input="onClickSwitch(props.row)" />
              <p :class=" value ? ['text-blue','bold'] : '' " class="mb-0" >Activo</p>
            </div>

            <q-btn v-if="MostrarVerCliente && props.row.estatus && props.row.predios_por_aprobar && props.row.predios_por_aprobar>0" class="cl_standar q-mr-sm q-ml-md" @click="onClickAprobarPredios(props.row)" round size="sm" icon="add">
               <q-tooltip content-class="verde rounded hide-tool " >
                   Nuevas solicitudes de predios
               </q-tooltip>
            </q-btn>

            <q-btn v-if="MostrarEditar" class="cl_standar q-mr-sm  " @click="onClickEdit(props.row)" round size="sm" icon="create" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Editar
               </q-tooltip>
            </q-btn>

            <q-btn v-if="MostrarAprobar && props.row.estatus!=1" class="cl_standar q-mr-sm  " @click="onClickAprobar(props.row)" round size="sm" icon="done" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Aprobación
               </q-tooltip>
            </q-btn>

            <q-btn v-if="MostrarEliminar" class="cl_standar  " @click="onClickDelete(props.row)" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn>

           <!-- <q-btn v-if="MostrarEliminarCliente && !props.row.estatus" class="cl_standar  " @click="onClickDelete(props.row)" round size="sm" icon="delete_forever" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Eliminar
               </q-tooltip>
           </q-btn> -->

            <div class="relative">

               <q-btn v-if="MostrarChat" class="cl_standar q-ml-sm " :to="'/Chat/' + props.row.id" round size="sm" icon="chat" >
               <q-tooltip content-class="verde rounded hide-tool " >
                   Chat
               </q-tooltip>
            </q-btn>

            <div v-if="MostrarChat" :class="props.row.vistos > 0 ? '':'hide'" class="bg-red badge text-white ">{{ props.row.vistos }}</div>

            </div>





            <q-btn v-if="MostrarGps && props.row.seguimiento=='1'" class="cl_standar q-ml-sm " @click="onClickGps(props.row)" round size="sm" icon="map" >
               <q-tooltip content-class="verde rounded hide-tool " >
                  Choferes en Gps
               </q-tooltip>
            </q-btn>

              <q-btn v-if="MostrarChat"  class="cl_standar q-ml-sm  "  round size="sm" icon="restore" @click="onClickBita(props.row)">
               <q-tooltip content-class="verde rounded hide-tool " >
                   Bitácora
               </q-tooltip>
            </q-btn>

          </div>
        </q-td>
      </q-tr>

    </template>

  </q-table>

   <!-- modal chat -->

    <q-dialog   class="q-pa-none maximized-xs " v-model="chat">
      <q-card class="rounded-1 " >
        <q-card-section class="azul-oscuro q-pa-none " >
         <div class="row">
           <div class="col-2">

           </div>

           <div class="col-8">

           </div>

           <div class="col-2 text-right ">
              <q-btn flat class="text-white" @click="chat = false" label="x" ></q-btn>
           </div>

         </div>
        </q-card-section>

        <q-card-section class="q-pa-none">
         <div  class=" bg-light-gray vh-chat overflow-scroll relative   rounded-top-home ">


            <div class="row">
                 <div class="col-12 w-100 flex flex-center q-mt-md ">

                <q-img src="img/truck.png" class="w-40" ></q-img>

                <p class="mb-0 w-100 titulos text-center " >- Hoy -</p>

                </div>

            </div>

            <div class="q-pa-md row justify-center  ">
                <div v-for="n in 8" :key="n" style="width: 100%;">
                <q-chat-message
                    name="me"
                    avatar="img/user.png"
                    :text="['Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus aliquam tempore eveniet hic at enim numquam quidem quam ducimus consequatur provident architecto nesciunt facilis mollitia voluptatibus quae placeat, a ab?']"
                    sent
                    stamp="hace 7 minutos"
                    bg-color="white"
                    class="rounded-5"
                />
                <q-chat-message
                    name="Jane"
                    avatar="img/user.png"
                    :text="[`doing fine, how r you?`]"
                    stamp="hace 4 minutos"
                    bg-color="blue-1"
                />
                </div>
            </div>


        </div>
        </q-card-section>

        <q-card-actions class="q-pa-none flex item-center " >
           <div  class=" w-100  q-pa-sm  ">
            <q-input autogrow v-model="mensaje" borderless  class="input_grow flex item-center shadow-4 q-pl-md q-pr-md w-100 " placeholder="Mensaje">
            <template v-slot:append>
               <q-btn icon="send" @click="mensaje = ''"  class="flex item-center" flat ></q-btn>
            </template>
            </q-input>
            </div>
        </q-card-actions>
      </q-card>
    </q-dialog>

</div>
</template>


<script>
/**
 * Tabla de datos con funcion ajax basado en QTable
 * @DataTables
 */
export default {

name: 'DataTables',

props: {
  /**
   * Configuracion de la tabla
   * @value Object
   */
  config: {
    type: Object,
    required: false,
    default: () => {
      return {
        /**
         * Especifica la configuracion para recuperar datos
         *
         * @param {string|object} ajax - Para recuperar los datos
         * @param {string} ajax.url - Ruta para recuperar los datos
         * @param {string} [ajax.method=GET] - el metodo de la peticion
         * @param {object} [ajax.body={}] - el cuerpo de la peticion
         *
         * @value String, Object
         */
        ajax: null,

        /**
         * Tooltip para el boton agregar
         */
        tooltip_agregar: null,
      };
    },
  },

  /**
   * Props de QTable, consultar documentacion
   */
  columns: {
    type: Array,
    required: true
  },
  MostrarAgregar: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarVer: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarVerCliente: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarEliminar: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarEliminarCliente: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarEditar: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarAprobar: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarChat: {
    type: Boolean,
    required: false,
    default: false
  },
  MostrarGps: {
    type: Boolean,
    required: false,
    default: false
  },
  data: {
    type: Array,
    required: false,
    default: () => [],
  },
  title: {
    type: String,
    required: false,
    default: 'Tabla'
  },
  rowKey: {
    type: String,
    required: false,
    default: 'id',
  },
  rowsPerPageLabel: {
    type: String,
    required: false,
    default: 'Registros por página:',
  },
  noResultsLabel: {
    type: String,
    required: false,
    default: 'Sin coincidencias',
  },
  noDataLabel: {
    type: String,
    required: false,
    default: 'No hay información disponible',
  },
  loadingLabel: {
    type: String,
    required: false,
    default: 'Cargando...',
  },
},

data() {
  return {
    chat: false,
    value: true,
    filter: '',
    table_data: this.data,
    table_filter: '',
    expanded: [],
    loading: false,
    mensaje: null,

    pagination: {
      sortBy: 'desc',
      descending: false,
      page: 1,
      rowsPerPage: 5,
      rowsNumber: 102,
    },
  };
},

created() {
  this.onRequest({
    pagination: this.pagination,
    filter: undefined,
  });
},

watch: {
  filter(v) {
    this.$emit('update:filtro', v);
  },

  table_data(d) {
    d.forEach((row, index) => {
      row.index = index + 1 + ((this.pagination.page-1) * this.pagination.rowsPerPage);
    });
  },

},

computed: {
  ajaxUrl(){
    if (!this.config.ajax)
      return false;

    if (typeof this.config.ajax === 'string') {
      return this.config.ajax;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.url === 'string') {
      return this.config.ajax.url;
    }

    return false;
  },
  ajaxMethod() {
    if (!this.config.ajax) {
      return false;
    }
    if (typeof this.config.ajax === 'object' && typeof this.config.ajax.method === 'string') {
      return this.config.ajax.method;
    }

    return 'GET';
  },
  ajaxBody() {
    if (!this.config.ajax || !this.config.ajax.body) {
      return {};
    }
    return this.config.ajax.body;
  },
  ajaxHeaders() {
    if (!this.config.ajax || !this.config.ajax.headers) {
      return {};
    }
    return this.config.ajax.headers;
  },

  alwaysTrue: {
    set: () => {},
    get: () => true,
  },
},

methods: {
  /**
   * Realizar peticion al servidor
   */
  fetch() {
    this.$refs.QTable.requestServerInteraction();
  },

  /**
   * Al hacer click en agregar
   */
  onClickAdd() { this.$emit('agregar') },

  /**
   * Al hacer click en ver
   * @property {object} row - Datos de la columna
   */
  onClickSee(row) { this.$emit('ver', row); },

  /**
   * Al hacer click en editar
   * @property {object} row - Datos de la columna
   */
  onClickEdit(row) { this.$emit('editar', row) },

  /**
   * Al hacer click en eliminar
   * @property {object} row - Datos de la columna
   */
  onClickDelete(row) { this.$emit('eliminar', row) },

  /**
   * Al hacer click en aprobar
   * @property {object} row - Datos de la columna
   */
  onClickAprobar(row) { this.$emit('aprobar', row) },

  /**
   * Al hacer click en gps
   * @property {object} row - Datos de la columna
   */
  onClickGps(row) { this.$emit('gps', row) },

  onClickBita(row) { this.$emit('bitacora_click', row) },


  onClickSwitch(row) { this.$emit('check', row); },

  onClickAprobarPredios(row) { this.$emit('aprobar_predios', row); },

  onRequest(props) {
    const { page, rowsPerPage, sortBy, descending } = props.pagination;
    const filter = props.filter;

    this.pagination.rowsPerPage = rowsPerPage;
    this.current_page = page - 1;
    this.loading = true;
    this.fetchFromServer(page-1, rowsPerPage, filter)
      .then(async data => {
        if (data.results) {

          this.table_data.splice(0, this.table_data.length, ...data.results);
          this.pagination.page = page;
          this.pagination.rowsNumber = data.total;

          if (this.MostrarChat) {
            for (let index = 0; index < this.table_data.length; index++)  this.table_data[index].vistos = await this.BuscarChats(this.table_data[index]) || 0;
          }
        }
      })
      .finally(() => { this.loading = false });
  },
  BuscarChats(predio) {
   return new Promise((resolve, reject) => {
      if (!this.ajaxUrl) return reject();
      this.$api.get(`/rooms/obtener-from-predio/no-vistos/${predio.id}/predio`, {})
        .then(trae => {
          resolve(trae.data.no_vistos)
        })
        .catch(err => {
          resolve(0)
        });
    });
  },
  fetchFromServer(page, pageSize, filter, sortBy, descending) {
    return new Promise((resolve, reject) => {
      if (!this.ajaxUrl) return reject();

      const params = {
        page,
        pagesize: pageSize,
        filter,
      };

      this.$api.get(this.ajaxUrl, {params})
        .then(resp => resolve(resp.data))
        .catch(reject);
    });
  },

  toggleExpanded (val) {
    this.expanded = this.expanded[0] === val ? [] : [val]
  }
},



}</script>
