<template>
	<div style="width:100%;">
				<div
					ref="mapa"
					map-type-id="terrain"
					class="col-12"
					:style="stylemap"
					>
				</div>

				<template>
					<slot :google="googlee" v-bind:lat="lat" v-bind:lon="lon"/></slot>
				</template>

	</div>
</template>


<script>

import { LocalStorage } from 'quasar';

export default {
	name: 'GoogleMap',
	props: {
		mapConfig: {
			type: Object,
			default(){
				return {
					center: { lat: 10.336902, lon: -68.745944 },
					zoom: 8,
				}
			},
		},
		setcargar: { type: Object },
		setcargarmarkermultiple: { type: Object },
		setcargarmarkermultiple2: { type: Object },
	},

	data(){
		return {
			// markers: [],
			map: null,
			marcadores: [],
			stylemap: 'height: 80vh ; width:auto',
			options: {
				center: this.mapConfig.center,
				mapTypeControl: false,
				streetViewControl: false,
				fullscreenControl: false,
				zoomControl: true,
				scaleControl: true,
				rotateControl: true,
				zoom: 14,
				gestureHandling: "greedy",
				mapTypeId: google.maps.MapTypeId.ROADMAP,
				backgroundColor: "#fff",
				 zoomControlOptions: {
			        position: google.maps.ControlPosition.RIGHT_CENTER
			    }
			},
			lat: null,
			lon: null,
			googlee: google,
			listado: [],
			mapStyles: [
				{ featureType: "poi.business", elementType: "labels", stylers: [{ visibility: "off" }] },
				{ elementType: 'labels.text.fill', stylers: [{ color: '#294dce' }] }
			],
			delayBeforeMap: 500,
			mapalisto: null,
			DIRREN: null
		};
	},
	mounted(){

	},
	methods: {
		async cargarmapa(data){
			console.log(data);
			const rutaactual = this.$router.currentRoute.path; //obtener la ruta actual
			console.log(rutaactual);
			if(rutaactual.indexOf("/Editardireccion/") == 0 && this.$route.params.id){
				var iden = this.$route.params.id;
				/*await this.$api.general.recuperarData('predios/'+iden)
					.then(r => {
						this.mapConfig.center.lat = parseFloat(r.lat_dir);
						this.mapConfig.center.lon = parseFloat(r.lon_dir);
						//console.log(r);
					}).catch(err => {
						console.log(err);
					});*/
			}else{ //CUANDO NO EXISTA NINGUNA CONDICION
				var cordenadas = await this.geo();
				if(cordenadas.lat){
					this.mapConfig.center.lat = parseFloat(cordenadas.lat);
						this.mapConfig.center.lon = parseFloat(cordenadas.lon);
				}else if (navigator.geolocation) { //validar si esta activo la funcion de geolocation en el movil o navegador
					const self = this;
					//Funcion para obtener cordenadas actuales
							navigator.geolocation.getCurrentPosition(function(position){
									self.mapConfig.center.lat = position.coords.latitude;
									self.mapConfig.center.lon = position.coords.longitude;
							});
				}
			}

			this.options.center = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			var map = new google.maps.Map(
				this.$refs.mapa,
				this.options
			);

			const self = this;
			/*var image = {
				url: "statics/images/map-aqui-estoy.png",
				size: new google.maps.Size(81, 81),
				origin: new google.maps.Point(0, 0),
				anchor: new google.maps.Point(40, 71),
				scaledSize: new google.maps.Size(75, 75)
				//anchor: new google.maps.Point(17, 34),
				//scaledSize: new google.maps.Size(30, 30)
			};*/
			const centroMarker = new google.maps.LatLng(this.mapConfig.center.lat, this.mapConfig.center.lon);
			//var marker = new google.maps.Marker({position: centroMarker, icon: image});
			var marker = new google.maps.Marker({position: centroMarker});
			console.log(centroMarker);
			if(rutaactual.indexOf("/Editardireccion/") == 0 && this.$route.params.id){
				self.lat = centroMarker.lat();//guarda coordenada en el input hidden
				self.lon = centroMarker.lng();//guarda coordenada en el input hidden
				marker.setMap(map);//crea la marca en el mapa
			}else{
				//CUANDO NO EXISTA NINGUNA CONDICION
				self.lat = null;//se vacian las cordenadas para que se exija la validación
				self.lon = null;//se vacian las cordenadas para que se exija la validación
			}

			//posicion del marcador al hacer click
			//var geocoder = new google.maps.Geocoder();
			google.maps.event.addListener(map, 'click', function(event) {
				/*geocoder.geocode({ location: event.latLng }, (results, status) => {
				    if (status === "OK") {
				    	if(results[0])
				    		self.$emit('ObtenerEmit', results[0].formatted_address);
				    }
				});*/
				marker.setMap(null);
				marker = new google.maps.Marker({position: event.latLng,icon: image});
				marker.setMap(map);

				self.lat = event.latLng.lat();
				self.lon = event.latLng.lng();
			});
		},
		crearMapa(options,new_zoom){
			// Regresa el mapa estilizado.
			if(new_zoom)
				this.options.zoom = new_zoom;
			options = options || {};
			const styledMap = new google.maps.StyledMapType(this.mapStyles, { name: "Styled Map" });
			const mapa_ref = this.$refs.mapa;
			const map = new google.maps.Map(mapa_ref, {...this.options, ...options});

			map.mapTypes.set('map_style', styledMap);
			map.setMapTypeId('map_style');
			return map;
		},

		asyncDelay(ms){
			return new Promise((resolve) => {setTimeout(() => resolve(), ms)});
		},
		limpiarmarcadores(){
			if (this.marcadores) {
				var marcadores = this.marcadores;
				for (var i = 0; i < marcadores.length; i++) {
					marcadores[i].setMap(null);
				}
			    this.marcadores = [];
			}
		},
	},
	watch: {
		async setcargar(data){
			let marcador = data.marcador;
			let click = data.click;
			let zoom = data.zoom || 16;
			if(!data) return;
			const latlng = new google.maps.LatLng(parseFloat(data.lat), parseFloat(data.lon));
			data=latlng;

			const centroMarker = data;
			await this.asyncDelay(this.delayBeforeMap);
			this.$nextTick(() => {

				const map = this.crearMapa({center: data},zoom);
				var marker = new google.maps.Marker({position: data});

				if(marcador){
					this.lat = data.lat();
					this.lon = data.lng();
					marker.setMap(map);
				}else{
					this.lat = null;//se vacian las cordenadas para que se exija la validación
					this.lon = null;//se vacian las cordenadas para que se exija la validación
				}
				const self = this;
				if(click){
					google.maps.event.addListener(map, 'click', function(event) {

						marker.setMap(null);
						marker = new google.maps.Marker({position: event.latLng});
						marker.setMap(map);

						self.lat = event.latLng.lat();
						self.lon = event.latLng.lng();
					});
				}
			});
		},
		async setcargarmarkermultiple(data){
			//console.log(data);
			let lista = data.lista;
			let zoom = data.zoom || 16;
			let usaricono = false;
			if(data.icono)
				usaricono = true;
			if(data.stilomapa)
				this.stylemap = data.stilomapa;
			if(!data) return;
			const latlng = new google.maps.LatLng(parseFloat(data.lat), parseFloat(data.lon));
			data=latlng;

			const centroMarker = data;
			await this.asyncDelay(this.delayBeforeMap);
			this.$nextTick(() => {

				const map = this.crearMapa({center: data},zoom);
				this.map = map;
				var marker = new google.maps.Marker({position: data});
				if(usaricono){
					var image = {
					  url: "img/alfiler.png",
					  size: new google.maps.Size(41, 41),
					  origin: new google.maps.Point(0, 0),
					  anchor: new google.maps.Point(18, 36),
					  scaledSize: new google.maps.Size(35, 35)
					};
					marker = new google.maps.Marker({
					 	position: data,
					 	icon: image,
					 	draggable: false
					});
				}
				marker.setMap(map);
				this.marcadores.push(marker);

				for (var i = 0; i < lista.length; i++) {
					var image = {
					  url: "img/alfiler.png",
					  size: new google.maps.Size(41, 41),
					  origin: new google.maps.Point(0, 0),
					  anchor: new google.maps.Point(18, 36),
					  scaledSize: new google.maps.Size(35, 35)
					};

					var marker = new google.maps.Marker({
					 	position: {lat: parseFloat(lista[i].lat_cho), lng: parseFloat(lista[i].lon_cho)},
					 	icon: image,
					 	title: 'Chofer: '+lista[i].nombre+' '+lista[i].apellido+' - Patente: '+lista[i].vehiculo.patente,
					 	draggable: false
					});

					//console.log(marker,map);
					marker.setMap(map);
					this.marcadores.push(marker);
				};

			});
		},
		async setcargarmarkermultiple2(data){
			let lista = data.lista;
			let usaricono = false;
			if(data.icono)
				usaricono = true;
			if(!data) return;
			const latlng = new google.maps.LatLng(parseFloat(data.lat), parseFloat(data.lon));
			data=latlng;
			//console.log(this.map,data,this.marcadores);
			const map = this.map;
			this.limpiarmarcadores();
			var marker = new google.maps.Marker({position: data});
			if(usaricono){
				var image = {
				  url: "img/alfiler.png",
				  size: new google.maps.Size(41, 41),
				  origin: new google.maps.Point(0, 0),
				  anchor: new google.maps.Point(18, 36),
				  scaledSize: new google.maps.Size(35, 35)
				};
				marker = new google.maps.Marker({
					 position: data,
					 icon: image,
					 draggable: false
				});
			}
			marker.setMap(map);
			this.marcadores.push(marker);
			for (var i = 0; i < lista.length; i++) {
				var image = {
					url: "img/alfiler.png",
					size: new google.maps.Size(41, 41),
					origin: new google.maps.Point(0, 0),
					anchor: new google.maps.Point(18, 36),
					scaledSize: new google.maps.Size(35, 35)
				};

				var marker = new google.maps.Marker({
					position: {lat: parseFloat(lista[i].lat_cho), lng: parseFloat(lista[i].lon_cho)},
					icon: image,
					title: 'Chofer: '+lista[i].nombre+' '+lista[i].apellido+' - Patente: '+lista[i].vehiculo.patente,
					draggable: false
				});

				marker.setMap(map);
				this.marcadores.push(marker);
			};
		},

	}
};
</script>
