<template>
  <div @click="verMas(producto.cod_inv)" v-if="producto.pre_ven_inv > 0">
    <div class="text-center ">
      
    </div>
    <div class="row ">
      <img class="col-4 border-color img-productos rounded-top rounded-bottom fondo-dark" :src="producto.img_inv||'img/product.jpg'"  alt="" onerror="this.src='img/product.jpg';"/>
      
      <div class=" col-8 ">
        <p class="mb-0 font-xl cl_standar-2 w-100 rounded-top-right " > {{ producto.cod_inv }} </p>
        <div class=" q-mt-sm ">
           <p class="m-0 q-pl-sm font-sm  " > {{producto.nom_inv}}</p>
        </div>

        <div class="item-end flex content-between row q-mt-sm ">
          <div class="col-12">
            <p class="m-0 q-pl-sm font-md  txt-etiquetas " > {{ precio(producto) }}</p>
          </div>
          
          <div class="col-12 flex content-end btn-home q-pr-xs q-mb-sm ">
             <q-btn class="cl_standar-3 square-btn  " icon="fas fa-cart-plus " size="xs" ></q-btn>
             <!-- <q-icon  class="fas fa-cart-plus text-white font-xl " > </q-icon> -->
          </div>
        </div>
    </div>

    </div>
  </div>
</template>

<script>
import {DESCUENT} from '../config'
export default {
  name: 'Producto',
  props: ['producto'],
  methods: {
    verMas(i) {
      this.$router.push(`/producto/${i}`);
    },
    precio(producto){
      let precio = 0
      precio = producto.pre_ven_inv * producto.dolar
      precio = precio + (( precio * producto.porcentaje)/100)

      let descuento = precio * DESCUENT
      precio = precio - descuento
      
      return this.$utils.precio(precio, 'Bs ')
    }
  }
}
</script>
