
<%- include('./layout/tabla_inicio.html'); -%>
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Bienvenido a easydocking <%= nombre %> <%= apellido %></h2>
				<!-- <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >  Tu solicitud de registro ha sido rechazada.</h2> -->
				<h2>Su registro ha sido aprobado</h2>
			</div>
			<div style="text-align: center;color: #31c1e2;" class="">

			</div>
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Con un vehículo de patente <span style="color: #31c1e2;" ><%= patente %></span></h2>
				<!-- <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >  Tu solicitud de registro ha sido rechazada.</h2> -->
			</div>
<%- include('./layout/tabla_fin.html'); -%>
