<%- include('./layout/tabla_inicio.html'); -%>
<!-- 
<table>
	<tr>
		<td>
-->
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin:20px;font-weight:bold" >Su nueva contraseña de acceso es: <span style="color:  #31c1e2;" ><%= pass %></span></h2>
			</div>

<!-- 	</td>
	</tr>
</table>
-->
<%- include('./layout/tabla_fin.html'); -%>