<%- include('./layout/tabla_inicio.html'); -%>

			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Easydocking le informa a <%= nombre %> <%= apellido %></h2>
				<!-- <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >  Tu solicitud de registro ha sido rechazada.</h2> -->
				<h2>Has sido rechazado para el predio</h2>
			</div>
			<div style="text-align: center;color: #31c1e2;" class="">
				<h3> &#10004; <%= predio %></h3>
			</div>

            <h3 style="margin-left: 5px;margin-right: 5px;" >Motivo: <%= motivo %></h3>
			
<%- include('./layout/tabla_fin.html'); -%>
