<%- include('./layout/tabla_inicio.html'); -%>

			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Bienvenido a easydocking <%= nombre %> <%= apellido %></h2>
				<!-- <h2 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;"  >  Tu solicitud de registro ha sido rechazada.</h2> -->
				<h2>Has sido aprobado para los predios:</h2>
			</div>
			<div style="text-align: center;color: #31c1e2;" class="">

			<% for (let predio of predios_aprobados) { %>
				<h3> &#10004; <%= predio %></h3>
			<% } %>

			</div>
			<!--
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Con un vehículo semi de patente <span style="color: #31c1e2;" >_</span></h2>
			</div>
			-->
<%- include('./layout/tabla_fin.html'); -%>
