<%- include('./layout/header.html'); -%>


	<h5>Recuperar contraseña</h5>
	<p>
		Está viendo es correo porque se solicitó un cambio de contraseña para su cuenta.
	</p>
	<a href="<%= url %>" target="_blank">Cambiar contraseña</a>


<%- include('./layout/footer.html'); -%>