<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>easydocking</title>
</head>
<body style="background-color: black; margin: 0;">

<!-- INICIO TABLA -->
<!-- <table style="max-width: 400px; padding: 10px; margin:0 auto; border-collapse: collapse;"> -->
<table style="width: 100%; border-collapse:collapse;" >
	<tr>
		<td style="background-color:#2d2f48;text-align: -webkit-center; padding: 10px;border-top-left-radius: 20px;border-top-right-radius: 20px;">
			<img style="padding: 0; display: block" src="cid:logo" srcset="https://i.postimg.cc/nr33mhHV/logo-azul.jpg" width="40%">
		</td>
	</tr>

      <tr>
        <td style="padding: 0;background-color:white;border-left: 1px solid #2d2f48;border-right: 1px solid #2d2f48" >
          <div style="text-align: center;color: #2d2f48;">
            <h2 style="margin-top:20px;font-weight:bold"><%= encabezado %></h2>
            <!-- <h2 style="margin:20px;font-weight:bold">Que fue aceptada su edición del turno</h2> -->

            <div style="text-align:center; padding-left:10px;" class="">
            	<%- cuerpo %>
              <!-- <h3>Turno solicitado</h3> -->
              <!-- <h3>Fecha: 20/02/2021</h3> -->
              <!-- <h3>Hora: 11:00 a.m</h3> -->
            </div>
          </div>
        </td>
      </tr>
	<tr>
		<td style="background-color:#2d2f48;text-align: -webkit-center; padding: 10px;border-bottom-left-radius: 20px;border-bottom-right-radius: 20px;margin-top: 20px;" >

			<h4 style="padding: 20px;margin-top: 0px;margin-bottom: 0px;color: white;">
				Transformá tu centro de distribución en un aeropuerto para camiones
			</h4>
			
		</td>
	</tr>

</table>
<!-- FIN TABLA -->

</body>
</html>