<%- include('./layout/tabla_inicio.html'); -%>
<!-- 
<table>
	<tr>
		<td>
-->

			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin:20px; font-weight:bold;" >El siguiente chofer ha registrado un vehículo:</h2>

				<p style="margin-bottom:5px; font-size:15pt;">
					<b>Nombre:</b> <%=nombre%> <%=apellido%>
				</p>
				<p style="margin-bottom:5px; margin-top:5px; font-size:15pt;">
					<b>Teléfono:</b> <%=cod_telefono%> <%=telefono%>
				</p>
				<p style="margin-top:5px; font-size:15pt;">
					<b>Correo:</b> <%= correo %>
				</p>


				<!-- <h2 style="margin:20px;font-weight:bold" >Datos del vehículo:</h2> -->

				<!--
				<table style="font-size:15pt; margin-left:auto; margin-right:auto; width:fit-content; text-align:left;">
						<caption>Chofer</caption>
						<tr>
							<th>Nombre</th>
							<td>John Doe</td>
						</tr>
						<tr>
							<th>Número de Teléfono</th>
							<td>5551234567</td>
						</tr>
						<tr>
							<th>Correo</th>
							<td>doej@mail.com</td>
						</tr>
				</table>
				-->
			</div>


<!-- 	</td>
	</tr>
</table>
-->
<%- include('./layout/tabla_fin.html'); -%>