<%- include('./layout/tabla_inicio.html'); -%>

			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin-top:20px;font-weight:bold" >Easydocking le informa a <%= nombre %> <%= apellido %> </h2>
				
			</div>
			
			<div style="text-align: center;color: #2d2f48;">
				<h2 style="margin:20px;font-weight:bold" >Que su vehículo de patente <span style="color: #31c1e2;" ><%= patente %></span> ha sido rechazado</h2>
                <h3 style="margin-left: 5px;margin-right: 5px;" >Motivo: <%= motivo %></h3>
			</div>

<%- include('./layout/tabla_fin.html'); -%>