<template>
  <q-layout view="lHh Lpr lFf">
    <!-- <q-header class="bg-white" elevated>
      <q-toolbar class="flex content-around item-center relative " >

        
        <q-img
          src="img/izquierdos.png"
          class=""
          style="width: 20%;height: 50px;"
          >
        </q-img>

        

        <p class="text-h4 text-black mb-0 " > <span class="clr-esmeralda" >V</span>ue.js </p>

        <div class=" flex text-black bold item-center q-pr-lg ">
          <p class="q-ml-md mb-0 transition-bottom border-bottom pointer " >Inicio</p>
          <p class="q-ml-md mb-0 transition-bottom border-bottom pointer " >Cursos</p>
          <p class="q-ml-md mb-0 transition-bottom border-bottom pointer " >Nosotros</p>
        </div>

         <q-img
          src="img/izquierdos.png"
          class="q-pl-lg"
          style="width: 20%;height: 50px;transform: rotate(180deg);"
          >
        </q-img>

         <!-- <q-img
          src="../../public/img/icono.png"
          style="width: 11%"
          class=""
        >
        </q-img> -->

       

        <!-- <q-btn
         class="cl_standar hide-min-768 "
          v-if="logueado"
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        /> -->

      <!-- Carrito en header
        <div v-if="true" style="right: 8px;">
          <a @click="clickCarrito" class="clr_white"><i class="fa fa-shopping-cart"></i>
            <q-btn
              flat
              dense
              round
              aria-label="Shopping cart"
              icon="shopping_cart"
            />
            <span> ({{ itemsCarrito }})</span>
          </a>
        </div>
        <div v-else style="width: 56px; height: 36px;"></div>
      -->
<!-- 
      </q-toolbar>
    </q-header> --> 

    <!-- <q-drawer
      v-model="leftDrawerOpen"
      bordered
      content-class="fondo-dark"
      class="fondo-dark"
    >
        <q-img
          src="../../public/img/screen.png"
          style="width: 100%;"
        >
          <div class="absolute-bottom cl_standar text-subtitle1 text-center">
            Ayudando a construir el futuro
          </div>
        </q-img>

      <q-list>
        <q-item-label
          header
          class="pt-0"
        >
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          class="font-xl text-white"
        />
         <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="crop_original" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" @click="publicidadDialog = true" >publicidad</p>
        </div>
        <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="undo" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" @click="Exit()" >Salir</p>
        </div>
      </q-list>

          <div class="fixed-logo-plade q-mt-md ">
            <div class="">
              <p class="q-ml-lg mb-0 text-white ">Creado por:</p>
               <q-img
                src="../../public/img/logo-blanco.png"
                style="width: 100px"
                class=""
                @click="Logo()"
              >
              </q-img>
            </div>
          </div>
        
    </q-drawer> -->

    <q-page-container>
      <router-view />
    </q-page-container>

     <q-footer elevated>
      <q-toolbar class="toolbar color-layout" >
        <q-toolbar-title>
          <div class="row text-center">
            <div class="col" v-for="(par,index) in paresIconoEnlace" :key="index">
              <q-btn push round flat class=" text-white font-xl "
                :icon="par.icono"
                :to="par.enlace"
                @click="clickFooterIcon(par, index)" />
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
     </q-footer>

    

  </q-layout>
</template>


<script>
import EssentialLink from 'components/EssentialLink.vue'
import { API_URL } from '../config'
 
const linksData = [
  {
    title: 'Inicio',
    // caption: 'quasar.dev',
    icon: 'home',
    link: '/home'
  },
   {
    title: 'Favoritos',
    // caption: 'quasar.dev',
    icon: 'star',
    link: '/favoritos'
  }, 
  {
    title: 'Perfil',
    // caption: 'quasar.dev',
    icon: 'person',
    link: '/Perfil'
  },
   {
    title: 'Carrito',
    // caption: 'quasar.dev',
    icon: 'shopping_cart',
    link: '/carrito'
  },
  // {
  //   title: 'Perfil',
  //   caption: 'quasar.dev',
  //   icon: 'person',
  //   link: '/perfil'
  // }
]

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return {
      slide: 'style',
      publicidadDialog: false,
      publicidad: [],
      leftDrawerOpen: false,
      api: API_URL,
      essentialLinks: linksData,
      itemsCarrito: 2,
      footer_iconos: ['home', 'search', 'star_outline', 'shopping_cart'],
      footer_enlaces: ['/home', '', '', ''],

      footer: [
        {icono: 'home', enlace: '/Home'},
        {icono: 'menu', enlace: '/Historial'},
        {icono: 'chat', enlace: '/Chat'},
         {icono: 'fas fa-truck', enlace: '/Carros'},
        {icono: 'person', enlace: '/Perfil'},
      ],
    }
  },

  computed: {
    logueado(){ return this.$store.getters['auth/logueado'] },

    enlaces(){ return this.footer_enlaces },

    iconos(){ return this.footer_iconos },

    paresIconoEnlace(){
      return this.footer;
      // return this.iconos.map((icono, i) => {
      //   return {icono, enlace: this.enlaces[i]};
      // });
    },
  },


  methods: {
     Exit(){
     window.navigator.app.exitApp();
     },
    Logo(){
     window.open('https://pladecompany.com/');
    },
    clickCarrito(){
      console.log('clickCarrito');
    },

    posicion(index) {
      if(index == 0) {
        return 'style'
      } else {
        return `style${index}`
      }
    },

    clickFooterIcon(par, index){
      const {icono, enlace} = par;
       if(index == 1){
         //this.$router.push('login');
         //Tawk_API.toggle();
         var url = "https://tawk.to/chat/5f73cf5d4704467e89f35d33/default";
         document.addEventListener("deviceready", function() {
             url = "https://tawk.to/chat/5f73cf5d4704467e89f35d33/default";
             window.cordova.InAppBrowser.open(url, '_blank', 'location=no');
         });
      }
      
      if(index == 3){
        this.publicidadDialog = true
      }

      if(enlace) {
        this.$router.push(enlace);
      }
      

      console.log('click:', icono);
    },

    getPublicidad(){
      this.$api
        .get(`${API_URL}publicidad/`)
        .then((publicidad) => {
          this.publicidad = publicidad.data;
          console.log(this.publicidad)
          console.log(typeof(this.publicidad))
        }).catch(err => {
          this.publicidad = []
      })
  },
},

  beforeMount() {
    this.getPublicidad()
  }
}
</script>
