<template>
  <q-layout>

     <div v-if="menu_notificaciones && Type()" style="z-index:99"  class=" gris vh70 overflowx-scroll  absolute_notify soft-border ">

      <div
        v-for="noti in notificaciones"
        :key="noti.id"
        @click="clickNotif(noti)"
        class="row q-mt-sm flex item-center q-pa-md soft-border "
      >
          <div class="col-4 flex flex-center ">
              <q-img src="img/truck.png" class="circle" ></q-img>
          </div>
          <div class="col-8 q-pa-md">
          <p class="mb-0 font-md bold" >{{ noti.contenido }}</p>
          </div>
          <div class="col-12 text-right ">
              <p class="mb-0"> {{ haceCuanto(noti.fecha) }} </p>
          </div>
      </div>

      <div v-if="notificaciones.length > 0" @click="Ir(), menu_notificaciones = false" class="row flex flex-center q-mb-md pointer ">
        <div class="col-6 bg-white rounded ">
          <p class="text-center q-pa-sm  mb-0 " >Ver más</p>
        </div>
      </div>

      <div v-else class="row flex flex-center q-mb-md q-mt-xl">
        <div class="col-6 bg-white rounded ">
          <p class="text-center q-pa-sm  mb-0 " >Sin notificaciones</p>
        </div>
      </div>

    </div>


    <q-header class="azul-oscuro" elevated>
      <q-toolbar class="flex content-between item-center" >

         <div class="w-5">
            <q-btn
         class="text-white hide-sm font-xl q-mt-sm q-ml-sm "
          dense
          round
          flat
          icon="menu"
          aria-label="Menu"
          @click="leftDrawerOpen = !leftDrawerOpen"
        />
         </div>


        <div class="flex item-center ">

          <div v-if="!Type()" class="flex item-center">
             <p class="mb-0 q-pr-sm " >{{Nombre_p}}</p>
             <q-img src="img/user.png" width="30px" height="30px" ></q-img>
          </div>

          <div class="relative" v-if="Type()">
            <div v-if="notificaciones_pendientes" class="bg-red badge text-white ">{{notificaciones_pendientes}}</div>
            <q-icon name="notifications" @click="menu_notificaciones = !menu_notificaciones" class="q-pl-sm titulos pointer " ></q-icon>
          </div>

          <div class="relative">

              <q-icon @click="menu = !menu" name="settings" class="q-pl-sm titulos relative pointer " > </q-icon>

             <div v-if="menu"  class="azul-oscuro text-white absolute_settings soft-border pointer ">

                <p v-if="Type()" @click="dialogTelefono = true" class="mb-0 q-pa-sm hover text-white lista-menu " >Teléfono de soporte</p>

                <!-- <p @click="dialog_configuracion = true; menu = false " class="mb-0 q-pa-sm hover text-white lista-menu " >Configuración</p> -->

                <!-- <p @click="Contraseña()" class="mb-0 q-pa-sm hover text-white lista-menu " >Cambiar contraseña</p> -->

                <p v-if="!Type()" @click="predio_m = true" class="mb-0 q-pa-sm hover text-white lista-menu " >Predio actual</p>

                <p @click="dialogSalir = true, menu = false" class="mb-0  q-pa-sm hover lista-menu " >Salir</p>

              </div>


          </div>

        </div>



      </q-toolbar>
    </q-header>


    <q-drawer
      v-model="leftDrawerOpen"
      show-if-above
      bordered
      content-class="gris"
      class="fondo-dark"
    >
    <div class="flex flex-center q-mt-md ">



         <q-img
          src="img/truck.png"
          style="width:80%;"
        >
        </q-img>

    </div>

      <q-list>
        <q-item-label
          header
          class="pt-0 q-mt-md q-pl-md "
        >
        </q-item-label>
        <EssentialLink
          v-for="link in essentialLinks"
          :key="link.title"
          v-bind="link"
          class="font-xl clr-azul-oscuro q-pl-lg "
        />



        <!-- <div class="flex item-center">
          <q-btn class="text-white" flat rounded  icon="undo" ></q-btn>
          <p class="mb-0 q-ml-md text-white font-xl" to="/Login" >Log out</p>
        </div> -->


      </q-list>



    </q-drawer>

    <q-page-container>
      <router-view :key="router_view_key"/>
    </q-page-container>
<!--
     <q-footer elevated>
      <q-toolbar class="toolbar color-layout" >
        <q-toolbar-title>
          <div class="row text-center">
            <div class="col" v-for="(par,index) in paresIconoEnlace" :key="index">
              <q-btn push round class="rounded cl_standar"
                :icon="par.icono"
                :to="par.enlace"
                @click="clickFooterIcon(par, index)" />
            </div>
          </div>
        </q-toolbar-title>
      </q-toolbar>
     </q-footer> -->

     <!-- modal predio actual -->

     <q-dialog v-model="predio_m">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " ></p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="predio_m = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Predio actual</p>
              <q-select
                @input="reboot()" v-if="!Type()" borderless
                :dense="true"
                v-model="id_predio"
                :options="predios"
                class="w-100 q-pr-sm input_txt"
                option-value="id"
                option-label="nombre"
                emit-value map-options
              />
            </div>
          </div>





        </q-card-section>

      </q-card>
    </q-dialog>

     <!-- modal telefono -->

     <q-dialog v-model="dialogTelefono">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " ></p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="dialogTelefono = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div @click="recuperar = true" class=" col-12 flex flex-center q-mt-md " >
              <p class="m-0  bold w-100 font-xl q-pl-sm "  style="">Teléfono de soporte</p>
              <q-input name="encargado" mask="+##############" type="text" placeholder="Ingrese el numero de teléfono" input-class="height_txt" v-model="telefono" borderless  class=" w-100 input_txt" />
            </div>
          </div>

          <div class="col-12 flex flex-center q-mt-md ">
            <q-btn class="cl_standar q-mr-sm rounded " :disabled="desactivarBoton" @click="guardarTelefono" label="Guardar" ></q-btn>
            <q-btn class="cl_standar q-ml-sm rounded " @click="dialogTelefono = false" label="Cancelar" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

   <!-- modal salir -->

   <q-dialog v-model="dialogSalir">
      <q-card class="rounded-1 w-100-xs w-30 w-50-sm no-max-width " >
        <q-card-section class="p-0 rounded-1 " >
          <div class="row azul-oscuro flex item-center ">
            <div class="col-2">

            </div>

            <div class="col-8 text-center ">
              <p class="mb-0 font-xl text-white " ></p>
            </div>

            <div class="col-2 text-right ">
               <q-btn class="font-xl text-white " label="X" @click="dialogSalir = false" flat ></q-btn>
            </div>
          </div>
        </q-card-section>

        <q-card-section class="q-pt-none">

          <div class="row w-100 ">

            <div class="col-12 text-center q-mt-md q-mb-md ">
              <p class="mb-0 font-xl bold " >¿Está seguro que desea cerrar sesión?</p>
            </div>

          </div>

          <div class="col-12 flex flex-center ">
            <q-btn class="cl_standar q-mr-sm rounded " @click="salir" label="Si" ></q-btn>
            <q-btn class="cl_standar q-ml-sm rounded " @click="dialogSalir = false" label="No" ></q-btn>
          </div>

        </q-card-section>

      </q-card>
    </q-dialog>

  </q-layout>
</template>


<script>

import EssentialLink from 'components/EssentialLink.vue';
import { API_URL } from '../config';
import moment from 'moment';
moment.locale('es');
import { mapState } from 'vuex';
import link_notif from '../lib/link_notif';

const linksData = [
    {
      title: 'Inicio',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Bienvenido'
    },
    {
      title: 'Administradores',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Administradores'
    },
    {
      title: 'Choferes',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Choferes'
    },
    {
      title: 'Predios',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Predios'
    },
    // {
    //   title: 'Operaciones',
    //   caption: 'quasar.dev',
    //   icon: 'home',
    //   link: '/Operaciones'
    // },
    {
      title: 'Vehículos',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Vehiculos'
    },
    {
      title: 'Países',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Paises'
    },
    {
      title: 'Emails',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Emails'
    }
  ]
  const linksDatad = [
    {
      title: 'Inicio',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Bienvenido'
    },
    {
      title: 'Horarios',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Horarios'
    },
    {
      title: 'Calendario',
      // caption: 'quasar.dev',
      // icon: 'home',
      link: '/Calendario'
    },
  ];

export default {
  name: 'MainLayout',
  components: { EssentialLink },
  data () {
    return{
      predio_m:false,
      Nombre_p:this.$store.getters["auth/datos"].nombre,
      desactivarBoton: false,
      dialogTelefono: false,
      telefono: null,
      menu_notificaciones: false,
      dialogSalir: false,
      menu: false,
      essentialLinks: this.$store.getters["auth/type"] == "admin" ? linksData : linksDatad,
      leftDrawerOpen: false,
      salirLinks: [ {title: 'Log out', icon: 'undo', link:''} ],
      id_predio: "",
      router_view_key: 0,
    }
  },


  watch: {
    dialogTelefono(v) {
      this.telefono = this.$store.getters['auth/telefono_soporte'];
    },
    menu_notificaciones(v) {
      if (!v) return;
      if (this.Type()) {
        this.$store.dispatch('notificacion/marcar_leidas')
          .then(() => this.$store.dispatch('notificacion/actualizar'));
      }
    },
  },


  created() {
    this.id_predio = this.predio_search();
  },


  computed: {

    predios() {
      return this.$store.getters['auth/predios'];
    },

    notificaciones() {
      return this.Type() ? this.$store.getters['notificacion/notificaciones'] : []
    },

    notificaciones_pendientes() {
      return this.Type() ? this.$store.getters['notificacion/pendientes'] : []
    },
  },


  methods: {
    ...link_notif,

    clickNotif(noti) {
      const path = this.notif_get_path(noti, true);
      if (!path) return;

      if (path == this.$route.fullPath) {
        this.router_view_key++;
      }
      else {
        this.$router.push({ path: path });
      }

      this.menu_notificaciones = false;
      // this.notif_ir(noti);
    },

    predio_search() {
      let retorna = "";
      if (this.$store.getters) {
            if (this.$store.getters['auth/datos'].id_predio) {
              retorna = this.$store.getters['auth/datos'].id_predio || "";
          }
      }
      return retorna;
    },
    reboot() {
      this.$store.dispatch('auth/seleccionar_predio', this.id_predio);
      this.predio_m = false;
      setTimeout(() => {
        location.reload();
      }, 1500);
    },
    Type() {
      return this.$store.getters["auth/type"] == 'admin' ? true : false
    },
    salir() {
        let type = this.Type();
        this.$store.dispatch('auth/salir')
        .then(() => this.$router.push(`/${type ? 'Login':'Login_predio'}`))
    },

    Ir() {
      this.$router.push('/Notificaciones')
    },

    guardarTelefono() {
      const tel = parseInt(this.telefono, 10);

      if (!tel)
        return this.$q.notify('Ingrese el número telefónico');

      this.desactivarBoton = true;
      this.$api
        .post('/config/telefono_soporte', {telefono_soporte: tel})
        .then(res => {
          this.desactivarBoton = this.telefono = this.dialogTelefono = false;
          this.$q.notify('Teléfono actualizado');
          this.$store.commit('auth/SET_TELEFONO_SOPORTE', tel);
        })
        .catch(err => {
          this.desactivarBoton = false;
          this.$q.notify('Ocurrió un error');
        })
    },

    haceCuanto(datetime) {
      return moment(datetime).fromNow();
    },

  },
}


</script>
